<template>
    <div>
        <div class="card-header">
            <p class="selected-category__title">{{title}}</p>
        </div>
        <div class="card-content" >
          <h3 class="selected-category__subtitle" >{{title}}</h3>

          <div v-html="body" />

            <!-- <p class="">Personal data processing purposes</p>
            <br>
            <p class="selected-category__par">SEDA, when fulfilling functions defined in Regulations of the Cabinet of Ministers No.934 of 18 December 2012 &ldquo;By-Laws of the State Education Development Agency&rdquo; [https://www.vestnesis.lv/op/2012/203.41], shall process personal data for the following purposes:</p>
            <br>
            <ul class="selected-category__points">
                <li>conclusion and fulfilment of contracts with cooperation partners;</li>
                <li>conclusion and fulfilment of contracts with data subjects (project implementers, experts and other);</li>
                <li>registration of participants for activities, information of participants about progress of the activities, justification of costs of activities within projects and programmes</li>
                <li>verification of compliance of target groups of projects;</li>
                <li>administrative evaluation of projects;</li>
                <li>preparation and submission of payment requests and justifying documents;</li>
                <li>control of costs of scholarships, support and other financing, verification of eligible costs;</li>
                <li>organisation of competitions;</li>
                <li>summarising of information;</li>
            </ul>
            <br>
            <p class="selected-category__par">SEDA shall process personal data for the following purposes:</p>
            <br>
            <ul class="selected-category__points">
                <li>ensuring circulation of documents at SEDA;</li>
                <li>protection of legal interests of SEDA and implementation of claim rights;</li>
                <li>prevention and discovery of criminal offences;</li>
                <li>analysis of functioning of SEDA websites, development and introduction of improvements;</li>
                <li>sending of SEDA website news;</li>
                <li>identification of SEDA customers, informing about news, organisation of customer satisfaction surveys;</li>
                <li>planning and analytics of remarketing, as well as communication programmes;</li>
                <li>Publicity (in mass media, social networks and on websites, in the internet environment, etc.).</li>
            </ul>
            <br>
            <p class="selected-category__subtitle">Legal basis of processing of personal data</p>
            <br>
            <p class="selected-category__par">SEDA shall ensure that processing of personal data always has a legal basis. Such a legal basis can be:</p>
            <br>
            <ul class="selected-category__points">
                <li>activities before the conclusion of a contract with the data subject (for example, collection of necessary data);</li>
                <li>conclusion and fulfilment of a contract with the data subject (inclusion of data in the contract, correspondence between the parties, contract fulfilment documents);</li>
                <li>fulfilment of the legal duty of SEDA (fulfilment of duties defined in the regulatory enactments, for example, verification of compliance of target groups of projects; fulfilment of the accounting function of SEDA, performance of information and publicity measures, information of the society);</li>
                <li>legitimate interests of the society (staff selection, surveys, improvement of the quality of services, protection of own legal interests);</li>
                <li>consent of the data subject, which can be requested in several cases.</li>
            </ul> -->
        </div>
    </div>
</template>
<script>
export default {
  props: {
    title: String,
    body: String,
    slug: String,
  },
}
</script>
