<template>
    <div class="columns">
        <div class="column is6">
            <div class="contacts" v-html="content[1].data.text">
               
            </div>
            <div class="is-flex is-flex-direction-row is-align-items-center">
                <img class="image1" :src="path(content[2].data.images[0].image)" alt="">
                <img class="image2" :src="path(content[2].data.images[1].image)" alt="">
            </div>
        </div>
        <div class="column is6" v-html="content[3].data.text">
          
        </div>
    </div>
</template>

<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
    props: {
        content: Array
    },
    methods: {
        path(img) {
            return mediaLibraryUrl(img)
        }
    }
}
</script>