<template>

    <div class="nav">
      <div class="sticky-inner">
        <div v-if="!item.parent_id" v-for="item in items" :key="item.id">
          <div
            v-if="isBreakpointVisibilityFromCSS || $mq == 'sm' || isMobile"
            class="nav-tab--mobile nav-tab hide-on-desktop"
            :class="{'active' : activeItem.id === item.id}"
            @click="toggleCollapse(item.id)"

          >
              <div class="left">
                  <p v-if="item.subtext" class="tiny-text subtext">{{item.subtext}}</p>
                  <p class="h5">{{item.title}}</p>
              </div>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3.33331L10.6667 7.99998L6 12.6666" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
          <nuxt-link
            v-if="isBreakpointVisibilityFromCSS"
            class="nav-tab--desktop nav-tab hide-on-mobile"
            :class="{'active' : activeItem.id === item.id}"
            @click.native.prevent="toggleCollapse(item.id)"
            :to="{
              name: 'survival-guide-slug',
              params: {
                slug: getChildren(item.id).length > 0 ? getChildren(item.id)[0].slug : item.slug,
              }
            }"
          >
              <div class="left">
                  <p v-if="item.subtext" class="tiny-text subtext">{{item.subtext}}</p>
                  <p class="h5">{{item.title}}</p>
              </div>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3.33331L10.6667 7.99998L6 12.6666" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </nuxt-link>
          <b-collapse
            v-if="getChildren(item.id).length > 0"
            :open="isOpen === item.id"
            animation="slide"
            >
            <div v-for="(child, index) in getChildren(item.id)" :key="child.id" class="" >
              <nuxt-link
                class="nav-tab ml-5"
                :class="{'active' : activeItem.id === child.id}"
                :to="{
                  name: 'survival-guide-slug',
                  params: {
                    slug: child.slug,
                  }
                }"
              >
                  <div class="left">
                      <p v-if="child.subtext" class="tiny-text subtext">{{child.subtext}}</p>
                      <p class="h5">{{child.title}}</p>
                  </div>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 3.33331L10.6667 7.99998L6 12.6666" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </nuxt-link>
            </div>
          </b-collapse>
        </div>
        
      </div>
    </div>

</template>
<script>
export default {
    data() {
          return {
            isOpen: 0,
            // windowWidth: null,
            isMobile: false,
            isBreakpointVisibilityFromCSS: true
          }
    },
    props: {
      activeIndex: [Number],

      items: {
          type: Array,
          default: () => {[]},
      },
    },

    computed: {
      activeItem() {
        if (this.activeIndex !== null) {
          console.log('activeIndex from NavSimpleTree: ', this.activeIndex);
          return this.items[this.activeIndex];
        }

        return {
          id: -1,
        }
      }
    },
    methods: {
      getChildren($parentId) {
        const filterFaqsByParentId = (faqs, parentId) => {
            return faqs.filter(faq => faq.parent_id === parentId);
        };
        const filteredFaqs = filterFaqsByParentId(this.items, $parentId);

        console.log('filteredFaqs: ', filteredFaqs[0])
        return filteredFaqs;
      },
      toggleCollapse(itemId) {
        this.isOpen = this.isOpen === itemId ? null : itemId;
      },
      // checkWindowSize() {
      //   this.isMobile = window.innerWidth <= 950;
      // },
    },
    // mounted() {
    //   if (process.client) {
    //     this.checkWindowSize();
    //     window.addEventListener('resize', this.checkWindowSize);
    //   }
    // },
    // beforeDestroy() {
    //   window.removeEventListener('resize', this.checkWindowSize);
    // },
};
</script>
<style lang="scss" scoped>
.nav {
    max-width: 384px;
    flex: 0 0 384px;
    margin-right: 26px;

    @include mobile {
      margin-right: 0px;
    }

    position: relative;
    overflow: auto;

    .sticky-inner {
      position: sticky;
      top:10px;

      display: flex;
      flex-direction: column;
    }

    .nav-tab {
        border-radius: 15px;
        padding: 25px 30px 30px 25px;
        background-color: $white;
        color: $ui-regular;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        svg {
            max-width: 16px;
            flex: 0 0 16px;
            margin-left: auto;
            margin-right: 0px;
        }
        .left {
            width: 100%;
            margin-right: 25px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -3px;
            transform: translateY(-50%);
            height: 60px;
            width: 6px;
            border-radius: 3px;
            background-color: $ui-accent;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        p {
          transition: color 0.3s ease;
        }
        .subtext {
            color: $ui-weak;
        }
        .h5 {
            color: $ui-contrast;
        }
        svg path {
            transition: stroke;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:hover {
            cursor: pointer;
        }
        &.active,&:hover {
            p {
                color: $ui-accent;
            }
            svg path {
                stroke: $ui-accent;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}
</style>
