<template>

    <div class="nav">
      <div class="sticky-inner">
        <nuxt-link v-for="item in items" :key="item.id"
          class="nav-tab"
          :class="{'active' : activeItem.id === item.id}"
          :to="{
            name: 'faq-slug',
            params: {
              slug: item.slug,
            }
          }"
        >
            <div class="left">
                <p v-if="item.subtext" class="tiny-text subtext">{{item.subtext}}</p>
                <p class="h5">{{item.title}}</p>
            </div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 3.33331L10.6667 7.99998L6 12.6666" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </nuxt-link>
      </div>
    </div>

</template>
<script>
export default {
    props: {
      activeIndex: [Number],

      items: {
          type: Array,
          default: () => {[]},
      },
    },

    computed: {
      activeItem() {
        if (this.activeIndex !== null) {
          return this.items[this.activeIndex];
        }

        return {
          id: -1,
        }
      }
    },
};
</script>
<style lang="scss" scoped>
.nav {
    max-width: 384px;
    flex: 0 0 384px;
    margin-right: 26px;

    @include mobile {
      margin-right: 0px;
    }

    position: relative;
    overflow: auto;

    .sticky-inner {
      position: sticky;
      top:10px;

      display: flex;
      flex-direction: column;
    }

    .nav-tab {
        border-radius: 15px;
        padding: 25px 30px 30px 25px;
        background-color: $white;
        color: $ui-regular;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        svg {
            max-width: 16px;
            flex: 0 0 16px;
            margin-left: auto;
            margin-right: 0px;
        }
        .left {
            width: 100%;
            margin-right: 25px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -3px;
            transform: translateY(-50%);
            height: 60px;
            width: 6px;
            border-radius: 3px;
            background-color: $ui-accent;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        p {
          transition: color 0.3s ease;
        }
        .subtext {
            color: $ui-weak;
        }
        .h5 {
            color: $ui-contrast;
        }
        svg path {
            transition: stroke;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:hover {
            cursor: pointer;
        }
        &.active,&:hover {
            p {
                color: $ui-accent;
            }
            svg path {
                stroke: $ui-accent;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}
</style>
