<template>
    <div class="faq-tab">
        <div  class="faq-box" v-for="(box,index) in boxes">
            <b-collapse
              class="tab-card"
              animation="slide"
              :open="isOpen == index"
              @open="isOpen = index"
            >
                <template #trigger="props">
                    <button
                        class="tab-card-header"
                        role="button"
                        :aria-controls="box.slug">

                        <h4 class="card-header-title">
                            {{box.title}}
                        </h4>

                        <a class="card-header-icon" :class="{'open' : props.open}">
                            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6667 1L6.00001 5.66667L1.33334 1" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </button>
                </template>

                <div class="card-content">
                    <div class="content" v-html="box.body"></div>
                </div>
            </b-collapse>
        </div>

    </div>
</template>
<script>
export default {
    props: {
        boxes: {
            type: Array,
            default: () => {
                return [];
            },
        }
    },
    data() {
        return {
          isOpen: 0,
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
.faq-tab {
    .faq-box {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

h4 {
  font-weight: normal;
  padding: 25px 20px;
}

h4.card-header-title{
  text-align: left;
}

.card-header-icon {
  padding: 25px 20px;
}

// .card-header-title {
//   font-weight: normal;
// }
</style>
