<template>
<div>
  <div class="tab-header" @click="closeTab">

      <div class="chevron-wrapper">
        <svg
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.00004 10.6667L1.33337 6L6.00004 1.33333"
            stroke="#0E0F14"
            stroke-width="1.1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <!-- <p class="tiny-text">{{ tabs[activeTab].text }}</p> -->
  </div>

  <p class="tiny-text block-header">Available topic answers</p>

  <div class="faq-tabs-container">
    <!-- <div v-for="(item, index) in faqs">
      {{ item.title }}
    </div> -->
    <b-tabs class="tabs-wrapper hide-header" v-model="activeIndex">
      <b-tab-item
        v-for="(item, index) in faqstree"
        :key="item.id"
        class="tab"
      >
        <div class="tab-body">
          
          <!-- <PagesFaqTabTree :boxes="boxes"></PagesFaqTabTree> -->
          
          <!-- <PagesFaqTabTree v-for="(box, index) in boxes" :key="box.id" :boxes="boxes"></PagesFaqTabTree> -->
          <PagesFaqTabTree :boxes="boxes"></PagesFaqTabTree>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>

</div>
</template>

<script>
export default {
  props: {
    value: Number,
    faqs: {
      type: Array,
      default: () => [],
    },
    faqstree: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    activeIndex: {
      get() {
        return this.value
      },

      set(newVal) {
        this.$emit('input', newVal)
      }
    },

    boxes() {

      function findFaqsById(obj, id) {
        if (obj.id === id) {
          return obj.faqs;
        }
        if (obj.children) {
          for (const child of obj.children) {
            const result = findFaqsById(child, id);
            if (result) {
              return result;
            }
          }
        }
        return null;
      }

      // Find the faqs for the item with the id of the currently active FAQ
      const idToFind = this.faqs[this.activeIndex].id;
      let faqs = null;

      for (const key in this.faqstree) {
        if (this.faqstree.hasOwnProperty(key)) {
          faqs = findFaqsById(this.faqstree[key], idToFind);
          if (faqs) {
            break;
          }
        }
      }

      console.log('faqs experiment, ', faqs);

      if (faqs) {
        return faqs;
      }

      return {};
    }
  },

  methods: {
    closeTab() {
      this.$emit('close')
    },
  },

  mounted() {
    console.log('this.faqs: ', this.faqstree);
  }
}
</script>

<style lang="scss" scoped>
  @include mobile {
    .tab-header,
    .tiny-text {
      display: none;
    }
  }
</style>
