<template>
<div>
  <div class="tab-header" @click="closeTab">

      <div class="chevron-wrapper">
        <svg
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.00004 10.6667L1.33337 6L6.00004 1.33333"
            stroke="#0E0F14"
            stroke-width="1.1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <!-- <p class="tiny-text">{{ tabs[activeTab].text }}</p> -->
  </div>

  <p class="tiny-text block-header">Available topic answers</p>

  <div class="faq-tabs-container">
    <b-tabs class="tabs-wrapper hide-header" v-model="activeIndex">
      <b-tab-item
        v-for="(item, index) in faqs"
        :key="item.id"
        class="tab"
      >
        <div class="tab-body" v-if="faqs.length > 0">
          <PagesFaqTab :boxes="boxes"></PagesFaqTab>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>

</div>
</template>

<script>
export default {
  props: {
    value: Number,
    faqs: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    activeIndex: {
      get() {
        return this.value
      },

      set(newVal) {
        this.$emit('input', newVal)
      }
    },

    boxes() {
      if (this.faqs[this.activeIndex]) {
        return this.faqs[this.activeIndex].faqs;
      }

      return [];
    }
  },

  methods: {
    closeTab() {
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
  @include mobile {
    .tab-header,
    .tiny-text {
      display: none;
    }
  }
</style>
