<template>
  <div>

  <PagesAdmissionTabs
    v-model="selectedTab"
    :tabs="admissions"
    :boxOpen="boxOpen"
    class="block-01"
    role="main"
  >
  </PagesAdmissionTabs>

  <NuxtChild/>

  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  async asyncData({store}) {
    await store.dispatch('admissions/getData');
  },

  computed: {
    selectedTab: {
      get () {
        const tab = this.$store.state.admissions.tab;

        if (this.$route.params.tab && tab === null) {
          return this.$route.params.tab
        }

        return tab;
      },
      set (newVal) {
        const tab_param = newVal;

        this.$router.push({
          name: 'admission-tab',
          params: { tab: tab_param },
        });

        this.$store.commit('admissions/setTab', newVal)
      }
    },

    boxOpen() {
      if (this.$route.params.slug){
        return true;
      }
      return false;
    },

    ...mapState('admissions', {
      admissions: state => state.admissions,
      loaded: state => state.loaded,
    }),
  },


}
</script>
