<template>
<div>
    <div class="admission-footer wrapper-md">
        <img src="/images/icons/warning.svg" alt="">
        <p class="footer-text">Please contact the university for detailed information on the admission procedure
            as each university's admission procedure may vary.</p>
    </div>
    <Footer></Footer>
</div>
</template>
<script>
export default {
    props: {
    },
    data() {
        return {

        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.admission-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;

    img {
        width: 12px;
        height: auto;
    }
    .footer-text {
        margin-top: 8px;
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $ui-weak;
        text-align: center;
        width: 466px;

        @include mobile {
          width: 80%;
        }
    }
}
</style>
