<template>
  <div v-if="$mq !== 'sm'"  class="admission-modal">
    <div class="top">
      <div class="left">
        <p v-if="admission.subtext && currentCategorySlug != 'fees-costs' && currentCategorySlug != 'visas-permits'" class="subtext tiny-text">
          {{ admission.subtext }} {{currentIndex + 1}}
        </p>
        <p class="h4">{{ admission.title }}</p>
      </div>

      <div class="right">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          @click="closeModal"
        >
          <path
            d="M4 4L12 12M4 12L12 4L4 12Z"
            stroke="#0E0F14"
            stroke-width="1.1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    <div class="admission-modal-wrapper">
      <div class="image">
        <b-image
          class="article-image"
          :src="$statically(admission.image, 600)"
          :alt="admission.title"
          ratio="2by1"
        >
          <template #placeholder>
            <b-skeleton height="100%" />
          </template>
        </b-image>
      </div>
      <div class="admissions-modal-content">
        <div class="modal-content-box" v-html="admission.body"></div>
        <!-- <div v-for="(box,index) in admission.content.blocks" :key="index" class="modal-content-box" :class="box.classes">
            <svg v-if="box.type == 'checkbox-title'" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.33398 8.66663L6.00065 11.3333L12.6673 4.66663" stroke="#00B712" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p v-if="box.type == 'checkbox-title'" class="h2 checkbox-title">{{box.text}}</p>
            <p v-if="box.type == 'plain-text'" class="small-text ml">{{box.text}}</p>
            <a v-if="box.type == 'button'" class="underline-link tiny-text" :href="box.href">{{box.text}}</a>
        </div> -->
      </div>
    </div>

    <div class="modal-controls">
      <div
        class="prev control-button"
        @click="prevModal"
        :class="{ disabled: currentIndex == 0 }"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 8.00004H14M6.66667 12.6667L2 8.00004L6.66667 12.6667ZM2 8.00004L6.66667 3.33337L2 8.00004Z"
            stroke="#ABADB8"
            stroke-width="1.1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <p class="small-text">Previous</p>
      </div>
      <div
        class="next control-button"
        @click="nextModal"
        :class="{ disabled: currentIndex == maxIndex }"
      >
        <p class="small-text">Next</p>
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14 8.00004H2M9.33333 3.33337L14 8.00004L9.33333 3.33337ZM14 8.00004L9.33333 12.6667L14 8.00004Z"
            stroke="#ABADB8"
            stroke-width="1.1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>


  </div>

  <div v-else class="admission-modal">
    <b-modal v-model="isOpen" :full-screen="true" :can-cancel="false">
      <div class="top">
        <div class="left">
          <button  @click="closeModal" class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box;">
            <img src="/images/icons/chevron-left.svg" alt="">
          </button>
        </div>

        <div class="right">
          <p class="subtext tiny-text">{{ admission.title }}</p>
        </div>
      </div>

      <!-- <div class="modal-header-wrap">
        <h2>Test</h2>
      </div> -->

      <div class="admission-modal-wrapper">
        <div class="image">
          <b-image
            class="article-image"
            :src="$statically(admission.image, 600)"
            :alt="admission.title"
            ratio="2by1"
          >
            <template #placeholder>
              <b-skeleton height="100%" />
            </template>
          </b-image>
        </div>

        <div class="admissions-modal-header">
          <p v-if="admission.subtext" class="subtext tiny-text">
            {{ admission.subtext }}
          </p>
          <h4>{{ admission.title }}</h4>
        </div>

        <div class="admissions-modal-content">
          <div class="modal-content-box" v-html="admission.body"></div>
          <!-- <div v-for="(box,index) in admission.content.blocks" :key="index" class="modal-content-box" :class="box.classes">
              <svg v-if="box.type == 'checkbox-title'" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.33398 8.66663L6.00065 11.3333L12.6673 4.66663" stroke="#00B712" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p v-if="box.type == 'checkbox-title'" class="h2 checkbox-title">{{box.text}}</p>
              <p v-if="box.type == 'plain-text'" class="small-text ml">{{box.text}}</p>
              <a v-if="box.type == 'button'" class="underline-link tiny-text" :href="box.href">{{box.text}}</a>
          </div> -->
        </div>
      </div>

      <!-- <div class="modal-controls">
        <div
          class="prev control-button"
          @click="prevModal"
          :class="{ disabled: currentIndex == 0 }"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 8.00004H14M6.66667 12.6667L2 8.00004L6.66667 12.6667ZM2 8.00004L6.66667 3.33337L2 8.00004Z"
              stroke="#ABADB8"
              stroke-width="1.1"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="small-text">Previous</p>
        </div>
        <div
          class="next control-button"
          @click="nextModal"
          :class="{ disabled: currentIndex == maxIndex }"
        >
          <p class="small-text">Next</p>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 8.00004H2M9.33333 3.33337L14 8.00004L9.33333 3.33337ZM14 8.00004L9.33333 12.6667L14 8.00004Z"
              stroke="#ABADB8"
              stroke-width="1.1"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div> -->

      <div class="card-footer">
        <div class="card-footer__content is-flex is-flex-direction-row is-align-items-center"
          :class="
            currentIndex == 0
              ? 'is-justify-content-flex-end'
              : 'is-justify-content-space-between'
          "
        >
          <div
            v-if="currentIndex > 0"
            @click="prevModal"
            tabindex="0"
            @keyup.enter="prevModal"
            class="prev is-flex is-align-items-center"
          >
            <img src="/images/icons/arrow-left-v2.svg" alt="" />
            <p>Previous</p>
          </div>
          <div
            v-if="currentIndex < maxIndex"
            @click="nextModal"
            tabindex="0"
            @keyup.enter="nextModal"
            class="next is-flex is-align-items-center"
          >
            <p>Next</p>
            <img src="/images/icons/arrow-right.svg" alt="" />
          </div>
        </div>
      </div>
    </b-modal>
  </div>

</template>
<script>
export default {
  props: {
    currentIndex: 0,
    maxIndex: 0,
    admission: {
      type: Object,
      default: null,
    },
    currentCategorySlug: [String],
  },

  methods: {
    nextModal() {
      if (this.currentIndex !== this.maxIndex) {
        this.$emit("nextModal");
      }
    },
    prevModal() {
      if (this.currentIndex !== 0) {
        this.$emit("prevModal");
      }
    },
    closeModal() {
      this.$emit("closeModal");
    },
  },
  computed: {
    isOpen: {
      get() {
        return this.admission !== null
      },
      set(newVal) {

      }
    },
  },
  mounted() {},
};
</script>
<style lang="scss" scoped>
.admission-modal {
  border-radius: 20px;
  background-color: $white;
  width: 100%;
  height: fit-content;

  @include tablet {
    overflow: hidden;
  }

  .top {
    display: flex;
    height: 105px;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
    left: 0px;
    padding-left: 50px;
    padding-right: 54px;
    z-index: 5;
    background-color: $white;

    @include tablet {
      border-bottom: 1px solid #f0f1f5;
    }

    @include mobile {
      height: 90px;
      margin-bottom: 0;
      padding: 0 20px;
      background-color: $background;
    }

    .left {
      margin-right: auto;

      @include mobile {
        margin-right: 20px;
      }

      .subtext {
        margin-bottom: 10px;
        color: $ui-weak;

        @include mobile {
          margin-bottom: 0;
        }
      }
      .h4 {
        color: $ui-contrast;
      }
    }
    .right {

      @include tablet {
        max-width: 16px;
        flex: 0 0 16px;
        margin-left: 20px;
      }

      display: flex;
      align-items: center;
      align-content: center;

      svg {
        path {
          transition: stroke 0.3s ease;
        }
        &:hover {
          cursor: pointer;
          path {
            stroke: $ui-accent;
          }
        }
      }
    }
  }

  .modal-header-wrap {
    margin: 0 20px 20px;
    text-align: center;
  }

  .admission-modal-wrapper {
    width: auto;
    margin: 0 20px 20px;

    @include mobile {
      overflow: hidden;
      border-radius: 20px 20px 20px 20px;
      background-color: $white;
      margin-bottom: 120px;
    }

    .image {
      width: 100%;
      border-radius: 20px;
      overflow: hidden;

      @include mobile {
        padding: 4px;
      }

      &::v-deep {
        .b-skeleton {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .image-wrapper {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
      }
    }

    .admissions-modal-content {
      width: auto;
      margin: 20px;

      @include tablet {
        margin: 50px 30px;
      }

      .modal-content-box {

        &.checkbox-title-box {
          position: relative;
          svg {
            position: absolute;
            left: 0px;
            top: 4px;
          }
          &:not(.checked) {
            svg {
              path {
                stroke: #abadb8;
              }
            }
          }
        }
        &.padding-22 {
          padding-left: 22px;
        }
        &.mb-10 {
          margin-bottom: 10px;
        }
        &.mb-20 {
          margin-bottom: 20px;
        }
      }
    }

    .admissions-modal-header {
      padding: 20px;
      border-bottom: 1px solid #f0f1f5;
    }
  }

  .modal-controls {
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    height: 80px;
    align-items: center;
    align-content: center;
    border-top: 1px solid #f0f1f5;

    @include mobile {
      overflow: hidden;
      border-radius: 0 0 20px 20px ;
      background-color: $white;
      margin-bottom: 0;

      padding-left: 20px;
      padding-right: 20px;

      margin: 0 20px 40px;
      height: 60px;
    }

    .control-button {
      display: flex;
      p {
        transition: color 0.3s ease;
        color: $ui-weak;
      }
      svg {
        path {
          transition: stroke 0.3s ease;
        }
      }
      &:not(.disabled) {
        p {
          color: $ui-regular;
        }
        svg path {
          stroke: $ui-regular;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover,
        &.active {
          p {
            color: $ui-contrast;
          }
          svg {
            path {
              stroke: $ui-contrast;
            }
          }
        }
      }
      &.prev {
        margin-left: 0px;
        margin-right: auto;
        svg {
          margin-right: 12px;
        }
      }
      &.next {
        margin-right: 0px;
        margin-left: auto;
        svg {
          margin-left: 12px;
        }
      }
    }
  }
}
</style>
