<template>
  <div class="admission-tabs">
    <b-tabs horizontal class="tabs-wrapper tabs-pills tabs-purple" v-model="activeTabIndex">
      <b-tab-item
        v-for="(tab, index) in tabs"
        :key="tab.id"
        class="tab"
      >
      <template #header>
          <button>{{tab.title}}</button>
      </template>
        <h3 class="h1 center">{{tab.heading}}</h3>
        <h4 class="small-text subheading center">{{tab.subheading}}</h4>
        <transition name="fade">
          <div
            v-if="!boxOpen"
            class="boxes"
            :class="tab.admissions.length == 4 ? 'wrapper-md' : 'wrapper-l'"
          >
            <nuxt-link
              v-for="(box,index) in tab.admissions" :key="box.id"
              class="box-wrapper"
              :to="{
                name: 'admission-tab-slug',
                params: {
                  tab: tab.slug,
                  slug: box.slug,
                }
              }"
            >
              <div class="admission-box">
                <div class="top">
                  <div class="image-wrapper" :style="{ backgroundImage: `url(${$statically(box.image, 600)})` }"></div>
                </div>
                <div class="bot">
                  <p v-if="box.subtext && tab.slug != 'fees-costs' && tab.slug != 'visas-permits'" class="subtext tiny-text">{{box.subtext}} {{index +1}}</p>
                  <div class="admission-button">

                    <p class="h4">{{box.title}}</p>

                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 3.33331L10.6667 7.99998L6 12.6666" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </transition>

      </b-tab-item>
    </b-tabs>
  </div>
</template>
<script>
export default {
  props: {
    tabs: {
      type: Array,
      default: () => {[]},
    },

    boxOpen: {
      type: Boolean,
      default: false,
    },

    value: String,
  },

  methods: {
    openModal(slugs) {
      this.$emit('openModal',slugs)
    }
  },

  computed: {
    activeTabIndex: {
      get () {
        const index = this.tabs.findIndex(i => i.slug == this.value);
        if (index === -1) return 0;
        return index;
      },
      set (newVal) {
        const tab = this.tabs[newVal];
        this.$emit('input', tab.slug)
      }
    }
  },

};
</script>
<style lang="scss" scoped>
.admission-tabs {
  h3.h1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .subheading {
    margin-bottom: 30px;

    max-width: 600px;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      padding: 0;
    }

    .box-wrapper {
      max-width: 410px;
      flex: 0 0 410px;

      padding: 13px;
      height: 304px;
      min-height: 304px;
      max-height: 304px;
      color: $ui-regular;
      display: block;

      @include mobile {
        flex-shrink: 1;
      }

      .admission-box {
        height: 279px;
        min-height: 279px;
        max-height: 279px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;

        .top {
          width: 100%;
          height: 100%;
          background-color: #B098C8;
          position: relative;
          .image-wrapper {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
          }
        }
        .bot {
          padding: 25px 35px 30px 30px;
          background-color: $white;
          display: flex;
          min-height: 125px;
          height: 125px;
          flex-wrap: wrap;
          .subtext {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: left;
            margin-bottom: 10px;
          }
          .admission-button {
            display: flex;
            align-content: center;
            align-items: center;
            p {
            margin-right: 20px;
            }
            svg {
              margin-right: 0px;
              margin-left: auto;
            }
          }
        }
        &:hover {
          cursor: pointer;
          .bot {
            p {
              color: #5E33C1;
            }
          }
        }
      }
    }
  }
}
</style>
