<template>
  <section :data-debug-id="study.id" >
    <div class="card study is-shadowless is-clipped" tabindex="0" @click="openStudy()" @keyup.enter="openStudy()">
      <div class="study-header">
        <div class="study-header-title">
          <div class="study-header-title__text">
            {{ study.title }}
          </div>
          <div v-if="study.university" class="study-header-title__university">
            {{ study.university.title }}
          </div>
        </div>
        <div v-if="!isMobile" class="study-header-tags">
          <study-tag v-for="tag in study.badges" :color="tag.color" :title="tag.title" :key="tag.id" />
        </div>
      </div>
      <hr v-if="!isMobile" class="solid my-0" />
      <div v-if="isMobile" class="study-header-tags">
        <study-tag v-for="tag in study.badges" :color="tag.color" :title="tag.title" :key="tag.id" />
      </div>
      <div class="study-degree">
        <div class="study-degree__heading">
          <img src="/images/icons/degree.svg" alt="Degree" /> Degree
        </div>
        <div class="study-degree__text">
          {{ study.degree }}
        </div>
      </div>
      <study-meta class="study-meta" :meta="meta" />
    </div>
  </section>
</template>

<script>
import StudyMeta from "./StudyMeta";
import StudyTag from "./StudyTag";
export default {
  components: {StudyTag, StudyMeta},
  props: {
    study: {
      type: Object,
      default: () => ({})
    },
    isMobile: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    meta () {
      const { study } = this
      const meta = []
      meta.push({ icon: 'location-weak.svg', text: study.location.title })
      meta.push({ icon: 'languages-weak.svg', text: study.languages.map(lang => `${lang.title} (${lang.short})`).join(', ') })
      meta.push({ icon: 'time-weak.svg', text: study.study_type.title })
      meta.push({ icon: 'calendar-weak.svg', text: study.duration })
      meta.push({ icon: 'fees-weak.svg', text: study.fees })

      return meta
    },
    tags () {
      return [
        { text: 'Postponed', styles: { color: '#673C1D', background: '#FDF8CA' } },
        { text: 'Sponsored', styles: { color: '#345317', background: '#E8FDEA' } },
        { text: 'Cancelled', styles: { color: '#833030', background: '#FFE5E6' } },
      ]
    }
  },
  methods: {
    openStudy() {
      this.$emit("openStudyModal", this.study)
    }
  }
}
</script>

<style lang="scss" scoped>
.card.study {
  border-radius: 30px;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
    .study-header-title__text {
      color: $ui-accent;
    }
  }
  .study {
    &-meta {
      @media screen and (max-width: 950px) {
        padding: 0 40px 15px 20px;
      }
      @media screen and (min-width: 950px) {
        padding: 5px 50px 25px 50px;
      }
    }
    &-header {
      @media screen and (max-width: 950px) {
        padding: 20px;
      }
      @media screen and (min-width: 950px) {
        padding: 20px 50px;
      }
      display: flex;
      align-items: center;
      &-title {
        &__text {
          transition: color 0.3s ease;
          @media screen and (max-width: 950px) {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 130%;
          }
          @media screen and (min-width: 950px) {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 120%;
            letter-spacing: -0.01em;
            // font-feature-settings: 'ordn' on;
          }
          color: $ui-contrast;
          display: flex;
          align-items: center;
        }
        &__university {
          margin-top: 4px;
          @media screen and (max-width: 950px) {
            font-size: 0.75rem;
            line-height: 100%;
          }
          @media screen and (min-width: 950px) {
            font-size: 0.938rem;
            line-height: 100%;
          }
          color: $ui-regular;
        }
      }
      &-tags {
        display: flex;
        height: min-content;
        flex-grow: 1;
        @media screen and (max-width: 950px) {
          padding-left: 15px;
        }
        @media screen and (min-width: 950px) {
          justify-content: flex-end;
        }
      }
    }
    &-degree {
      @media screen and (max-width: 950px) {
        padding: 15px 20px 20px 20px;
      }
      @media screen and (min-width: 950px) {
        padding: 25px 50px;
      }
      &__heading {
        margin-bottom: 7px;
        font-size: 0.75rem;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $ui-regular;
        display: flex;
        align-items: center;
        img {
          margin-right: 6px
        }
      }
      &__text {
        @media screen and (max-width: 950px) {
          font-size: 0.75rem;
        }
        @media screen and (min-width: 950px) {
          font-size: 0.938rem;
        }
        line-height: 150%;
        color: $ui-regular;
      }
    }
  }
}
</style>
