<template>
  <form class="ext-search" :class="{'open' : searching}" @submit.prevent="$emit('search')">
    <label for="search">
      <img src="/images/icons/search.svg" alt="">
      <input v-model="search" placeholder="Study programme" @focus="openSearch" @blur="closeSearch" class="search-field" type="text" name="search" id="search">
    </label>
    <button class="search-btn btn btn-round btn-m btn-black small-text medium" type="submit" @click="updateQuery">
      Find Now
    </button>
  </form>
</template>
<script>
export default {
  props: {
    value: String
  },
  data() {
    return {
      searching: false
    }
  },
  computed: {
    search: {
      get () {
        return this.value
      },
      set (newValue) {
        this.$emit('input', newValue)
      }
    }
  },
  methods: {
    openSearch() {
      this.searching = true
    },
    closeSearch() {
      this.searching = false
    },
    updateQuery() {
      if(search.value) {
        let query = {"q": search.value};
        this.$router.push({
          path: this.$route.fullPath,
          query,
        });
        this.$emit('doSearch', search.value)
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.ext-search {
  width: 794px;
  max-width: 100%;
  height: 60px;
  background-color: $white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid $white;
  transition: border 0.3s ease 0.21s, box-shadow 0.3s ease 0.21s;
  label {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      height: 100%;
      font-size: 0.938rem;
      color: $ui-contrast;
      font-family: $main-font;
      padding-left: 50px;
      &::placeholder {
        font-size: 0.938rem;
        color: $ui-weak;
        font-family: $main-font;
      }
    }
  }
  .search {
    &-btn {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.3s ease;
    }
    &-field {
      width: calc(100% - 120px);
    }
  }
  &.open {
    border: 1px solid $ui-accent;
    box-shadow: 0px 0px 0px 4px rgba($color: $ui-accent, $alpha: 0.21);
    .search-btn {
      background-color: $ui-accent;
    }
  }
}
</style>
