<template>
  <div class="study-modal">

    <template v-if="isMobile">
      <section class="study-modal-section" style="padding-bottom: 20px">
        <div style="font-weight: 500; font-size: 18px; line-height: 130%; color: #0E0F14;">
          {{ study.title }}
        </div>
        <nuxt-link
          v-if="study.university"
          :to="{name: 'universities-slug', params: {slug: study.university.slug}}"
          style="font-size: 12px; line-height: 100%; color: #24262F; margin-top: 5px"
        >
          {{ study.university.title }}
        </nuxt-link>
      </section>
    </template>

    <div class="study-modal-tags">
      <study-tag v-for="tag in study.badges" :color="tag.color" :title="tag.title" :key="tag.id" />
    </div>

    <template v-for="[key, i] in Object.entries(info)" >
      <section v-if="i.value && i.value.length > 0" class="study-modal-section" :key="i.title" :id="key">

        <div class="study-modal__heading">
          {{ i.title }}
        </div>

        <div class="study-modal-section__text" >

          <template v-if="key === 'application-links'">
            <div class="studies" v-if="i.value.length > 0">
              <study-row v-for="study in i.value.slice(0, studiesToShow)" :key="study.id" v-bind="study" />
              <div class="study-modal-section__text-buttons" v-if="i.value.length > i.value.slice(0, studiesToShow).length">
                <button  class="btn btn-round btn-m btn-outline small-text" @click="studiesToShow += 5">
                  Load more
                </button>
              </div>
            </div>
          </template>



          <template v-else-if="key === 'meta'">
            <study-meta :meta="i.value" />
          </template>

          <template v-else>
            <div v-html="i.value"></div>
          </template>

          <div v-if="i.note" class="study-modal-section__note" v-html="i.note" />
        </div>

      </section>
    </template>

    <!-- <section class="study-modal-section" v-if="study.arrangements">

      <div class="study-modal__heading">
        Arrangements
      </div>

      <div class="study-modal-section__text">
          {{ study.arrangements }}
      </div>
    </section> -->

    <!-- ---------------- Blocks ---------------- -->
    <template v-for="block in study.blocks_nested">
      <section v-if="!isBlockEmpty(block)" class="study-modal-section" :key="block.id">

        <div class="study-modal__heading" v-if="block.data.title">
          {{block.data.title}}
        </div>

        <div class="study-modal-section__text">
          <div v-if="block.data.text" v-html="block.data.text"></div>

          <div v-if="block.data.url_link" class="study-modal-section__note">
            <a target="_blank" :href="sanitizeUrl(block.data.url_link)" >{{block.data.url_text || block.data.url_link}}</a>
          </div>
        </div>
      </section>
    </template>
    <!-- -------------- End Blocks -------------- -->



    <section class="study-modal-section" v-if="study.programme_link">

      <div class="study-modal__heading">
        Programme Link
      </div>

      <div class="study-modal-section__text">
        <!-- <div v-if="block.data.text" v-html="block.data.text"></div> -->

        <div class="study-modal-section__note">
          <a target="_blank" :href="sanitizeUrl(study.programme_link)" >{{ sanitizeUrl(study.programme_link) }}</a>
        </div>
      </div>
    </section>



  </div>
</template>

<script>
import {sanitizeUrl} from '~/plugins/helpers.js';

import StudyRow from "../../partials/StudyRow";
import StudyStudentStory from "../../partials/StudyStudentStory";
import HighlightGallery from "../../partials/HighlightGallery";
import StudyMeta from "./StudyMeta";
import StudyTag from "./StudyTag";
export default {
  components: {StudyTag, StudyMeta, HighlightGallery, StudyStudentStory, StudyRow},
  props: {
    isMobile: {
      type: Boolean,
      default: false,
    },
    study: {
      type: Object,
      default: () => ({

      })
    },
    details: {
      type: Array,
      default: () => ([
        { icon: 'status.svg', text: 'Status', value: 'State' },
        { icon: 'location.svg', text: 'Location', value: 'Riga' },
        { icon: 'founded.svg', text: 'Founded', value: '1950' },
        { icon: 'students.svg', text: 'Students', value: '8694 (2345 International Students)' },
        { icon: 'programmes.svg', text: 'Programmes', value: 7 },
        { icon: 'double-programmes.svg', text: 'Double Programmes', value: 0 },
        { icon: 'badges.svg', text: 'Badges', value: ['Study in Latvia Endorsed Partner', 'ECHE Holder'] },
      ])
    },
    name: {
      type: String,
      default: 'University of Latvia'
    },
    degrees: {
      type: String,
      default: 'Bachelors, Masters and Doctors degrees'
    },
    img: {
      type: String,
      default: '/images/demo/universities/04.png?v=2.0',
    },
  },
  data() {
    return {
      studiesToShow: 5,
      storiesToShow: 2,
    }
  },
  computed: {
    tags () {
      return [
        { text: 'Postponed', styles: { color: '#673C1D', background: '#FDF8CA' } },
        { text: 'Sponsored', styles: { color: '#345317', background: '#E8FDEA' } },
        { text: 'Cancelled', styles: { color: '#833030', background: '#FFE5E6' } },
      ]
    },
    info() {
      const { study } = this
      return {
        degree: {
          title: 'Degree',
          value: study.degree
        },
        description: {
          title: 'Study programme description',
          value: study.description,
        },
        arrangements: {
          title: 'Arrangements',
          value: study.arrangements
        },
        meta: {
          value: [
            { icon: 'languages.svg', text: study.languages.map(lang => `${lang.title} (${lang.short})`).join(', ') },
            { icon: 'location.svg', text: study.location && study.location.title },
            { icon: 'time.svg', text: study.study_type && study.study_type.title },
            { icon: 'calendar.svg', text: study.duration },
            { icon: 'fees.svg', text: study.fees },
            { icon: 'credit-points.svg', text: study.credits },
            { icon: 'eqf-isced-level.svg', text: study.eqf_isced_level && `${study.eqf_isced_level} EQF/ISCED Level` },
          ],
        },
        license: {
          title: 'License (accreditation)',
          value: study.licence
        },
        'application-links': {
          title: 'Application links',
          value: study.application_links
        },

        // scholarships: {
        //   title: 'Scholarships',
        //   value: 'In tristique quam aliquam vestibulum consectetur pharetra. Suspendisse tortor, scelerisque eleifend mattis senectus. Facilisi mattis fringilla ut scelerisque vestibulum, est cum pharetra.',
        //   note: '<a>Learn more about staying here.</a>'
        // },
        // requirements: {
        //   title: 'Requirements',
        //   value: 'General secondary education diploma. English language proficiency.',
        //   note: '<a>More information on language requirements here.</a>'
        // },
        // programmeLink: {
        //   title: 'Programme Link',
        //   value: 'Source and link’s description here would be nice.',
        //   note: `<a href="//${study.programme_link}">${study.programme_link}</a>`
        // },
      }
    },
  },

  methods: {
    sanitizeUrl(url) {
      return sanitizeUrl(url)
    },

    isBlockEmpty(block) {
      return block.data && block.children.length > 0
    }
  },
  mounted() {
    console.log(Object.entries(this.info))
    console.log(this.study)
  }
}
</script>

<style lang="scss">
.study-modal {
  &-tags {
    display: flex;
    @media screen and (max-width: 950px) {
      margin-left: -5px;
      padding: 20px 20px 0 20px;
    }
    @media screen and (min-width: 950px) {
      margin-top: 12px;
      margin-left: -10px;
      margin-bottom: -25px;
      padding: 40px 40px 0 52px;
    }
    @media screen and (min-width: 1400px) {
      padding: 40px 40px 0 82px;
    }
  }
  &__heading {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $ui-contrast;
  }
  &-section {
    @media screen and (max-width: 950px) {
      padding: 20px 20px 25px 20px;
    }
    @media screen and (min-width: 950px) {
      padding: 40px 40px 54px 52px;
    }
    @media screen and (min-width: 1400px) {
      padding: 40px 40px 54px 82px;
    }
    border-bottom: 1px solid $ui-details;
    &__text {
      margin-top: 9px;
      font-size: 0.938rem;
      line-height: 150%;
      color: $ui-regular;
      &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        object svg path {
          stroke: $ui-accent !important;
        }
      }
      .studies {
        margin-top: 15px;
      }
      .stories {
        margin-top: 15px;
      }
    }
    &__note {
      margin-top: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 100%;
      color: $ui-regular;
      a {
        color: $ui-regular;
        text-decoration: underline;
      }
    }
  }
  &-details {
    display: flex;
    align-items: center;
    @media screen and (max-width: 950px) {
      &:not(:last-child) {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $ui-details
      }
    }
    @media screen and (min-width: 950px) {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    &__icon {
      width: 16px;
      margin-right: 6px;
      text-align: center;
    }
    &__text {
      font-weight: 500;
      font-size: 0.75rem;
      letter-spacing: 0.02em;
      color: $ui-regular;
    }
  }
  &__image {
    width: 100%;
    border-radius: 30px;
  }
  &-gallery {
    @media screen and (max-width: 950px) {
      &__heading {
        padding: 20px;
      }
    }
    @media screen and (min-width: 950px) {
      margin: 15px 0 55px 0;
      &__heading {
        padding: 25px 0 15px 52px;
      }
    }
    @media screen and (min-width: 1400px) {
      margin: 15px 0 55px 0;
      &__heading {
        padding: 25px 0 15px 82px;
      }
    }

    .slick-slider {
      display: grid;
      .slick-arrow {
        position: absolute;
        top: 330px;
        left: 545px;
        z-index: 1;
        &.slick-prev {
          transform: scale(-1, 1);
        }
        &.slick-next {
          left: 603px;
        }
        &.slick-disabled {
          opacity: 0.5;
          cursor: default;
        }
      }
      .slick-list {
        @media screen and (min-width: 950px) {
          padding-left: 42px;
        }
        @media screen and (min-width: 1400px) {
          padding-left: 72px;
        }
        .gallery-slide {
          @media screen and (min-width: 950px) {
            width: 433px !important;
          }
          padding-right: 15px;

          &__image {
            margin-bottom: 10px;

            img {
              width: 418px !important;
              height: 315px !important;
              object-fit: cover;
              transition: opacity 0.3s ease;
              border-radius: 15px;
              overflow: hidden;
            }
          }

          &__title {
            transition: opacity 0.3s ease;
            padding: 5px 10px;
            font-size: 0.938rem;
            line-height: 150%;
            color: $ui-regular;
          }

          &__subtitle {
            transition: opacity 0.3s ease;
            padding: 0 10px;
            font-size: 0.75rem;
            line-height: 130%;
            color: $ui-regular;
          }
        }
        .slick-slide:not(.slick-active) {
          .gallery-slide {
            &__image {
              img {
                opacity: 0.5;
              }
            }

            &__title, &__subtitle {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
</style>
