<template>
  <div class="study-meta">
    <div class="study-meta__field" v-for="(m, index) in meta" :key="index" v-if="m.text">
      <img :src="`/images/icons/${m.icon}`" :alt="m.icon">
      {{ m.text }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    meta: {
      type: Array,
      default: () => ([])
    },
  },
}
</script>

<style lang="scss">
.study {
  &-meta {
    display: flex;
    flex-wrap: wrap;
    &__field {
      margin: 0 15px 15px 0;
      font-size: 0.75rem;
      line-height: 100%;
      color: $ui-regular;
      display: flex;
      align-items: center;
      img {
        margin-right: 5px
      }
    }
  }
}
</style>
