<template>
  <div class="study-tag" :key="title" :style="styles">
    {{ title }}
  </div>
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      default: null
    },
    color: {
      type: String,
      default: '#F0F1F5',
    },
    // styles: {
    //   type: [Object, String],
    //   default: () => ({})
    // }
  },

  computed: {
    styles() {
      return {
        'background-color': this.color || '#F0F1F5',
      }
    },
  }


}
</script>

<style lang="scss" scoped>
.study-tag {
  padding: 3px 10px 5px 10px;
  margin-right: 5px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  width: min-content;

  color: $ui-regular;
}
</style>
