<template>
	<div class="latvia-live-page main-page">
		<div v-if="isDesktop" class="desktop">
			<Header></Header>
			<ColorBgImg v-bind="block01" id="latvia-live-intro" class="hashable block-01"></ColorBgImg>
			<div class="main-content" role="main">
				<GoodToKnow class="hashable block-02" :id="`${blockId(page[0])}`" :blocks="page[0].data.images_lv_live"></GoodToKnow>
				<Map class="hashable block-03" :id="`${blockId(page[1])}`" :tabs="page[1].children"></Map>
				<Transport class="hashable block-04" :id="`${blockId(page[2])}`" :visitBy="page[2].data.images_lv_live" :travelWith="page[3].data.images_lv_live"></Transport>
				<LivingCosts id="living-costs" class="hashable block-05"></LivingCosts>
				<Calendar id="calendar" class="hashable block-06"></Calendar>
				<ColorBgImg v-bind="block07" id="latvia-live-registration" class="hashable block-07 md-block-size">
					<p class="h2">Health insurance requirements are linked to visa and residence issues.</p>
				</ColorBgImg>
				<Registration class="hashable block-08" :id="`${blockId(page[6])}`" :tabs="page[6].children"></Registration>
				<ColorBgImg v-bind="block09" id="latvia-live-work" class="hashable block-09 md-block-size">
					<p class="h2">What you need to know about working during and after studies</p>
				</ColorBgImg>
				<Work class="hashable block-10" :id="`${blockId(page[7])}`" :tabs="page[7].children"></Work>
				<Leisure class="hashable block-11" :id="`${blockId(page[8])}`" :leisureSlides="page[8].data.images_lv_live"></Leisure>
				<Dictionary class="hashable block-12" :id="`${blockId(page[9])}`" :texts="page[9].children"></Dictionary>
				<ColorBgImg v-bind="block13" id="latvia-live-bookmarks" class="hashable block-13 lg-block-size">
					<p class="h2">Bookmark link bellow to always find necessary links you might need.</p>
					<NuxtLink to="/resources" class="link small-text btn btn-round btn-m btn-black">
						Resource Links
						<img src="/images/icons/external-link.svg" alt="">
					</NuxtLink>
				</ColorBgImg>
			</div>
			<Footer></Footer>
		</div>
    <div v-else>
      <Header></Header>
      <ColorBgImg v-bind="block01" id="latvia-live-intro" class="hashable block-01 md-block-size">
        <ScrollDownPrompt></ScrollDownPrompt>
      </ColorBgImg>
	  <div class="main-content" role="main">
		<GoodToKnow is-mobile class="hashable block-02" :id="`${blockId(page[0])}`" :blocks="page[0].data.images_lv_live" />
		<Map is-mobile class="hashable block-03" :id="`${blockId(page[1])}`" :tabs="page[1].children" />
		<Transport is-mobile class="hashable block-04" :id="`${blockId(page[2])}`" :visitBy="page[2].data.images_lv_live" :travelWith="page[3].data.images_lv_live" />
		<LivingCosts is-mobile id="living-costs" class="hashable block-05"></LivingCosts>
		<Calendar is-mobile id="calendar" class="hashable block-06"></Calendar>
		<ColorBgImg v-bind="block07_m" id="latvia-live-registration" class="hashable block-07">
			<p class="h2">Health insurance requirements are linked to visa and residence issues.</p>
		</ColorBgImg>
		<Registration is-mobile class="hashable block-08" :id="`${blockId(page[6])}`" :tabs="page[6].children" />
		<ColorBgImg v-bind="block09" id="latvia-live-work" class="hashable block-09">
			<p class="h2">What you need to know about working during and after studies</p>
		</ColorBgImg>
		<Work is-mobile class="hashable block-10" :id="`${blockId(page[7])}`" :tabs="page[7].children" />
		<Leisure is-mobile class="hashable block-11" :id="`${blockId(page[8])}`" :leisureSlides="page[8].data.images_lv_live"></Leisure>
		<Dictionary is-mobile class="hashable block-12" :id="`${blockId(page[9])}`" :texts="page[9].children"></Dictionary>
		<ColorBgImg v-bind="block13" id="latvia-live-bookmarks" class="hashable block-13 lg-block-size">
			<p class="h2">Bookmark link bellow to always find necessary links you might need.</p>
			<NuxtLink to="/resources" class="link small-text btn btn-round btn-m btn-black">
			Learn More
			</NuxtLink>
		</ColorBgImg>
	  </div>
      <Footer></Footer>
    </div>
	</div>
</template>
<script>
import slugify from "slugify";
import { mediaLibraryUrl } from "~/plugins/helpers";
import breakpoints from "../../mixins/breakpoints";
import ColorBgImg from "../../components/partials/ColorBgImg";
import GoodToKnow from "../../components/pages/latvia/live/GoodToKnow";
import Map from "../../components/pages/latvia/live/Map";
import Transport from "../../components/pages/latvia/live/Transport";
import LivingCosts from "../../components/pages/latvia/live/LivingCosts";
import Calendar from "../../components/pages/latvia/live/Calendar";
import Registration from "../../components/pages/latvia/live/Registration";
import Work from "../../components/pages/latvia/live/Work";
import Leisure from "../../components/pages/latvia/live/Leisure";
import Dictionary from "../../components/pages/latvia/live/Dictionary";

export default {
	components: {Dictionary, Leisure, Work, Registration, Calendar, LivingCosts, Transport, Map, GoodToKnow, ColorBgImg},
  head: {
		title: 'Live in Latvia | Study In Latvia',
		meta: [
			{ charset: 'utf-8' },
			{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
			// {
			// 	hid: 'description',
			// 	name: 'description',
			// 	content: 'my website description'
			// }
		],
		link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
	},
	mixins: [breakpoints],
  	async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
		const [
			page
		] = await Promise.all([
			$axios.$get('/api/v1/content/pages/'+ route.name)
		]);
		return {
			page: page.data.blocks_nested
		}
    },
	data() {
      return {
        block01: {
            color: "#AB0132",
			img: "/images/demo/latvia/live/04.png?v=2.0",
			title: "Live in Latvia",
			fullpage: true
		},
		block07: {
			color: "#35c7fe",
			img: "/images/demo/latvia/live/01.png?v=2.0",
			title: "Medical Care & Insurance",
			right: true
		},
		block07_m: {
		color: "#38C1F8",
		img: "/images/demo/latvia/live/05.png?v=2.0",
		title: "Medical Care & Insurance",
		right: true
		},
		block09: {
			color: "#B09AC9",
			img: "/images/demo/latvia/live/02.png?v=2.0",
			title: "Work Opportunities in Latvia",
		},
		block13: {
			color: "#35C7FE",
			img: "/images/demo/latvia/live/03.png?v=2.0",
			title: "Useful Resources",
		}
      }
    },
    methods: {
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
    },
	beforeMount () {
		document.getElementsByTagName('html')[0].classList.add("overflow-vis")
	},
	beforeDestroy() {
		document.getElementsByTagName('html')[0].classList.remove("overflow-vis")
	},
	mounted() {
		console.log("page", this.page)
		console.log(this.page[8].data.images_lv_live)
    },
};
</script>
<style lang="scss" scoped>

</style>
