<template>
	<div class="latvia-why-page main-page">
		<div class="desktop">
			<Header></Header>
			<ColorBgImg v-bind="block01" id="latvia-why-intro" class="hashable block-01">
                <ScrollDownPrompt></ScrollDownPrompt>
			</ColorBgImg>
            <div class="main-content" role="main">
                <div id="latvia-why-eight-things" class="hashable block-02">
                    <svg class="mega-number" width="466" height="621" viewBox="0 0 466 621" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M466 437.827C466 371.707 422.173 325.243 364.035 299.331C410.545 273.419 445.428 231.423 445.428 173.344C445.428 73.2691 359.562 0 234.342 0C106.438 0 20.572 73.2691 20.572 173.344C20.572 231.423 55.4549 273.419 102.86 299.331C43.8273 325.243 0 371.707 0 437.827C0 545.05 93.0211 621 234.342 621C372.979 621 466 545.05 466 437.827ZM148.476 177.812C148.476 128.668 181.57 98.2878 234.342 98.2878C285.324 98.2878 317.524 128.668 317.524 177.812C317.524 223.381 285.324 251.974 234.342 251.974C181.57 251.974 148.476 223.381 148.476 177.812ZM128.798 435.147C128.798 383.322 168.154 350.262 234.342 350.262C296.952 350.262 338.99 383.322 338.99 435.147C338.99 489.652 296.952 522.712 234.342 522.712C168.154 522.712 128.798 489.652 128.798 435.147Z" fill="white"/>
                    </svg>
                    <HighlightHeader text="Eight Things~~About Latvia"></HighlightHeader>
                    <WalkingGallery :customInfinite="true" :id="`${blockId(page[0])}`" :slides="page[0].data.images" :infinite="false"></WalkingGallery>
                </div>
                <PagesLatviaWhyGlobe :id="`${blockId(page[1])}`" :content="glanceOnLatvia" class="hashable block-03"></PagesLatviaWhyGlobe>
                <ColorBgImg :id="`${blockId(page[3])}`" v-bind="block04" class="hashable block-04 md-block-size">
                    <p class="h2">{{page[3].data.body}}</p>
                    <NuxtLink :to="page[3].data.link" class="link small-text btn btn-round btn-m btn-black">
                        {{page[3].data.link_text}}
                    </NuxtLink>
                </ColorBgImg>
                <Starter class="hashable block-05" :id="`${blockId(page[4])}`" :starterTabs="page[4].children"></Starter>
                <PagesLatviaWhyBriefHistory v-if="5 == 10" class="hashable block-06"></PagesLatviaWhyBriefHistory>
                <NotablePeople class="hashable block-07" :id="`${blockId(page[5])}`" :slides="filteredSlides"></NotablePeople>
            </div>
			<Footer></Footer>
		</div>
	</div>
</template>
<script>
import slugify from "slugify";
import HighlightHeader from "../../components/assets/HighlightHeader";
import ColorBgImg from "../../components/partials/ColorBgImg";
import {convertBlock} from "~/plugins/helpers"
import WalkingGallery from "../../components/partials/WalkingGallery";
import Starter from "../../components/pages/latvia/why/Starter";
import NotablePeople from "../../components/pages/latvia/why/NotablePeople";
export default {
  components: {NotablePeople, Starter, WalkingGallery, ColorBgImg, HighlightHeader},
  head: {
		title: 'Why Latvia | Study In Latvia',
		meta: [
			{ charset: 'utf-8' },
			{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
			// {
			// 	hid: 'description',
			// 	name: 'description',
			// 	content: 'my website description'
			// }
		],
		link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
	},
  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
	const [
			page,
		] = await Promise.all([
			$axios.$get('/api/v1/content/pages/'+ route.name),
		]);
		return {
			page: page.data.blocks_nested
		}
    },
    data() {
        return {
            block01: {
                color: "#AB0132",
                img: "/images/demo/latvia/why/01.png?v=2.0",
                title: "Why Latvia?",
                fullpage: true
            },
        }
    },
    computed: {
        block04() {
            return convertBlock(this.page[3].data)
        },
        glanceOnLatvia() {
            return [
                this.page[1].data.textlist,
                this.page[2].data.textlist
            ]
        },
        filteredSlides() {
            const filteredArray = this.page[5].children.filter(obj => obj.data !== null && obj.children[0]?.data?.img);
            return filteredArray
        }
    },
	  mounted() {
    },
    methods: {
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
    }
};
</script>
<style lang="scss" scoped>

</style>
