<template>
  <div class="wrapper-md modal-wrapper">
      <transition name="fade">
        <PagesAdmissionNav
          v-if="show"
          :items="items"
          :activeAdmissionIndex="activeAdmissionIndex"
          :currentCategorySlug="currentCategorySlug"
        />
      </transition>

      <transition name="fade">
        <PagesAdmissionModal
          v-if="activeAdmissionIndex !== null"
          :admission="items[activeAdmissionIndex]"

          :currentIndex="activeAdmissionIndex"
          :maxIndex="items.length - 1"

          :currentCategorySlug="currentCategorySlug"

          @closeModal="closeModal"
          @prevModal="prevModal"
          @nextModal="nextModal"

        />
      </transition>

  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {

  data() {
    return {
      activeAdmissionData: null,
    }
  },

  computed: {
    currentCategorySlug() {
      return this.$route.params.tab || null;
    },

    items() {
      const admisionCategorySlug = this.currentCategorySlug

      if (!admisionCategorySlug) {
        return null;
      }

      let admisionCategory = this.admissions.find( i => i.slug == admisionCategorySlug);
      return admisionCategory.admissions;
    },

    show() {
      const slug = this.$route.params.slug || null;
      if (slug) {
        return true;
      }

      return false;
    },

    activeAdmissionIndex: {
      get() {
        const items = this.items;
        const slug = this.$route.params.slug || null;

        if (slug && items){
          return items.findIndex( i => i.slug == slug);
        }

        return null;
      },

      set(newVal) {

        try {
          this.$router.push({
            name: 'admission-tab-slug',
            params: {
              tab: this.currentCategorySlug,
              slug: this.items[newVal].slug,
            },
          });

          window.scrollTo(0, 0);
        } catch (e) {}
      }
    },

    selectedTab: {
      get () {
        const tab = this.$store.state.admissions.tab;

        if (this.$route.params.tab && tab === null) {
          return this.$route.params.tab
        }

        return tab;
      },
      set (newVal) {

      }
    },

    ...mapState('admissions', {
      admissions: state => state.admissions,
      loaded: state => state.loaded,
    }),
  },

  methods: {
    closeModal() {
      const admisionCategory = this.currentCategorySlug;

      this.$router.push({
        name: 'admission-tab',
        params: {
          tab: admisionCategory,
        },
      });
    },
    prevModal() {
      this.activeAdmissionIndex--;
      let cardHeader = document.querySelector('.article-image');
      if (cardHeader) {
        cardHeader.scrollIntoView(false);
      }
    },
    nextModal() {
      this.activeAdmissionIndex++;
      let cardHeader = document.querySelector('.article-image');
      if (cardHeader) {
        cardHeader.scrollIntoView(false);
      }
    },
  },
  
  mounted() {
  },
}
</script>

<style lang="scss" scoped>

.modal-wrapper {
  display: flex;

  @include mobile {
    display: block;
  }
}
</style>
