<template>
    <div class="bubbles">
        <div class="bubble-01 bubble">
            <div class="bubble-circle" data-aos-duration="300" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="0"></div>
            <div class="text" data-aos-duration="300" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="200">
                <p class="tiny-text percent">41%</p>
                <p class="small-text level">Bachelor</p>
                <h4 class="h2 count">4 760</h4>
            </div>
        </div>
        <div class="bubble-02 bubble">
            <div class="bubble-circle" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="0"></div>
            <div class="text" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="200">
                <p class="tiny-text percent">54%</p>
                <p class="small-text level">Masters</p>
                <h4 class="h2 count">6 279</h4>
            </div>
        </div>
        <div class="bubble-03 bubble">
            <div class="bubble-circle" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="0"></div>
            <div class="text" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="200">
                <p class="tiny-text percent">3%</p>
                <p class="small-text level">Doctoral</p>
                <h4 class="h2 count">305</h4>
            </div>
        </div>
        <div class="bubble-04 bubble">
            <div class="bubble-circle" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="0"></div>
            <div class="text" data-aos-duration="300" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="200">
                <p class="tiny-text percent">2%</p>
                <p class="small-text level">Colleges</p>
                <h4 class="h2 count">198</h4>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
    },
    data() {
        return {
        }
    },
    methods: {
	},
	beforeMount () {
	},
	beforeDestroy() {
	},
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.bubbles {
    position: relative;
    height: 1244px;
    overflow: hidden;
    .bubble {
        position: absolute;
        .bubble-circle {
            width: 100%;
            height: 100%;
            border-radius: 900px;
        }
        .text {
            position: absolute;
            p {
                color: $ui-contrast;
                margin-bottom: 0px;
            }
            h4 {
                line-height: 1.25rem;
            }
        }
        &.bubble-01 {
            left: -250px;
            bottom: 0px;
            width: 987px;
            height: 987px;
            .bubble-circle {
                background: linear-gradient(224.99deg, rgba(252, 184, 20, 0.09) 24.98%, rgba(252, 145, 20, 0.27) 74.98%);
            }
            .text {
                top: 143px;
                right: 70px;
                .count {
                    color: #C6802F;
                }
            }
        }
        &.bubble-02 {
            top: 0px;
            right: -480px;
            width: 1124px;
            height: 1124px;
            .bubble-circle {
                background: linear-gradient(134.31deg, rgba(241, 112, 139, 0.08) 24.63%, rgba(241, 112, 139, 0.23) 74.7%);
            }
            .text {
                top: 224px;
                left: 41px;
                .count {
                    color: #BA5864;
                }
            }
        }
        &.bubble-03 {
            left: 520px;
            top: 40px;
            width: 146px;
            height: 146px;
            .bubble-circle {
                background: linear-gradient(225.2deg, rgba(0, 174, 239, 0.07) 24.74%, rgba(0, 174, 239, 0.18) 74.91%);
            }
            .text {
                top: -23px;
                right: -17px;
                .count {
                    color: #46658B;
                }
            }
        }
        &.bubble-04 {
            left: 810px;
            top: 260px;
            width: 146px;
            height: 146px;
            .bubble-circle {
                background: linear-gradient(210.74deg, rgba(154, 195, 201, 0.16) 18.61%, rgba(154, 201, 187, 0.37) 81.35%);
            }
            .text {
                top: -25px;
                right: -30px;
                .count {
                    color: #4D8686;
                }
            }
        }
    }
    @media (max-width: 1640px) {
        .bubble {
            &.bubble-01 {
                left: -400px;
                bottom: 0px;
            }
            &.bubble-02 {
                top: 0px;
                right: -600px;
            }
            &.bubble-03 {
                left: 260px;
                top: 40px;
            }
            &.bubble-04 {
                left: 620px;
                top: 260px;
            }
        }
    }
    @media (max-width: 1269px) {
      .bubble {
        &.bubble-01 {
          left: -500px;
          bottom: 0px;
        }
        &.bubble-02 {
          top: 0px;
          right: -700px;
        }
        &.bubble-03 {
          left: 180px;
          top: 40px;
        }
        &.bubble-04 {
          left: 480px;
          top: 260px;
        }
      }
    }
    @media (max-width: 1050px) {
      .bubble {
        &.bubble-01 {
          height: 566px;
          width: 566px;
          left: calc(50% - 566px/2 - 318px);
          bottom: 500px;
        }
        &.bubble-02 {
          height: 717px;
          width: 717px;
          top: 0;
          right: calc(-50% + 716px/2 - 338px);
        }
        &.bubble-03 {
          height: 100px;
          width: 100px;
          left: 180px;
          top: 10px;
        }
        &.bubble-04 {
          height: 100px;
          width: 100px;
          left: 400px;
          top: 140px;
        }
      }
    }
  @media (max-width: 800px) {
    .bubble {
      &.bubble-01 {
        left: calc(50% - 566px/2 - 400px);
        bottom: 550px;
      }
      &.bubble-02 {
        top: 150px;
        right: calc(-50% + 716px/2 - 338px);
      }
      &.bubble-03 {
        left: 180px;
        top: 10px;
      }
      &.bubble-04 {
        left: 300px;
        top: 140px;
      }
    }
  }
  @media (max-width: 650px) {
    .bubble {
      &.bubble-01 {
        left: calc(50% - 566px/2 - 360px);
        bottom: 550px;
      }
      &.bubble-02 {
        top: 150px;
        right: calc(-50% + 716px/2 - 520px);
      }
      &.bubble-03 {
        left: 90px;
        top: 25px;
      }
      &.bubble-04 {
        left: 190px;
        top: 140px;
      }
    }
  }
  @media (max-width: 475px) {
    .bubble {
      &.bubble-01 {
        left: calc(50% - 566px/2 - 290px);
        bottom: 550px;
      }
      &.bubble-02 {
        top: 150px;
        right: calc(-50% + 716px/2 - 750px);
      }
      &.bubble-03 {
        left: 90px;
        top: 50px;
      }
      &.bubble-04 {
        left: 220px;
        top: 160px;
      }
    }
  }
}
</style>
