<template>
    <div class="countries">
        <div class="wrapper">
            <div class="text">
                <p class="small-text">2024</p>
                <p class="h1">Top Countries of Origin</p>
            </div>
        </div>
        <div class="list wrapper-md">
            <div v-for="(country,index) in countries" :key="index" class="list-item" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" :data-aos-delay="100*index">
                <div v-if="country.flag && country.flag !== 'other'" v-html="$flagEmoji(country.flag)"></div>
                <h4 :class="country.flag == 'other' ? 'other-country country-text' : 'country-text'">{{country.text}}</h4>
                <p class="small-text percent">{{country.percent}}</p>
                <p class="h2 amount">{{country.amount}}</p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        countries: Array
    },
    data() {
        return {
            
        }
    },
    methods: {
        flagToEmoji(flag) {
            let countryCode = Array.from(flag, (codeUnit) => codeUnit.codePointAt()).map(char => String.fromCharCode(char-127397).toLowerCase()).join('')
            return "<img src='https://flagcdn.com/24x18/" + countryCode + ".png?v=2.0'>"
        },
	},
	beforeMount () {
	},
	beforeDestroy() {
	},
    computed: {
    },
    mounted() {
        // const flagemojiToPNG = (flag) => {
        //     var countryCode = Array.from(flag, (codeUnit) => codeUnit.codePointAt()).map(char => String.fromCharCode(char-127397).toLowerCase()).join('')
        //     return "<img src='https://flagcdn.com/24x18/" + countryCode + ".png?v=2.0'>"
        // }
        // var reg = new RegExp('(?:\ud83c[\udde6-\uddff]){2}', 'g');
        // document.body.innerHTML = document.body.innerHTML.replaceAll(reg, flagemojiToPNG);
    }
};
</script>
<style lang="scss" scoped>
.countries {
    .wrapper {
        display: flex;
        .text {
            margin-left: auto;
            @media (max-width: 1050px) {
              margin-left: 0;
            }
            margin-right: 0px;
            width: 220px;
            .small-text {
                color: #71737D;
                margin-bottom: 5px;
                @media (max-width: 1050px) {
                  font-size: 0.75rem;
                  line-height: 100%;
                }
            }
            .h1 {
                color: $ui-contrast;
                @media (max-width: 1050px) {
                  font-size: 1.125rem;
                  line-height: 130%;
                }
            }
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        @media (max-width: 1050px) {
          margin-top: 30px;
        }
        .list-item {
            height: 104px;
            @media (max-width: 1050px) {
              height: 45px;
              margin-bottom: 20px;
            }
            display: flex;
            align-content: center;
            align-items: center;
            border-bottom: 2px solid #EDEEF1;

            .country-text {
                margin-left: 0px;
                font-size: 3.75rem;
                line-height: 3.75rem;
                @media (max-width: 1050px) {
                  font-size: 1.563rem;
                  line-height: 120%;
                }
                letter-spacing: -0.02em;
                font-weight: 600;
                color: $ui-contrast;
                &.other-country {
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    @media (max-width: 1050px) {
                      font-size: 0.938rem;
                      line-height: 100%;
                    }
                    letter-spacing: -0.01em;
                }
            }
            .percent {
                color: $ui-weak;
                margin-left: auto;
                margin-right: 10px;
                @media (max-width: 1050px) {
                  font-size: 0.75rem;
                  margin-right: 5px;
                  padding-top: 4px
                }
            }
            .amount {
                color: $ui-contrast;
                margin-right: 0px;
                @media (max-width: 1050px) {
                  font-size: 0.938rem;
                  padding-top: 4px
                }
            }
        }
    }
}
</style>
