<template>
    <div class="counter wrapper-md">
        <div class="left-text">
            <p class="small-text year-title">2024</p>
            <p class="h1 left-title">International Students</p>
        </div>
        <div v-if="isDesktop" class="right-text">
            <p class="h2 right-title">Total number of international students</p>
            <p class="small-text percent-title">16% of all students in Latvia</p>
        </div>
        <div class="svg-wrapper" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
            <client-only>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" :style="magic">
                    <defs>
                        <clipPath id="clipping">
                            <text 
                                id="counterText" 
                                text-anchor="end" 
                                :x="isDesktop ? '1029px' : $mq === 'sm' ? '295px' : '360px'" 
                                :y="isDesktop ? '300px' : '121px'" font-family="GeneralSans" 
                                :font-size="isDesktop ? '350px' : $mq === 'sm' ? '100px' : '121px'" 
                                font-weight="600"
                            >11'542</text>
                        </clipPath>
                    </defs>
                    <image
                      :width="isDesktop ? '100%' : '360px'" :height="isDesktop ? '100%' : '125px'"
                      preserveAspectRatio="xMinYMin slice"
                      xlink:href="/images/demo/higherEdu/bg.png?v=2.0"
                      clip-path="url(#clipping)"
                    />
                </svg>
            </client-only>
        </div>
        <div v-if="!isDesktop" class="right-text">
          <p class="h2 right-title has-text-left">Total Number of<br>International Students</p>
          <p class="small-text percent-title has-text-left">15% of all students in Latvia</p>
        </div>
    </div>
</template>
<script>
import breakpoints from "../../../mixins/breakpoints";

export default {
  mixins: [breakpoints],
    props: {
    },
    data() {
        return {
            //studentCountRaw: 0,
            //interval: 1,
        }
    },
    methods: {
		// isScrolledIntoView(elem) {
        //     if (process.client) {
        //         const elemTop = elem.getBoundingClientRect().top - window.innerHeight + 400
        //         const elemBottom = elemTop + 200 + window.innerHeight
        //         return ((elemTop <= 0) && (elemBottom >= 0));
        //     }
		// },
		// handleScroll() {
        //     if (process.client) {
        //         let countdownText = document.getElementById("counterText")
        //         if (this.isScrolledIntoView(countdownText) && this.studentCountRaw == 0) {
        //             this.studentCountRaw++
        //             this.finalCountdown()
        //         }
        //     }
        // },
        // finalCountdown() {
        //     if (process.client) {
        //         if (this.studentCountRaw > 10021) {
        //             this.interval = (this.interval + 3) * 1.52
        //             this.studentCountRaw++
        //         }
        //         else if (this.studentCountRaw > 10000) {
        //             this.interval = (this.interval + 1.79) * 1.045
        //             this.studentCountRaw++
        //         }
        //         else if (this.studentCountRaw > 9500) {
        //             this.interval = this.interval * 1.05
        //             this.studentCountRaw += 7
        //         }
        //         else if (this.studentCountRaw > 8500) {
        //             this.interval = this.interval * 1.005
        //             this.studentCountRaw += 21
        //         }
        //         else if (this.studentCountRaw > 7000) {
        //             this.interval = this.interval * 1.005
        //             this.studentCountRaw += 51
        //         }
        //         else {
        //             this.studentCountRaw += 121
        //         }
        //         let me = this
        //         window.setTimeout( function() {
        //             if (me.studentCountRaw < 10025) {
        //                 me.finalCountdown()
        //             }
        //         } ,me.interval)
        //     }
        //}
	},
	// beforeMount () {
    //     if (process.client) {
    //         window.addEventListener('scroll', this.handleScroll, {
    //             passive: true,
    //         });
    //     }
	// },
	// beforeDestroy() {
    //     if (process.client) {
	// 	    window.removeEventListener('scroll', this.handleScroll);
    //     }
	// },
    computed: {
        magic() {
            // let even = (this.studentCountRaw % 2 === 1);
            // return {
            //     transform: (even) ? 'translateX(-0.1px)' : 'translateX(0px)',
            // }
        },
        // studentCount() {
        //     if (this.studentCountRaw.toString().length < 4) {
        //         return this.studentCountRaw
        //     } else {
        //         return this.studentCountRaw.toString().substr(0,this.studentCountRaw.toString().length - 3) + "'" + this.studentCountRaw.toString().substr(this.studentCountRaw.toString().length - 3,this.studentCountRaw.toString().length)
        //     }
        // }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.counter {
    display: flex;
    flex-direction: column;
    .left-text,.right-text {
        .h1,.h2 {
            color: $ui-contrast;
        }
    }
    .left-text {
        margin-left: 0px;
        margin-right: auto;
        margin-bottom: 60px;
        @media (max-width: 1050px) {
          margin-bottom: -10px;
        }
        width: 220px;
        >* {
            text-align: left;
        }
        .year-title {
            color: $ui-weak;
        }
    }
    .right-text {
        margin-right: 0px;
        margin-left: auto;
        >* {
            text-align: right;
        }
        .percent-title {
            color: $ui-regular;
        }
    }
    .svg-wrapper {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 1050px) {
          justify-content: center;
          height: fit-content;
        }
        svg {
            width: 1029px;
            margin-left: auto;
            height: 350px;
            @media (max-width: 1050px) {
              width: 356px;
              max-width: 100vw;
              height: fit-content;
              margin-left: 0;
              image {
                max-width: 100vw;
              }
            }
            margin-right: 0px;
        }
    }
    #clipping {
        clip-path: url('/images/demo/higherEdu/bg.png?v=2.0');
    }
}
</style>
