<template>
  <div class="cycle-box">
    <div :class="{
      'box-header': true,
      mini
    }">
      <h4 class="h2">{{cycle.title}}</h4>
      <div class="box-header__info">
        <p v-for="(code,index) in cycle.codes" :key="index" class="tiny-text">{{code}}<span v-if="index !== cycle.codes.length -1"></span></p>
      </div>
    </div>
    <div :class="{
      'box-body': true,
      mini
    }">
      <a v-if="mini" class="box-body__learn" @click="learnMoreFunction(cycle)">
        Learn more
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.5 1.5L5 5L1.5 8.5" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <template v-else>
        <div v-for="(degree,index) in cycle.degrees" :key="index" class="degree">
          <div class="line" :class="degree.color">
          </div>
          <div class="degree-text">
            <p class="tiny-text text-year">{{degree.years}}</p>
            <p class="small-text text-desc">{{degree.text}}</p>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cycle: {
      type: Object,
      default: () => ({})
    },
    mini: {
      type: Boolean,
      default: false
    },
    learnMoreFunction: {
      type: Function,
      default: () => null
    }
  },
}
</script>

<style lang="scss" scoped>
.cycle-box {
  background-color: $white;
  border-radius: 20px;
  .box-header {
    padding: 20px 25px 20px 25px;
    border-bottom: 1px solid #F0F1F5;
    display: flex;
    &.mini {
      flex-direction: column;
      padding: 20px 15px;
      .h2 {
        margin-bottom: 10px;
      }
    }
    &__info {
      display: flex;
    }
    align-content: baseline;
    align-items: baseline;
    .h2 {
      color: $ui-contrast;
      margin-right: auto;
      @media (max-width: 1050px) {
        font-size: 0.75rem;
      }
    }
    p {
      color: $ui-weak;
      display: flex;
      align-items: center;
      align-content: center;
      span {
        margin-left: 6px;
        margin-right: 6px;
        display: inline-block;
        height: 3px;
        width: 2px;
        background-color: #ABADB8;
        border-radius: 5px;
      }
    }
  }
  .box-body {
    padding: 20px 25px 25px 25px;
    &.mini {
      font-size: 0.75rem;
      line-height: 100%;
      padding: 10px 19px 10px 15px;

      .box-body__learn {
        color: $ui-contrast;
        display: flex;
        justify-content: space-between;
      }
    }
    display: flex;
    flex-direction: column;
    .degree {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .line {
        max-width: 2px;
        flex: 0 0 2px;
        margin-right: 10px;
        &.yellow {
          background-color: #FCB814;
        }
        &.red {
          background-color: #EC1163;
        }
        &.blue {
          background-color: #35C7FE;
        }
        &.mixed {
          background: linear-gradient(180deg, #FAE4B4 22.11%, #F4AFC0 77.84%);
        }
      }
      .degree-text {
        .text-year {
          color: $ui-contrast;
          margin-bottom: 5px;
        }
        .text-desc {
          color: $ui-regular;
        }
      }
    }
  }
}
</style>
