<template>
    <div class="cycles">
        <h3 class="h1 center">Higher Education Cycles</h3>
        <p class="h5 center">Latvian higher education system is a part of the Bologna process, and follows the 3-cycle system.</p>
        <div class="scroll-wrapper">
          <div class="cycles-wrapper">
            <div class="cycles-boxes">
              <div class="col-6 cycle-1">
                <p class="tiny-text">First Cycle</p>
              </div>
              <div class="col-3 cycle-2">
                <p class="tiny-text">Second Cycle</p>
              </div>
              <div class="col-3 cycle-3">
                <p class="tiny-text">Third Cycle</p>
              </div>
              <div v-for="(cycle,index) in cycles" :key="index" :class="cycle.long ? 'col-6 long-cycle' : 'col-3'">
                <Cycle :cycle="cycle" :mini="!isDesktop" :learn-more-function="openCycleModal" />
              </div>
            </div>
            <div class="cycles-bg">
              <div class="col-6 top-left">
                <div class="bg" />
              </div>
              <div class="col-3 top-right">
                <div class="bg" />
              </div>
              <div class="col-3 right">
                <div class="bg" />
              </div>
              <div class="bottom">
                <div class="bg" />
              </div>
            </div>
          </div>
        </div>
      <b-modal v-model="cycleModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
        <modal
          hide-header
          hide-sidebar
          :content-options="{
            background: '#F5F5F6'
          }"
          :mobile-header-options="{
            title: 'Higher Education Cycle System'
          }"
          full-screen
          @close="cycleModal = false"
        >
          <div class="cycles-modal-subtitle">Higher education cycles list</div>
          <div v-for="(cycle,index) in cycles" :key="index" style="margin-bottom: 10px" :class="cycle.long ? 'col-6 long-cycle' : 'col-3'">
            <Cycle :cycle="cycle" />
          </div>
          <template #mobileFooter>
            <footer-mobile />
          </template>
        </modal>
      </b-modal>
    </div>
</template>
<script>
import breakpoints from "../../../mixins/breakpoints";
import Cycle from "./Cycle";
import Modal from "../../base/Modal";
import FooterMobile from "../../base/FooterMobile";

export default {
  components: {FooterMobile, Modal, Cycle},
  mixins: [breakpoints],
    props: {
    },
    data() {
        return {
          cycleModal: false,
            cycles: [
                {
                    title: 'Short Cycle',
                    codes: [
                        'ISCED 5',
                        'EQF 5'
                    ],
                    degrees: [
                        {
                            color: 'yellow',
                            years: '2-3 years',
                            text: 'Professional higher education programmes'
                        }
                    ]
                },
                {
                    title: 'Bachelor',
                    codes: [
                        'ISCED 6',
                        'EQF 6'
                    ],
                    degrees: [
                        {
                            color: 'yellow',
                            years: '3-4 years',
                            text: 'Academic degree'
                        },
                        {
                            color: 'yellow',
                            years: '4 years',
                            text: 'Professional degree and professional qualification'
                        }
                    ]
                },
                {
                    title: 'Master',
                    codes: [
                        'ISCED 7',
                        'EQF 7'
                    ],
                    degrees: [
                        {
                            color: 'red',
                            years: '2 years',
                            text: 'Academic degree'
                        },
                        {
                            color: 'red',
                            years: '1-2 years',
                            text: 'Professional degree and professional qualification'
                        }
                    ]
                },
                {
                    title: 'Doctor',
                    codes: [
                        'ISCED 8',
                        'EQF 8'
                    ],
                    degrees: [
                        {
                            color: 'blue',
                            years: '2-3 years',
                            text: 'Doctor’s degree'
                        }
                    ]
                },
                {
                    long: true,
                    title: 'Long Cycle',
                    codes: [
                        'ISCED 7',
                        'EQF 7'
                    ],
                    degrees: [
                        {
                            color: 'mixed',
                            years: '5-6 years',
                            text: 'Medicine, dentistry and veterinary'
                        }
                    ]
                }
            ]
        }
    },
    methods: {
      openCycleModal() {
        this.cycleModal = true
      }
	},
	beforeMount () {
	},
	beforeDestroy() {
	},
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.cycles {
    max-width: 1266px;
    flex: 0 0 1266px;
    margin-left: auto;
    margin-right: auto;
    .h1 {
        margin-bottom: 20px;
        color: $ui-contrast;
    }
    .h5 {
        color: $ui-regular;
        margin-bottom: 40px;
        width: 466px;
    }
    @media (max-width: 1050px) {
      .h1 {
        font-size: 1.125rem;
        line-height: 130%;
        margin-bottom: 5px;
      }
      .h5 {
        width: fit-content;
        font-size: 0.75rem;
        line-height: 150%;
        margin-bottom: 30px;
      }
    }
    .scroll-wrapper {
      @media (max-width: 1050px) {
        padding: 0 15px;
        overflow: auto;
      }
    }
    .cycles-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        @media (max-width: 1050px) {
          min-width: calc(200vw - 100px);
        }
        .cycles-boxes {
            display: flex;
            flex-wrap: wrap;
            z-index: 3;
            .cycle-1,.cycle-2,.cycle-3 {
                display: flex;
                justify-content: center;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 14px;
            }
            .cycle-1 {
                p {
                    color: #C6802F;
                }
            }
            .cycle-2 {
                p {
                    color: #BA5864;
                }
            }
            .cycle-3 {
                p {
                    color: #46658B;
                }
            }
            .col-3,.col-6 {
                padding-left: 8px;
                padding-right: 8px;
            }
            .long-cycle {
                margin-left: auto;
                margin-right: auto;
                margin-top: 16px;
                margin-bottom: 5px;
            }
        }
        .cycles-bg {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            .top-left,.top-right,.right {
                height: 220px;
            }
            .top-left {
                padding-right: 3px;
                .bg {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    height: 214px;
                    background: linear-gradient(180deg, rgba(252, 184, 20, 0.15) 0%, rgba(252, 184, 20, 0) 100%);
                }
            }
            .top-right {
                padding-left: 3px;
                padding-right: 3px;
                .bg {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    height: 214px;
                    background: linear-gradient(180deg, rgba(241, 112, 139, 0.17) 0%, rgba(241, 112, 139, 0) 100%);
                }
            }
            .right {
                padding-left: 3px;
                .bg {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    height: 195px;
                    background: linear-gradient(180deg, rgba(0, 174, 239, 0.15) 0%, rgba(0, 174, 239, 0) 100%);
                }
            }
            .bottom {
                padding-right: 3px;
                padding-left: 3px;
                position: absolute;
                bottom: 0px;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);
                width: 50%;
                .bg {
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    background: linear-gradient(143.98deg, rgba(244, 224, 229, 0) 45.98%, #F4E0E5 91.05%), linear-gradient(222.61deg, rgba(246, 237, 215, 0) 39.99%, #F6EDD7 71.81%);
                }
            }
        }
        .col-3 {
            max-width: 25%;
            flex: 0 0 25%;
        }
        .col-6 {
            max-width: 50%;
            flex: 0 0 50%;
        }
        .col-12 {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
  &-modal-subtitle {
    font-size: 0.75rem;
    line-height: 100%;
    color: $ui-weak;
    padding: 15px;
  }
}
</style>
