<template>
    <div class="doughnuts">
        <div class="wrapper-md" v-if="isDesktop">
            <div class="colleges">
                <HighlightHeader text="Latvian Higher~~Education in~~Figures" class="highedu-title"> </HighlightHeader>
                <div class="doughnut01">
                    <div class="center-text">
                        <h3 class="hero">24</h3>
                        <p class="h4">Colleges</p>
                    </div>
                    <div class="data-one data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                        <p class="tiny-text percent">33%</p>
                        <p class="small-text ml">8 Private</p>
                    </div>
                    <div class="data-two data" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                        <p class="tiny-text percent">67%</p>
                        <p class="small-text ml">16 State Established</p>
                    </div>
                    <Doughnut :height="178" ref="doughnut01"></Doughnut>
                </div>
            </div>
            <div class="institutions">
                <!-- <p class="small-text year-title">2022</p> -->
                <p class="h1 institutions-title">Higher Education Institutions</p>
                <div class="doughnut02">
                    <div class="center-text">
                        <h3 class="ultra">29</h3>
                        <p class="h4">Higher Education Institutions</p>
                    </div>
                    <div class="data-one data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                        <p class="tiny-text percent">7%</p>
                        <p class="small-text ml">2 Private</p>
                    </div>
                    <div class="data-two data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                        <p class="tiny-text percent">38%</p>
                        <p class="small-text ml">11 Private</p>
                    </div>
                    <div class="data-three data" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                        <p class="tiny-text percent">55%</p>
                        <p class="small-text ml">16 State Established</p>
                    </div>
                    <Doughnut :height="302" ref="doughnut02"></Doughnut>
                </div>
            </div>
        </div>
        <div v-else class="wrapper-md">
          <HighlightHeader text="Latvian Higher~~Education in~~Figures" class="highedu-title"> </HighlightHeader>

          <div class="institutions">
            <div class="institutions-subtitle">
              <p class="small-text year-title">2020</p>
              <p class="h1 institutions-title">Higher Education Institutions</p>
            </div>
            <div class="doughnut02">
              <div class="center-text">
                <h3 class="ultra">29</h3>
                <p class="h4">Higher Education Institutions</p>
              </div>
              <div class="data-one data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                <p class="tiny-text percent">7%</p>
                <p class="small-text ml">2 Private</p>
              </div>
              <div class="data-two data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                <p class="tiny-text percent">38%</p>
                <p class="small-text ml">11 Private</p>
              </div>
              <div class="data-three data" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                <p class="tiny-text percent">55%</p>
                <p class="small-text ml">16 State Established</p>
              </div>
              <Doughnut :height="318" ref="doughnut02"></Doughnut>
            </div>
          </div>

          <div class="colleges">
            <div class="doughnut01">
              <div class="center-text">
                <h3 class="hero">24</h3>
                <p class="h4">Colleges</p>
              </div>
              <div class="data-one data" data-aos-duration="400" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                <p class="tiny-text percent">33%</p>
                <p class="small-text ml">8 Private</p>
              </div>
              <div class="data-two data" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" data-aos-delay="300">
                <p class="tiny-text percent">67%</p>
                <p class="small-text ml">16 State Established</p>
              </div>
              <Doughnut :height="176" ref="doughnut01"></Doughnut>
            </div>
          </div>
        </div>
        <NuxtLink to="/partners" class="center link small-text medium btn btn-round btn-m btn-purple">
            Endorsed Partners
        </NuxtLink>
    </div>
</template>
<script>
import Doughnut from "../../partials/Doughnut";
export default {
  components: {Doughnut},
  props: {
    },
    data() {
        return {
			doughnutInView: false,
            doughnutData01: {
				labels: [
                    "16 state established",
                    "8 private"
				],
				datasets: [
					{
						label: "Visualizaciones",
						data: [16, 8],
						backgroundColor: [
                            "#5E33C1",
							"#F7931D"
						],
						borderColor: [
							"#F5F5F6",
							"#F5F5F6"
						],
						borderWidth: 7,
					},
				],
			},
			doughnutData02: {
				labels: [
				    "16 state established",
                    "11 private",
                    "11 private"
				],
				datasets: [
					{
						label: "Visualizaciones",
						data: [16,11,2],
						backgroundColor: [
							"#5E33C1",
							"#F7931D",
							"#7FC241"
						],
						borderColor: [
							"#F5F5F6",
							"#F5F5F6",
							"#F5F5F6"
						],
						borderWidth: 7,
					},
				],
			},
			doughnutOptions: {
				responsive: true,
				maintainAspectRatio: false,
				tooltips: {
					enabled: false
				},
				cutoutPercentage: 87,
				legend: false,
				hover: false,
				animation: {
					animateScale: true
				}
			},
        }
    },
    methods: {
		isScrolledIntoView(elem) {
            if (process.client) {
                const elemTop = elem.getBoundingClientRect().top - window.innerHeight
                const elemBottom = elemTop + 200 + window.innerHeight
                return ((elemTop <= 0) && (elemBottom >= 0));
            } else {
                return false
            }
		},
		handleScroll() {
			let doughnut01 = this.$refs.doughnut01
			let doughnut02 = this.$refs.doughnut02
			let doughnut01ViewPort = doughnut01.$el
			if (this.isScrolledIntoView(doughnut01ViewPort)) {
				if (this.doughnutInView) { return; }
				this.doughnutInView = true;
				doughnut01.renderChart(this.doughnutData01,this.doughnutOptions)
				doughnut02.renderChart(this.doughnutData02,this.doughnutOptions)
			} else {
				//doughnut01.renderChart(this.doughnutData01,this.doughnutOptions)
				this.doughnutInView = false;
				doughnut01.renderChart({},{})
				doughnut02.renderChart({},{})
			}
		}
	},
	beforeMount () {
        if (process.client) {
            window.addEventListener('scroll', this.handleScroll, {
                passive: true,
            });
        }
	},
	beforeDestroy() {
        if (process.client) {
		    window.removeEventListener('scroll', this.handleScroll);
        }
	},
    computed: {
      isDesktop() {
        return this.$mq !== 'sm' && this.$mq !== 'md'
      }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.doughnuts {
    display: flex;
    flex-direction: column;
    .wrapper-md {
      display: flex;
      @media (max-width: 1050px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .highedu-title {
        width: 100%;
        text-align: left;
        margin-bottom: 131px;
        @media (max-width: 1050px) {
          margin-bottom: 30px;
        }
      }
    }
    .colleges {
        max-width: 29.125rem;
        flex: 0 0 29.125rem;
        margin-right: 108px;
        @media (max-width: 1050px) {
          margin-right: 0;
          margin-top: 96px
        }
        .doughnut01 {
            height: 176px;
            max-width: 176px;
            flex: 0 0 176px;
            margin-left: auto;
            margin-right: auto;
            .data {
                &.data-one {
                    top: 27px;
                    left: -58px;
                    .percent {
                        color: #F7931D;
                    }
                }
                &.data-two {
                    top: 101px;
                    right: -85px;
                    .percent {
                        color: #5E33C1;
                    }
                }
            }
            @media (max-width: 500px) {
              width: 156px;
              .data {
                &.data-two {
                  top: 141px;
                  right: -65px;
                }
              }
            }
        }
    }
    .institutions {
        width: 100%;
        .year-title {
            color: $ui-weak;
            margin-bottom: 5px;
        }
        .institutions-title {
            margin-bottom: 96px;
            color: $ui-contrast;
            width: 302px;
            @media (max-width: 1050px) {
              margin-bottom: 45px;
              width: 150px;
              font-size: 1.125rem;
              line-height: 130%;
            }
        }
        .institutions-subtitle {
          width: fit-content;
          margin-left: auto;
        }
        .doughnut02 {
            height: 302px;
            max-width: 302px;
            flex: 0 0 302px;
            margin-left: auto;
            margin-right: auto;
            .center-text {
              .ultra {
                font-size: 120px;
              }
              .h4 {
                font-size: 19px;
              }
            }
            .data {
                &.data-one {
                    top: -30px;
                    left: 50px;
                    .percent {
                        color: #7FC241;
                    }
                }
                &.data-two {
                    top: 136px;
                    left: -64px;
                    .percent {
                        color: #F7931D;
                    }
                }
                &.data-three {
                    top: 117px;
                    right: -87px;
                    .percent {
                        color: #5E33C1;
                    }
                }
            }
            @media (max-width: 500px) {
              width: 252px;
              .data {
                &.data-one {
                  top: -10px;
                  left: 50px;
                }

                &.data-two {
                  top: 246px;
                  left: -14px;
                }

                &.data-three {
                  top: 280px;
                  right: -7px;
                }
              }
            }
        }
    }
    .doughnut01,.doughnut02 {
        position: relative;
        .data {
            position: absolute;
            width: 5rem;
            .percent {
                margin-bottom: 5px;
            }
            .small-text {
                color: $ui-contrast;
            }
        }
        canvas {
            height: 100%;
        }
        .center-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .hero,.h4 {
                color: $ui-contrast;
                width: 150px;
                text-align: center;
            }
            .hero,.ultra {
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
    .link {
        margin-top: 60px;
    }
}
</style>
