<template>
    <SideTabs v-if="isDesktop" :isMobile="false" class="rankings" :tabs="tabs"></SideTabs>
    <div v-else class="wrapper-md">
      <div class="choose-topic">
        Choose a scholarship topic
      </div>
      <a v-for="(tab, i) in tabs" :key="tab.data.slug" class="topic-button" @click="onSelectTab(i)" :id="`${blockId(tab)}`">
        {{ tab.data.label }}
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1.3335L5.66667 6.00016L1 10.6668" stroke="#24262F" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <nuxt-link to="/universities" class="btn btn-round btn-m btn-black small-text medium open-universities-list" type="submit">
        Open Universities List
      </nuxt-link>
      <b-modal v-model="tabModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
        <modal
          hide-header
          hide-sidebar
          :content-options="{
            background: '#F5F5F6'
          }"
          :mobile-header-options="{
            title: 'Rankings'
          }"
          full-screen
          @close="tabModal = false"
        >
          <SideTabs style="padding-bottom: 166px" v-model="activeTabIndex" :isMobile="true" class="info mobile" :tabs="tabs"></SideTabs>
          <template #mobileFooter>
            <footer-mobile>
              <div class="tabs-controller">
                <a @click="activeTabIndex <= 0 ? undefined : activeTabIndex--" class="tabs-controller__prev" :class="{
                  disabled: activeTabIndex <= 0
                }">
                  <svg style="transform: scaleX(-1)" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Previous
                </a>
                <a @click="tabs.length <= activeTabIndex + 1 ? undefined : activeTabIndex++" class="tabs-controller__next" :class="{
                  disabled: tabs.length <= activeTabIndex + 1
                }">
                  Next
                  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
              <nuxt-link to="/universities" class="btn btn-round btn-m btn-black small-text medium open-universities-list" style="margin-bottom: 15px" type="submit">
                Open Universities List
              </nuxt-link>
            </footer-mobile>
          </template>
        </modal>
      </b-modal>
    </div>
</template>
<script>
import slugify from "slugify";
import breakpoints from "../../../mixins/breakpoints";
import SideTabs from "../../partials/SideTabs";
import Modal from "../../base/Modal";
import FooterMobile from "../../base/FooterMobile";

export default {
  components: {FooterMobile, Modal, SideTabs},
  mixins: [breakpoints],
    props: {
        tabs: Array
    },
    data() {
        return {
          tabModal: false,
          activeTabIndex: 0
        }
    },
    methods: {
      onSelectTab(i) {
        this.activeTabIndex = i
        this.tabModal = true
      },
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
.open-universities-list {
  width: 100%;
  margin-top: 0px;
}
</style>
