<template>
    <div class="wrapper">
        <div class="sources">
            <div class="sources-header">
                <h4 class="h1">{{content.info.title}}</h4>
                <p class="h5" v-html="content.info.text"></p>
            </div>
            <div v-for="(button,index) in content.buttons" :key="index" class="box-link">
                <p class="tiny-text ml desc">{{button.info}}</p>
                <a :href="button.link_href" target="_blank" class="tiny-text">
                  {{ isDesktop ? 'Visit Link' : 'Visit Now' }}
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import breakpoints from "../../../mixins/breakpoints";

export default {
  mixins: [breakpoints],
    props: {
      content: Object
    },
    data() {
        return {

        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
.sources {
    @media (min-width: 1050px) {
      width: 578px;
    }
    .sources-header {
        display: flex;
        margin-bottom: 60px;
        @media (max-width: 1050px) {
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
        }
        .h1 {
            width: 220px;
            @media (max-width: 1050px) {
              width: 100%;
              margin-bottom: 10px;
            }
            margin-right: 26px;
            color: $ui-contrast;
        }
        .h5 {
            width: 100%;
            color: $ui-regular;
        }
    }
    .box-link {
        min-height: 40px;
        display: flex;
        align-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 10px 10px 10px 20px;
        .desc {
            color: $ui-regular;
            margin-right: auto;
        }
        a {
            height: 22px;
            display: flex;
            align-items: center;
            align-content: center;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 11px;
            border: 1px solid #EDEEF1;
            white-space: nowrap;
        }
        @media (max-width: 1050px) {
          flex-direction: column;
          padding: 20px 15px 25px;
          .desc {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          a {
            height: 40px;
            width: 100%;
            justify-content: center;
          }
        }
    }
}
</style>
