<template>
    <div class="system wrapper-md">
        <h3 class="hero center">Education System in Latvia</h3>
        <div class="boxes-wrapper">
          <div class="boxes">
              <SmallGradient v-for="(level,index) in levels" :key="index" v-bind="convert(level)" :index="index+1"></SmallGradient>
          </div>
        </div>
    </div>
</template>
<script>
import {convertBlock} from "~/plugins/helpers"
export default {
  props: {
    levels: Array
  },
  data() {
      return {
      }
  },
  methods: {
    convert(block) {
      return convertBlock(block)
    }
  },
	beforeMount () {
	},
	beforeDestroy() {
	},
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.system {
    .boxes-wrapper {
      @media (max-width: 1050px) {
        overflow-x: scroll;
      }
      .boxes {
        margin-top: 60px;
        @media (max-width: 1050px) {
          margin-top: 30px;
          padding: 0 15px;
        }
        display: flex;

        .small-gradient {
          max-width: 302px;
          flex: 0 0 302px;
          height: 302px;

          &:not(:last-child) {
            margin-right: 26px;
            @media (max-width: 1050px) {
              margin-right: 10px;
            }
          }
        }
      }
    }
}
</style>
