<template>
    <div class="brief-history">
        <div class="sticky-header">
            <h3 class="hero">Brief History</h3>
            <div class="progress-line">
                <div class="line active"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="wrapper">
          <vuescroll :ops="ops" @handle-scroll="handleScroll">
              <div class="body-slides">
                  <div v-for="(slide,index) in slides" :key="index"
                  class="slide" :class="'slide-'+index">
                      <div class="wrapper-md">
                          <transition name="fade">
                              <h4  class="slide-title center">{{slide.title}}</h4>
                          </transition>
                          <div class="left">
                              <transition name="fade">
                                  <p  class="small-text ml">{{slide.text}}</p>
                              </transition>
                          </div>
                          <div class="right">
                              <transition name="fade">
                                  <div  class="img-01">
                                      <img :src="slide.img01" alt="">
                                  </div>
                                  </transition>
                              <transition name="fade">
                                  <div  class="img-02">
                                      <img :src="slide.img02" alt="">
                                  </div>
                              </transition>
                          </div>
                      </div>
                  </div>
              </div>
          </vuescroll>
        </div>
    </div>
</template>
<script>
import vuescroll from 'vuescroll'

export default {
    components: {
        vuescroll
    },
    props: {
    },
    data() {
        return {
            slideAmount: null,
            slides: [
                {
                    title: 'Until 1918',
                    text: 'The present-day territory of Latvia and ancestors of the Latvian people have been subjects of various European powers over the centuries. In the 13th century to 1561, it was the German religious orders. Then Poland conquered the territory in 1562 and occupied it until Sweden took over the land in 1629, ruling until 1721. Then the land passed to Imperial Russia. From 1721 until 1918, the Latvians remained subjects of the Russian Tsar, although they preserved their language, customs, and folklore.',
                    img01: '/images/demo/latvia/why/brief/01.png?v=2.0',
                    img02: '/images/demo/latvia/why/brief/02.png?v=2.0',
                },
                {
                    title: '1918 – 1990',
                    text: 'The Russian Revolution of 1917 gave Latvians their opportunity for freedom, and the Republic of Latvia was proclaimed on November 18, 1918. The Republic lasted little more than 20 years. It was occupied by Russian troops in and incorporated into the Soviet Union in 1940. German armies occupied the nation from 1941 to 1944. In 1944, Russia again took control of Latvia until 1990 when the Soviet Union started to collapse.',
                    img01: '/images/demo/latvia/why/brief/01.png?v=2.0',
                    img02: '/images/demo/latvia/why/brief/02.png?v=2.0',
                },
                {
                    title: '1990 - present',
                    text: 'The present-day territory of Latvia and ancestors of the Latvian people have been subjects of various European powers over the centuries. In the 13th century to 1561, it was the German religious orders. Then Poland conquered the territory in 1562 and occupied it until Sweden took over the land in 1629, ruling until 1721. Then the land passed to Imperial Russia. From 1721 until 1918, the Latvians remained subjects of the Russian Tsar, although they preserved their language, customs, and folklore.',
                    img01: '/images/demo/latvia/why/brief/01.png?v=2.0',
                    img02: '/images/demo/latvia/why/brief/02.png?v=2.0',
                },
                {
                    title: '1990 - present',
                    text: 'The present-day territory of Latvia and ancestors of the Latvian people have been subjects of various European powers over the centuries. In the 13th century to 1561, it was the German religious orders. Then Poland conquered the territory in 1562 and occupied it until Sweden took over the land in 1629, ruling until 1721. Then the land passed to Imperial Russia. From 1721 until 1918, the Latvians remained subjects of the Russian Tsar, although they preserved their language, customs, and folklore.',
                    img01: '/images/demo/latvia/why/brief/01.png?v=2.0',
                    img02: '/images/demo/latvia/why/brief/02.png?v=2.0',
                },
                {
                    title: '1990 - present',
                    text: 'The present-day territory of Latvia and ancestors of the Latvian people have been subjects of various European powers over the centuries. In the 13th century to 1561, it was the German religious orders. Then Poland conquered the territory in 1562 and occupied it until Sweden took over the land in 1629, ruling until 1721. Then the land passed to Imperial Russia. From 1721 until 1918, the Latvians remained subjects of the Russian Tsar, although they preserved their language, customs, and folklore.',
                    img01: '/images/demo/latvia/why/brief/01.png?v=2.0',
                    img02: '/images/demo/latvia/why/brief/02.png?v=2.0',
                }
            ],
            ops: {
                vuescroll: {
                    mode: 'native',
                    sizeStrategy: 'number',
                    detectResize: false,
                    locking: true,
                    wheelDirectionReverse: true,
                    wheelScrollDuration: 300,
                },
                scrollPanel: {
                    initialScrollY: false,
                    initialScrollX: false,
                    scrollingX: true,
                    scrollingY: false,
                    speed: 300,
                    easing: undefined,
                    verticalNativeBarPos: 'right'
                }
            }
        }
    },
    methods: {
        handleScroll(vertical,horizontal,nativeEvent) {
            this.slideAmount = horizontal.scrollLeft + 200
        }
    },
    computed: {
        currentSlide() {
            if (process.client) {
                return Math.floor(this.slideAmount / window.innerWidth)
            }
        }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>

  .wrapper {
    height: 450px;
  }
  .brief-history {
      .sticky-header {
          padding-top: 140px;
          position: sticky;
          top: 0px;
          left: 0px;
          background-color: #F5F5F6;
          .hero {
              width: 205px;
              color: $ui-contrast;
              margin-bottom: 83px;
              margin-left: auto;
              margin-right: 219px;
          }
          .progress-line {
              display: flex;
              .line {
                  width: 334px;
                  margin-right: 10px;
                  height: 3px;
                  border-radius: 2px;
                  background-color: #D4DAF5;
                  transition: width 0.3s ease, margin-right 0.3s ease;
                  &.active {
                      width: 884px;
                      background: linear-gradient(#D4DAF5 0%, #5E33C1 20%);
                  }
                  &.prev {
                      width: 0px;
                      margin-right: 0px;
                  }
              }
          }
      }
      .body-slides {
          display: flex;
          flex-wrap: nowrap;
          .slide {
              width: 100vw;
              min-width: 100vw;
              padding-top: 62px;
              .wrapper-md {
                  display: flex;
                  flex-wrap: wrap;
              }
              .slide-title {
                  width: 100%;
                  font-size: 2.813rem;
                  line-height: 3.9375rem;
                  color: $ui-accent;
                  font-weight: 400;
              }
              .left {
                  padding-top: 20px;
                  .small-text {
                      width: 466px;
                  }
              }
              .right {
                  display: flex;
                  .img-01,.img-02 {
                      width: 138px;
                      min-width: 138px;
                      height: 202px;
                      min-height: 202px;
                      border-radius: 15px;
                      overflow: hidden;
                  }
                  .img-01 {
                      margin-top: 112px;
                      margin-left: 190px;
                  }
                  .img-02 {
                      margin-left: 108px;
                  }
              }
          }
      }
      @media (max-width: 600px) {
          .body-slides {
              .slide {
                  .right {
                      margin-top: 30px;
                      justify-content: center;
                      .img-01,.img-02,.img-03 {
                          margin-left: 50px;
                      }
                  }
              }
          }
      }
  }
</style>
