<template>
    <div class="globe">
        <h3 class="hero center display-on-mob">Glance on Latvia</h3>
        <div class="left">
            <img src="/images/demo/latvia/why/globe.svg" alt="world map globe Latvia">
        </div>
        <div class="right">
            <h3 class="hero center">Glance on Latvia</h3>
            <div class="row">
                <div class="col-1 col">
                    <div v-for="(textBlock,index) in content[0]" :key="index" v-html="textBlock.text" class="text-block" :class="[{'text-block-1' : index == 1 || index == 4}, {'text-block-2' : index == 2 || index == 3}]">

                    </div>
                </div>
                <div v-if="isDesktop" class="col-2 col">
                    <div v-for="(textBlock,index) in content[1]" :key="index" v-html="textBlock.text" class="text-block">

                    </div>
                </div>
            </div>
            <div v-if="!isDesktop" class="row">
             
                <div v-if="openMore" class="col col-1">
                    <div v-for="(textBlock,index) in content[1]" :key="index" v-html="textBlock.text" class="text-block">

                    </div>
                </div>

            </div>
            <div v-if="!isDesktop" class="row">
                <button class="btn btn-round btn-m btn-transparent tiny-text" style="width: 100%; margin-top: 20px" @click="loadMore">
                    <p v-if="!openMore" class="tiny-text">
                        View more facts about Latvia
                    </p>
                    <p v-else class="tiny-text">
                        View less facts about Latvia
                    </p>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        content: Array
    },
    data() {
        return {
            openMore: false,
        }
    },
    methods: {
        loadMore() {
            this.openMore = !this.openMore
        }
    },
    computed: {
      isDesktop() {
        return this.$mq !== 'sm' && this.$mq !== 'md'
      }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .globe {
        display: flex;
        .display-on-mob {
            display: none;
        }
        .left {
            max-width: 600px;
            flex: 0 0 600px;
        }
        .right {
            margin-left: auto;
            margin-right: auto;
            .hero {
                margin-top: 64px;
                margin-bottom: 60px;
                width: 332px;
                color: $ui-contrast;
            }
            .row {
                display: flex;
                .col {
                    display: flex;
                    flex-direction: column;
                    .tiny-text {
                        color: $ui-contrast;
                        margin-bottom: 5px;
                    }
                    .small-text {
                        color: $ui-regular;
                    }
                    &.col-1 {
                        margin-right: 66px;
                        max-width: 275px;
                        flex: 0 0 275px;
                        .text-block {
                            &:not(:last-child) {
                                margin-bottom: 60px;
                            }
                            &.text-block-1 {
                                margin-left: 45px;
                            }
                            &.text-block-2 {
                                margin-left: 70px;
                            }
                        }
                    }
                    &.col-2 {
                        padding-top: 90px;
                        .text-block {
                            width: 302px;
                            &:not(:last-child) {
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1260px) {
            .right {
                .row {
                    .col {
                        &.col-2 {
                            padding-top: 0px;
                            justify-content: center;
                            .text-block {
                                width: 100%;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1160px) {
            .right {
                .row {
                    .col {
                        &.col-1 {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        @media (max-width: 1090px) {
            .left {
                max-width: 500px;
                flex: 0 0 500px;
                margin-top: 63px;
            }
        }
        @media (max-width: 990px) {
            .left {
                max-width: 400px;
                flex: 0 0 400px;
                margin-top: 146px;
            }
        }
        @media (max-width: 880px) {
            .display-on-mob {
                display: block;
                margin-bottom: 20px;
                width: 270px;
            }
            flex-wrap: wrap;
            .left {
                max-width: 100%;
                flex: 0 0 100%;
                margin-top: 0px;
            }
            .right {
                .hero.center {
                    display: none;
                }
                max-width: 100%;
                flex: 0 0 100%;
                padding-left: 15px;
                padding-right: 15px;
                .row {
                    .col {
                        &.col-1 {
                            .text-block {
                                &.text-block-1,&.text-block-2 {
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 560px) {
            .display-on-mob {
                width: 150px;
            }
            .left {
                padding-right: 25px;
            }
            .right {
                .row {
                    .col {
                        &.col-1 {
                            padding-top: 30px;
                            max-width: 100%;
                            flex: 0 0 100%;
                            .text-block {
                                &:not(:last-child) {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        &.col-2 {
                            display: none;
                        }
                    }
                }
            }
        }
    }
</style>
