<template>
    <div class="notable-people">
        <h3 class="hero center">Notable Latvians</h3>
        <div class="carousel-wrapper">

            <VueSlickCarousel
            ref="notableGallery"
            @afterChange="handleAfterChange"
            v-bind="slickOptions">
            <div class="slide" v-for="(slide, index) in slides"
            :key="index">
                <div class="slide-wrapper">
                    <ColorBgImg v-bind="convert(slide.children[0].data)">
                        <p class="h2">{{slide.children[0].data.body}}</p>
                        <div class="carousel-controls">
                            <p v-if="isDesktop" class="tiny-text">{{currentSlide}} / {{slides.length}}</p>
                            <div class="prev-btn" @click.prevent="prevSlide" tabindex="0" @keyup.enter="prevSlide">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 6.00016H1M8.33333 1.3335L13 6.00016L8.33333 1.3335ZM13 6.00016L8.33333 10.6668L13 6.00016Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                            <div class="next-btn" @click.prevent="nextSlide" tabindex="0" @keyup.enter="nextSlide">
                              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 6.00016H1M8.33333 1.3335L13 6.00016L8.33333 1.3335ZM13 6.00016L8.33333 10.6668L13 6.00016Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                        </div>
                    </ColorBgImg>
                </div>
            </div>
            </VueSlickCarousel>
        </div>
    </div>
</template>
<script>
import {convertBlock} from "~/plugins/helpers"
export default {
    props: {
        slides: Array
    },
    data() {
        return {
            currentSlide: 1,
            slickOptions: {
                arrows: false,
                infinite: true,
                pauseOnHover: true,
                dots: false,
                autoplay: false,
                slidesToShow: 1,
                variableWidth: false,
            },
       
        }
    },
    methods: {
        prevSlide() {
            this.$refs.notableGallery.prev()
        },
        nextSlide() {
            this.$refs.notableGallery.next()
        },
        handleAfterChange(slideIndex) {
            this.currentSlide = slideIndex +1
        },
        convert(block) {
            return convertBlock(block)
        }
    },
    computed: {
        activeSlide() {
            return this.slides[this.currentSlide]
        },
        isDesktop() {
            return this.$mq !== 'md' && this.$mq !== 'sm'
        }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .notable-people {
        .hero {
            width: 406px;
            color: $ui-contrast;
            margin-bottom: 60px;
        }
    }
</style>
