<template>
    <div class="starter">
        <h3 class="hero center">Latvia’s Starter Pack</h3>
        <b-tabs horizontal class="tabs-wrapper tabs-round" v-model="activeTabIndex" @input="change">
            <b-tab-item
            v-for="(tab, index) in starterTabs"
            :key="index"
            class="tab"
            >
            <template #header>
                <button :class="{'white' : activeTabIndex == index}" >{{tab.data.label}}</button>
            </template>
                <WalkingGallery :customInfinite="true" :infinite="false" :slides="tab.children[0].data.images" :ref="tab.data.slug + 'Gallery'"></WalkingGallery>
            </b-tab-item>
        </b-tabs>
    </div>
</template>
<script>
export default {
    props: {
        starterTabs: Array
    },
    data() {
        return {
            activeTabIndex: 0,
            
        }
    },
    methods: {
        change(index) {
            let slug = this.starterTabs[index].data.slug
            this.$refs[slug+"Gallery"][0].$refs.walkingGallery.goTo(0);
        },
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .starter {

    }
</style>
