<template>
  <div v-if="block.data.images.length === 1" class="inner-block single">
    <img :src="media(block.data.images[0].file)" :alt="block.data.images[0].caption" />
    <div class="caption" v-if="block.data.images[0].caption" v-html="block.data.images[0].caption" />
  </div>

  <div class="inner-block multiple" v-else>

      <VueSlickCarousel
        class="big-carousel news-gallery-carousel"
        ref="c1"
        :asNavFor="c2"
        v-bind="carouselSettings.c1">

        <div v-for="(image, i) in block.data.images" :key="i" class="slide">
          <img :src="media(image.file)" :alt="image.caption" style="margin: auto;">
          <div class="caption" v-if="image.caption" >
            {{image.caption}}
          </div>
        </div>

      </VueSlickCarousel>

      <VueSlickCarousel
        v-show="isDesktop"
        class="small-carousel news-gallery-carousel"
        ref="c2"
        :asNavFor="c1"
        v-bind="carouselSettings.c2">

        <div v-for="(image, i) in block.data.images" :key="i">
          <img :src="media(image.file)" :alt="image.caption">
        </div>
      </VueSlickCarousel>


      <div v-if="block.data.caption" style="margin-top: 42px;" class="caption" v-html="block.data.caption" />
  </div>
</template>

<script>

import {mediaLibraryUrl} from "~/plugins/helpers"

import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {

  props: {
    block: Object,
  },

  data() {
    return {
      id: "joks",
      c1: undefined,
      c2: undefined,
    }
  },

  computed: {
    isDesktop() {
      return this.$mq !== 'sm';
      // return this.innerWidth > 1024
    },
    carouselSettings () {
      return {
        c1: {
          focusOnSelect: true,
          arrows: false,
          // swipe: true,
          slidesToShow: 1,
          infinite: false,
          variableWidth: false,
          edgeFriction: 0.35,
          adaptiveHeight: true,
          "responsive": [
            {
              "breakpoint": 800,
              "settings": {
                focusOnSelect: true,
                arrows: true,
                // swipe: true,
                infinite: false,
                variableWidth: false,
                slidesToShow: 1,
                edgeFriction: 0.35,
                adaptiveHeight: true,
              }
            }
          ]
        },
        c2: {
          slidesToShow: 1,
          variableWidth: true,
          focusOnSelect: true,
          arrows: false,
          infinite: false,
          dots: true,
          dotsClass: "slick-dots custom-dot-class",
        }
      }
    },
  },

  methods: {
    media(path) {
      const url = mediaLibraryUrl(path);

      return this.$statically(url, 600);
    }
  },

  mounted() {
    try {
      this.$nextTick(() => {
        this.c1 = this.$refs.c1;
        this.c2 = this.$refs.c2;
      })
    } catch (error) {
    }
  },

}
</script>

<style lang="scss" scoped>
.inner-block {
  overflow: hidden;
}
img {
  pointer-events: none;
}

.news-gallery-carousel {
  &::v-deep .slick-arrow.slick-next {
    right: 0;
  }
  &::v-deep .slick-arrow.slick-prev {
    left: 0;
  }
}
</style>
