<template>
  <div class="news-single-page" role="main">
    <Header v-if="isDesktop" logo-color="#292D3D"></Header>

    <div v-else class="modal-mobile-header">
      <button class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box" @click="$router.go(-1)">
        <img src="/images/icons/chevron-left.svg" alt="">
      </button>

      <div class="modal-mobile-header__title ellipsize">
        {{ post.title }}
      </div>

      <button class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box" @click="isNewsModalActive = true">
        <svg width="4" height="12" viewBox="0 0 4 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.00065 1.33333V1.34V1.33333ZM2.00065 6V6.00667V6ZM2.00065 10.6667V10.6733V10.6667ZM2.00065 2C1.82384 2 1.65427 1.92976 1.52925 1.80474C1.40422 1.67971 1.33398 1.51015 1.33398 1.33333C1.33398 1.15652 1.40422 0.986954 1.52925 0.86193C1.65427 0.736906 1.82384 0.666668 2.00065 0.666668C2.17746 0.666668 2.34703 0.736906 2.47206 0.86193C2.59708 0.986954 2.66732 1.15652 2.66732 1.33333C2.66732 1.51015 2.59708 1.67971 2.47206 1.80474C2.34703 1.92976 2.17746 2 2.00065 2ZM2.00065 6.66667C1.82384 6.66667 1.65427 6.59643 1.52925 6.47141C1.40422 6.34638 1.33398 6.17681 1.33398 6C1.33398 5.82319 1.40422 5.65362 1.52925 5.5286C1.65427 5.40357 1.82384 5.33333 2.00065 5.33333C2.17746 5.33333 2.34703 5.40357 2.47206 5.5286C2.59708 5.65362 2.66732 5.82319 2.66732 6C2.66732 6.17681 2.59708 6.34638 2.47206 6.47141C2.34703 6.59643 2.17746 6.66667 2.00065 6.66667ZM2.00065 11.3333C1.82384 11.3333 1.65427 11.2631 1.52925 11.1381C1.40422 11.013 1.33398 10.8435 1.33398 10.6667C1.33398 10.4899 1.40422 10.3203 1.52925 10.1953C1.65427 10.0702 1.82384 10 2.00065 10C2.17746 10 2.34703 10.0702 2.47206 10.1953C2.59708 10.3203 2.66732 10.4899 2.66732 10.6667C2.66732 10.8435 2.59708 11.013 2.47206 11.1381C2.34703 11.2631 2.17746 11.3333 2.00065 11.3333Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="container" :style="{
      paddingTop: isDesktop ? '150px' : ''
    }">
      <div class="columns is-tablet is-centered">
        <div class="column is-8">
          <div class="news-single__image has-text-centered" style="position: relative">

            <b-image
              class="article-image"
              :src="$statically(post.image, 1000)"
              :alt="post.title"
              :ratio="(isDesktop) ? '16by9' : '1by1'"
            >
              <template #placeholder>
                <b-skeleton height="100%" />
              </template>
            </b-image>

            <button v-if="isDesktop" class="btn btn-transparent btn-round contrast--text" style="padding: 13px 20px; position: absolute; top: 60px; left: -168px" @click="$router.go(-1)">
              <img style="margin-right: 12px;" src="/images/icons/chevron-left.svg" alt="">
              <span style="font-weight: 500; font-size: 0.75rem;">Back</span>
            </button>

          </div>

          <div class="news-single-content">
            <div class="news-single-content-info">
              <div class="news-single-content-info-data">

                <div class="news-single-content-info-data__categories">
                  {{ _safeGet(post, 'category.title') }}
                </div>

                <div class="news-single-content-info-data__date">
                  Published on {{ $dayjs(post.published_at).format('DD.MM.YYYY') }}
                  <template v-if="$dayjs(post.updated_at).isAfter($dayjs(post.published_at), 'day')">
                    <img height="7" width="9" src="/images/icons/arrow-right.svg" alt="Arrow right">
                    Updated on {{ $dayjs(post.updated_at).format('DD.MM.YYYY') }}
                  </template>
                </div>

                <div v-if="type === 'events'" class="news-single-content-info-data__location-time">
                  <PagesNewsEventTime :event="post" />
                  <PagesNewsEventLocation :event="post" />
                </div>

                <div v-if="type === 'student-testimonials' || type === 'experience-stories'" class="news-single-content-info-data__default">
                  <div>
                    {{post.name}} {{post.surname}} from {{ post.country.title }}&nbsp;<Flag v-if="post.country" :country="post.country" />
                  </div>
                </div>

                <div v-if="post.university" class="news-single-content-info-data__default">
                  <span v-if="post.study_text">
                    {{post.study_text}} at
                  </span>
                  <nuxt-link :to="{name: 'universities-slug', params: { slug: post.university.slug }}"> {{post.university.title}} </nuxt-link>
                </div>

                <div v-else-if="post.study_text" class="news-single-content-info-data__default">
                  <span>
                    {{post.study_text}}
                  </span>
                </div>

              </div>

              <div v-if="isDesktop" class="news-single-content-info__buttons">

                <button class="btn btn-round btn-m btn-white no-border pa-0" style="margin-right: 10px" @click="print">
                  <img src="/images/icons/print-accent.svg" alt="Print">
                </button>

                <ShareButton
                  style="margin-left: 7px"
                  :title="post.title"
                  :description="post.tmp_meta_description"
                />

              </div>

            </div>

            <div class="news-single-content__title">
              {{ post.title }}
            </div>



            <div class="news-single-content__tags" v-if="post.tags && post.tags.length > 0">
              <SingleTag v-for="tag in post.tags" :key="tag.id" v-bind="tag" class="news-single-content__tags-tag"/>
            </div>

            <div class="news-single-content__tags" v-if="type === 'student-testimonials'">
              <SingleTag title="Student Testimonials" class="news-single-content__tags-tag"/>
            </div>

            <div class="news-single-content__tags" v-if="type === 'experience-stories'">
              <SingleTag title="Experience Stories" class="news-single-content__tags-tag"/>
            </div>

            <div v-if="type === 'events' && post.organizer" class="news-single-organizers">
              <div class="news-single-organizers__label">
                Event Organizer
              </div>
              <div class="news-single-organizers__organizers">
                {{ post.organizer }}
              </div>
            </div>

            <intersect v-if="type === 'events' && post.register_link" @enter="showFixedRegister = false" @leave="showFixedRegister = true">
              <div class="news-single__register">
                <Register :title="post.register_text" :link="post.register_link" />
              </div>
            </intersect>

            <div class="news-single-content-block" v-for="(block, i) in post.blocks_nested" :class="block.type" :key="block.id">

              <template v-if="block.type === 'subheadingblock'">
                <h2 v-html="block.data.title" />
              </template>

              <template v-else-if="block.type === 'paragraphblock'">
                <div v-html="block.data.text" />
              </template>

              <template v-else-if="block.type === 'galleryblock'">
                <GalleryBlock :block="block" />
              </template>

              <template v-else-if="block.type === 'quoteblock'">
                <h2 class="accent--text has-text-centered" v-html="`“${block.data.text}”`" />
                <div class="caption" v-html="block.data.author" />
              </template>

              <template v-else-if="block.type === 'attachmentblock'">
                <!-- <File v-for="(file, i) in block.data.files" :key="i" v-bind="file" /> -->
                <File v-for="(file, i) in block.data.images" :key="i" v-bind="file" />
              </template>


              <template v-else-if="block.type === 'videoblock'">
                <video controls width="100%" style="border-radius: 20px">
                  <source :src="block.data.link">
                </video>
                <div class="caption" v-html="block.data.caption" />
              </template>

            </div>

            <div class="news-single-content-block single-video" v-if="post.video">
              <video controls width="100%" style="border-radius: 20px">
                <source :src="post.video.path">
              </video>
              <!-- <div class="caption" v-html="block.data.caption" /> -->
            </div>

          </div>
        </div>
      </div>
    </div>

    <Register
      v-if="isDesktop && type === 'events' && post.register_link"
      :class="{
        hide: !showFixedRegister
      }"
      :title="post.register_text"
      :link="post.register_link"
      fixed
    />

    <b-modal v-else v-model="isNewsModalActive" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
      <modal
        hide-header
        hide-sidebar
        :content-options="{
            background: '#F5F5F6'
          }"
        :mobile-header-options="{
            title: 'oldPost options'
          }"
        full-screen
        @close="isNewsModalActive = false"
      >
        <div style="font-size: 12px; line-height: 100%; color: #71737D; margin: 15px 20px">
          Share options
        </div>
        <div class="card is-shadowless" style="border-radius: 25px;">
          <div style="padding: 20px 15px; ">
            <div style="display: flex; align-items: center; font-weight: 500; font-size: 0.75rem;line-height: 100%;letter-spacing: 0.02em; text-transform: uppercase; color: #24262F;margin-bottom: 15px">
              <img style="margin-right: 7px" src="/images/icons/share.svg" alt="" />
              POST URL
            </div>
            <div>
              <Copyable :link="thisPagelink" />
            </div>
          </div>

          <hr class="solid my-0" />

          <div style="padding: 20px 15px; ">
            <div style="display: flex; align-items: center; font-weight: 500; font-size: 0.75rem;line-height: 100%;letter-spacing: 0.02em; text-transform: uppercase; color: #24262F;margin-bottom: 15px">
              <img style="margin-right: 7px" src="/images/icons/social.svg" alt="" />
              SOCIAL SHARE
            </div>

            <ShareButton
              style="margin-left: 7px"
              :title="post.title"
              :description="post.tmp_meta_description"
              as-buttons
            />
            <!-- <button class="btn btn-white btn-round" style="width: 100%; padding: 12px">
              <img src="/images/icons/fb.png?v=2.0" alt="Twitter" style="margin-right: 5px" /> Share on Twitter
            </button> -->
          </div>
        </div>
        <!-- <template #mobileFooter>
          <div style="padding: 15px;">
            <a :href="post.register_link" target="_blank" class="btn btn-round btn-m btn-success small-text" style="color: white; width: 100%">
              Register Now <img style="margin-left: 8px" src="/images/icons/external-link.svg" alt="" />
            </a>
          </div>
        </template> -->
      </modal>
    </b-modal>

    <Footer></Footer>
  </div>
</template>

<script>

import globalMixin   from '~/mixins/global.js'

import Header        from "~/components/base/Header";
import File          from "~/components/pages/news/File";

import Register      from "~/components/pages/news/Register";
import Intersect     from 'vue-intersect'
import ModalHeader   from "~/components/base/ModalHeader";
import Modal         from "~/components/base/Modal";
import Copyable      from "~/components/partials/Copyable";

import SingleTag     from '~/components/pages/news/SingleTag'

import GalleryBlock  from "~/components/pages/news/Blocks/GalleryBlock";
import Flag          from "~/components/partials/Flag";
import ShareButton   from "~/components/partials/ShareButton";

import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: {Flag, GalleryBlock, Copyable, Modal, ModalHeader, Register, File, Header, Intersect, SingleTag, ShareButton},

  mixins: [ globalMixin ],

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const slug    = params.slug;
    const tabSlug = params.tab;

    const [
      post,
    ] = await Promise.all([
      $axios.$get(`/api/v1/news/${tabSlug}/${slug}`),
    ]);


    // if (!post.data) {
    //   return error('Page not found', 404);
    // }

    return {
      post: post.data,
      type: tabSlug,
    }
  },

  data() {
    return {
      demo: 'oldpost',
      innerWidth: 0,
      showFixedRegister: false,
      isNewsModalActive: false,
      oldpost: {
        type: Object,
        default: () => ({
          img: 'https://picsum.photos/1920/1080',
          categories: ['Admission', 'Vairākas'],
          published: '11.07.2021.',
          updated: '19.07.2021',
          title: 'Molestie id volutpat est rhoncus felis ipsum mattis amet cursus.',
          tags: ['Updated', 'Birka'],
          duration: 'Septober 33 – Junember 44',
          location: 'Bruņinieku st 313, Riga, Latvia',
          author: 'Loopa Poopa from Canada 🇨🇦',
          studies: 'Studies Bachelor Interior Design at <a>University of Latvia</a>',
          organizers: 'SIA “Lil Eventz”, ZillaKami & SosMula, City Morgue',
          register: {
            description: 'Something simple and short about event.',
            link: 'https://lu.lv'
          },
          blocks: [
            { type: 'subheadingblock', data: { text: 'This is simple subheading! It should be around two or three text lines so it doesn’t feels too massive.' } },
            { type: 'paragraphblock', data: { text: 'Volutpat nam vulputate vel cras amet, risus neque gravida. Purus id non enim eu orci augue fames pellentesque cursus. Mi interdum sodales purus volutpat eget scelerisque. Auctor id rutrum ac faucibus et quis dignissim. Morbi lectus nibh morbi fermentum. Lectus tortor, aenean augue risus, nullam. Vel donec quis morbi lectus. Aenean leo purus nulla diam. Ante ut egestas cras platea. Accumsan tellus neque, quis duis pharetra, tincidunt. Tempus elementum vitae arcu mollis a ullamcorper quis. Amet non aenean nibh ut sagittis urna congue eu nibh. Sed nulla orci tortor imperdiet sit mus placerat vitae aenean. Magna feugiat sed velit tincidunt mollis elementum eget tincidunt. Justo, faucibus lacus maecenas rutrum aliquet. Lectus pellentesque felis suscipit et tellus ut mauris sed mauris. Feugiat integer risus adipiscing tristique iaculis ipsum pharetra.' } },
            { type: 'imageblock', data: { caption: 'Image Author\'s Name', link: 'https://picsum.photos/794/490' } },
            { type: 'paragraphblock', data: { text: 'Magna tempus lorem sed ultrices eleifend nulla. Etiam tristique id vestibulum enim, elementum laoreet sed nisl. Facilisis consectetur gravida gravida adipiscing enim etiam arcu velit magna. Pretium risus etiam neque dignissim. Mauris blandit vel vitae eu euismod nam nibh. Quam adipiscing augue dictumst consectetur nisl risus elementum.' } },
            { type: 'quoteblock', data: { caption: 'Quote\'s/Testimonial\'s Author', text: 'Massa lorem in vulputate velit laoreet platea tincidunt amet. Volutpat mattis senectus urna in enim. Urna, elit pharetra aliquet et feugiat id.' } },
            { type: 'paragraphblock', data: { text: 'Commodo at platea sed et ut. <a>Et sapien arcu purus mattis</a> enim metus, viverra quisque amet. Sit fames habitant pretium tempor, et quam vestibulum. Viverra senectus dictum orci in arcu. Lorem in mi proin odio duis quis lectus odio. Arcu nisl blandit tortor vel viverra enim, auctor ut. Id quisque auctor blandit commodo, sit quam duis est. Id mauris quis varius in congue aliquam at. This is gonna be an external link example, leo, urna odio semper lobortis. Consequat nunc lorem sollicitudin sit. Bibendum velit sollicitudin mauris laoreet nulla. Lorem nunc nisi, nec et, sapien. Curabitur mi, nec quis orci non. Dui viverra vestibulum suscipit euismod. Pulvinar et pellentesque diam tellus risus vel. Vestibulum quis arcu leo aliquam tortor massa duis tellus. Et mauris dapibus et sagittis nunc non sit non. And this link has been already pressed elit morbi sed id id. Dictum ipsum ac nibh aliquam. Egestas nec pharetra cursus lacus nibh pellentesque consequat donec.' } },
            { type: 'filesblock', data: { files: [ {title: 'Short document title that works as description also', filename: 'cursed_filename_666.exe'}, {title: 'Never open this file or you will be cursed for life', filename: 'diis_pater_vi18.rom'} ] } },
            { type: 'subheadingblock', data: { text: 'This is simple subheading! It should be around two or three text lines so it doesn’t feels too massive.' } },
            { type: 'paragraphblock', data: { text: 'Magna tempus lorem sed ultrices eleifend nulla. Etiam tristique id vestibulum enim, elementum laoreet sed nisl. Facilisis consectetur gravida gravida adipiscing enim etiam arcu velit magna. Pretium risus etiam neque dignissim. Mauris blandit vel vitae eu euismod nam nibh. Quam adipiscing augue dictumst consectetur nisl risus elementum.' } },
            { type: 'galleryblock', data: { caption: 'Gallery\'s or Current Image Author\'s Name', images: [ {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'}, {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'}, {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'}, {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'}, {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'}, {caption: 'Gallery\'s or Current Image Author\'s Name', link: 'https://picsum.photos/794/490'} ] } },
            { type: 'subheadingblock', data: { text: 'This is simple subheading! It should be around two or three text lines so it doesn’t feels too massive.' } },
            { type: 'paragraphblock', data: { text: 'Magna tempus lorem sed ultrices eleifend nulla. Etiam tristique id vestibulum enim, elementum laoreet sed nisl. Facilisis consectetur gravida gravida adipiscing enim etiam arcu velit magna. Pretium risus etiam neque dignissim. Mauris blandit vel vitae eu euismod nam nibh. Quam adipiscing augue dictumst consectetur nisl risus elementum.' } },
            { type: 'videoblock', data: { caption: 'Video Author’s Name', link: 'https://www.youtube.com/embed/7nQ2oiVqKHw' } },
          ]
        })
      }
    }
  },

  head() {

    const description = this.post.tmp_meta_description || '';
    const imageUrl = this.$statically(this.post.image, 1200, 628);

    return {
      title: this.post.title,
      htmlAttrs: {
        lang: 'en'
      },
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: description
        },

        ...this.$socialHelper.getSocialMeta(this.post.title, description, imageUrl),
      ]
    }
  },

  mounted() {
    if (process.client) {
      this.demo = this.$route.query.demo
      this.innerWidth = window.innerWidth;
      window.onresize = () => {
        this.innerWidth = window.innerWidth;
      }
    }
  },

  computed: {
    isDesktop() {
      return this.innerWidth > 1024
    },

    thisPagelink() {
      if (process.client){
        return window.location.href;
      }

      return '';
    }
  },

  methods: {
    print() {
      if (process.client){
        window.print();
        return false;
      }
    }
  },

  beforeMount () {
		document.getElementsByTagName( 'html' )[0].classList.add("always-bg-header")
	},
}
</script>

<style lang="scss" scoped>
  .single-video {

    @include tablet {
      height: 400px;

      video {
        width: 100%;
        background-color: #000;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  @include mobile {
    .news-single-page .container .columns {
      margin: 0 !important;
    }
  }
</style>
