<template>
  <form
    class="ext-search ext-search-no-level"
    :class="[{ open: searching }, overflow ? 'overflow-visible' : 'overflow-hidden']"
    @mouseenter="preventBlurOut"
    @mouseleave="activateBlurOut"
    @submit.prevent="doSearch"
  >
    <label for="ext-search-input">
      <img src="/images/icons/search.svg" alt="" />
      <input
        placeholder="Study Programme..."
        @focus="openSearch"
        @blur="closeSearch"
        class="search-field"
        type="text"
        ref="search"
        id="ext-search-input"
        v-model="models.query"
        @keyup.tab="preventBlurOut"
        @click="overflow = false"
        role="search"
      />
    </label>


    <b-button
      class="search-btn btn btn-round btn-m btn-black small-text medium"
      :loading="isLoading"
      native-type="submit"
    >
      <p class="is-hidden-mobile">
      Find Now
      </p>
      <svg class="is-hidden-tablet" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 13L9 9L13 13ZM10.3333 5.66667C10.3333 6.2795 10.2126 6.88634 9.97811 7.45252C9.74358 8.01871 9.39984 8.53316 8.9665 8.9665C8.53316 9.39984 8.01871 9.74358 7.45252 9.97811C6.88634 10.2126 6.2795 10.3333 5.66667 10.3333C5.05383 10.3333 4.447 10.2126 3.88081 9.97811C3.31462 9.74358 2.80018 9.39984 2.36683 8.9665C1.93349 8.53316 1.58975 8.01871 1.35523 7.45252C1.12071 6.88634 1 6.2795 1 5.66667C1 4.42899 1.49167 3.242 2.36683 2.36683C3.242 1.49167 4.42899 1 5.66667 1C6.90434 1 8.09133 1.49167 8.9665 2.36683C9.84167 3.242 10.3333 4.42899 10.3333 5.66667Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </b-button>
  </form>
</template>
<script>
export default {
  props: {
    dropdownValues: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      searching: false,
      exitHoverDelay: false,
      overflow: false,
      models: {
        query: null,
        filter: null,
      },
      isLoading: false,
    };
  },
  methods: {
    openSearch() {
      this.searching = true;

    },
    closeSearch() {
      if (!this.exitHoverDelay) {
        this.searching = false;
      }
    },
    preventBlurOut() {
      this.exitHoverDelay = true;
    },
    activateBlurOut() {
      this.exitHoverDelay = false;
    },
    clickOutOfSearch() {
      this.$refs['search'].focus();
    },
    doSearch() {
      let query = {
        q: this.models.query,
      }

      this.isLoading = true;

      this.$router.push({
        name: 'studies-slug',
        query: query,
      })
    },
    overflowVisibility() {
      let dropdown = document.querySelector(".search-dropdown");
      if (dropdown.classList.contains('is-active')) {
        this.overflow = true;
      } else {
        this.overflow = false;
      }
    },
  },
  computed: {
    activeFilterTitle() {
      if (this.models.filter) {
        return this.models.filter.title;
      }
      if (this.dropdownValues) {
        return this.dropdownValues[0].title;
      }
      return null;
    },
    btnDisabled() {
      if (!this.models.query) {
        return true;
      }

      return !(this.models.query.length > 0);
    }
  },
  mounted() {
  },
};
</script>
<style lang="scss" scoped>
.ext-search {
  width: 384px;
  height: 60px;
  background-color: $white;
  border-radius: 30px;
  display: flex;
  position: relative;
  border: 1px solid $white;
  transition: width 0.3s ease, border 0.3s ease 0.21s,
  box-shadow 0.3s ease 0.21s;
  label {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 100%;
      height: 100%;
      font-size: 0.938rem;
      color: $ui-contrast;
      font-family: $main-font;
      padding-left: 50px;
      &::placeholder {
        font-size: 0.938rem;
        color: $ui-weak;
        font-family: $main-font;
      }
    }
  }
  .search-dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 185px;

    .dropdown-trigger {
      button {
        box-sizing: border-box;
      }
    }

    @include mobile() {
      display: none;
    }
  }
  .search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    width: 8rem;

    background-color: #000;
    @include mobile {
      padding-left: 0px;
      padding-right: 0px;
      width: 52px;
      min-width: 52px;
    }
    svg {
      path {
        stroke: white;
      }
    }
  }

  &.open {
    width: 630px;
    border: 1px solid $ui-accent;
    box-shadow: 0px 0px 0px 4px rgba($color: $ui-accent, $alpha: 0.21);
    @include mobile {
      width: 100%;
    }
    .search-dropdown {
    }
    .search-btn {
      background-color: $ui-accent;

    }
  }
}
</style>
