<template>
    <div class="slim-text-slider" id="slim-text-wrapper" @mouseenter="stopSliding" @mouseleave="startSliding">
        <div id="carousel-slides">
            <div class="slide">
                <div class="text-slide">
                    <p class="small-text medium">{{text}}</p>
                    <p class="small-text medium">{{text}}</p>
                    <p class="small-text medium">{{text}}</p>
                </div>
            </div>
            <div class="slide" id="slide-clone-01">
                <div class="text-slide">
                    <p class="small-text medium">{{text}}</p>
                    <p class="small-text medium">{{text}}</p>
                    <p class="small-text medium">{{text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        text:null
    },
    data() {
        return {
            slide: true,
            slickOptions: {
                initialSlide: 0,
                slidesToScroll: 1,
                slidesToShow: 1,
                arrows: false,
                infinite: true,
                pauseOnHover: false,
                dots: false,
                autoplay: true,
                speed: 14600,
                autoplaySpeed: 14600,
                variableWidth: true,
            },
        }
    },
    methods: {
        stopSliding() {
            this.slide = false
        },
        startSliding() {
            this.slide = true
        }
    },
    computed: {
    },
    mounted() {
        if (process.client) {
            let scrollX = 0
            let me = this
            const slidesWrapper = document.getElementById("carousel-slides")
            const slideClone = document.getElementById("slide-clone-01")
            const wrapperMargin = parseInt(window.getComputedStyle(document.getElementById("slim-text-wrapper")).getPropertyValue('margin-left'));
            window.setInterval(function() {
                if (me.slide) {
                    scrollX+=1
                    if (slideClone.getBoundingClientRect().left <= wrapperMargin) {
                        scrollX = 1
                    }
                    slidesWrapper.style.transform = 'translateX(-'+scrollX+'px)'
                }
            }, 15);
        }
    }
};
</script>
<style lang="scss" scoped>
    .slim-text-slider {
        margin-top: 53px;
        height: 40px;
        max-width: 100%;
        flex: 0 0 100%;
        margin-left: 40px;
        margin-right: 40px;
        background-color: $lins;
        border-radius: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        #carousel-slides {
            width: fit-content;
            display: flex;
            position: relative;
        }
        @media (max-width: 768px) {
            margin-top: 30px;
        }
        .slide {
            .text-slide {
                width: fit-content;
                height: 100%;
                display: flex;
                align-items: center;
                p {
                    display: inline-block;
                    color: $white;
                    margin-right: 110px;
                    white-space: nowrap;
                }
            }
        }
    }
</style>
