<template>
	<div class="video-frame-block wrapper">
		<div class="left">
			<HighlightHeader :text="content.data.title"></HighlightHeader>
			<div class="video-frame" :aria-label="`${content.data.title} Video`">
				<video ref="video" autoplay="true" muted="true" loop="true" class="bg-video-wrapper" :title="content.data.body">
					<source :src="path" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="right">
			<p class="h3">
				{{content.data.body}}
			</p>
			<NuxtLink :to="content.data.link" class="link small-text medium btn btn-round btn-m btn-red">
				{{content.data.link_text}}
			</NuxtLink>
		</div>
	</div>
</template>
<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
	props: {
		text:null,
		content:Object
	},
	data() {
		return {
		}
	},
	methods: {
	},
	computed: {
		path() {
			const url = mediaLibraryUrl(this.content.data.video);
      		return url;
		}
	},
	mounted() {
	}
};
</script>
<style lang="scss" scoped>
	.video-frame-block {
		display: flex;
		.left,.right {
			max-width: 50%;
			flex: 0 0 50%;
		}
		.left {
			h2 {
				margin-left: 0px;
				margin-bottom: 60px;
			}
			.video-frame {
				margin-top: 20px;
				margin-left: 168px;
				height: 536px;
				width: 302px;
				border-radius: 15px;
				overflow: hidden;
				transform: translateZ(0);
				video.bg-video-wrapper {
					height: 100%;
					width: auto;
					object-fit: cover;
					transform: translateZ(0);
				}

        @include mobile {
          video {
            width: 100% !important;
          }
        }
			}
		}
		.right {
			padding-left: 108px;
			p {
				margin-top: 20px;
				margin-bottom: 60px;
			}
		}
        @media (max-width: 1080px) {
			.left {
				.video-frame {
					margin-left: auto;
					margin-right: 0px;
				}
			}
		}
		@media (max-width: 840px) {
			flex-wrap: wrap;
			.left,.right{
				max-width: 100%;
				flex: 0 0 100%;
			}
			.left {
				.video-frame {
					margin-left: auto;
					margin-right: auto;
				}
			}
			.right {
				padding-left: 0px;
				.h3 {
					text-align: center;
					margin-bottom: 30px;
				}
				a {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		@media (max-width: 500px) {
			.left {
				.highlight-header {
					margin-left: auto;
					margin-right: auto;
				}
				margin-bottom: 10px;
				.video-frame {
					width: 100%;
					height: 445px;
				}
			}
		}
	}
</style>
