<template>
  <b-modal v-if="openedUniversity" v-model="modalOpen" :full-screen="!isDesktop" has-modal-card trap-focus width="100vw" :can-cancel="['escape', 'outside']" role="main">
    <modal
      :header-options="headerOptions"
      :hide-header="!isDesktop"
      :hide-sidebar="!isDesktop"
      :full-screen="!isDesktop"
      :mobile-header-options="{
        title: 'University profile'
      }"
      :page="'universities'"

      :sidebar-options="sidebrOptions"
      :is-open="modalOpen"
      @close="close"
    >

      <template v-if="isDesktop">
        <university-modal :university="openedUniversity" />
      </template>

      <div v-else style="background: white; border-radius: 25px;">
        <university-modal :university="openedUniversity" is-mobile />
      </div>

      <template #mobileFooter>
        <div style="padding: 0 15px 15px 15px" v-if="openedUniversity.studies && openedUniversity.studies.length > 0">
          <a
            :href="`/studies?university=${openedUniversity.slug}`"
            class="btn btn-round btn-m btn-purple small-text" style="width: 100%;"
            @click="isFilterModalActive = false"
          >
            Available studies
          </a>
        </div>
      </template>
    </modal>
  </b-modal>
</template>

<script>
import Filters from "~/components/partials/Filters";
import UniversityCard from "~/components/pages/universities/UniversityCard";
import Modal from "~/components/base/Modal";
import UniversityModal from "~/components/pages/universities/UniversityModal";

// import _filter     from "lodash/filter";
import _forIn      from "lodash/forIn";
import _get        from "lodash/get";
import _filterDeep from 'deepdash/filterDeep';

export default {
  components: {UniversityModal, Modal, UniversityCard, Filters},
  scrollToTop: false,

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const slug    = params.slug;

    const [
      openedUniversity,
    ] = await Promise.all([
      $axios.$get(`/api/v1/universities/university-profiles/${slug}`),
    ]);

    console.log('openedUniversity',openedUniversity)

    return {
      openedUniversity: openedUniversity.data,
    }
  },

  props: [
    'isUniversityModalActive',
    'isFilterModalActive',
    'isDesktop',
  ],

  head() {
    const openedUniversity = this.openedUniversity;

    if (openedUniversity) {

      // const description = openedUniversity.headline;
      const description = openedUniversity.key_profile;
      const imageUrl = (openedUniversity.images.length > 0) ? this.$statically(openedUniversity.images[0], 1200, 628) : '';

      return {
        title: openedUniversity.title,
        htmlAttrs: {
          lang: 'en'
        },
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: description
          },

          ...this.$socialHelper.getSocialMeta(openedUniversity.title, description, imageUrl),
        ]
      }
    }
  },

  methods: {
    close() {
      this.$emit('close')
    }
  },

  computed: {
    headerOptions() {
      if (!this.isUniversityModalActive || !this.openedUniversity) {
        return {};
      }

      const openedUniversity = this.openedUniversity;
      let href = '/studies';
      let cssClass = 'link small-text btn btn-round btn-m btn-purple is-hidden';

      if (openedUniversity.studies.length > 0) {
        href = "/studies?university=" + openedUniversity.slug;
        cssClass = 'link small-text btn btn-round btn-m btn-purple';
      }

      return {
        title: openedUniversity ? openedUniversity.title : '',
        subtitle: openedUniversity ? openedUniversity.headline : '',
        buttonOptions: {
          label: 'Available Studies',
          href: href,
          class: cssClass
        },
        slug: openedUniversity ? openedUniversity.slug : '',
        parent: openedUniversity ? openedUniversity.parent : '',
        children: openedUniversity.children ? (openedUniversity.children.length > 0 ? openedUniversity.children : null) : null
      }
    },

    sidebrOptions() {
      if (!this.isUniversityModalActive) {
        return {};
      }

      /**
       * Wont work in serverside (window)
       */
      if (process.client) {
      }
      const openedUniversity = this.openedUniversity;

      return {
        img: openedUniversity.logo ? this.$statically(openedUniversity.logo, 400) : null,
        info: [
          { icon: 'phone.svg', label: 'Phone',  value: openedUniversity.contact_phone },
          { icon: 'e-mail.svg', label: 'E-mail',  value: openedUniversity.contact_email },
          {
            icon: 'website.svg',
            label: 'Website',
            value: openedUniversity.contact_website,
            isLink: true,
            link: openedUniversity.contact_website
          },
          {
            icon: 'social.svg',
            label: 'Social Links',
            value: openedUniversity.social_links,
          },

          // { icon: 'share.svg', label: 'Share Link', value: removeQueryAndHashtags(window.location.href), isCopyable: true }

        ],
      }
    },

    modalOpen: {
      get() {
        const isUniversityModalActive = this.isUniversityModalActive;
        const openedUniversity = this.openedUniversity;

        if (isUniversityModalActive) {
          return true;
        }
      },
      set(value) {
        if (value === false) {
          this.$emit('close')
        }
      }
    }
  },

  mounted() {
    if (this.openedUniversity) {
      this.$emit('openModal', this.openedUniversity)
    }
  },


}
</script>

<style lang="">

</style>
