.b-checkbox.checkbox {
  .control-label {
    width: 100%;
    font-size: 0.938rem;
    line-height: 100%;
    color: $ui-contrast;
    padding-left: 5px;
  }
  input[type=checkbox] {
    &:focus, &:active {
      +, &:checked + {
        .check {
          box-shadow: none;
        }
      }
    }
  }
}
