.appCookieControll{
  .cookieControl {

    &__Modal {
      &:after {
        background-color: rgba($color: #0E0F14, $alpha: 0.2) !important;
      }
    }

    &__ModalContent {
      border-radius: 20px;

      h3 {
        display: none;
      }

    }

    &__ModalClose {
      padding: 7px 10px 9px !important;
      line-height: 1;
    }

    &__ModalButtons {
      button:last-child {
        display: none;
      }
    }

    &__ControlButton {
      padding: 0;
    }
  }
}
