.datepicker {
  header, footer {
    border: none !important;
  }
  .dropdown-menu {
    width: 100%;
  }
  header {
    padding-bottom: 0 !important;
    margin-bottom: 7px !important;
    .presets {
      display: flex;
      justify-content: center;
      margin-bottom: 14px;
      .tag {
        background: $background;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 100%;
        color: $ui-regular;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
          color: $ui-accent
        }
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__current {
        font-size: 0.938rem;
        line-height: 100%;
        color: $ui-regular;
      }
      &__chevron {
        transition: 0.3s ease;
        height: 20px;
        width: 20px;
        border-radius: 200px;
        &:hover {
          background: $background;
          path {
            stroke: $ui-accent
          }
        }
      }
    }
  }
  &-cell {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    height: 38px;
    width: 38px;
    &.is-today {
      color: $ui-accent !important;
    }
    &.is-within-selected {
      border-radius: 0 !important;
    }
    &.is-first-selected, &.is-last-selected, &.is-within-selected {
      background: #F6F2FF !important;
      color: $ui-accent !important;
    }
    &.is-first-selected.is-last-selected, &.is-first-hovered, &.is-last-hovered {
      background: $ui-accent !important;
      color: $white !important;
    }
    &.is-first-selected {
      border-top-left-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
    }
    &.is-last-selected {
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }
    &.is-unselectable.is-selected {
      opacity: 0.4;
    }
  }
  footer {
    button {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 100%;
    }
  }
}
