.modal {
  // Bulma variable $modal-background-background-color does not support gradient, therefore replace it with simple background property.
  &-background {
    background: linear-gradient(180deg, rgba(41, 45, 61, 0.9) 0%, rgba(41, 45, 61, 0.72) 100%), linear-gradient(138.73deg, #D6003D 0%, #7B61FF 76.63%);
    opacity: 0.6;
  }
  justify-content: flex-end;
  &-mobile-header {
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 950px) {
    z-index: 1000;
  }
  @media screen and (min-width: 950px) {
    padding-bottom: 60px;
  }
  &-card {
    @media screen and (min-width: 950px) {
      width: calc(100vw - 122px);
      border-radius: 30px !important;

      // Fixes WebKit (Safari) bug with border-radius + overflow: hidden
      transform: translateZ(0)
    }
    @media screen and (min-width: 1400px) {
      width: calc(100vw - 244px);
    }
    &-body {
      @media screen and (max-width: 950px) {
        margin-top: 0;
        background: #F5F5F6;
      }
    }
    max-height: calc(100vh - 210px);
    &__content {
      @media screen and (max-width: 950px) {
        padding: 0 15px 27px 15px;
      }
      @media screen and (min-width: 950px) {
        padding: 0;
      }
      border-right: 1px solid $ui-details;
      height: 100%
    }
  }
}
