.switch {
  input[type=checkbox] {
    + .check {
      width: 34px;
      height: 18px;
      padding: 2px 3px;
      background: $ui-weaker;
      &:before {
        box-shadow: none;
        height: 14px;
        width: 14px;
        background: $white;
      }
    }
    &:focus, &:active {
      +, &:checked + {
        .check {
          box-shadow: none;
        }
      }
    }
  }
}
