<template>
  <section>
    <div class="card is-shadowless is-clipped"
      @mouseover="isHovered = true"
      @mouseleave="isHovered = false"
      tabindex="0"
    >

      <div class="card-image has-text-centered" @click.stop="emitOpen">
        <img :src="image" :alt="title + ' logo'">
      </div>

      <hr class="solid my-0" />

      <div class="card-content is-flex is-flex-direction-column is-justify-content-center is-align-items-center" @click.stop="emitOpen">
        <span>{{ title }}</span>
        <span v-if="university.parent" class="mb-4">(Structural unit of {{ university.parent.title }})</span>
      </div>

      <b-collapse :open="isHovered" animation="slide">
        <div>
          <nuxt-link
            :to="`/studies?university=${university.slug}`"
            class="study-programmes"
          >
            Study programmes
            <img width="12" src="/images/icons/study-programmes.svg" alt="">
          </nuxt-link>
        </div>
      </b-collapse>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: String,
    image: String,
    university: Object
  },
  data() {
    return {
      isHovered: false
    }
  },
  methods: {
    emitOpen(e) {
      this.$emit('open', e);
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  cursor: pointer;
  border-radius: 25px;
  font-size: 0.938rem;
  line-height: 130%;
  .card-content {
    min-height: 80px;
    max-height: 100px;
    color: $ui-regular;
    padding: 0;
    text-align: center;
  }
  .card-image {
    padding: 24px;

    img {
      width: 70%;
      height: 100px;

      object-fit: contain;
    }
  }

  .collapse {
    margin-top: -18px;
    margin-bottom: 18px;
    text-align: center;
    .study-programmes {
      color: $ui-accent;
    };
  }
}
</style>
