<template>
  <div class="university-modal">
    <template v-if="isMobile">

      <section class="university-modal-section" style="padding-bottom: 20px">
        <div style="font-weight: 500; font-size: 18px; line-height: 130%; color: #0E0F14;">
          {{ university.title }}
        </div>
        <div style="font-size: 12px; line-height: 100%; color: #24262F; margin-top: 5px">
          {{ university.headline }}
        </div>
      </section>

      <section v-if="university.parent" class="university-modal-section" style="padding-bottom: 20px">
        <div style="font-size: 12px; line-height: 100%; color: #24262F; margin-top: 5px">
          Structure head:
        </div>
        <nuxt-link :to="`/universities/${university.parent.slug}`" style="font-weight: 500; font-size: 14px; line-height: 130%; color: #5E33C1;">{{ university.parent.title }}</nuxt-link>
      </section>

      <section v-if="university.children && university.children.length > 0" class="university-modal-section" style="padding-bottom: 20px">
        <div style="font-size: 12px; line-height: 100%; color: #24262F; margin-top: 5px; margin-bottom: 5px">
          Structural units:
        </div>
        <div v-for="child in university.children" class="university-modal__child">
          <nuxt-link :to="`/universities/${child.slug}`" style="font-weight: 500; font-size: 14px; line-height: 130%; color: #5E33C1;">{{ child.title }}</nuxt-link>
        </div>
      </section>

      <section class="university-modal-section">
        <div class="university-modal__heading">
          <div style="margin-bottom: 17px">
            Key Profile
          </div>

          <UniversityModalDetails :university="university" />

        </div>
        <b-image
          class="university-modal__image"
          :src="mainImage"
          :alt="university.title"
          ratio="1by1"
          style="margin-top: 30px"
        ></b-image>
      </section>
    </template>

    <section v-else class="university-modal-section">
      <div class="columns is-gapless">
        <div class="column is-half">
          <UniversityModalDetails :university="university" />
        </div>
        <div class="column is-half">
          <b-image
            class="university-modal__image"
            :src="mainImage"
            :alt="university.title"
            ratio="1by1"
          ></b-image>
        </div>
      </div>
    </section>

    <section class="university-modal-section">
      <div class="university-modal__heading is-uppercase"> Key Profile </div>
      <div class="university-modal-section__text">
        <div v-html="university.key_profile"></div>
        <!-- <div class="university-modal-section__note">
          <a href="#">Learn more about profiles here.</a>
        </div> -->
      </div>
    </section>

    <section class="university-modal-section">
      <div class="university-modal__heading is-uppercase"> Key Qualifications </div>
      <div class="university-modal-section__text">
        <div v-html="university.key_qualifications"></div>
      </div>
    </section>

    <section class="university-modal-section" v-if="university.studies.length > 0">
      <div class="university-modal__heading is-uppercase"> Studies </div>
      <div class="university-modal-section__text">
        <div class="studies">
              <study-row v-for="study in university.studies.slice(0, studiesToShow)" :key="study.slug" v-bind="study" />

              <div class="university-modal-section__text-buttons">
                <button v-if="university.studies.length > university.studies.slice(0, studiesToShow).length" class="btn btn-round btn-m btn-outline small-text" style="margin-right: 10px" @click="studiesToShow += 5">
                  Load more
                </button>

                <NuxtLink class="btn btn-round btn-m btn-details small-text" :to="`/studies?university=${university.slug}`">
                  All Studies
                  <img style="margin-left: 7px" src="/images/icons/arrow-right-purple.svg" alt="" />
                </NuxtLink>
              </div>
            </div>
      </div>
    </section>

    <!-- ---------------- Blocks ---------------- -->
    <section class="university-modal-section" v-for="(block, index) in university.blocks_nested" :key="block.id">
      <div class="university-modal__heading is-uppercase"> {{block.data.title}} </div>
      <div class="university-modal-section__text">

        <div v-for="childBlock in block.children" :key="childBlock.id" class="mt-5">
          <div class="university-modal__heading mt-4" style="color: #71737D;">
            {{childBlock.data.title}}
          </div>
          <div style="margin-top: 5px;" v-html="childBlock.data.text"></div>

          <!-- <div v-if="childBlock.data.url_link" class="university-modal-section__note">
            <a target="_blank" :href="sanitizeUrl(childBlock.data.url_link)" >{{childBlock.data.url_text || childBlock.data.url_link}}</a>
          </div> -->

          <!-- @todo this temp.. we have mixed palces url_link & url_text -->
          <div v-if="childBlock.data.url_text" class="university-modal-section__note">
            <a target="_blank" :href="sanitizeUrl(childBlock.data.url_text)" >{{childBlock.data.url_link || childBlock.data.url_text}}</a>
          </div>
        </div>


        <!-- <div class="studies">
              <study-row v-for="study in university.studies.slice(0, studiesToShow)" :key="study.slug" v-bind="study" />

              <div class="university-modal-section__text-buttons">
                <button v-if="university.studies.length > university.studies.slice(0, studiesToShow).length" class="btn btn-round btn-m btn-outline small-text" style="margin-right: 10px" @click="studiesToShow += 5">
                  Load more
                </button>
                <NuxtLink class="btn btn-round btn-m btn-details small-text" to="/studies">
                  All Studies
                  <img style="margin-left: 7px" src="/images/icons/arrow-right-purple.svg" alt="" />
                </NuxtLink>
              </div>
            </div> -->
      </div>
    </section>
    <!-- -------------- End Blocks -------------- -->

    <section class="university-modal-section" v-if="canShowStoriesSection">
      <div class="university-modal__heading">
        Student Stories
      </div>
      <div class="university-modal-section__text">
        <div class="stories">

          <study-student-story v-for="story in university.student_stories"            :key="story.slug" :story="story" />
          <study-student-story v-for="testimonial in university.student_testimonials" :key="testimonial.slug" :story="testimonial" />

          <div class="university-modal-section__text-buttons">
            <nuxt-link to="/students" :style="{
              width: isMobile ? '100%' : 'auto'
            }" class="btn btn-round btn-m btn-outline small-text">
              Read More Stories
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>

    <section class="university-modal-gallery">
      <div class="university-modal__heading university-modal-gallery__heading">
        Gallery
      </div>
      <VueSlickCarousel ref="gallery" v-bind="carouselSettings" v-if="excludingMainImage.length > 0">
        <template #prevArrow="arrowOption">
          <a @click="changeSlide('prev')">
            <img src="/images/icons/arrow-right.svg" alt="Arrow left" />
          </a>
        </template>
        <template #nextArrow="arrowOption">
          <a @click="changeSlide('next')">
            <img src="/images/icons/arrow-right.svg" alt="Arrow right" />
          </a>
        </template>
        <div v-for="slide in excludingMainImage" class="gallery-slide">
          <div class="gallery-slide__image">
            <img :src="slide.img" :alt="slide.title || university.title" />
          </div>
          <div class="gallery-slide__title" v-if="slide.title">
            {{ slide.title }}
          </div>
          <div class="gallery-slide__subtitle" v-if="slide.subtitle">
            {{ slide.subtitle }}
          </div>
        </div>
      </VueSlickCarousel>
    </section>

  </div>
</template>

<script>
import {sanitizeUrl} from '~/plugins/helpers.js';

import StudyRow from "../../partials/StudyRow";
import StudyStudentStory from "../../partials/StudyStudentStory";
import HighlightGallery from "../../partials/HighlightGallery";

import UniversityModalDetails from "./UniversityModalDetails";

export default {
  components: {
    HighlightGallery,
    StudyStudentStory,
    StudyRow,
    UniversityModalDetails
  },
  props: {
    isMobile: {
      type: Boolean,
      default: false,
    },
    details: {
      type: Array,
      default: () => ([
        { icon: 'status.svg', text: 'Status', value: 'State' },
        { icon: 'location.svg', text: 'Location', value: 'Riga' },
        { icon: 'founded.svg', text: 'Founded', value: '1950' },
        { icon: 'students.svg', text: 'Students', value: '8694 (2345 International Students)' },
        { icon: 'programmes.svg', text: 'Programmes', value: 7 },
        { icon: 'double-programmes.svg', text: 'Double Programmes', value: 0 },
        { icon: 'badges.svg', text: 'Badges', value: ['Study in Latvia Endorsed Partner', 'ECHE Holder'] },
      ])
    },
    name: {
      type: String,
      default: 'sss of Latvia'
    },
    degrees: {
      type: String,
      default: 'Bachelors, Masters and Doctors degrees'
    },
    img: {
      type: String,
      default: '/images/demo/universities/04.png?v=2.0',
    },
    info: {
      type: Object,
      default: () => ({
        keyProfile: {
          title: 'Key Profile',
          value: 'RSU is the leading academic research institution in the fields of medicine, pharmacy, dentistry, rehabilitation, and nursing sciences in Latvia, founded in 1950. In addition to medicine, RSU offers higher education in social sciences. Every fourth student at RSU is from abroad, and the university has multicultural study environment with students from 60 countries.',
          note: '<a>Learn more about profiles here.</a>'
        },
        keyQualifications: {
          title: 'Key Qualifications',
          value: 'Bachelor, Master and Doctoral degree, as well as long cycle professional degree and qualifications of Doctor, Dentist, Pharmacist, Nurse, Physiotherapist. RSU also educates specialists in Rehabilitation, Public Health Science, Social Sciences and Law.'
        },
        studies: {
          title: 'Studies',
          value: [
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            },
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            },
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            },
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            },
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            },
            {
              title: 'Dentistry',
              subtitle: 'Doctor of Dental Surgery (DDS)',
              link: 'https://rsu.lv'
            }
          ],
        },
        rankings: {
          title: 'Rankings',
          value: 'EA Sports — It’s in a game! Cure my depression please.',
          note: '<a href="https://www.umultirank.org/study-at/riga-stradins-university-rankings/" target="_blank">https://www.umultirank.org/study-at/riga-stradins-university-rankings/</a>'
        },
        accommodation: {
          title: 'Accommodation & Campus',
          value: [
            {
              title: 'Accommodation',
              value: 'Adipiscing amet scelerisque orci sed vel tristique euismod turpis. Nec amet sed interdum malesuada suspendisse arcu. A, velit, ullamcorper gravida sed id. Vel aliquam mi in fusce purus placerat purus ipsum tellus.'
            },
            {
              title: 'Campus',
              value: 'The main building of the University is in picturesque Pardaugava of Riga, but it has several study locations, institutions, labs, and student hostels all over Riga. RSU has close affiliation with leading hospitals in the capital and regions of Latvia. International students can choose a long-term stay in hostels or rent a private apartment.'
            }
          ],
          note: '<a>Learn more about staying here.</a>'
        },
        scholarships: {
          title: 'Scholarships',
          value: 'In tristique quam aliquam vestibulum consectetur pharetra. Suspendisse tortor, scelerisque eleifend mattis senectus. Facilisi mattis fringilla ut scelerisque vestibulum, est cum pharetra.',
          note: '<a>Learn more about staying here.</a>'
        },
        applicationDeadlines: {
          title: 'Application Deadlines',
          value: 'Admission deadlines varies from 1 March to 1 July, depends on citizenship of prospective students.',
          note: 'If you have additional questions — don’t hesitate to contact us via <a href="mailto:email@rsu.lv">email@rsu.lv</a>'
        },
        studentStories: {
          title: 'Student Stories',
          value: [
            {
              img: 'https://picsum.photos/100',
              author: 'Author Name',
              text: 'Cursus mi in sed augue metus, dignissim ac lacus. Velit cursus pretium quisque magna rhoncus senectus!'
            },
            {
              img: 'https://picsum.photos/100',
              author: 'Author Name',
              text: 'Cursus mi in sed augue metus, dignissim ac lacus. Velit cursus pretium quisque magna rhoncus senectus!'
            },
            {
              img: 'https://picsum.photos/100',
              author: 'Author Name',
              text: 'Cursus mi in sed augue metus, dignissim ac lacus. Velit cursus pretium quisque magna rhoncus senectus!'
            }
          ]
        },
        gallery: [
          {
            img: 'https://picsum.photos/1000',
            title: 'Backyard Fountain of Main Bulding',
            subtitle: 'Sed fringilla ullamcorper diam viverra dui dignissim neque. Diam, proin nec scelerisque purus nunc enim porttitor cursus et.'
          },
          {
            img: 'https://picsum.photos/1000',
            title: 'Backyard Fountain of Main Bulding',
            subtitle: 'Sed fringilla ullamcorper diam viverra dui dignissim neque. Diam, proin nec scelerisque purus nunc enim porttitor cursus et.'
          },
          {
            img: 'https://picsum.photos/1000',
            title: 'Backyard Fountain of Main Bulding',
            subtitle: 'Sed fringilla ullamcorper diam viverra dui dignissim neque. Diam, proin nec scelerisque purus nunc enim porttitor cursus et.'
          },
          {
            img: 'https://picsum.photos/1000',
            title: 'Backyard Fountain of Main Bulding',
            subtitle: 'Sed fringilla ullamcorper diam viverra dui dignissim neque. Diam, proin nec scelerisque purus nunc enim porttitor cursus et.'
          },
          {
            img: 'https://picsum.photos/1000',
            title: 'Backyard Fountain of Main Bulding',
            subtitle: 'Sed fringilla ullamcorper diam viverra dui dignissim neque. Diam, proin nec scelerisque purus nunc enim porttitor cursus et.'
          },
        ]
      })
    },

    university: Object,
  },
  data() {
    return {
      studiesToShow: 5,
      storiesToShow: 2,
    }
  },
  computed: {
    carouselSettings() {
      return {
        arrows: true,
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true,
        draggable: false,
        focusOnSelect: true,
      }
    },

    mainImage() {
      if (this.university.images.length > 0) {
        return this.$statically(this.university.images[0].path, 800);
      }

      return null;
    },

    excludingMainImage() {
      let images = [];

      if (this.university.images.length > 1) {
        this.university.images.forEach((element, index) => {
          if (index > 0) {
            images.push({
              title: element.title || null,
              subtitle: element.description || null,
              img: this.$statically(element.path, 800),
            })
          }
        });
      }

      return images;
    },

    canShowStoriesSection() {
      const hasStories      = this.university.student_stories && this.university.student_stories.length > 0;
      const hasTestimonials = this.university.student_testimonials && this.university.student_testimonials.length > 0;

      return hasStories || hasTestimonials;
    }
  },
  methods: {
    changeSlide(direction) {
        this.$refs.gallery[0][direction]()
      // this.$refs.carousel.next()
    },
    sanitizeUrl(url) {
      return sanitizeUrl(url)
    }
  },
}
</script>

<style lang="scss">
.university-modal {
  &__heading {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $ui-contrast;
  }
  &__child {
    &:not(:last-child) {
      margin-bottom: .15rem;
    }
  }
  &-section {
    @media screen and (max-width: 950px) {
      padding: 20px 20px 25px 20px;
    }
    @media screen and (min-width: 950px) {
      padding: 40px 40px 54px 52px;
    }
    @media screen and (min-width: 1400px) {
      padding: 40px 40px 54px 82px;
    }
    border-bottom: 1px solid $ui-details;
    &__text {
      margin-top: 9px;
      font-size: 0.938rem;
      line-height: 150%;
      color: $ui-regular;
      &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        object svg path {
          stroke: $ui-accent !important;
        }
      }
      .studies {
        margin-top: 15px;
      }
      .stories {
        margin-top: 15px;
      }
    }
    &__note {
      margin-top: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 100%;
      color: $ui-regular;
      a {
        color: $ui-regular;
        text-decoration: underline;
      }
    }
    .details {
      @media screen and (min-width: 951px) {
        max-width: 70%;
        min-width: 13rem;
      }
    }
  }

  &__image {
    width: 100%;

      img {
        background-color: #FAFAFA;
        border-radius: 30px;
      }

  }
  &-gallery {
    overflow: hidden;

    @media screen and (max-width: 950px) {
      &__heading {
        padding: 20px;
      }
      .slick-slide {
        padding-left: 10px;
        max-width: calc(100vw - 35px);
      }
    }
    @media screen and (min-width: 950px) {
      margin: 15px 0 55px 0;
      &__heading {
        padding: 25px 0 15px 52px;
      }
    }
    @media screen and (min-width: 1400px) {
      margin: 15px 0 55px 0;
      &__heading {
        padding: 25px 0 15px 82px;
      }
    }

    .slick-slider {
      display: grid;
      .slick-arrow {
        position: absolute;
        top: 330px;
        left: 545px;
        z-index: 1;
        &.slick-prev {
          transform: scale(-1, 1);
        }
        &.slick-next {
          left: 603px;
        }
        &.slick-disabled {
          opacity: 0.5;
          cursor: default;
        }
      }
      .slick-list {
        @media screen and (min-width: 950px) {
          padding-left: 42px;
        }
        @media screen and (min-width: 1400px) {
          padding-left: 72px;
        }
        .gallery-slide {
          @media screen and (min-width: 950px) {
            width: fit-content !important;
          }
          padding-right: 15px;

          &__image {
            margin-bottom: 10px;

            img {
              height: 315px !important;
              object-fit: cover;
              transition: opacity 0.3s ease;
              border-radius: 15px;
              overflow: hidden;
            }
          }

          &__title {
            transition: opacity 0.3s ease;
            padding: 5px 10px;
            font-size: 0.938rem;
            line-height: 150%;
            color: $ui-regular;
          }

          &__subtitle {
            transition: opacity 0.3s ease;
            padding: 0 10px;
            font-size: 0.75rem;
            line-height: 130%;
            color: $ui-regular;
          }
        }
        .slick-slide:not(.slick-active) {
          .gallery-slide {
            &__image {
              img {
                opacity: 0.5;
              }
            }

            &__title, &__subtitle {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
</style>
