<template>
  <div>

    <div class="details">
      <div class="details__item-wrap flex">
        <div class="details__icon">
          <img src="/images/icons/status.svg" alt="icon" />
        </div>
        <div class="details__text">
          <span class="is-uppercase"> Status: </span>
        </div>
      </div>

      <div class="details__text">
        <!-- <span class="is-uppercase"> Status: </span> -->
        <span class="value"> {{university.status.title}} </span>
      </div>
    </div>

    <div class="details">
      <div class="details__item-wrap flex">
        <div class="details__icon">
          <img src="/images/icons/location.svg" alt="icon" />
        </div>
        <div class="details__text">
          <span class="is-uppercase"> Location: </span>
        </div>
      </div>

      <div class="details__text">
        <!-- <span class="is-uppercase"> Location: </span> -->
        <span class="value"> {{university.location.title}} </span>
      </div>
    </div>

    <div class="details">
      <div class="details__item-wrap flex">
        <div class="details__icon">
          <img src="/images/icons/founded.svg" alt="icon" />
        </div>
        <div class="details__text">
          <span class="is-uppercase"> Founded: </span>
        </div>
      </div>

      <div class="details__text">
        <!-- <span class="is-uppercase"> Founded: </span> -->
        <span class="value"> {{university.founded}} </span>
      </div>
    </div>

    <div class="details">
      <div class="details__item-wrap flex">
        <div class="details__icon">
          <img src="/images/icons/students.svg" alt="icon" />
        </div>
        <div class="details__text">
          <span class="is-uppercase"> Students: </span>
        </div>
      </div>

      <div class="details__text">
        <!-- <span class="is-uppercase"> Students: </span> -->
        <span class="value"> {{university.students_total}} ({{university.students_international}} International Students) </span>
      </div>
    </div>

    <!--
    <div class="details">
      <div class="details__icon">
        <img src="/images/icons/programmes.svg" alt="icon" />
      </div>

      <div class="details__text">
        <span class="is-uppercase"> Programmes: </span>
        <span class="value"> {{university.studies.length}} </span>
      </div>
    </div>
    -->
    <!--
    <div class="details">
      <div class="details__icon">
        <img src="/images/icons/double-programmes.svg" alt="icon" />
      </div>

      <div class="details__text">
        <span class="is-uppercase"> Double Programmes: </span>
        <span class="value"> {{double_programmes}} </span>
      </div>
    </div>
    -->

    <div class="details">
      <div class="details__item-wrap flex">
        <div class="details__icon">
          <img src="/images/icons/badges.svg" alt="icon" />
        </div>
        <div class="details__text">
          <span class="is-uppercase"> Badges: </span>
        </div>
      </div>

      <!-- <div class="details__text">
        <span class="is-uppercase"> Badges: </span>
      </div> -->

      <div class="details__list">
        <div v-for="(badge) in university.badges">
          {{badge.title}}
        </div>
      </div>
    </div>

    <div v-if="university.text" class="details">
      <div class="details__text--big" v-html="university.text"></div>
    </div>

  </div>
</template>

<script>

import _forIn  from "lodash/forIn";

export default {
  props: {
    university: Object,
  },

  computed: {
    double_programmes() {
      let double_programmes = 0;
      _forIn(this.university.studies, (item) => {
        if (item.double_programmes) double_programmes++;
      })
      return double_programmes;
    }
  }

  // { icon: 'status.svg', text: 'Status', value: 'State' },
  // { icon: 'location.svg', text: 'Location', value: 'Riga' },
  // { icon: 'founded.svg', text: 'Founded', value: '1950' },
  // { icon: 'students.svg', text: 'Students', value: '8694 (2345 International Students)' },
  // { icon: 'programmes.svg', text: 'Programmes', value: 7 },
  // { icon: 'double-programmes.svg', text: 'Double Programmes', value: 0 },
  // { icon: 'badges.svg', text: 'Badges', value: ['Study in Latvia Endorsed Partner', 'ECHE Holder'] },
};
</script>

<style lang="scss" scoped>
.details {
  display: flex;
  align-items: center;
  @include mobile {
    align-items: flex-start;
    justify-content: space-between;
  }

  @media screen and (max-width: 950px) {
    &:not(:last-child) {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid $ui-details
    }
  }
  @media screen and (min-width: 950px) {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__item-wrap {
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 16px;
    flex-shrink: 0;
    margin-right: 6px;
    text-align: center;
    align-self: baseline;
    img {
      @include mobile {
        vertical-align: bottom;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    color: $ui-regular;

    // @url https://bulma.io/documentation/overview/responsiveness/
    @include mobile {
      width: 100%;
    }

    &--big {
      margin-top: 9px;
      font-size: 0.938rem;
      line-height: 150%;
      color: #24262F;
      font-family: "GeneralSans";
      font-weight: 400;
    }

    .value {
      @include mobile {
        float: right;
        padding-top: 1px;
        display: block;
        max-width: 60%;
        font-weight: normal;
        text-align: right;
      }
      @include tablet {
        margin-left: 2px;
      }
    }
  }

  &__list {
    line-height: 1.3;

    @include tablet {
      width: 100%;
      margin-top: 2px;
      font-style: normal;
      font-size: 0.75rem;
      font-weight: 500;
    }

    @include mobile {
      float: right;
      padding-top: 1px;
      display: block;
      max-width: 60%;
      font-weight: normal;

      text-align: right;
    }
  }
}

</style>
