<template>
  <div
    class="acc-menu-modal"
    :class="{ 'open': isOpen }"
    @click.self="isOpen = false"
  >
    <div class="main-menu" v-if="isOpen">
      <div class="menu-item">
        <p class="tiny-text menu-item-header">
          Content type:
          <em>{{ (readingMode) ? 'Reading Mode' : 'Normal mode' }}</em>
        </p>
        <button @click="toggleReadingMode" class="btn btn-white btn-fullwidth btn-border-black btn-round btn-ms tiny-text">
          <span v-if="readingMode"> Switch back</span>
          <span v-else>Switch to reading mode (remove images)</span>
        </button>
      </div>

     <div class="menu-item">
       <p class="tiny-text menu-item-header">Text size</p>
        <b-numberinput
            class="text-sizes-input"
            controls-position="compact"
            controls-rounded
            type="is-small"
            :min="100"
            :max="150"
            :editable="false"
            :step="25"
            v-model="textSize">
        </b-numberinput>
     </div>

      <div class="menu-item-small contrast-color-header">
        <p class="tiny-text menu-item-header">Contrast and Color</p>
      </div>

      <!--Switch Toggle Button-->
      <!-- <div class="menu-item-small flex contrastmode-block">
        <p class="tiny-text menu-item-header">Contrast mode</p>

          <b-switch v-model="isSwitched">
            {{ isSwitched }}
          </b-switch>
      </div> -->

      <div class="menu-item-small color-scheme-item" :class="{'disabled': !isSwitched}">
          <p class="tiny-text menu-item-header">Color mode</p>

          <button @click="contrastWhite" class="btn-white-circle contrast-btn" :class="{'active' : contrast == 'white'}">
            <svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.33398 8.66663L6.00065 11.3333L12.6673 4.66663" stroke="#0E0F14" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <svg width="30"
            height="30" viewBox="0 0 30 30"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="29"
            height="29" rx="14.5" fill="white"/>
            <rect x="0.5" y="0.5" width="29"
            height="29" rx="14.5" stroke="#E1E4EA"/>
            </svg>
          </button>

          <button @click="contrastDark" class="contrast-btn" :class="{'active' : contrast == 'dark'}">
            <svg class="checkmark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.33398 8.66663L6.00065 11.3333L12.6673 4.66663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <svg width="30" height="30"
            viewBox="0 0 30 30" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="29"
            height="29" rx="14.5" fill="#0E0F14"/>
            <rect x="0.5" y="0.5" width="29"
            height="29" rx="14.5" stroke="#E1E4EA"/>
            </svg>
          </button>
      </div>


      <!--Reset to Default Button-->
      <button class="btn btn-black btn-ms tiny-text btn-round btn-fullwidth" @click="resetToDefault">
        Reset to Default
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // textSize: 100,
      isSwitched: true,
      // contrast: null,
      textHead: false,
      textisReset: false,
      // readingMode: false
    };
  },
  props: {
    value: Boolean,
  },
  methods: {
    toggleReadingMode() {
      this.readingMode = !this.readingMode

      if (this.readingMode) {
        document.documentElement.classList.add("reading-mode")
      } else {
        document.documentElement.classList.remove("reading-mode")
      }
    },
    contrastWhite() {
      if (this.contrast == 'white') {
        this.contrast = null;
      } else {
        this.contrast = 'white'
      }
    },
    contrastDark() {
      if (this.contrast == 'dark') {
        this.contrast = null;
      } else {
        this.contrast = 'dark'
      }
    },
    resetToDefault (){
      this.textSize = 100
      this.isSwitched = true
      this.contrast = null
      this.readingMode = false

      document.documentElement.classList.remove("contrast-white")
      document.documentElement.classList.remove("contrast-dark")
      document.documentElement.classList.remove("font-125")
      document.documentElement.classList.remove("font-150")
      document.documentElement.classList.remove("reading-mode")
    }
  },
  computed: {
    isOpen: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit("input", newValue);
      },
    },

    contrast: {
      get() { return this.$store.state.a12y.contrast; },
      set(val) { this.$store.commit('a12y/setContrast', val) }
    },
    textSize: {
      get() { return this.$store.state.a12y.textSize; },
      set(val) { this.$store.commit('a12y/setTextSize', val) }
    },
    readingMode: {
      get() { return this.$store.state.a12y.readingMode; },
      set(val) { this.$store.commit('a12y/setReadingMode', val) }
    },
  },

//Contrast dark and white selector
  watch: {
    contrast() {
      if (this.contrast == 'white') {
        document.documentElement.classList.add("contrast-white")
        document.documentElement.classList.remove("contrast-dark")
      } else if (this.contrast == 'dark') {
        document.documentElement.classList.remove("contrast-white")
        document.documentElement.classList.add("contrast-dark")
      } else {
        document.documentElement.classList.remove("contrast-white")
        document.documentElement.classList.remove("contrast-dark")
      }
    },

    isSwitched() {
      this.contrast = null
    },

    //Text sizes changes
    textSize() {
      if (this.textSize == 100) {
          document.documentElement.classList.remove("font-125")
          document.documentElement.classList.remove("font-150")
      }
      if (this.textSize == 125) {
          document.documentElement.classList.add("font-125")
          document.documentElement.classList.remove("font-150")
      }
      if (this.textSize == 150) {
          document.documentElement.classList.remove("font-125")
          document.documentElement.classList.add("font-150")

      }
    }
  }
}

//Reading Mode

</script>
<style lang="scss" scoped>
.acc-menu-modal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  left: -100%;
  transition: background-color 0.6s ease, left 0.01s ease;
  border: 1px solid grey;
  border-radius: 30px;

 .main-menu {
    position: absolute;
    top: 150px;
    right: -950px;
    height: auto;
    width: 320px;
    background: white;
    transition: right 0.3s ease;
    border-radius: 15px;
    padding: 20px 15px;

    > * {
      box-sizing: border-box;
    }
    .menu-item,.menu-item-small {
      width: 100%;

      .menu-item-header {
        color: #0E0F14;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .btn {
        box-sizing: border-box;
      }
    }
    .menu-item {
        margin-bottom: 30px;
    }
    .menu-item-small {
      &.color-scheme-item {

        border-bottom: 1px solid #E1E4EA;
        border-top: 1px solid #E1E4EA;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-bottom: 70px;
        p {
          margin-right: auto;
        }
        .btn-white-circle {
          margin-right: 10px;
        }
        .contrast-btn {
          position: relative;
          .checkmark {
            margin-top: -2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: opacity 0.3s ease;
            opacity: 0;
          }
          &.active {
            .checkmark {
              opacity: 1;
            }
          }
        }
        &.disabled {
          border-top: 1px solid #E1E4EA;
          border-bottom: 1px solid #E1E4EA;
          p {
            color: #ABADB8;
          }
        }
      }
      &.contrast-color-header {
        .menu-item-header {
          margin-bottom: 5px;
        }
      }
      &.contrastmode-block {
        p {
          margin-right: auto;
        }
      }
      &.contrastmode-block,&.color-scheme-item {
        height: 50px;
        display: flex;
        align-items: center;
        align-content: center;
        .menu-item-header {
          text-transform:none;
          margin-bottom: 0px;
        }
      }
    }
    .content,
    .contrastmode {
      padding: 0px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: General Sans;
      margin-top: 20px;
    }
    .contrast {
      text-transform: uppercase;
      font-weight: bold;
      font-family: General Sans ;
      margin-top: 30px;
    }
      .btn4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        position: absolute;
        height: 40px;
        left: 15px;
        margin-top: 0.5rem;
      }
    .plus-sign,
    .svgminus {
      transition: stroke 0.3s ease;
      &.inactive {
        stroke: #e1e4ea;
        border: 1px solid grey;
        color: black;
      }
    }
    .svgminus {
      position: absolute;
      left: 16.67%;
      right: 16.66%;
      top: 50%;
      bottom: 50%;
      margin-left: 0;
    }
    .plus-sign {
      position: absolute;
      margin-right: 0;
    }
    .reset {
      width: 290px;
      height: 40px;
      top: 391px;
      left: 15px;
      display: flex;
      flex-direction: row;
      color: black;
    }
    .container2 {
      display: flex;
    }
    .contrastmode {
      margin-right: auto;
      size: 12px;
      margin-top: 14px;
    }
    .container3 {
        margin-right: 50px;
        padding: 0px;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 12px 10px;
        p {
          margin-right: auto;
        }
        .btn-white-circle {
          margin-right: 10px;
        }
    }
    .font-100 {
        font-size: 22px;
    }
    .tekstuizmeri {
      text-transform: uppercase;
      font-weight: bold;
      font-family: General Sans;
      margin-top: 30px;
    }
  }
  &.open {
    background-color: rgba($color: $black, $alpha: 0.45);
    left: 0px;
    .main-menu {
      right: 150px;
      @media(max-width: 600px) {
        right: 50%;
        transform: translate(50%);
      }
    }
  }
}

.text-sizes-input {
    ::v-deep div.control  {
        width: 100%;
    }

    ::v-deep p {

    }

    p {

    }
}
</style>
