<template>
    <footer class="mobile-footer is-justify-content-space-between is-align-items-center" :class="{'has-bg': scrollDown && !menu}">
      <div class="mobile-footer__extra">
        <slot />
      </div>

      <!-- <div class="mobile-footer__left flex fcv">
        <NuxtLink to="/studies" class="link small-text mr-4">
				  Studies
			  </NuxtLink>
        <NuxtLink to="/universities" class="link small-text">
				  Universities
			  </NuxtLink>
      </div>
      <div class="circle hamburger-wrapper">
        <button class="hamburger hamburger--squeeze" :class="{'is-active': menu}" type="button" @click="toggleMenu">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div> -->

    </footer>
</template>

<script>
export default {
    props: {
        menu: {
            type: Boolean
        },
        scrollDown: {
            type: Boolean
        }
	},
	data() {
		return {
		}
	},
	computed: {
	},
	methods: {
		toggleMenu() {
			this.$emit("toggleMenu");
		}
	},
	mounted() {
	},
};
</script>

<style lang="scss" scoped>
    .mobile-footer {
        &__extra {
          flex: 0 0 100%;
        }
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 15px;
        display: none;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 1001;
        &.has-bg {
            backdrop-filter: blur(30px);
            background: rgba(245, 245, 246, 0.85);
            .logo {
                .logo-switch {
                    fill: #292D3D;
                }
            }
        }
        .hamburger-wrapper {
            height: 50px;
            width: 50px;
            min-width: 50px;
        }
        .hamburger-wrapper .hamburger .hamburger-box .hamburger-inner {
            &::before {
                display: none;
            }
        }
        &__left {
            background-color: #fff;
            height: 50px;
            border-radius: 200px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .small-text {
            color: $ui-contrast;
        }
        @media(max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
</style>
