<template>
  <footer class="flex">
    <div class="wrapper flex center">
      <div class="footer-col flex col">
        <a target="_blank" class="viaa-logo" href="https://www.izm.gov.lv/lv">
          <img src="/images/icons/viaa.svg" alt="" />
        </a>
        <a class="tiny-text medium bot" href="mailto:studyinlatvia@viaa.gov.lv">studyinlatvia@viaa.gov.lv</a>
        <p class="not-white tiny-text medium">
          Valnu street 1, Riga, LV 1050, Latvia
        </p>
      </div>
      <div class="footer-col flex col is-hidden-mobile">
        <div class="category flex col">
          <p class="h2">Studies</p>
          <NuxtLink to="/studies" class="link small-text"> Find Studies </NuxtLink>
          <NuxtLink to="/universities" class="link small-text">
            Find Universities
          </NuxtLink>
          <NuxtLink to="/students" class="link small-text">
            Student’s Stories
          </NuxtLink>
        </div>
        <div class="category flex col">
          <p class="h2">Terms</p>
          <NuxtLink to="/terms/privacy-policy" class="link small-text">Privacy policy</NuxtLink>
          <NuxtLink to="/terms/cookie-policy" class="link small-text">
            Cookies policy
          </NuxtLink>
          <NuxtLink to="/terms/accessibility-terms" class="link small-text">
            Accessibility
          </NuxtLink>
        </div>
      </div>
      <div class="footer-col flex col">
        <div class="category flex col is-hidden-mobile">
          <p class="h2">Other</p>
          <NuxtLink to="/news/news" class="link small-text"> News </NuxtLink>
          <NuxtLink to="/news/events" class="link small-text"> Events </NuxtLink>
          <NuxtLink to="/about" class="link small-text"> About Us </NuxtLink>
          <NuxtLink to="/materials" class="link small-text">
            Materials
          </NuxtLink>
          <NuxtLink to="/resources" class="link small-text">
            Useful Resources
          </NuxtLink>
          <NuxtLink to="/faq/about-study-in-latvia" class="link small-text"> FAQ </NuxtLink>
        </div>
        <p class="not-white bot tiny-text medium">Study in Latvia © 2021</p>
      </div>
      <div class="footer-col flex col">
        <div class="category flex col is-hidden-mobile">
          <p class="h2">Follow Us</p>
          <a target="_blank" href="https://www.instagram.com/studyinlatvia/" class="link small-text">
            <img src="/images/icons/ig.png?v=2.0" alt="Instagram" /> Instagram
          </a>
          <a target="_blank" href="https://www.facebook.com/studyinlatviaLV" class="link small-text">
            <img src="/images/icons/fb.png?v=2.0" alt="Facebook" /> Facebook
          </a>
          <a target="_blank" href="https://twitter.com/StudyLatvia" class="link small-text">
            <img src="/images/icons/tw.png?v=2.0" alt="X" /> X.com
          </a>
          <a target="_blank" href="https://www.youtube.com/c/StudyLatvia/featured" class="link small-text">
            <img src="/images/icons/yt.png?v=2.0" alt="YouTube" /> YouTube
          </a>
        </div>
        <p class="not-white bot tiny-text medium">All rights reserved</p>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {},
  data() {
    return {};
  },
  methods: {},
  computed: {},
  mounted() {},
};
</script>
<style lang="scss" scoped>
footer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 60px;
  overflow: hidden;
  background-color: #1c1e26;
  padding: 60px 82px 40px 82px;
  max-height: 406px;
  height: 406px;
  .wrapper {
    justify-content: space-between;
  }
  .viaa-logo {
    img {
      width: 100%;
      height: auto;
    }
  }
  .footer-col {
    min-height: 100%;
    &:first-child {
      .tiny-text.medium.bot {
        color: $white;
      }
    }
    // &:not(:first-child) {
    //   margin-right: 111px;
    // }
    &:last-child {
    }
    .bot {
      margin-top: auto;
      margin-bottom: 15px;
    }
    .category {
      margin-bottom: 15px;
      align-content: flex-start;
      align-items: flex-start;
      .h2,
      .link {
        margin-bottom: 12px;
      }
      .link {
        img {
          margin-right: 8px;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  p,
  a {
    color: $white;
    text-align: left;
    &.not-white {
      color: $ui-weak;
    }
    &.link {
      color: $ui-details;
    }
  }
  @media (max-width: 1080px) {
    height: unset;
    max-height: unset;
    .wrapper {
      flex-wrap: wrap;
      height: fit-content;
    }
    .footer-col {
      max-width: 50%;
      flex: 0 0 50%;
      &:first-child {
        img {
          width: 190px;
        }
      }
      &:not(:first-child) {
        margin-right: 0px;
      }
      &:nth-child(2n) {
        padding-left: 15%;
      }
    }
  }
  @media (max-width: 780px) {
    padding: 35px 35px 25px 35px;
  }
  @media (max-width: 768px) {
    border-radius: 25px;
    padding: 60px 0 35px 0;
    margin-left: 15px;
    margin-right: 15px;
    .footer-col {
      max-width: 100%;
      flex: 0 0 100%;
      &:first-child {
        margin-bottom: 120px;
        align-content: center;
        align-items: center;
        img {
          width: 114px;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .bot {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
      &:nth-child(2n) {
        padding-left: 0px;
      }
    }
  }
}
</style>
