<template>
	<header>

		<Nav :logo-color="logoColor" :menu='menu' :scrollDown="scrollDown" @toggleMenu="toggleMenu()" @toggleAccMenu="toggleAccessibilityMenu()" @switchScroll="switchScroll($event)"></Nav>
		<Menu v-model='menu'></Menu>
		<AccessibilityMenu v-model='accessibilityMenu'></AccessibilityMenu>
		<MenuMobile v-model='menu'></MenuMobile>
	</header>
</template>
<script>
export default {
  props: {
	  	logoColor: {
			type: String,
			default: 'white'
    	}
	},
	data() {
		return {
			menu: false,
			accessibilityMenu:false,
      		scrollDown: false
		}
	},
	computed: {
	},
	methods: {
		toggleMenu() {
			this.menu = !this.menu
			if (this.menu) {
				document.getElementsByTagName( 'html' )[0].classList.add("lock")
			} else {
				document.getElementsByTagName( 'html' )[0].classList.remove("lock")
			}
		},
		toggleAccessibilityMenu() {
			this.accessibilityMenu = !this.accessibilityMenu
			if (this.menu) {
				document.getElementsByTagName( 'html' )[0].classList.add("lock")
			} else {
				document.getElementsByTagName( 'html' )[0].classList.remove("lock")
			}
		},
		switchScroll(e) {
			this.scrollDown = e
		}
	},
	mounted() {
	},
};
</script>
<style lang="scss" scoped>
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: 999;
}

</style>
