<template>
	<div class="menu-modal" :class="{'open': isOpen}" @click.self="isOpen = false">
        <div class="main-menu" v-if="isOpen" role="navigation">
            <div class="links">
                <p class="tiny-text upper">menu</p>
                <NuxtLink to="/higher-education" class="link h2">
                    Latvian Higher Education
                </NuxtLink>
                <NuxtLink to="/partners" class="link h2">
                    Best Practice Universities
                </NuxtLink>
                <NuxtLink :to="{ name: 'news-tab', params: {tab: 'everything'} }" class="link h2">
                    News & Events
                </NuxtLink>
                <NuxtLink to="/faq/about-study-in-latvia" class="link h2">
                    FAQ
                </NuxtLink>
                
                <NuxtLink to="/ua/ua-student-support" class="link h2">
                    Support for UA students
                </NuxtLink>

                <NuxtLink to="/survival-guide" class="link h2">
                    Survival Guide
                </NuxtLink>

            </div>
            <div class="socials">
                <p class="tiny-text upper">social links</p>
                <a href="https://www.instagram.com/studyinlatvia/" class="soc-link small-text"><img src="/images/icons/ig.png?v=2.0" alt="">Instagram</a>
                <a href="https://www.facebook.com/studyinlatviaLV" class="soc-link small-text"><img src="/images/icons/fb.png?v=2.0" alt="">Facebook</a>
                <a href="https://twitter.com/StudyLatvia" class="soc-link is-twitter small-text"><img src="/images/icons/social/X.png?v=2.0" alt="">X.com</a>
                <a href="https://www.youtube.com/c/StudyLatvia/featured" class="soc-link small-text"><img src="/images/icons/yt.png?v=2.0" alt="">YouTube</a>

            </div>
        </div>
    </div>
</template>
<script>


export default {
	props: {
    value: Boolean,
	},
	computed: {
    isOpen: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      }
    }
	},
};
</script>
<style lang="scss" scoped>
.menu-modal {
    position: absolute;
    top: 0px;
    // left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 5;
    // left: -100%;
    right: -100%;
    transition: background-color 0.6s ease, left 0.01s ease;
    .main-menu {
        position: absolute;
        width: 506px;
        // height: 100%;
        height: calc(100% - 90px);
        padding: 138px 1rem 86px 80px;
        background-color: $white;
        // top: 0px;
        top: 90px;
        // left: -100%;;
        right: -100%;
        transition: left 0.3s ease;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        flex-direction: column;
        .tiny-text.upper {
            color: $ui-weak;
        }
        .links {
            display: flex;
            flex-direction: column;
            .link {
                color: $ui-contrast;
                margin-top: 15px;
                transition: color 0.3s ease;
                &:hover {
                    color: $ui-accent;
                }
            }
        }
        .socials {
            display: flex;
            flex-wrap: wrap;
            padding-right: 110px;
            margin-top: auto;
            margin-bottom: 0px;
            .tiny-text.upper {
                max-width: 100%;
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            .soc-link {
                display: flex;
                align-content: center;
                align-items: center;
                margin-right: 20px;
                margin-bottom: 15px;
                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }
                &.is-twitter {
                    img {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
    }
    &.open {
        background-color: rgba($color: $black, $alpha: 0.45);
        // left: 0px;
        right: 0px;
        .main-menu {
            // left: 0px;
            right: 0px;
        }
    }
    @media (max-width: 1390px) {
        .main-menu {
            width: 355px;
            padding-left: 45px;
            .socials {
                padding-right: 130px;
            }
        }
    }
    @media (max-width: 1200px) {
        display: none;
    }
}
</style>
