<template>
	<div class="menu-mobile" :class="{'open': isOpen}" @click.self="isOpen = false">
        <div class="menu-wrapper">
            <div class="inner-menu">
                <div class="links-box">
                    <p class="tiny-text box-title">Navigation</p>
                    <div class="links">
                        <NuxtLink to="/studies" class="link small-text">
                            Studies
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/universities" class="link small-text">
                            Universities
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/admission" class="link small-text">
                            Admission
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/scholarships" class="link small-text">
                            Scholarships
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/students" class="link small-text">
                            Students
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/latvia/why" class="link small-text">
                            Why Latvia
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/latvia/live" class="link small-text">
                            Live in Latvia
                             <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/higher-education" class="link small-text">
                            Higher Education
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/partners" class="link small-text">
                            Best Practice Universities
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/news" class="link small-text">
                            News & Events
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/faq" class="link small-text">
                            FAQ
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/ua" class="link small-text">
                            Support for UA students
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/survival-guide" class="link small-text">
                            Survival Guide
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                    </div>

                </div>
                <div class="links-box">
                    <p class="tiny-text box-title">Useful</p>
                    <div class="links">
                        <NuxtLink to="/about" class="link small-text">
                            About Us
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/resources" class="link small-text">
                            Useful Resources
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/materials" class="link small-text">
                            Materials
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <NuxtLink to="/terms" class="link small-text">
                            Terms & Policies
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                        <!-- <NuxtLink to="/" class="link small-text">
                            Contacts
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink> -->
                    </div>
                </div>
                <div class="links-box socials">
                    <p class="tiny-text box-title">Social Links</p>
                    <div class="links">
                        <a target="_blank" href="https://www.instagram.com/studyinlatvia/" class="link small-text"><img src="/images/icons/ig.png?v=2.0" alt="">Instagram
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/studyinlatviaLV" class="link small-text"><img src="/images/icons/fb.png?v=2.0" alt="">Facebook
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a target="_blank" href="https://twitter.com/StudyLatvia" class="link is-twitter small-text"><img src="/images/icons/social/X.png?v=2.0" alt="">X.com
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/c/StudyLatvia/featured" class="link small-text"><img src="/images/icons/yt.png?v=2.0" alt="">YouTube
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 2.5L8 6L4.5 9.5" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


export default {
	props: {
    value: Boolean,
	},
	computed: {
    isOpen: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      }
    }
	},
};
</script>
<style lang="scss" scoped>
.menu-mobile {
    display: none;
    position: absolute;
    background-color: #F5F5F6;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 988;
    left: -100%;
    transition: left 0.31s ease;
    overflow: hidden;
    padding-top: 95px;
    padding-bottom: 0px;
    .menu-wrapper {
        width: 100%;
        overflow: scroll;
    }
    .inner-menu {
        padding-left: 20px;
        padding-right: 20px;
        .links-box {
            .box-title {
                color: $ui-weak;
                margin-bottom: 15px;
            }
            .link {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #EDEEF1;
                color: $ui-contrast;
                width: 100%;
                display: flex;
                align-items: center;
                &:first-child {
                    border-top: 1px solid #EDEEF1;
                }
                img {
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.5rem;
                }
                svg {
                    margin-left: auto;
                    margin-right: 0px;
                }
                &.is-twitter {
                    img {
                        width: 0.875rem;
                        height: 0.875rem;
                    }
                }
            }
            margin-bottom: 45px;
        }
    }
    &.open {
        left: 0px;
    }
    @media (max-width: 1200px) {
        display: flex;
    }
}
</style>
