<template>
  <header class="modal-card-head">
    <div class="modal-card-title flex">
      
      <div>
        <h2>{{ title }}</h2>
        
        <NuxtLink
          v-if="isSubtitleALink"
          :to="subtitle.to"
          class="modal-card-subtitle"
        >
          {{subtitle.title}}
        </NuxtLink>
        <div v-else class="modal-card-subtitle">
          {{ subtitle }}
        </div>
      </div>

      <div v-if="parent" class="relationship__links flex">
        <div class="relationship__links__item">
          <!-- <div class="relationship__links__subtitle">Structure head of <br>{{ title }}</div> -->
          <div class="relationship__links__subtitle">Structure head:</div>
        </div>
        <div class="relationship__links__item">
          <nuxt-link :to="`/universities/${parent.slug}`" class="relationship__links__link"><h3 class="relationship__links__title">{{ parent.title }}</h3></nuxt-link>
        </div>
      </div>

      <div v-if="children" class="relationship__links flex">
        <div class="relationship__links__item">
          <!-- <div class="relationship__links__subtitle">Structural unit of <br>{{ title }}</div> -->
          <div class="relationship__links__subtitle">Structural units:</div>
        </div>
        <div v-for="batch in splitIntoBatches(children, 3)" class="relationship__links__item">
          <div class="relationship__links__batch">
            <div v-for="child in batch" class="relationship__links__item__child">
              <nuxt-link :to="`/universities/${child.slug}`" class="relationship__links__link"><h3 class="relationship__links__title">{{ child.title }}</h3></nuxt-link>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    <template v-if="!fullScreen">
      <!-- <a class="modal-button" v-bind="buttonOptions" v-html="buttonOptions.label" /> -->
      <a @click="$emit('close')" tabindex="0" @keyup.enter="$emit('close')">
        <img src="/images/icons/close.svg" alt="Close" />
      </a>
    </template>
  </header>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: [String, Object],
      default: ''
    },
    buttonOptions: {
      type: Object,
      default: () => ({
        label: 'Available Studies',
        href: "/studies",
        class: "link small-text btn btn-round btn-m btn-purple"
      })
    },
    fullScreen: {
      type: Boolean,
      default: false
    },
    parent: {
      type: Object,
      default: null
    },
    children: {
      type: Array,
      default: null
    }
  },

  computed: {
    isSubtitleALink() {
      return typeof this.subtitle === 'object';
    }
  },

  methods: {
    splitIntoBatches(array, batchSize) {
      const result = [];
      for (let i = 0; i < array.length; i += batchSize) {
        result.push(array.slice(i, i + batchSize));
      }
      return result;
    },
  }
}
</script>

<style lang="scss">
.modal-card-head {
  @media screen and (max-width: 950px) {
    padding: 20px;
  }
  @media screen and (min-width: 950px) {
    padding: 20px 54px 20px 54px;
  }
  @media screen and (min-width: 1400px) {
    padding: 20px 54px 20px 82px;
  }
  background: $white;
  border-bottom: 1px solid $ui-details;
  .modal-card-title {
    width: calc(100% - 24px);
  }
  .modal-card-subtitle {
    font-size: 0.938rem;
    line-height: 100%;
    color: $ui-regular;
    margin-top: 5px;
  }
  .modal-button {
    margin-right: 54px
  }
  .relationship__links {
    margin-left: 6rem;
    &__item {
      &:not(:last-child) {
        margin-right: 3rem;
      }
      padding-top: 5px;
      &__child {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    &__title {
      font-size: 1rem;
      line-height: 1.2;
    }
    &__subtitle {
      font-size: 0.938rem;
      line-height: 100%;
      color: $ui-regular;
    }
    &__link {
      color: $ui-accent;
    }
  }
}
</style>
