<template>
  <div class="model-sidebar">

    <nuxt-link v-if="img && img_link" class="info-logo is-flex" :to="img_link">
      <img :src="img" :alt="alt">
    </nuxt-link>
    <div v-else-if="img" class="info-logo">
      <img :src="img" :alt="alt">
    </div>

    <a v-if="page == 'universities'" :href="`/studies?university=${slug}`" class="available-studies-link link small-text btn btn-round btn-m btn-purple">Available Studies</a>

    <div v-for="i in info" :class="i.label.split(' ').join('-')" :key="i.label">
      <div class="info-label">
        <img class="info-label__icon" width="12px" :src="iconsPrefix + i.icon" alt="">
        <span class="info-label__text">{{ i.label }}</span>
      </div>
      <div class="info-value" v-if="typeof i.value === 'string'">
        <a v-if="i.isLink && i.value" :href="i.link" target="_blank">
          {{ i.value }}
        </a>
        <template v-else-if="i.isCopyable">

          <Copyable :link="i.value" />

          <div class="copyable-link" v-if="false">
            <div class="ellipsize-left copyable-link__text">
              {{ i.value }}
            </div>
            <a class="copyable-link__button" @click="copyText(i.value)">
              <template v-if="linkCopied">
                <img class="copy-icon" :src="iconsPrefix + 'check-success.svg'" alt=""><span style="color: #00B712">Copied!</span>
              </template>

              <template v-else>
                <img class="copy-icon" :src="iconsPrefix + 'copy.svg'" alt="">Copy link
              </template>
            </a>
          </div>
        </template>
        <span v-else>
          {{ i.value }}
        </span>
      </div>
      <div class="info-value" v-else-if="typeof i.value === 'object' && Array.isArray(i.value)">
        <template v-for="v in i.value" >
          <a :href="v.link" v-if="v.link" style="text-decoration: none" target="_blank" :key="v.type">
            <div class="info-value-list">
              <div class="info-value-list__social">
                <img class="info-value-list__icon" :src="iconsPrefix + getSocialIcon(v.type)" alt="">
                <span class="info-value-list__type">{{ v.type }}</span>
              </div>
              <span class="info-value-list__text">{{ getSocialProfile(v.link, v.type) }}</span>
            </div>
          </a>
        </template>
      </div>
    </div>
    <ShareButton
              :title="title"
              :description="desc_description"
              class='is-hidden-mobile icons-opposite-direction'
            />
    <ShareButton
              style="margin-left: 7px"
              :title="title"
              :description="desc_description"
              class='is-hidden-tablet'
              as-buttons
            />
  </div>
</template>

<script>
import Copyable from "../partials/Copyable";
import ShareButton   from "~/components/partials/ShareButton";
export default {
  components: {Copyable, ShareButton},
  components: {Copyable},
  props: {
    mobile: {
      type: Boolean,
      default: false
    },
    alt: {
      type: String,
      default: 'Logo'
    },
    img: {
      type: String,
      default: null,
    },
    img_link: {
      type: Object,
      default: null,
    },
    info: {
      type: Array,
      default: () => ([
        { icon: 'phone.svg', label: 'Phone', value: '+371 22222222' },
        { icon: 'e-mail.svg', label: 'E-mail', value: 'admission@lu.lv' },
        { icon: 'website.svg', label: 'Website', value: 'https://www.lu.lv/', isLink: true, link: 'https://www.lu.lv/' },
        {
          icon: 'social.svg',
          label: 'Social Links',
          value: [
            { type: 'instagram', link: 'universityLV' },
            { type: 'facebook', link: 'university_of_latvia' },
          ]
        },
        { icon: 'share.svg', label: 'Share Link', value: 'https://international.rtu.lv/riga-technical-university-rtu/bachelors-studies/aviation-transport-bachelors/', isCopyable: true }
      ])
    },
    title: {
      type: String,
      default: null
    },
    desc_description: {
      type: String,
      default: ''
    },
    slug: {
      type: String,
      default: ''
    },
    page: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      iconsPrefix: '/images/icons/',
      linkCopied: false
    }
  },
  methods: {
    getSocialIcon (type) {
      switch (type) {
        case 'facebook':
          return 'fb.png?v=2.0'
        case 'instagram':
          return 'ig.png?v=2.0'
        case 'twitter':
          return 'tw.png?v=2.0'
        case 'linkedin':
          return 'li.png?v=2.0'
        case 'youtube':
          return 'yt.png?v=2.0'
        case 'flickr':
          return 'fl.png?v=2.0'
        default:
          return null
      }
    },
    getSocialProfile (link, type) {
      const parts = link.split("/");
      const profile = parts[parts.length - 1] || parts[parts.length - 2];
      switch (type) {
        case 'instagram':
          return '@' + profile
        default:
          return '/' + profile
      }
    },
    copyText(text) {
      this.$copyText(text).then(() => {
        this.linkCopied = true
        setTimeout(() => this.linkCopied = false, 5000)
      }).catch(() => {
        this.$buefy.toast.open({
          duration: 5000,
          message: `Could not copy <a style="color: white" href="${text}" target="_blank">${text}</a>, try to copy the link yourself.`,
          position: 'is-bottom',
          type: 'is-warning'
        })
      })
    }
  },
}
</script>

<style lang="scss">
.model-sidebar {
  padding: 40px !important;
  .available-studies-link {
    margin-bottom: 1.25rem;
  }
  .info {
    &-logo {
      margin-bottom: 32px;
      width: 100%;

      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100px;
        padding: 0 40px 10px;
        @media screen and (max-width: 950px) {
          padding: 0;
          margin: auto;
          max-width: 80%;
        }
      }

      @media screen and (max-width: 950px) {
        margin-bottom: 0;
        height: 200px;

        img {
          height: 100%;
          margin: auto;
        }
      }
    }

    &-label {
      display: flex;
      align-items: center;
      @media screen and (min-width: 950px) {
        margin-bottom: 7px;
      }

      &__icon {
        margin-right: 7px;
      }

      &__text {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $ui-weak;
        @media screen and (max-width: 950px) {
          color: $ui-regular;
        }
      }
    }

    &-value {
      @media screen and (max-width: 950px) {
        font-size: 0.75rem;
        & > .copyable-link {
          margin-top: 17px;
        }
      }
      @media screen and (min-width: 950px) {
        margin-bottom: 32px;
        font-size: 0.938rem;
      }
      line-height: 100%;
      color: $ui-regular;

      a {
        color: $ui-regular;
        text-decoration: underline;
      }

      &-list {
        display: flex;
        align-items: center;
        &__social {
          text-transform: capitalize;
          display: flex;
          align-items: center;
        }
        margin-top: 8px;
        @media screen and (max-width: 950px) {
          margin-top: 12px;
          justify-content: space-between;
          &__text {
            text-decoration: underline;
          }
        }
        @media screen and (min-width: 950px) {
          &__type {
            display: none
          }
        }
        &__icon {
          margin-right: 6px;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  @media screen and (max-width: 950px) {
    background: $white;
    border-radius: 25px;
    margin-top: 12px;
    padding: 0 !important;
    & > div {
      padding: 15px !important;
      &:not(.Social-Links):not(.Share-Link) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $ui-details;
      }
    }
  }
}

.show-enter-active,
.show-leave-enter {
  transform: translateX(0);
  transition: all .3s ease;
}
.show-enter,
.show-leave-to {
  transform: translateX(100%);
}
</style>
