<template>
  <div class="modal-card" style="" ref="modal">

    <div v-if="fullScreen" class="modal-mobile-header">
      <slot name="mobileHeader">
        <button class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box" @click="mobileShowSidebar ? mobileShowSidebar = false : $emit('close')">
          <img src="/images/icons/chevron-left.svg" alt="">
        </button>
        <div class="modal-mobile-header__title">
          {{ mobileShowSidebar ? 'Contact details' : mobileHeaderOptions.title }}
        </div>
        <button v-if="sidebarOptions && Object.keys(sidebarOptions).length && !mobileShowSidebar" class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box" @click="mobileShowSidebar = true">
          <img style="max-width: 16px; max-height: 16px" src="/images/icons/academic.svg" alt="">
        </button>
      </slot>
    </div>

    <modal-header v-if="!hideHeader" v-bind="{...headerOptions, fullScreen}" @close="$emit('close')" />

    <div class="modal-card-body px-0 py-0 mx-0" :class="{ isGapless: !fullScreen }">
      <div class="columns m-0" tabindex="0" ref="focusable">
        <div class="column is-two-third modal-card__content">
          <modal-sidebar v-if="fullScreen && mobileShowSidebar" v-bind="[sidebarOptions, headerOptions]" mobile :page="page"/>
          <slot v-else>
            No content
          </slot>
        </div>
        <div v-if="!hideSidebar" class="column is-one-third pl-0">
          <div class="is-sticky">
            <modal-sidebar v-bind="[sidebarOptions, headerOptions]" :page="page"/>
          </div>
        </div>
      </div>
    </div>

    <div v-if="fullScreen" class="modal-mobile-footer">
      <slot name="mobileFooter" />
    </div>

  </div>
</template>
<script>
import ModalHeader from "./ModalHeader";
import ModalSidebar from "./ModalSidebar";
export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    headerOptions: {
      type: Object,
      default: () => ({})
    },
    hideHeader: {
      type: Boolean,
      default: false
    },
    sidebarOptions: {
      type: Object,
      default: () => ({})
    },
    hideSidebar: {
      type: Boolean,
      default: false
    },
    contentOptions: {
      type: Object,
      default: () => ({
        background: 'white'
      })
    },
    fullScreen: {
      type: Boolean,
      default: false
    },
    mobileHeaderOptions: {
      type: Object,
      default: () => ({
        title: 'No title'
      })
    },
    page: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      mobileShowSidebar: false
    }
  },
  components: {ModalSidebar, ModalHeader},

  methods: {
    /**
     * Function called every time this modal is opened/mounted
     */
    isOpened() {
      this._accessabilityFocus();
      this._scrollTop();
    },
    /**
     * Accessability thing.. Focus inside on opening
     */
    _accessabilityFocus() {
      let elem = this.$refs['focusable'];


      setTimeout((elem) => {
        if (elem) elem.focus();
      }, 200, elem);
    },

    _scrollTop() {
      let elem = this.$refs['focusable'];

      setTimeout((elem) => {
        if (elem) elem.parentElement.scrollTo(0,0);
      }, 200, elem);
    }
  },

  watch: {
    '$route.name' () {
      this.$emit('close')
    },
    fullScreen () {
      this.$emit('close')
    },
    isOpen(newVal, oldVal) {
      if (newVal === true) this.isOpened();
    }
  },

  mounted() {
    this.isOpened();

  }
}
</script>

<style lang="scss" scoped>
  .is-sticky {
    top:0;
    position: sticky;
  }
</style>
