<template>
  <div
    class="main-nav"
    :class="[
      { retract: retractHeader && !menu },
      { 'has-bg': scrollDown && !menu },
    ]"
    role="banner"
  >
    <div class="circle hamburger-wrapper hamburger-wrapper-desktop">
      <button
        class="hamburger hamburger--squeeze"
        :class="{ 'is-active': menu }"
        type="button"
        @click="toggleMenu"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <NuxtLink to="/" class="logo" :class="{ invert: menu }">
      <svg
        viewBox="0 0 138 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            class="logo-switch"
            d="M18.1396 20.2642C18.1396 14.3218 0.566551 19.4952 0.566551 9.65771C0.566551 4.28455 5.27787 2.23715 11.0925 2.23715C14.7701 2.23715 22.0856 2.9063 22.7515 9.85745H17.3444C17.1755 7.97984 15.5056 6.00236 11.331 6.00236C7.99136 6.00236 5.78479 7.01108 5.78479 9.28818C5.78479 14.961 23.5566 9.48793 23.5566 19.7549C23.5566 25.937 17.1755 27.5449 12.0964 27.5449C3.50864 27.5449 0.099395 24.1593 0 19.1257H5.40709C5.5363 22.3116 8.11063 23.7897 12.2554 23.7897C15.3366 23.7897 18.1396 22.8509 18.1396 20.2642ZM25.952 21.9121C25.952 25.2678 26.3894 27.2853 31.9952 27.2853C33.4265 27.2853 34.3012 27.1854 35.5337 27.0156V23.6599C34.4304 23.6898 33.3967 23.7298 32.2239 23.7298C30.6534 23.7298 30.554 22.6212 30.554 20.5738V12.4541H35.3647V9.08843H30.554V3.58544H25.9421V9.08843H23.5367V12.4442H25.9421V21.9121H25.952ZM44.1214 27.5449C47.2921 27.5449 49.5981 26.3065 51.099 24.389H51.1685V26.8758H55.7805V9.08843H51.1685V18.856C51.1685 22.6512 47.8289 23.9895 45.7913 23.9895C41.885 23.9895 41.2191 21.9121 41.2191 19.2255V9.08843H36.6072V20.9733C36.6072 26.1667 40.2748 27.5449 44.1214 27.5449ZM73.7809 26.8758V24.4289H73.7113C73.3436 25.4975 70.6102 27.5449 66.9326 27.5449C60.1837 27.5449 57.2416 22.6112 57.2416 18.047C57.2416 13.5528 60.1837 8.61903 66.9326 8.61903C69.7355 8.61903 72.3397 9.48792 73.7113 11.6352H73.7809V2.50681H78.3928V26.8758H73.7809ZM73.9797 18.047C73.9797 15.0908 72.3397 12.1745 68.0359 12.1745C63.6625 12.1745 62.0622 15.0908 62.0622 18.047C62.0622 21.1031 63.6625 23.9895 68.0359 23.9895C72.3397 23.9895 73.9797 21.1031 73.9797 18.047ZM85.6288 28.7234C85.092 29.832 84.1975 30.1017 82.9551 30.1017C81.9213 30.1017 81.0169 30.0717 80.6491 30.0318V33.5873C81.5536 33.6272 82.7563 33.6572 83.5216 33.6572C87.398 33.6572 88.4615 33.0579 89.9028 30.0318L99.554 9.08843H94.6439L89.0977 21.8122L83.4222 9.08843H78.4127L86.6625 26.5762L85.6288 28.7234ZM5.02939 30.3614H0.019879V54.3309H19.5311V50.3659H5.02939V30.3614ZM40.2252 51.2747C40.6625 51.2747 41.3583 51.2747 41.726 51.1749V54.4307C40.8215 54.6005 40.0264 54.8302 38.4559 54.8302C35.4542 54.8302 35.0864 53.2522 34.987 52.5531C34.0825 53.462 31.8462 55 26.6677 55C22.0259 55 19.4516 52.9127 19.4516 49.4271C19.4516 44.5233 24.4611 44.0839 27.4032 43.8242C33.9831 43.185 34.7187 42.9453 34.7187 41.5771C34.7187 39.5597 32.3829 39.0303 29.7092 39.0303C26.6379 39.0303 25.0376 39.9991 24.8686 41.9866H20.3561C20.9922 37.3225 24.5307 35.8743 29.7092 35.8743C38.9628 35.8743 39.2312 39.5297 39.2312 41.8467V50.266C39.2312 51.2348 39.927 51.2747 40.2252 51.2747ZM34.6193 45.4621C33.2874 46.0015 31.8462 46.2012 28.5761 46.5707C25.0972 47.0102 24.2623 47.7093 24.2623 49.2573C24.2623 51.6043 26.3695 52.0438 27.9697 52.0438C30.4745 52.0438 34.6193 51.105 34.6193 47.18V45.4621ZM48.2761 48.0089V39.8892H50.6716V36.5335H48.2761V31.0305H43.6642V36.5335H39.9866V39.8892H43.6642V49.3572C43.6642 52.7129 44.1016 54.7303 49.7074 54.7303C51.1387 54.7303 52.0134 54.6305 53.2459 54.4607V51.105C52.1426 51.1349 51.1089 51.1749 49.936 51.1749C48.3755 51.1749 48.2761 50.0663 48.2761 48.0089ZM62.9071 49.7567L57.6292 36.5335H52.4209L60.5017 54.3209H65.5112L73.592 36.5335H68.3838L62.9071 49.7567ZM73.9896 54.3309H78.6016V36.5335H73.9896V54.3309ZM73.9896 33.7171H78.6016V29.9619H73.9896V33.7171ZM102.476 51.1749V54.4307C101.572 54.6005 100.777 54.8302 99.2061 54.8302C96.2044 54.8302 95.8366 53.2522 95.7373 52.5531C94.8328 53.462 92.5964 55 87.4179 55C82.7761 55 80.2018 52.9127 80.2018 49.4271C80.2018 44.5233 85.2113 44.0839 88.1534 43.8242C94.7334 43.185 95.4689 42.9453 95.4689 41.5771C95.4689 39.5597 93.1331 39.0303 90.4594 39.0303C87.3881 39.0303 85.7878 39.9991 85.6188 41.9866H81.1063C81.7424 37.3225 85.2809 35.8743 90.4594 35.8743C99.7131 35.8743 99.9814 39.5297 99.9814 41.8467V50.266C99.9814 51.2348 100.687 51.2747 100.985 51.2747C101.413 51.2747 102.118 51.2747 102.476 51.1749ZM95.3695 45.4621C94.0376 46.0015 92.5964 46.2012 89.3263 46.5707C85.8475 47.0102 85.0225 47.7093 85.0225 49.2573C85.0225 51.6043 87.1296 52.0438 88.7299 52.0438C91.2347 52.0438 95.3794 51.105 95.3794 47.18V45.4621H95.3695Z"
            fill="white"
          />
          <path
            class="logo-switch-circle"
            d="M99.7727 19.2056C99.7727 8.59906 108.331 0 118.886 0C129.442 0 138 8.59906 138 19.2056C138 24.8284 135.595 29.892 131.758 33.3975C127.593 32.5785 123.29 32.1291 118.886 32.1291C114.483 32.1291 110.179 32.5685 106.015 33.3975C102.188 29.892 99.7727 24.8284 99.7727 19.2056Z"
            fill="#AA0032"
          />
          <path
            class="logo-switch-in"
            d="M106.214 9.01852H111.422V15.4304L110.487 25.967H107.148L106.214 15.4304V9.01852ZM125.824 8.53913C122.653 8.53913 120.347 9.78754 118.847 11.6951H118.777V9.01852H114.165V26.8059H118.777V17.2381C118.777 13.4429 121.878 12.1046 124.293 12.1046C128.1 12.1046 128.736 14.2918 128.736 16.1994V26.8059H133.348V14.7213C133.338 9.88741 129.671 8.53913 125.824 8.53913ZM106.214 33.3675C107.933 33.038 109.663 32.7683 111.422 32.5686V28.6535H106.214V33.3675Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="138" height="55" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <!-- <svg width="138" height="55" viewBox="0 0 138 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path class="logo-switch" d="M18.1396 20.2641C18.1396 14.3217 0.566551 19.4951 0.566551 9.65762C0.566551 4.28446 5.27787 2.23706 11.0925 2.23706C14.7701 2.23706 22.0856 2.90621 22.7515 9.85736H17.3444C17.1755 7.97975 15.5056 6.00227 11.331 6.00227C7.99136 6.00227 5.78479 7.01099 5.78479 9.28809C5.78479 14.9609 23.5566 9.48783 23.5566 19.7548C23.5566 25.9369 17.1755 27.5449 12.0964 27.5449C3.50864 27.5449 0.099395 24.1592 0 19.1256H5.40709C5.5363 22.3115 8.11063 23.7896 12.2554 23.7896C15.3366 23.7896 18.1396 22.8508 18.1396 20.2641ZM25.952 21.912C25.952 25.2677 26.3894 27.2852 31.9952 27.2852C33.4265 27.2852 34.3012 27.1853 35.5337 27.0155V23.6598C34.4304 23.6898 33.3967 23.7297 32.2239 23.7297C30.6534 23.7297 30.554 22.6211 30.554 20.5737V12.4541H35.3647V9.08834H30.554V3.58534H25.9421V9.08834H23.5367V12.4441H25.9421V21.912H25.952ZM44.1214 27.5449C47.2921 27.5449 49.5981 26.3064 51.099 24.3889H51.1685V26.8757H55.7805V9.08834H51.1685V18.8559C51.1685 22.6511 47.8289 23.9894 45.7913 23.9894C41.885 23.9894 41.2191 21.912 41.2191 19.2254V9.08834H36.6072V20.9732C36.6072 26.1666 40.2748 27.5449 44.1214 27.5449ZM73.7809 26.8757V24.4288H73.7113C73.3436 25.4975 70.6102 27.5449 66.9326 27.5449C60.1837 27.5449 57.2416 22.6111 57.2416 18.0469C57.2416 13.5527 60.1837 8.61894 66.9326 8.61894C69.7355 8.61894 72.3397 9.48783 73.7113 11.6351H73.7809V2.50672H78.3928V26.8757H73.7809ZM73.9797 18.0469C73.9797 15.0907 72.3397 12.1744 68.0359 12.1744C63.6625 12.1744 62.0622 15.0907 62.0622 18.0469C62.0622 21.1031 63.6625 23.9894 68.0359 23.9894C72.3397 23.9894 73.9797 21.1031 73.9797 18.0469ZM85.6288 28.7234C85.092 29.8319 84.1975 30.1016 82.9551 30.1016C81.9213 30.1016 81.0169 30.0716 80.6491 30.0317V33.5872C81.5536 33.6271 82.7563 33.6571 83.5216 33.6571C87.398 33.6571 88.4615 33.0578 89.9028 30.0317L99.554 9.08834H94.6439L89.0977 21.8121L83.4222 9.08834H78.4127L86.6625 26.5761L85.6288 28.7234ZM5.02939 30.3613H0.019879V54.3308H19.5311V50.3658H5.02939V30.3613ZM40.2252 51.2747C40.6625 51.2747 41.3583 51.2747 41.726 51.1748V54.4306C40.8215 54.6004 40.0264 54.8301 38.4559 54.8301C35.4542 54.8301 35.0864 53.2521 34.987 52.553C34.0825 53.4619 31.8462 54.9999 26.6677 54.9999C22.0259 54.9999 19.4516 52.9126 19.4516 49.427C19.4516 44.5232 24.4611 44.0838 27.4032 43.8241C33.9831 43.1849 34.7187 42.9453 34.7187 41.577C34.7187 39.5596 32.3829 39.0302 29.7092 39.0302C26.6379 39.0302 25.0376 39.999 24.8686 41.9865H20.3561C20.9922 37.3224 24.5307 35.8742 29.7092 35.8742C38.9628 35.8742 39.2312 39.5296 39.2312 41.8466V50.2659C39.2312 51.2347 39.927 51.2747 40.2252 51.2747ZM34.6193 45.462C33.2874 46.0014 31.8462 46.2011 28.5761 46.5706C25.0972 47.0101 24.2623 47.7092 24.2623 49.2572C24.2623 51.6042 26.3695 52.0437 27.9697 52.0437C30.4745 52.0437 34.6193 51.1049 34.6193 47.1799V45.462ZM48.2761 48.0088V39.8891H50.6716V36.5334H48.2761V31.0304H43.6642V36.5334H39.9866V39.8891H43.6642V49.3571C43.6642 52.7128 44.1016 54.7303 49.7074 54.7303C51.1387 54.7303 52.0134 54.6304 53.2459 54.4606V51.1049C52.1426 51.1348 51.1089 51.1748 49.936 51.1748C48.3755 51.1748 48.2761 50.0662 48.2761 48.0088ZM62.9071 49.7566L57.6292 36.5334H52.4209L60.5017 54.3208H65.5112L73.592 36.5334H68.3838L62.9071 49.7566ZM73.9896 54.3308H78.6016V36.5334H73.9896V54.3308ZM73.9896 33.717H78.6016V29.9618H73.9896V33.717ZM102.476 51.1748V54.4306C101.572 54.6004 100.777 54.8301 99.2061 54.8301C96.2044 54.8301 95.8366 53.2521 95.7373 52.553C94.8328 53.4619 92.5964 54.9999 87.4179 54.9999C82.7761 54.9999 80.2018 52.9126 80.2018 49.427C80.2018 44.5232 85.2113 44.0838 88.1534 43.8241C94.7334 43.1849 95.4689 42.9453 95.4689 41.577C95.4689 39.5596 93.1331 39.0302 90.4594 39.0302C87.3881 39.0302 85.7878 39.999 85.6188 41.9865H81.1063C81.7424 37.3224 85.2809 35.8742 90.4594 35.8742C99.7131 35.8742 99.9814 39.5296 99.9814 41.8466V50.2659C99.9814 51.2347 100.687 51.2747 100.985 51.2747C101.413 51.2747 102.118 51.2747 102.476 51.1748ZM95.3695 45.462C94.0376 46.0014 92.5964 46.2011 89.3263 46.5706C85.8475 47.0101 85.0225 47.7092 85.0225 49.2572C85.0225 51.6042 87.1296 52.0437 88.7299 52.0437C91.2347 52.0437 95.3794 51.1049 95.3794 47.1799V45.462H95.3695Z" :fill="logoColor"/>
                <path d="M99.7727 19.2056C99.7727 8.59906 108.331 0 118.886 0C129.442 0 138 8.59906 138 19.2056C138 24.8284 135.595 29.892 131.758 33.3975C127.593 32.5785 123.29 32.1291 118.886 32.1291C114.483 32.1291 110.179 32.5685 106.015 33.3975C102.188 29.892 99.7727 24.8284 99.7727 19.2056Z" fill="#AA0032"/>
                <path d="M106.214 9.01845H111.422V15.4303L110.487 25.9669H107.148L106.214 15.4303V9.01845ZM125.824 8.53906C122.653 8.53906 120.347 9.78747 118.847 11.695H118.777V9.01845H114.165V26.8058H118.777V17.238C118.777 13.4428 121.878 12.1045 124.293 12.1045C128.1 12.1045 128.736 14.2917 128.736 16.1993V26.8058H133.348V14.7212C133.338 9.88735 129.671 8.53906 125.824 8.53906ZM106.214 33.3675C107.933 33.0379 109.663 32.7682 111.422 32.5685V28.6535H106.214V33.3675Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="138" height="55" fill="white"/>
                </clipPath>
                </defs>
            </svg> -->
    </NuxtLink>

    <div class="inner-nav">
      <transition name="nav-transition">
        <div v-if="!showSearch" class="links">
          <NuxtLink to="/studies" class="link small-text"> Studies </NuxtLink>
          <NuxtLink to="/universities" class="link small-text"> Universities </NuxtLink>
          <NuxtLink to="/admission" class="link small-text"> Admission </NuxtLink>
          <NuxtLink to="/scholarships" class="link small-text"> Scholarships </NuxtLink>
          <NuxtLink to="/students" class="link small-text"> Students </NuxtLink>

          <client-only>
            <b-dropdown
              :triggers="['hover', 'focus']"
              aria-role="menu"
              :trap-focus="false"
            >
              <template #trigger>
                <!-- <b-button
                  class="link small-text"
                  label="Latvia"
                  type="is-info"
                  icon-right="menu-down" /> -->
                <div class="dropdown-latvia">
                  <p class="link small-text">Latvia</p>
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.5 4.5L6 8L2.5 4.5"
                      stroke="#0E0F14"
                      stroke-width="1.1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </template>
              <b-dropdown-item aria-role="listitem" :focusable="false">
                <NuxtLink to="/latvia/why" class="link small-text">
                  Why Latvia
                </NuxtLink>
              </b-dropdown-item>
              <b-dropdown-item aria-role="listitem" :focusable="false">
                <NuxtLink to="/latvia/live" class="link small-text">
                  Live in Latvia
                </NuxtLink>
              </b-dropdown-item>
            </b-dropdown>
          </client-only>

        </div>
      </transition>
      <NavSearch v-model="showSearch" />
    </div>
    <div class="circle hamburger-wrapper hamburger-wrapper-mobile">

      <button
        class="hamburger hamburger--squeeze"
        :class="{ 'is-active': menu }"
        type="button"
        @click="toggleMenu"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </div>

    <div class="circle search-wrapper">
      <button type="button" @click="toggleSearch">
        <img v-if="showSearch" src="/images/icons/close.svg" alt="" />
        <img v-else            src="/images/icons/search.svg" alt="" />
      </button>
    </div>

    <div class="circle a-wrapper">
        <button type="button" @click="toggleAccMenu">
        	<p class="tiny-text">A</p>
    	</button>
    </div>

    <b-modal
      v-if="$mq == 'sm'"
      class="search-modal"
      v-model="showSearch"
      has-modal-card
      full-screen
      :can-cancel="false">
      <NavSearch is-mobile v-model="showSearch" />
    </b-modal>
  </div>
</template>
<script>
import NavSearch from "~/components/partials/NavSearch";

export default {
  props: {
    menu: Boolean,
    logoColor: {
      type: String,
      default: "white",
    },
    scrollDown: {
      type: Boolean,
    },
  },

  components: {NavSearch},

  data() {
    return {
      showSearch: false,

      retractHeader: false,
      prevScroll: 0,
      currentScroll: 0,
    };
  },
  computed: {},
  beforeMount() {
    if (process.client) {
      window.addEventListener("scroll", this.handleScroll, {
        passive: true,
      });
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener("scroll", this.handleScroll);
    }
  },
  methods: {
    handleScroll(e) {
      if (process.client) {
        const SCROLL_OFFSET = 100;
        this.currentScroll = window.pageYOffset;
        if (
          this.prevScroll < this.currentScroll &&
          window.scrollY > SCROLL_OFFSET
        ) {
          this.retractHeader = true;
        } else {
          this.retractHeader = false;
        }
        if (this.currentScroll < 100) {
          this.$emit("switchScroll", false);
        } else {
          this.$emit("switchScroll", true);
        }
        this.prevScroll = this.currentScroll;
      }
    },
    toggleMenu() {
      this.$emit("toggleMenu");
    },
	toggleAccMenu() {
    	this.$emit("toggleAccMenu");
    },
    toggleSearch() {
      this.showSearch = !this.showSearch;
    },
  },
  mounted() {},
};
</script>
<style lang="scss" scoped>
.main-nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 15px 60px 15px 60px;
  transition: top 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
  &.has-bg {
    backdrop-filter: blur(30px);
    background: rgba(245, 245, 246, 0.85);
    .logo {
      .logo-switch {
        fill: #292d3d;
      }
    }
  }
  &.retract {
    top: -91px;
  }
  .hamburger-wrapper .hamburger .hamburger-box .hamburger-inner {
    &::before {
      display: none;
    }
  }
  .hamburger-wrapper-mobile {
    display: none;
  }
  .logo {
    margin-left: 30px;
    svg {
      width: 138px;
      height: auto;
    }
    .logo-switch,
    .logo-switch-circle,
    .logo-switch-in {
      transition: fill 0.3s ease;
    }
    &.invert {
      .logo-switch {
        fill: #292d3d;
      }
    }
  }
  .inner-nav {
    height: 60px;
    background-color: $white;
    border-radius: 30px;
    margin-left: auto;
    position: relative;
    .links {
      display: flex;
      align-items: center;
      width: 644px;
      height: 100%;
      padding-left: 35px;
      padding-right: 35px;
      overflow: hidden;
      //transition: width 0.3s ease;
      overflow: visible;
      // &.closed {
      //     padding: 0px 30px;
      //     width: 0px;
      //     //transition: width 0.3s ease 0.3s;
      //     .link {
      //         //opacity: 0;
      //     }
      // }
      .link {
        color: $ui-contrast;
        padding: 5px 5px;
        position: relative;
        overflow: hidden;
        transition: opacity 0.21s ease, color 0.3s ease;
        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          color: $ui-accent;
        }
      }
      .dropdown-latvia {
        display: flex;
        align-content: center;
        align-items: center;
        .link {
          margin-right: 2px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .search-wrapper {
    margin-left: 20px;
    margin-right: 15px;
    padding: 10px;

    button {
      width: 100%;
      height: 100%;

      img {
        width: 1rem;
        height: 1rem;
        margin-top: 0.2rem;
      }
    }
  }
  .a-wrapper {
    button {
      p {
        font-weight: 500;
        color: $ui-contrast;
      }
    }
  }
  @media (max-width: 1390px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
    .logo {
      margin-left: 0px;
    }
    .hamburger-wrapper-desktop {
      display: none;
    }
    .hamburger-wrapper-mobile {
      margin-left: 15px;
    }
    .search-wrapper {
      margin-left: 15px;
    }
    .hamburger-wrapper-mobile {
      display: flex;
    }
    .inner-nav .links{
      display: none;
    }
  }
  @media (max-width: 900px) {
    .inner-nav .search-box {
      width: 298px;
    }
  }
  @media (max-width: 680px) {
    .hamburger-wrapper-mobile {
      margin-left: auto;
    }
    .inner-nav {
      position: absolute;
      top: 85px;
      right: 15px;
    }
  }
  @media (max-width: 450px) {
    .inner-nav {
      display: none;
    }
  }
  @media (min-width: 1050px) {
    .hamburger-wrapper-desktop {
      order: 3;
      margin-left: 20px;
    }
    .logo {
      order: 1;
    }
    .inner-nav {
      order: 2;
    }
    .search-wrapper {
      order: 4;
    }
    .a-wrapper {
      order: 5;
    }
  }
}

.search-modal {
  background-color: #F5F5F6;
  z-index: -1;

  ::v-deep .modal-background {
    background: #F5F5F6;
  }
}
</style>
