<template>

  <Tabs v-model="selectedTab" :tabs="tabs" role="main">
    <template #tab.everything>
      <Everything
        :news="news"
        :events="events"
        :studenttestimonials="studenttestimonials"
        :experiencestories="experiencestories"
      />
    </template>
    <template #tab.news>
      <News

        tab-slug="news"
      />
    </template>
    <template #tab.events>
      <Events
        :posts="events"
        :filters="filters.events"
        tab-slug="events"
      />
    </template>
    <template #tab.student-testimonials>
      <Testimonials
        single-tag-title="Student Testimonial"
        tab-slug="student-testimonials"
      />
    </template>
    <template #tab.experience-stories>
      <Experiences
        single-tag-title="Experience Story"
        tab-slug="experience-stories"
      />
    </template>
  </Tabs>

</template>

<script>
import Tabs from "~/components/partials/Tabs";
import Everything from "~/components/pages/news/Everything";
import News from "~/components/pages/news/News";
import Events from "~/components/pages/news/Events";
import Testimonials from "~/components/pages/news/Testimonials";
import Experiences from "~/components/pages/news/Experiences";

export default {
  components: {Experiences, Testimonials, Events, News, Everything, Tabs},

  /**
   * Soory for unvalidated props 💩
   * Im still testing NuxtChild..
   * @url https://nuxtjs.org/docs/2.x/features/nuxt-components#the-nuxtchild-component
   * @author Guntis
   */
  props: ['tabs', 'value'],

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {

    const [
      news,
      events,
      studenttestimonials,
      experiencestories,

      filters__news,
      filters__events,
      filters__studenttestimonials,
      filters__experiencestories,
    ] = await Promise.all([
      $axios.$get('/api/v1/news/news'),
      $axios.$get('/api/v1/news/events'),
      $axios.$get('/api/v1/news/student-testimonials'),
      $axios.$get('/api/v1/news/experience-stories'),

      $axios.$get('/api/v1/news/filters/news'),
      $axios.$get('/api/v1/news/filters/events'),
      $axios.$get('/api/v1/news/filters/student-testimonials'),
      $axios.$get('/api/v1/news/filters/experience-stories'),
    ]);

    return {
      news                : news.data,
      events              : events.data,
      studenttestimonials : studenttestimonials.data,
      experiencestories   : experiencestories.data,
      params,

      filters: {
        news:                filters__news.data,
        events:              filters__events.data,
        studenttestimonials: filters__studenttestimonials.data,
        experiencestories:   filters__experiencestories.data,
      }
    }
  },

  data() {
    return {}
  },

  computed: {
    selectedTab: {
      get () {
        return this.value
      },
      set (newVal) {
        this.$emit('input', newVal)
      }
    }
  },

}
</script>
