@mixin accessabilityStyles($primaryColor, $alternateColor) {
    background: $primaryColor !important;

    .main-nav {
        background: rgba($primaryColor, 0.5) !important;
        backdrop-filter: none !important;
    }

    .main-page,
    .news-page,
    .news-single-page {
        background-color: $primaryColor;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        strong,
        span,
        li,
        button,
        input,
        div,
        .btn,
        .btn-red {
            color: $alternateColor !important;
        }

        .btn,
        .btn-red {
            background-color: $primaryColor !important;
            border: 1px solid $alternateColor !important;
        }

        .modal-card-body {
            background-color: $primaryColor;
        }

        .nav .nav-tab {
            background-color: $primaryColor;
            border: 1px solid;
            border-radius: 30px;
        }

        .btn.btn-detail {
            background-color: $primaryColor;
        }

        .university-modal-section__text-buttons {
            background-color: $primaryColor;
        }

        .modal-card-head {
            background-color: $primaryColor;
        }

        .circle {
            background-color: $primaryColor;
            border: 1px solid;
            border-radius: 30px;
        }

        .article {
            border: 2px solid $alternateColor;
            background-color: $primaryColor;
        }

        .article-content {
            background-color: $primaryColor;
        }

        footer {
            border: 1px solid;
            background-color: $alternateColor;
        }

        .hamburger-inner {
            background-color: $alternateColor;
        }

        .cycle-box {
            background-color: $primaryColor;
        }

        .tab-card {
            background-color: $primaryColor;
        }

        .side-tabs .tab-body .tab-box .boxItem .card-button {
            background-color: $primaryColor;
        }

        .sources .box-link {
            background-color: $primaryColor;
        }

        .nav .nav-tab {
            background-color: $primaryColor;
        }

        .news-page {
            background-color: $primaryColor;
        }

        .hamburger-inner::after {
            background-color: $alternateColor;
        }

        .menu-modal .main-menu {
            background: $primaryColor;
        }

        .inner-nav {
            background-color: $primaryColor;
            border: 1px solid;
            border-radius: 30px;
        }

        .highlighted-news {
            background-color: $primaryColor;
        }

        .btn.btn-white {
            background-color: $primaryColor;
        }

        .tag {
            background-color: $primaryColor !important;
        }

        .texting-app {
            background-color: $primaryColor;
        }

        .texting-app .text {
            background-color: $primaryColor;
            border: 1px solid $alternateColor !important;
        }

        .admission-tabs .boxes .box-wrapper .admission-box .bot {
            background-color: $primaryColor;
        }

        .tabs-pills.tabs {
            background-color: $primaryColor;
        }

        .tabs-wrapper.tabs-purple .tabs ul li.is-active {
            border: 1px solid;
            border-radius: 30px;

            background-color: $alternateColor !important;
            color: $primaryColor !important;

            * {
                color: $primaryColor !important;
            }
        }

        .tabs-pills .tabs ul li {
            background-color: $primaryColor;
            border: 1px solid;
            border-radius: 30px;
        }

        .living-costs-tab {
            background-color: $primaryColor;
        }

        .calendar .calendar-blocks .sticky-info {
            background-color: $primaryColor;
            border: 1px solid;
            border-radius: 30px;
        }

        .highlight-header .header-split .line {
            background-color: $primaryColor;
        }

        .flex {
            background-color: $primaryColor;
        }

        .color-bg-img {
            background-color: $primaryColor !important;

            .img-wrapper {
                border-radius: 30px;
            }
        }

        .main-nav .inner-nav {
            background-color: $primaryColor;

            .dropdown-content {
                background-color: $primaryColor;
                color: $primaryColor;

                .dropdown-item {
                    background-color: $primaryColor;
                }
            }
        }

        .how-to .how-to-body .right .list-item .number {
            background-color: $primaryColor;
        }

        .acc-menu-modal .main-menu {
            background-color: $primaryColor;
            border: 1px solid $alternateColor;

            .control {
                button,
                input {
                    background-color: $primaryColor;
                    color: $primaryColor;
                }
            }

            .btn.btn-white {
                background-color: $primaryColor;
            }
        }

        .card {
            background-color: $primaryColor;
            border: 1px solid $alternateColor;
        }

        .is-block.article {
            border: 1px solid $alternateColor;
            overflow: hidden;
        }

        .ext-search,
        .subscribe-box {
            background-color: $primaryColor !important;
            border: 1px solid $alternateColor !important;
        }

        .slim-text-slider {
            background-color: $primaryColor !important;
            border: 1px solid $alternateColor !important;
        }

        .modal-background {
            background-color: rgba($primaryColor, 0.5) !important;
        }

        // PAGE SPECIFIC
        // UNIVERSITIES
    }

    .nav-tab {
        background-color: $primaryColor !important;
        border: 1px solid $alternateColor !important;

        &:before {
            display: none;
        }

        svg {
            fill: $alternateColor;
        }
    }

    .admission-modal {
        background-color: $primaryColor !important;
        border: 1px solid $alternateColor !important;

        .top {
            background-color: $primaryColor !important;
        }
    }

    .tabs-round .tabs ul {
        background-color: $primaryColor !important;
        border: 1px solid $alternateColor !important;

        li.is-active {
            background-color: $alternateColor !important;
            color: $primaryColor !important;

            * {
                color: $primaryColor !important;
            }
        }
    }

    .faq-box {
        border: 1px solid $alternateColor !important;
        border-radius: 30px;
        overflow: hidden;
    }

    .bubble {
        .bubble-circle {
            background: $primaryColor !important;
            border: 1px solid $alternateColor !important;
        }
    }

    .gradient {
        background: $primaryColor !important;
        border: 1px solid $alternateColor !important;
    }

    .cycles-boxes {
        background: $primaryColor !important;
        border: 1px solid $alternateColor !important;
    }
}

html {
    &.reading-mode {
        .media-wrapper {
            border: 1px solid #000;
            border-radius: 30px;
        }

        img,
        .image-wrapper,
        .img-wrapper,
        .image,
        .news-box .news-image,
        .admission-box .top,
        video {
            display: none;
        }
        .media-wrapper {
            border: 1px solid #000;
            border-radius: 30px;
            img,
            .image-wrapper,
            .img-wrapper,
            .image,
            .news-box .news-image,
            video {
                display: block;
                visibility: hidden;
            }
        }

        .small-gradient {
            background-image: none !important;
        }

        .article {
            background: unset;
        }

        .color-bg-img {
            background-color: unset;

            footer {
                background-color: white;
            }

            .highlighted-news {
                background-color: unset;
            }
        }
    }

    &.contrast-white {
        @include accessabilityStyles(#fff, #000);

        footer {
            .viaa-logo {
                background: black;
                border-radius: 5px;
                padding: 20px;
            }
        }

        .btn-black {
            background: #fff !important;
        }
    }

    html.contrast-white h2 {
        color: white !important;
    }

    &.contrast-dark {
        @include accessabilityStyles(#000, #fff);
    }
    &.font-125 {
        font-size: 125%;
        .ext-search {
            width: 535px;
            &.open {
                width: 750px;
                .search-dropdown {
                    right: 220px;
                    .dropdown-trigger button {
                        height: 40px;
                        margin-top: -2px;
                    }
                }
            }
        }
        .main-nav .inner-nav .links {
            width: 735px;
        }
        .card-header-title {
            padding: 21px 18px;
        }
    }
    &.font-150 {
        font-size: 150%;
        .color-bg-img .wrapper .text,
        .color-bg-img .wrapper-md .text {
            max-width: 710px;
            flex: 0 0 710px;
            h2,
            p {
                width: 100%;
                .ext-search .search-btn {
                    right: 5px;
                }
            }
            .wrapper-md .text .dropdown-grey {
                top: 50px;
            }
            .dropdown-grey {
                height: 56px;
            }
        }
        .color-bg-img {
            overflow: visible;
        }
        .main-nav .inner-nav .links {
            width: 835px;
            .ext-search .search-btn {
                right: 5px;
            }
        }
        .ext-search {
            width: 535px;
            &.open {
                width: 875px;
                .search-dropdown {
                    right: 260px;
                }
            }
        }
       
        .main-nav .inner-nav .links {
            width: 820px;
        }
        .dropdown-grey {
            height: 70px;
        }
        .wrapper-md .text .dropdown-grey {
            overflow: visible;
        }
        .card-header-title {
            padding: 21px 15px;
        }
    }
}
