.hide-on-mobile {
	@media screen and (max-width: 950px) {
		display: none !important;
	}
}
.hide-on-desktop {
	@media screen and (min-width: 951px) {
		display: none !important;
	}
}
.ellipsize {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
  &-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    direction: rtl;
    text-align: left;
  }
}
.child-is-fixed {
  & > div {
    pointer-events: none;
    position: fixed;
    width: inherit;
    * {
      pointer-events: auto;
    }
  }
  top: 0;
}
.def-padding {
	padding-left: 90px;
	padding-right: 90px;
}
.circle {
	min-width: 60px;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	overflow: hidden;
	@include mobile {
		width: 50px;
		height: 50px;
		min-width: 50px;
	}
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.flex {
	display: flex;
	&.col {
		flex-direction: column;
		&.fc {
			align-items: center;
			align-content: center;
		}
		&.fcv {
			justify-content: center;
		}
	}
	&.fc:not(.col) {
		justify-content: center;
	}
	&.fcv:not(.col) {
		align-content: center;
		align-items: center;
	}
}
.wrapper,.wrapper-md,.wrapper-l {
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	width: 966px;
	max-width: 966px;
	@media (max-width: 996px) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.wrapper-md {
	width: 1166px;
	max-width: 1166px;
	@media (max-width: 1196px) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.wrapper-l {
	width: 1230px;
	max-width: 1230px;
	@media (max-width: 1260px) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.mobile .block-01 .container {
    padding: 0 !important;
}
.side-tabs {
	ul, ul ul {
		list-style-type: disc;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.side-tabs.b-tabs.is-vertical {
	flex-wrap: nowrap;
	.tabs {
		max-width: 220px;
		flex: 0 0 220px;
		min-width: 220px;
		white-space: unset;
		flex-shrink: unset;
		overflow: unset;
		margin-right: 107px;
		ul {
			flex-shrink: unset;
			flex-grow: unset;
			li {
				position: relative;
				&:not(:last-child) {
					margin-bottom: 40px;
				}
				a {
					&:focus {
						outline:1px solid $ui-accent;
					}
					padding: 0px;
					border-bottom: unset;
					span, button {
						line-height: 2rem;
						font-size: 1.875rem;
						text-align: left;
						color: $ui-weak;
						font-weight: 500;
						letter-spacing: -0.02em;
					}
					.tab-arrow {
						position: absolute;
						top: 50%;
						left: -60px;
						transform: translateY(-50%);
						opacity: 0;
						transition: opacity 0.3s ease;
						svg {
							width: 42px;
							height: auto;
						}
					}
				}
				&.is-active {
					a {
						span,button {
							color: $ui-contrast;
						}
						.tab-arrow {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.tab-body {
		.tab-box {

		}
	}
}
span.purple, span.fr-class-highlighted {
	color: $ui-accent !important;
}
.tabs-round {
	.tabs {
		display: flex;
		justify-content: center;
		ul {
			flex-grow: unset;
			display: flex;
			background-color: $white;
			border-radius: 30px;
			height: 60px;
			padding: 5px;
			li {
				height: 50px;
				overflow: hidden;
				border-radius: 25px;
				transition: background-color 0.3s ease;
				a {
					border-bottom: unset;
					font-size: 0.938rem;
					font-weight: 400;
					padding: 0 20px;
					height: 100%;
					width: 100%;
					color: $ui-contrast;
				}
				&.is-active {
					background-color: #F7931D;
					a {
						color: $white;
					}
				}
			}
		}
	}
}
.tabs-pills {
	.tabs {
		display: flex;
		justify-content: center;

    @include mobile {
      justify-content: flex-start;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 20px;
    }

		ul {
			flex-grow: unset;
			display: flex;
			border-bottom: unset;
			li {
				overflow: hidden;
				border-radius: 25px;
				background-color: $white;
				height: 35px;
				transition: background-color 0.3s ease;
				&:not(:last-child) {
					margin-right: 10px;
				}
				> a, > button {
					border-bottom: unset;
					padding: 0 20px;
					height: 100%;
					width: 100%;
				}
				>a, > button, > a button {
					font-size: 0.938rem;
					font-weight: 400;
					color: $ui-contrast;
				}
				&.is-active {
					background-color: #F7931D;
					a, button, a > button {
						color: #fff !important;
					}
				}
			}
		}
	}
	.tab-content {
		padding-top: 30px;
	}
}
.white {
	color: $white !important;
}
.tabs-wrapper {
	.tab-content, .tab-content .tab, .tab-content .tab h3 {
		outline: none !important;
		border-color: unset;
		box-shadow: unset;
	}
	&.hide-header {
		.tabs {
			display: none;
		}
	}
	&.tabs-overlap {
		.tabs {
			ul {
				z-index: 2;
			}
		}
		.tab-content {
			margin-top: -50px;
		}
	}
	&.tabs-blue {
		.tabs {
			ul {
				li {
					&.is-active {
						background-color: #35C7FE;
					}
				}
			}
		}
	}
	&.tabs-black {
		.tabs {
			ul {
				li {
					&.is-active {
						background-color: $ui-contrast;
					}
				}
			}
		}
	}
	&.tabs-purple {
		.tabs {
			ul {
				li {
					&.is-active {
						background-color: #5E33C1;
					}
				}
			}
		}
	}
}
.notable-people {
	.carousel-wrapper {
    margin-left: 40px;
    margin-right: 40px;
		height: 640px;
    @media (max-width: 768px) {
      margin: 0 15px;
      //height: 540px;
	  height: 410px;
    }

		position: relative;
		overflow: hidden;
		-webkit-border-radius: 60px;
		border-radius: 60px;
		.slide-wrapper {
			height: 640px;

      @include mobile {
        height: 100%;
      }

			.color-bg-img {
				height: 100%;
				margin-left: 0px;
				margin-right: 0px;
				border-radius: 0px;
        @media (max-width: 768px) {
          padding-top: 0 !important;
        }
				.img-wrapper {
					left: 0px;
					transform: unset;
				}

        @include mobile {
          .wrapper {
            display: flex;
            align-items: flex-end;
          }
        }

				.text {
					.hero,p.h2 {
						width: 384px;
            @media (max-width: 768px) {
              width: fit-content;
              margin: 0 auto 15px;
            }
					}
          @media (max-width: 768px) {
            margin: 0 auto 0 !important;
            text-align: center;
            .hero {
              font-size: 1.563rem;
              line-height: 120%;
            }
            p.h2 {
              font-size: 0.75rem;
              line-height: 140%;
            }
          }
					.carousel-controls {
						margin-top: 93px;
						width: 384px;
            @media (max-width: 768px) {
              width: fit-content;
              margin: 30px auto 15px;
            }
						height: 40px;
						display: flex;
						align-items: center;
						align-content: center;
						.tiny-text {
							font-weight: 500;
							margin-left: 0px;
							margin-right: auto;
							margin-bottom: 0px;
						}
						.prev-btn,.next-btn {
							width: 40px;
							height: 40px;
              @media (max-width: 768px) {
                width: 50px;
                height: 50px;
              }
							background-color: $white;
							border-radius: 200px;
							display: flex;
							align-content: center;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;
							}
						}
						.prev-btn {
							margin-right: 60px;
              @media (max-width: 768px) {
                margin-right: 30px;
              }
							svg {
								transform: rotateZ(180deg);
							}
						}
					}
				}
			}
		}
	}
}
.highlighted-news {
	@media (max-width: 550px) {
		.highlighted-news-container {
			.news-box {
				flex-wrap: wrap;
				.news-image,.info {
					max-width: 100%;
					flex: 0 0 100%;
				}
				.news-image {
					height: 260px;
					margin-bottom: 15px;
				}
				.info {
					.bot {
						.link {
							margin-top: 15px;
							margin-left: auto;
						}
					}
				}
			}
		}
	}
}
.highlight-gallery {
	.slick-slider {
		.slick-list {
			padding-left: 340px;
			@media (max-width: 1500px) {
				padding-left: 200px;
			}
			@media (max-width: 1250px) {
				padding-left: 150px;
			}
			@media (max-width: 1150px) {
				padding-left: 70px;
			}
			@media (max-width: 450px) {
				padding-left: 0px;
			}
		}
	}
	.slick-slide {
		height: 616px;
		.slide {
			display: flex !important;
			flex-direction: column;
			justify-content: flex-start;
			.slide-wrapper {
                width: 220px;
				transition: padding-top 0.3s ease, width 0.3s ease;
			}
			.video-wrapper {
				margin-bottom: 0px;
				margin-top: auto;
				transition: height 0.3s ease, width 0.3s ease;
				height: 616px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				video {
					transition: width 0.3s ease, height 0.3s ease;
				}
				.link {
					height: 50px;
				}
			}
			.bg-video-wrapper {
				transition: margin-bottom 0.3s ease;
				margin-bottom: 100px;
			}
		}
		&.slick-active {
			.slide {
				.slide-wrapper {
					width: 302px !important;

				}
				.video-wrapper {
					margin-left: auto;
					height: 616px !important;

					// .info-name {
					// 	display: none;
					// }
					video,
					img:not(.flag-image) {
						width: 100%;
						height: 536px !important;
					}
					.link {
						display: flex;
					}
				}
				.bg-video-wrapper {
					margin-bottom: 0px;
				}
			}
		}
	}
	@media (max-width: 450px) {
		.slick-slide,.slick-slide.slick-active {
			.slide {
				width: unset !important;
				.video-wrapper {
					width: unset !important;
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
	}
}

@media (max-width: 450px) {
	.highlight-gallery.experience-story-gallery-block {
		.slick-slider {
			.slick-list {
				// padding-left: 24px;
				// padding-left: calc((100vw - 296px) / 2);
				padding-left: calc((100vw - 266px) / 2);
				transition: padding-left 0.3s ease;
			}
			&.clicked-next {
				.slick-list {
					// padding-left: 24px;
					padding-left: calc(((100vw - 296px) / 2) - 18px);
					transition: padding-left 0.3s ease;
				}
			}
		}
		.slick-slide.slick-active {
			.slide {
				// @media (max-width: 450px) {
				// 	display: flex !important;
				// 	flex-direction: column;
				// 	justify-content: flex-start;
				// }
				.slide-wrapper {
					width: 270px !important;
				}
			}
		}
		.slick-slide {
			transition: height 0.3s ease;
		}
		.slick-slide:not(.slick-active) {
			.slide {
				// .slide-wrapper {
				// 	padding-top: 30px;
				// }
				.video-wrapper {
					.bg-video-wrapper {
						height: 330px !important;
					}
				}
			}
			.slide.slide-0 {
				.slide-wrapper {
					padding-top: 50px;
				}
			}
			.slide.slide-2 {
				.slide-wrapper {
					padding-top: 50px;
				}
			}
			// .slide:nth-child(odd) {
			// 	.slide-wrapper {
			// 		padding-top: 30px;
			// 	}
			// }
			// .slide:nth-child(3n) {
			// 	.slide-wrapper {
			// 		padding-top: 20px;
			// 	}
			// }
		}
	}
}

@media (max-width: 375px) {
	.highlight-gallery.experience-story-gallery-block {
		.slick-slide.slick-active {
			.slide {
				.slide-wrapper {
					width: 240px !important;
				}
			}
		}
	}
}


.walking-gallery {
	height: 858px;
	@media (max-width: 560px) {
		height: 768px;
	}
	.slick-slider {
		.slick-list {
			padding-left: 340px;
		}
	}
	.slick-slide {
		height: 858px;
		@media (max-width: 768px) {
			padding-left: 5px;
			padding-right: 5px;
		}
		.slide {
			display: flex !important;
			flex-direction: column;
			justify-content: flex-start;
			.slide-wrapper {
				transition: padding-top 0.3s ease, width 0.3s ease;
				.image-wrapper {
					transition: height 0.3s ease;
				}
			}
			&.slide-0 {
				.slide-wrapper {
					width: 302px;
					padding-top: 20px;
					.image-wrapper {
						height: 442px;
					}
				}
			}
			&.slide-1 {
				.slide-wrapper {
					width: 302px;
					padding-top: 144px;
					.image-wrapper {
						height: 442px;
					}
				}
			}
			&.slide-2 {
				.slide-wrapper {
					width: 302px;
					padding-top: 0px;
					.image-wrapper {
						height: 442px;
					}
				}
			}
			.info-name {
				margin-top: 15px;
				color: $ui-weak;
			}
			.info-name,.info-country,.info-quote,.link {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			.info-country,.info-quote,.link {
				display: none;
			}
			.link {
				margin-top: 30px;
			}
		}
		&.slick-active {
			.slide {
				.slide-wrapper {
					padding-top: 0px;
					width: 384px;
					.image-wrapper {
						height: 620px;

            @include mobile {
              max-height: 65vh;
            }
					}
				}
				.info-name {
					margin-top: 10px;
					font-size: 1.188rem;
					color: $ui-contrast;
				}
				.info-country,.info-quote {
					display: block;
				}
				.link {
					display: flex;
				}
			}
		}
	}
}
.walking-gallery-two {
	.slick-slider {
		.slick-list {
			padding-left: 340px;
		}
	}
	.slick-slide {
		@media (max-width: 768px) {
			padding-left: 5px;
			padding-right: 5px;
		}
		.slide {
			display: flex !important;
			flex-direction: column;
			justify-content: flex-start;
			.slide-wrapper {
				transition: padding-top 0.3s ease, width 0.3s ease;
				width: 422px;
				.image-wrapper {
					height: 320px;
					min-width: 220px;
					max-width: 220px;
					margin-left: auto;
					margin-right: auto;
					transition: height 0.3s ease;
				}
				.info {
					margin-left: 0px;
					margin-right: auto;
					padding-left: 20px;
					.info-name,.info-quote,.link {
						text-align: left;
					}
					.info-name {
						margin-top: 0px;
					}
				}
			}
			&.slide-0 {
				.image-wrapper {
					margin-top: 30px;
				}
			}
			&.slide-1 {
				.image-wrapper {
					margin-bottom: 30px;
				}
			}
			.info-name {
				margin-top: 15px;
				color: $ui-contrast;
				font-size: 1.188rem;
				line-height: 150%;
				font-weight: 500;
			}
			.link {
				margin-top: 30px;
			}
		}
	}
}
.color-bg-img {

	&:not(.fullpage) {
		.hero {
			margin-bottom: 20px;
		}
		.text > p {
			margin-bottom: 60px;
		}
		.underline-link {
			color: $white;
		}
	}
	.img-wrapper {
		max-width: 1336px;
		width: 1336px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 90%;
		background-size: contain;
	}
	&.fullpage {
		max-height: 1100px;
	}
	&.md-block-size {
		height: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		align-items: center;
		align-content: center;
	}
	&.lg-block-size {
		height: 640px;
		padding-top: 0px;
		padding-bottom: 0px;
		align-items: center;
		align-content: center;
	}
	@media (max-width: 768px) {
		.scroll-down-prompt {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	@media (max-width: 700px) {
		.text {
			.hero,p,a,.link {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			a.underline-link {
				display: block;
			}
		}
	}
}
// UI elements
.tag {
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-content: center;
	align-items: center;
	border-radius: 10px !important;
	&.green {
		background-color: #E8FDEA;
    color: #345317 !important;
	}
	&.red {
		background-color: #fde8e8;
    color: #833030 !important;
	}
}
.checkbox-container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 1.375rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 20px;
	font-size: 0.938rem;
	font-weight: 400;
	font-family: $main-font;
	color: $white;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		height: 14px;
		width: 14px;
		background-color: #eee;
		transition: background-color 0.3s ease;
		border-radius: 2px;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 5px;
			top: 1px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	input:checked ~ .checkmark {
		background-color: $ui-contrast;
	}
	&:hover input ~ .checkmark {
		background-color: $ui-accent;
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}
.dropdown-grey {
	height: 35px;
	.dropdown-trigger {
		button {
			color: $ui-accent !important;
			background-color: $ui-details;
			font-size: 0.938rem;
			font-family: $main-font;
			&:hover {
				color: $white !important;
			}
		}
	}
}
.dropdown-round {
	.dropdown-trigger {
		button {
			border-radius: 30px;
		}
	}
}
.underline-link {
	text-decoration: underline;
	&:focus,&:target,&:visited {
		color: $ui-accent !important;
	}
}
.lowercase {
	text-transform: lowercase;
}

.tab-card {
	background-color: $white;
	border-radius: 15px;
	.tab-card-header {
		display: flex;
		width: 100%;
		align-items: center;
		align-content: center;

		.card-header-icon {
			svg {
				transition: transform 0.3s ease;
			}
			&.open {
				svg {
					transform: rotateZ(180deg);
				}
			}
		}
	}
	.collapse-content {
		border-top: 1px solid #EDEEF1;
	}
}
.btn {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: fit-content;
	&:hover {
		cursor: pointer;
	}

	&.btn-red {
		transition: background-color 0.3s ease;
		background-color: $ui-accent2;
		color: $white !important;
		&:hover {
			background-color: $black;
		}
	}
	&.btn-purple {
		transition: background-color 0.3s ease;
		background-color: $ui-accent;
		color: $white !important;
		&:hover {
			background-color: $black;
		}
	}
	&.btn-black {
		transition: background-color 0.3s ease;
		background-color: $black;
		color: $white !important;
		&:hover {
			background-color: $ui-accent;
		}
	}
	&.btn-white {
		transition: background-color 0.3s ease;
		border: 1px solid #F0F1F5;
		background-color: $white;
    &.no-border {
      border: none;
    }
		&:hover {
			background-color: #F0F1F5;
		}
	}
	&.btn-transparent {
		transition: background-color 0.3s ease;
		border: 1px solid #E1E4EA;
		background-color: transparent;
		//color: $ui-accent;
    color: #24262F !important;
		&:hover {
			background-color: #F0F1F5;
      color: $ui-accent !important;
		}
	}
	&.btn-success {
		transition: background-color 0.3s ease;
		border: 1px solid #E1E4EA;
		background-color: $ui-success;
		color: $white;
		&:hover {
			background-color: $black;
		}
	}
	&.btn-outline {
		transition: all 0.3s ease;
		border: 1px solid #F0F1F5;
		background-color: $white;
		color: $ui-contrast;
		&:hover {
			border: 1px solid $ui-contrast;
		}
	}
	&.btn-details {
		transition: all 0.3s ease;
		background-color: $ui-details;
		color: $ui-accent;
		&:hover {
			background-color: darken($ui-details, 5%);
		}
	}
	&.btn-border-black {
		border: 1px solid $ui-weak;
	}
	&.btn-round {
		border-radius: 30px;
	}
	&.btn-xs {
		height: 25px;
	}
	&.btn-s {
		height: 35px;
	}
	&.btn-ms {
		height: 40px;
	}
	&.btn-m {
		height: 50px;
	}
	&.btn-fullwidth {
		width: 100%;
	}
}


/* slick slider */
.slick-slider:not(.news-gallery-carousel) {
	width: 100%;
	height: 100%;
	.slick-list {
		height: 100%;
		.slick-track {
			height: 100%;
			.slick-slide {
				height: 100%;
				>div {
					height: 100%;
					.slide {
						height: 100%;
					}
				}
			}
		}
	}
}
.pl-15 {
	padding-left: 15px;
	ul {
		padding-left: 15px;
	}
}
.pl-25 {
	padding-left: 25px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mab-5 {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-40 {
	margin-bottom: 40px;
}
.ml-25 {
	margin-left: 25px;
}
.tabs-controller {
  height: 60px;
  background: $white;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 27px 23px;
  a {
    color: $ui-contrast
  }
  &__prev {
    svg {
      margin-right: 12px
    }
  }
  &__next {
    svg {
      margin-left: 12px
    }
  }
  &__prev, &__next {
    &.disabled {
      cursor: unset;
      opacity: 0.4
    }
  }
}
.choose-topic {
  padding: 0 20px;
  font-size: 0.75rem;
  line-height: 100%;
  color: $ui-weak;
  margin-bottom: 15px;
}
.topic-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 25px 23px 20px;
  background: $white;
  border-radius: 15px;
  font-size: 0.938rem;
  line-height: 100%;
  color: $ui-contrast;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.overflow-hidden {
	overflow: hidden;
}
.overflow-visible {
	overflow: visible;
}
