.button.is-primary {

  &:hover,
  &.is-hovered,
  &:focus,
  &.is-focused {
    background-color: $ui-accent;
    color: white !important;
  }

  &:focus:not(:active),
  .is-focused:not(:active) {
    box-shadow: unset;
  }
}

a.dropdown-item.is-active,
.dropdown .dropdown-menu .has-link a.is-active,
button.dropdown-item.is-active {
  background-color: $ui-accent;

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  span {
    color: #fff;
  }
}


.notices {
  @include mobile {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .snackbar {
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.card-header-title {
  font-size: 1.1875rem;
  font-weight: 400;
  padding: 20px 25px;
}
.b-numberinput {
  border: 1px solid #71737D;
  border-radius: 30px;
  button,input {
    border: unset;
  }
  .control.minus button {
    padding-left: 23px;
  }
  .control.plus button {
    padding-right: 23px;
  }
}

