ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ol {
    &.ml-0 {
        margin-left: 0px;
        padding-left: 15px;
    }
}
p {
    margin: 0px;
}
h1,h2,h3,h4,h5,h6,p,a,textarea,button,li,span,label {
    font-family: $main-font;
}
* {
    box-sizing: border-box;
}
body, html {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}
html {
    &.overflow-vis {
        overflow: visible;
        body {
            overflow: visible !important;
        }
    }
    &.lock {
        overflow: hidden;
    }

    &.always-bg-header {
        .main-nav {
            backdrop-filter: blur(30px);
            background: rgba(245, 245, 246, 0.85);
            .logo {
                .logo-switch {
                    fill: #292D3D;
                }
            }
        }
    }

    &.is-clipped {
      .main-nav {
        backdrop-filter: none !important;
      }
    }
}
button {
    border: unset;
    background-color: transparent;
    padding: 0px;
    box-sizing: content-box;
    &:hover {
        cursor: pointer;
    }
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
p,a,li,span,input,textarea,label {
    margin: 0px;
}
a {
    color: $black;
    text-decoration: none;
    text-decoration: none;
}
input,textarea {
    border: unset;
    background-color: unset;
    &:focus {
        outline:1px solid $ui-accent;
    }
}

.b-checkbox.checkbox input[type=checkbox]:focus {
    outline:1px solid $ui-accent;
}
.b-checkbox.checkbox input[type=checkbox]:focus + .check.is-black {
    box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}
.b-checkbox.checkbox input[type=checkbox]:focus + .check:not(.is-black) {
    border-color: #00B712 !important;
}
.b-checkbox.checkbox.toggle-checkbox:focus .check, .b-checkbox.checkbox.toggle-checkbox input[type=checkbox]:focus + .check {
    box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}
button.card-header {
    width: 100%;
}
