// @font-face {
//     font-family: $main-font;
//     src:  url("/fonts/NoeDisplayRegular.eot") format("embedded-opentype");
//     src: url("/fonts/NoeDisplayRegular.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

  @font-face {
    font-family: $main-font;
    src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('/fonts/GeneralSans-Regular.woff') format('woff'),
         url('/fonts/GeneralSans-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }


  @font-face {
    font-family: $main-font;
    src: url('/fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('/fonts/GeneralSans-Medium.woff') format('woff'),
         url('/fonts/GeneralSans-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }


  @font-face {
    font-family: $main-font;
    src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2'),
         url('/fonts/GeneralSans-Semibold.woff') format('woff'),
         url('/fonts/GeneralSans-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }

.tiny-text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 100%;
    color: $ui-regular;
    &.ml {
        line-height: 140%;
    }
    &.upper {
        line-height: 100%;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.02em;
    }
}
.small-text {
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 100%;
    color: $ui-regular;
    &.ml {
        line-height: 150%;
    }

}
h5,.h5 {
    font-size: 0.938rem;
    line-height: 130%;
}
h4,.h4 {
    font-size: 1.188rem;
    line-height: 124%;
}
h3,.h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    &.q {
        line-height: 140%;
    }
    @media (max-width: 550px) {
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
}
h2,.h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 550px) {
        font-size: 1.125rem;
    }
}
h1,.h1 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 106%;
    @media (max-width: 550px) {
        font-size: 1.563rem;
        line-height: 1.875rem;
    }
}
.hero {
    color: $ui-contrast;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    @media (max-width: 550px) {
        font-size: 2.188rem;
    }
}
.ultra {
    color: $ui-contrast;
    font-size: 7.5rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    @media (max-width: 550px) {
        font-size: 5rem;
    }
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 600;
}

.accent--text {
  color: $ui-accent !important;
}
.contrast--text {
  color: $ui-contrast !important
}
