/* transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade-first-enter-active {
    transition: opacity 0.3s ease .51s;
}
.fade-first-leave-active {
    transition: opacity 0.3s ease 0s;
}
.fade-first-enter,.fade-first-leave-to {
    opacity: 0;
}

.test-enter-active, .test-leave-active {
    transition: opacity 8.3s ease 0.51s;
}
.test-enter,.test-leave-to {
    opacity: 0;
}

.height-enter-active, .height-leave-active {
    transition: height 0.21s ease-in;
}
.height-enter, .height-leave-to /* .fade-leave-active below version 2.1.8 */ {
    height: 0px !important;
}
.hide-header-enter-active {
    transition: opacity 0.3s ease-in, height 0.1s ease-in;
}
.hide-header-leave-active {
    transition: opacity 0.01s ease-in, height 0.01s ease-in;
}
.hide-header-enter-to {

}
.hide-header-enter {
    opacity: 0;
}
.hide-header-leave-to {
    height: 0px;
}
// .hide-header-leave-to,.hide-header-enter-to {
//     display: none;
// }

.zoom-left-enter-active, .zoom-left-leave-active {
    transition: opacity 0.5s ease, transform 0.3s ease;
}
.zoom-left-enter, .zoom-left-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
}

.zoom-right-enter-active, .zoom-right-leave-active {
    transition: opacity 0.5s ease, transform 0.3s ease;
}
.zoom-right-enter, .zoom-right-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
}


.nav-transition-enter-active, .nav-transition-leave-active{
    transition: width 0.81s ease;
    overflow: hidden !important;
}
.nav-transition-enter,.nav-transition-leave-to {
    width: 0px !important;
}
.nav-transition-enter,.nav-transition-enter-to,.nav-transition-leave,.nav-transition-leave-to {
    * {
        opacity: 0 !important;
    }
}

// .nav-transition-leave-to,.nav-transition-enter-to {
//     display: none;
// }
