/** Colors */
$black: #000;
$white: #fff;

$ui-contrast: #0E0F14;
$ui-void: #0A0A0B;
$ui-regular: #24262F;
$ui-weak: #71737D;
$ui-weaker: #ABADB8;
$ui-details: #F0F1F5;
$ui-accent: #5E33C1;
$ui-accent2: #D6003D;
$ui-success: #00B712;
$ui-warning: #FF971E;
$ui-error: #C60000;
$crimson: #AA0032;
$mint: #5CC3B6;

$lins: #292D3D;
$sunshine: #FDB815;
$horizontal-line: #E1E4EA;
$background: #F5F5F6;

//search label colors

$updated-text: #3C3472;
$updated-background: #E8E8FD;

$general-text: $ui-regular;
$general-background: $ui-details;

$cancelled-text: #6B1919;
$cancelled-background: #FFE5E6;

$live-text: $white;
$live-background: #D83E3E;

$postponed-text: #652A10;
$postponed-background: #FDF8CA;

$sponsored-text: #174008;
$sponsored-background: #E8FDEA;


/** Fonts */
$main-font: "GeneralSans";

/** Buefy */
$family-primary: $main-font;

// Bulma
$success: $ui-success;
$warning: $ui-warning;
$error: $ui-error;

// Switch
$switch-active-background-color: $ui-success;

// Checkbox
$checkbox-active-background-color: $ui-success;
$checkbox-border-color: $ui-weak;
$checkbox-border-radius: 4px;
$checkbox-border-width: 1px;
$checkbox-size: 14px;

// Date picker
$datepicker-background-color: transparent;
$datepicker-radius: 6px;
$datepicker-shadow: none;
$datepicker-today-border: 2px solid #E9E2FD;
$datepicker-item-color: $ui-regular;
$datepicker-item-disabled-color: $ui-weaker;
$datepicker-item-hover-color: $ui-accent;
$datepicker-item-hover-background-color: #F6F2FF;
$datepicker-item-selected-color: $white;
$datepicker-item-selected-background-color: $ui-accent;


//Horizontal padding for mobile containers
$mobile-px: 20px;
$container-px: $mobile-px;


$snackbar-color: $white;
$snackbar-background-color: $ui-contrast;
