@import "variables";
@import "fonts";

@import "burger/hamburgers";
@import "defaults", "base", "transitions";

// Imported to customize buefy components variables
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import 'components/cookieControll';
@import 'components/vuescroll';

@import "bulma_rewrite";

@import "pages/home", "pages/scholarships", "pages/students", "pages/latvia-why",
  "pages/latvia-live", "pages/admission", "pages/universities", "pages/about",
  "pages/partners", "pages/studies", "pages/resources", "pages/materials",
  "pages/terms", "pages/higher-edu", "pages/news", "pages/news-single",
  "pages/faq", "pages/search", "pages/error";

@import "components/switch", "components/checkbox", "components/modal", "components/datepicker";

@import "accessibility";

html {
  background-color: #F5F5F6;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 300ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

html.textIs150 {
  font-size: 16px * 1.5;
}
