<template>
  <b-modal
    v-if="selectedStudy"
    v-model="modalOpen"
    :full-screen="!isDesktop"
    has-modal-card
    trap-focus
    width="100vw"
    :can-cancel="['escape', 'outside']"
    role="main"
  >
    <modal
      :header-options="headerOptions"
      :sidebar-options="sidebrOptions"
      :hide-header="!isDesktop"
      :hide-sidebar="!isDesktop"
      :full-screen="!isDesktop"
      :mobile-header-options="{
        title: 'Study programme',
      }"
      :is-open="modalOpen"
      @close="close"
    >
      <template v-if="isDesktop">
        <study-modal :study="selectedStudy" />
      </template>

      <div v-else style="background: white; border-radius: 25px">
        <study-modal :study="selectedStudy" is-mobile />
      </div>

      <template #mobileFooter>
        <div style="padding: 0 15px 15px 15px">
          <a
            class="btn btn-round btn-m btn-purple small-text"
            style="width: 100%"
            @click="isFilterModalActive = false"
            href="#application-links"
            v-if="selectedStudy.application_links && selectedStudy.application_links.length > 1"
          >
            Show Application Links
          </a>

          <a
            v-if="selectedStudy.application_links && selectedStudy.application_links.length == 1"
            class="btn btn-round btn-m btn-success"
            style="width: 100%"
            @click="isFilterModalActive = false"
            target="_blank"
            :href="sanitizeUrl(selectedStudy.application_links[0].link)"
          >
            Apply now <img style='margin-left: 8px' src='/images/icons/external-link.svg' alt=''>
          </a>
        </div>
      </template>
    </modal>
  </b-modal>
</template>

<script>
import Modal from "~/components/base/Modal";
import StudyCard from "~/components/pages/studies/StudyCard";
import StudyModal from "~/components/pages/studies/StudyModal";

import {sanitizeUrl, removeQueryAndHashtags, safeGet} from '~/plugins/helpers.js';

export default {

  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const slug    = params.slug;

    const [
      selectedStudy,
    ] = await Promise.all([
      $axios.$get(`/api/v1/universities/study-programmes/${slug}`),
    ]);

    return {
      selectedStudy: selectedStudy.data,
    }
  },

  components: {StudyModal, StudyCard, Modal},
  scrollToTop: false,

  props: [
    'isStudyModalActive',
    // 'selectedStudy',
    'isFilterModalActive',
    'isDesktop',
  ],

  computed: {

    headerOptions() {
      const { selectedStudy } = this;
      let subtitle = null;

      if (selectedStudy.university) {
        subtitle = {
          title: selectedStudy.university.title,
          to: {
            name: 'universities-slug',
            params: {slug: selectedStudy.university.slug }
          }
        }
      }

      return {
        title: selectedStudy.title,
        subtitle: subtitle,
        buttonOptions: this.buttonOptions,
      }
    },

    sidebrOptions() {
      const { selectedStudy } = this;
      let img = null;
      let programme_link = null;

      if (selectedStudy.university) {
        img = selectedStudy.university.logo ? this.$statically(selectedStudy.university.logo, 400) : null;

        if (process.client) {
          programme_link = `${removeQueryAndHashtags(window.location.href)}/${selectedStudy.slug}`;
        }
      }


      const info = []
      if (selectedStudy.university) {
        selectedStudy.university.contact_phone && info.push({ icon: 'phone.svg', label: 'Phone', value: selectedStudy.university.contact_phone })
        selectedStudy.university.contact_email && info.push({ icon: 'e-mail.svg', label: 'E-mail', value: selectedStudy.university.contact_email })
        selectedStudy.university.contact_website && info.push({ icon: 'website.svg', label: 'Website', value: selectedStudy.university.contact_website, isLink: true, link: selectedStudy.university.contact_website })

        selectedStudy.university.social_links && info.push({
          icon: 'social.svg',
          label: 'Social Links',
          value: selectedStudy.university.social_links
        })
      }
      // selectedStudy.programme_link && info.push({ icon: 'share.svg', label: 'Share Link', value: programme_link, isCopyable: true })

      return {
        img,
        img_link:{
          name: 'universities-slug',
          params: {slug: selectedStudy.university.slug }
        },
        info
      };
    },

    buttonOptions() {
      const application_links = (this.selectedStudy && this.selectedStudy.application_links)
        ? this.selectedStudy.application_links
        : null;

      if (application_links && application_links.length > 1) {
        return {
          label: `Show Application Links`,
          href: `#application-links`,
          target: '',
          class: 'link small-text btn btn-round btn-m btn-black'
        }
      } else if (application_links && application_links.length > 0) {
        return {
          label: `Apply now <img style='margin-left: 8px' src='/images/icons/external-link.svg' alt=''>`,
          href: sanitizeUrl(application_links[0].link),
          target: '_blank',
          class: 'link small-text btn btn-round btn-m btn-success'
        }
      }

      return {
        label: '',
        href: '',
        target: '',
        class: '',
      };

    },

    modalOpen: {
      get() {
        const isStudyModalActive = this.isStudyModalActive;
        const selectedStudy = this.selectedStudy;

        if (isStudyModalActive) {
          return true;
        }
      },
      set(value) {
        if (value === false) {
          this.$emit('close')
        }
      }
    }
  },

  head() {
    const selectedStudy = this.selectedStudy;

    if (selectedStudy) {
      // const description = stripHtml(selectedStudy.description).result;
      const description = selectedStudy.degree;
      const logo = safeGet(selectedStudy, 'university.logo')
      const imageUrl = (logo) ? this.$statically(logo, 1200, 628) : '';

      return {
        title: selectedStudy.title,
        htmlAttrs: {
          lang: 'en'
        },
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: description
          },

          ...this.$socialHelper.getSocialMeta(selectedStudy.title, description, imageUrl),
        ]
      }
    }
  },

  methods: {
    close() {
      this.$emit('close')
    },

    sanitizeUrl(url) {
      return sanitizeUrl(url);
    }
  },

  mounted() {
    if (this.selectedStudy) {
      this.$emit('openModal', this.selectedStudy)
    }
  },
}
</script>
