.about-page {
    background-color: #F5F5F6;
    .main-nav {
        .logo-switch-circle {
            fill: white;
        }
        .logo-switch-in {
            fill: #AA0032;
        }
        &.has-bg {
            .logo-switch-circle {
            fill: #AA0032;
            }
            .logo-switch-in {
                fill: #fff;
            }
        }
        .logo.invert {
            .logo-switch-circle {
                fill: #AA0032;
            }
            .logo-switch-in {
                fill: white;
            }
        }
    }
    .block-01 {
        .img-wrapper {
            right: 150px;
            left: unset;
            transform: unset;
            background-position-x: right;
            height: 100%;
            background-size: auto;
        }
        @media (max-width: 550px) {
            .text {
                margin-bottom: 140px !important;
            }
        }
        .hero {
            // margin-bottom: 179px;
        }
        .tiny-text {
            color: $white;
        }
        .scroll-down-prompt {
            position: absolute;
            bottom: 120px;
            @media (max-width: 768px) {
                bottom: 115px;
            }
        }
    }
    .block-02 {
        .mega-text {
            font-size: 2.813rem;
            line-height: 140%;
            letter-spacing: -2%;
            color: $ui-contrast;
        }
        .underline {
            text-decoration: underline;
            color: $ui-accent;
        }
    }
    .block-03 {
        .contrast {
            color: $ui-regular;
        }
        .underline {
            text-decoration: underline;
        }
        .contacts, .provide-text, .what-we-do-text {
            p {
                line-height: 1.5;
            }
        }
        .contacts, .provide-text {
            margin-bottom: 30px;
        }
        .contacts {
            margin-top: 70px;
        }
        .image1 {
            width: 146px;
            height: 137px;
            margin-right: 20px;
        }
        .image2 {
            margin-top: auto;
            margin-bottom: 0px;
            width: 136px;
            height: 135px;
        }
        .open-database {
            margin-bottom: 120px;
        }
    }
    .mobile {
        .container {
            padding: 0 $mobile-px;
        }
        .block-01 {
            .container {
                padding: 0;
            }
        }
        .wrapper-md {
            align-items: flex-end !important;
            width: 100%;
            max-width: 100%;
            .text {
                margin-bottom: 50px;
                .hero {
                    width: 100vw;
                    text-align: center;
                    margin-bottom: 30px;
                }
                .scroll-wrap {
                    width: 100vw;
                    justify-content: center;
                }
            }

        }
        .block-02 {
            margin-top: 30px;
            .mega-text {
                font-size: 1.75rem;
                line-height: 140%;
                letter-spacing: -2%;
                color: $ui-contrast;
            }
        }
        .block-03 {
            margin-top: 80px;
            .provide-text {
                margin-bottom: 20px;
            }
            .small-text {
                font-size: 0.75rem;
            }
            .open-database {
                margin-bottom: 45px;
                width: 100%;
            }
            .contacts {
                margin-top: 80px;
            }
        }
        .block-04 {
            margin-top: 80px;
            .follow-us {
                margin-bottom: 15px;
            }
            .social-icons {
                &__individual {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid $horizontal-line;
                    img {
                        margin-right: 5px;
                    }
                    .arrow-right-gray {
                        width: 6px;
                        height: 10px;
                    }
                }
                &__individual:last-child {
                    border-bottom: 1px solid $horizontal-line;
                }
                a {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }
    }
    .desktop {
        @for $i from 2 through 4 {
            .block-0#{$i} {
                margin-top: 100px;
            }
        }
        .block-04 {
            margin-bottom: 120px;
            .social-icons {
                a:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }
    }
}
