.admission-page {
    background-color: #F5F5F6;
    min-height: 100vh;

    .block-01 {
        padding-top: 150px;
    }

    .admission-footer {
        margin-top: 60px;
    }
    .modal-title {
        margin-bottom: 30px;
    }
    .card-footer {
      border-top: 1px solid $ui-details;
      @include mobile {
       border-top: unset !important;
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       border-top-left-radius: 25px;
       border-top-right-radius: 25px;
       padding: 15px;
       z-index: 1001;
      }
      &__content {
          width: 100%;
          @include mobile {
           padding: 22px 27px 23px;
           background-color: #fff;
           border-radius: 25px;
          }
          p {
           font-size: 0.938rem;
           color: $ui-contrast;
           }
           img {
               width: 15px;
               height: auto;
           }
          .prev {
              p {
                  margin-left: 12px;
              }
          }
          .next {
              p {
                  margin-right: 12px;
              }
          }
      }
  }
}
