.error-page {
    .color-bg-img .img-wrapper {
        transform: none;
    }
    .error-message {
        line-height: 150%;
    }

    .mobile {
        .color-bg-img .img-wrapper {
            left: 5%;
            top: -10%;
            background-size: 200vw;
        }
        .color-bg-img .wrapper, .color-bg-img .wrapper-md {
            align-items: flex-end !important;
        }
        .hero {
            margin-bottom: 20px;
        }
        .error-message {
            margin-bottom: 30px;
            font-size: 12px;
        }
        .color-bg-img {
            padding-bottom: 30px;
        }
        .color-bg-img .wrapper .text, .color-bg-img .wrapper-md .text {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
        }
        .color-bg-img .wrapper .text h2,
        .color-bg-img .wrapper .text p,
        .color-bg-img .wrapper-md .text h2,
        .color-bg-img .wrapper-md .text p {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        .to-home-btn {
            width: 90%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .desktop {
        .hero {
            margin-bottom: 40px;
        }
        .error-message {
            margin-bottom: 50px;
        }
        .color-bg-img .img-wrapper {
            @media screen and (min-width: $tablet) and (max-width: $widescreen - 1) {
                left: 40%;
            }
        }
    }
    
}