.faq-page {
  background-color: #F5F5F6;
  min-height: 100vh;

  .block-01 {
    .img-wrapper {
      right: 150px;
      left: unset;
      height: 100%;
      transform: unset;
      background-position-x: right;
    }
  }

  .faq-container {
    @include mobile {
      display: block;
    }

    > .left,
    > .right {
      .block-header {
        color: $ui-weak;
        margin-bottom: 15px;
        margin-top: 40px;
      }
    }

    > .left {
      @include tablet {
        max-width: 384px;
        flex: 0 0 384px;
        margin-right: 108px;
      }

      .admission-nav {
        margin-right: 0px;
      }
    }

    > .right {
      width: 100%;

      .faq-tabs-container {
        .tabs-wrapper {
          .tab-content {
            padding: 0px;
          }
        }
      }

      .tab-header {
        display: none;
        align-content: center;
        align-items: center;
        margin-top: 106px;

        .chevron-wrapper {
          height: 50px;
          min-width: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          background-color: #fff;
          border-radius: 25px;
          margin-right: 15px;
        }

        p {
          color: $ui-regular;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 160px;
          height: 1.2em;
          white-space: nowrap;
        }
      }
    }

  }
  &.is-simpletree {
    .nav {
      .nav-tab {
        margin-bottom: 10px !important;
      }
    }
    .faq-tab {
      &__title {
        font-size: 1.5rem;
        margin-bottom: 0.9375rem;
      }
      &:not(:first-child) {
        .faq-tab__title {
          margin-top: 2.125rem;
        }
      }
    }
  }
}
