.higher-edu-page {
    overflow-x: hidden;
    background-color: #F5F5F6;
    .block-01 {
        .img-wrapper {
            height: 100%;
            left: unset;
            transform: unset;
            right: 150px;
            background-position-x: right;
        }
        .text {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media (max-width: 768px) {
              padding-top: 30vh;
            }
        }
        .hero {
            width: 230px;
        }
        .scroll-down-prompt {
            position: absolute;
            bottom: 120px;
            @media (max-width: 768px) {
                bottom: 115px;
            }
        }
    }
    .block-02 {
        margin-top: 120px;
        @media (max-width: 1050px) {
          margin-top: 60px;
        }
    }
    .block-03 {
        margin-top: 140px;
    }
    .block-04 {
        margin-top: 160px;
        @media (max-width: 1023px) {
          margin-top: 45px;
        }
    }
    .block-05 {
        margin-top: -40px;
        @media (max-width: 1050px) {
          margin-top: -442px;
        }
        .list {
            .list-item {
                img {
                    margin-right: 15px;
                }
            }
        }
    }
    .block-06 {
        margin-top: 160px;
        @media (max-width: 1050px) {
          margin-top: 60px;
          padding: 0;
          .hero {
            padding: 0 15px;
          }
        }
    }
    .block-07 {
        margin-top: 160px;
        @media (max-width: 1050px) {
          margin-top: 80px;
        }
    }
    .block-08 {
        margin-top: 120px;
        .img-wrapper {
            height: 100%;
            left: 150px;
            transform: unset;
        }
        @media (max-width: 1050px) {
          margin-top: 80px;
          .hero {
            margin-bottom: 15px;
          }
          p.h2 {
            margin-bottom: 0;
          }
        }
    }
    .block-09 {
        margin-top: 60px;
        .grading-header {
            p {
                color: $ui-weak;
                &.etcs {
                    margin-left: auto;
                    margin-right: 45px;
                }
            }
        }
        @media (max-width: 1050px) {
          margin-top: 20px;
        }
    }
    .block-10 {
      margin-top: 160px;
      .img-wrapper {
          left: 150px;
          height: 100%;
          transform: unset;
      }
      @media (max-width: 1050px) {
        margin-top: 80px;
        .hero {
          margin-bottom: 15px;
        }
        p.h2 {
          margin-bottom: 0;
        }
      }
    }
    .block-11 {
      margin-top: 60px;
      .ranking-box {
          font-size: 0.75rem;
          .uni {
              font-size: 0.938rem;
          }
      }
      @media (max-width: 1050px) {
        margin: 20px 0 80px;
      }
    }
    footer {
      margin-top: 120px;
      @media (max-width: 1050px) {
        margin-top: 45px;
      }
    }
    //tab-card-header-fix
    .side-tabs.mobile .tab-content .tab-box .tab-card-header {
      justify-content: flex-start !important;
      padding: 0 !important;
      .card-header-title {
        padding: 25px 20px !important;
      }
    }
    //align title left
    .card-header-title {
      text-align: left;
    }
}
