.home-page {
    background-color: #F5F5F6;
    .block-01 {
        .img-wrapper {
            right: 0px;
            transform: unset;
            left: unset;
            background-position-x: right;
            height: 100%;
        }
        .hero {
            margin-bottom: 45px;
            @include tablet {
                margin-bottom: 73px;
            }
        }
        .search-label {
            margin-bottom: 15px;
        }
        @media (max-width: 1500px) {
            .img-wrapper {
                background-position-x: 115%;
            }
        }
        @media (max-width: 1100px) {
            .img-wrapper {
                background-size: cover;
                background-position-x: center;
            }
        }
        @media (max-width: 550px) {
            .text {
                margin-top: auto;
                margin-bottom: 15px;
                p {
                    display: none;
                }
                .ext-search {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    .block-02 {
        margin-top: 100px;
        @media (max-width: 768px) {
            margin-top: 60px;
        }
    }
    .block-03.color-bg-img {
        margin-top: 100px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        .img-wrapper {
            height: 100%;
            background-position-x: right;
        }
        p {
            width: 384px;
        }
        .wrapper .text {

        }
    }
    .block-04 {
        margin-top: 100px;
        display: flex;
        .right {
            margin-left: auto;
            margin-right: 0px;
            padding-top: 80px;
        }
        @media (max-width: 900px) {
            flex-wrap: wrap;
            .left {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 550px) {
            .left,.right {
                max-width: 100%;
                flex: 0 0 100%;
                .student-story,.event {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .block-05 {
        margin-top: 120px;
        display: flex;
        flex-wrap: nowrap;
        @media (max-width: 768px) {
            margin-top: 90px;
        }
        .left {
            max-width: 712px;
            flex: 0 0 712px;
            margin-right: 78px;
        }

        @media(max-width: 1240px) {
            width: 100%;
            .left {
                max-width: 600px;
                flex: 0 0 600px;
            }
        }
        @media (max-width: 930px) {
            flex-wrap: wrap;
            .left,.right {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .left {
                margin-bottom: 60px;
            }
        }
    }
    .block-06 {
        margin-top: 120px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        .img-wrapper {
            background-position-x: left;
            height: 100%;
        }
        .wrapper {
            h2.hero {
                width: 384px;
            }
            .h2 {
                margin-bottom: 0px;
            }
        }
    }
    .block-07 {
        margin-top: 100px;
        overflow: hidden;
        .highlight-gallery {
            padding-left: 122px;
            .slick-slider  {
                // height: 542px;
                height: 100%;
                &.clicked-prev {
                    .slick-list {
                        @media(min-width: 451px) {
                            padding-left: 256px;
                            transition: padding-left 0.3s ease;
                        }
                    }
                }
            }
        }
        @media (max-width: 1023px) {
            padding-left: 15px;
            padding-right: 15px;
            .highlight-gallery {
                padding-left: 0px;
            }
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 450px) {
            .highlight-gallery {
                .slick-slider  {
                    height: 445px;
                }
            }
        }
    }
    .block-08 {
      margin-top: 160px;

      @include mobile {
        margin-top: 60px;
      }
    }
    .block-09 {
        margin-top: 120px;
        .hero {
            color: $ui-contrast;
            margin-bottom: 60px;
            width: 246px;
        }
        .notif-text {
            margin-top: 60px;
            font-size: 1rem;
            color: $ui-regular;
        }
        .link {
            margin-top: 60px;
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    footer {
        margin-top: 160px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
}
