.latvia-live-page {
    background-color: #F5F5F6;
    .main-nav {
      .logo-switch-circle {
        fill: white;
      }
      .logo-switch-in {
          fill: #AA0032;
      }
      &.has-bg {
        .logo-switch-circle {
          fill: #AA0032;
        }
        .logo-switch-in {
            fill: #fff;
        }
      }
      .logo.invert {
        .logo-switch-circle {
            fill: #AA0032;
        }
        .logo-switch-in {
            fill: white;
        }
      }
    }
    .dictionary .b-tabs .tab-content {
      margin-bottom: 75px;
    }
    .block-01 {
        overflow: hidden;
        .text {
            .hero {
                width: 177px;
            }
        }
        .img-wrapper {
            left: unset;
            right: 70px;
            transform: unset;
            height: 100%;
            background-position-x: right;
        }
        .scroll-down-prompt {
          width: fit-content;
          position: absolute;
          bottom: 120px;
          @media (max-width: 768px) {
            bottom: 115px;
          }
        }
    }
    .block-02 {
        margin: 160px auto;
        @media (max-width: 1050px) {
          margin: 60px auto 35px;
        }
    }
    .block-03 {
        overflow: hidden;
        @media (max-width: 768px) {
          .b-tabs .tab-content {
            padding-left: 0;
            padding-right: 0;
            .slick-track {
              width: max-content !important;
            }
            .slide-wrapper {
              .image-wrapper {
                max-width: calc(100vw - 60px);
                max-height: 435px;
              }
            }
          }
        }
    }
    .block-04 {
        overflow: hidden;
        margin-top: 120px;
        .highlight-header {
            margin-right: 50px;
        }
        .walking-gallery-two .slick-slider .slick-list {
            padding-left: 170px;
        }
        @media (max-width: 768px) {
          margin-top: 0;
          .highlight-header {
            margin: 0 auto 30px;
            .header-split {
              margin: auto
            }
          }
          p.side-text {
            padding: 0 20px;
            font-size: 1.125rem;
            line-height: 140%;
            text-align: center;
            letter-spacing: -0.01em;
            color: $ui-contrast;
            margin-bottom: 80px;
          }
          p.h1 {
            font-size: 1.563rem;
            line-height: 120%;
            text-align: center;
            color: $ui-contrast;
            margin-bottom: 35px;
          }
          .walking-gallery-two {
            .slick-slider {
              .slick-list {
                .slick-slide:not(:last-child) {
                  margin-right: 20px;
                }
                .slide-wrapper {
                  display: flex;
                  flex-direction: column;
                  width: 200px;
                }
                padding-left: 0;
                .info {
                  padding: 0 7px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                  &-name, &-quote {
                    font-size: 0.75rem;
                    line-height: 140%;
                  }
                  &-quote {
                    margin-top: 5px;
                    margin-bottom: 0;
                  }
                }
                .image-wrapper {
                  margin-right: 7px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                  min-width: 138px;
                  max-width: 138px;
                  max-height: 200px;
                }
              }
            }
          }
          .walking-gallery-two-wrapper {
            &:not(:last-child) {
              margin-bottom: 45px
            }
            &.second .slide-wrapper {
              flex-direction: column-reverse !important;
            }
          }

        }
    }
    .block-05 {
        overflow: hidden;
        margin-top: 160px;
        @media screen and (max-width: 768px) {
          margin-top: 53px
        }
        .tabs-round {
          .tabs {
            margin-bottom: 60px;
            @media screen and (max-width: 768px) {
              margin: 0 15px 12px 15px;
              justify-content: flex-start !important;
              ul {
                background: transparent;
                border: none;

                li {
                  height: 35px
                }
              }
            }
          }
        }
    }
    .block-06 {
        margin-top: 120px;
        @media screen and (max-width: 768px) {
          margin-top: 55px;
          .modal-card__content {
            margin-bottom: 75px;
          }
        }
    }
    .block-07 {
        overflow: hidden;
        margin-top: 160px;
        height: 752px;
        .img-wrapper {
            left: 0px;
            transform: unset;
            height: 100%;
        }
        .text {
            .h2 {
                margin-bottom: 30px;
            }
            .link {
                color: $white;
            }
        }
        @media (max-width: 1050px) {
          height: 380px;
          margin-top: 55px;
          padding-top: 164px !important;
          .hero {
            margin-bottom: 15px;
          }
          p.h2 {
            margin-bottom: 0;
          }
        }
    }
    .block-08 {
        overflow: hidden;
        margin-top: 60px;
        @media (max-width: 1050px) {
          margin-top: 20px;
        }
    }
    .block-09 {
        overflow: hidden;
        margin-top: 120px;
        height: 500px;
        .img-wrapper {
            left: unset;
            right: 0px;
            transform: unset;
            height: 100%;
        }
        .text {
            .h2 {
                margin-bottom: 0px;
            }
        }
        @media (max-width: 1050px) {
          height: 380px;
          margin-top: 80px;
          padding-top: 164px !important;
          .hero {
            margin-bottom: 15px;
          }
          p.h2 {
            margin-bottom: 0;
          }
        }
    }
    .block-10 {
        overflow: hidden;
        margin-top: 60px;
        @media (max-width: 1050px) {
          margin-top: 20px;
        }
    }
    .block-11 {
        overflow: hidden;
        margin-top: 90px;
        .block-header {
            margin-bottom: 60px;
            .highlight-header {
                margin-right: 80px;
            }
        }
      @media (max-width: 768px) {
        margin-top: 80px;
        .highlight-header {
          margin: 0 auto 30px;
          .header-split {
            margin: auto
          }
        }
        p.side-text {
          padding: 0 20px;
          font-size: 1.125rem;
          line-height: 140%;
          text-align: center;
          letter-spacing: -0.01em;
          color: $ui-contrast;
          margin-bottom: 80px;
        }
        p.h1 {
          font-size: 1.563rem;
          line-height: 120%;
          text-align: center;
          color: $ui-contrast;
          margin-bottom: 35px;
        }
        .walking-gallery-two {
          .slick-slider {
            .slick-list {
              .slick-slide:not(:last-child) {
                margin-right: 20px;
              }
              .slide-wrapper {
                display: flex;
                flex-direction: column;
                width: 200px;
              }
              padding-left: 0;
              .info {
                padding: 0 7px;
                margin-top: 10px;
                margin-bottom: 10px;
                &-name, &-quote {
                  font-size: 0.75rem;
                  line-height: 140%;
                }
                &-quote {
                  margin-top: 5px;
                  margin-bottom: 0;
                }
              }
              .image-wrapper {
                margin-right: 7px;
                margin-top: 10px;
                margin-bottom: 10px;
                min-width: 138px;
                max-width: 138px;
                max-height: 200px;
              }
            }
          }
        }
        .walking-gallery-two-wrapper {
          &:not(:last-child) {
            margin-bottom: 45px
          }
          &.second .slide-wrapper {
            flex-direction: column-reverse !important;
          }
        }
      }
    }
    .block-12 {
        overflow: hidden;
        margin-top: 160px;
        @media (max-width: 1050px) {
          margin-top: 70px;
          .hero {
            margin-bottom: 30px !important;
          }
          .subtext {
            margin-bottom: 45px !important;
            font-size: 1.125rem !important;
            line-height: 140%;
            text-align: center;
            letter-spacing: -0.01em;
            max-width: 320px;
            color: $ui-contrast;
          }
          .text:not(:last-child) {
            margin-bottom: 10px !important;
          }
        }
    }
    .block-13 {
        overflow: hidden;
        margin-top: 120px;
        @media (max-width: 1050px) {
          height: 540px;
          margin-top: 80px;
          padding-top: 334px !important;
          .hero {
            margin-bottom: 15px;
          }
          p.h2 {
            margin-bottom: 0;
          }
          a {
            margin-top: 30px !important
          }
        }
        .img-wrapper {
            right: 150px;
            transform: unset;
            height: 100%;
            left: unset;
            background-position-x: right;
        }
        .link {
            margin-top: 60px;
            img {
                margin-left: 5px;
                width: 18px;
                height: auto;
            }
        }
    }
    footer {
        margin-top: 40px;
    }
}
