.latvia-why-page {
    background-color: #F5F5F6;
    overflow-x: hidden;
    .main-nav {
      .logo-switch-circle {
        fill: white;
      }
      .logo-switch-in {
          fill: #AA0032;
      }
      &.has-bg {
        .logo-switch-circle {
          fill: #AA0032;
        }
        .logo-switch-in {
            fill: #fff;
        }
      }
      .logo.invert {
        .logo-switch-circle {
            fill: #AA0032;
        }
        .logo-switch-in {
            fill: white;
        }
    }
    }
    .block-01 {
      z-index: 2;
      max-height: 1100px;
        .text {
            .hero {
                width: 226px;
            }
        }
        .img-wrapper {
            background-size: cover;
            left: unset;
            right: 0px;
            transform: unset;
            height: 100%;
            background-position-x: right;
        }
        .scroll-down-prompt {
            width: fit-content;
            position: absolute;
            bottom: 120px;
            @media (max-width: 768px) {
                bottom: 115px;
            }
        }
    }
    .block-02 {
        margin-top: 120px;
        @media (max-width: 768px) {
          margin-top: 60px
        }
        position: relative;
        .mega-number {
            position: absolute;
            right: 150px;
            top: -270px;
            @media (max-width: 768px) {
              left: calc(100vw - 285px);
              text-align: right;
              top: -111px;
              height: 284px;
            }
        }
        .highlight-header {
            margin-left: 122px;
            @media (max-width: 768px) {
              margin: auto;
            }
        }
        .walking-gallery {
            margin-top: 60px;
            @media (max-width: 768px) {
              margin-top: 30px;
            }
            .slick-slider {
                .slick-list {
                    padding-left: 204px;
                    @media (max-width: 768px) {
                      padding-left: 102px;
                    }
                    @media (max-width: 450px) {
                      padding-left: 0
                    }
                    .slick-track {
                      width: max-content !important;
                        .slick-slide {
                            .slide {
                                .slide-wrapper {
                                    @media (max-width: 768px) {
                                      max-width: calc(100vw - 80px)
                                    }
                                    @media (max-width: 375px) {
                                      max-width: calc(100vw - 50px)
                                    }
                                    .image-wrapper {
                                        height: 302px;
                                    }

                                }
                            }
                            &.slick-active {
                                .slide {
                                    .slide-wrapper {
                                        width: 384px;
                                        .image-wrapper {
                                            height: 384px;
                                        }
                                    }
                                    .info-name {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .block-03 {
        margin-top: 60px;
        @media (max-width: 768px) {
          margin-top: -160px;
          margin-top: -60px;
        }
    }
    .block-04 {
        margin-top: 120px;
        @media (max-width: 768px) {
          margin-top: 80px;
        }
        .img-wrapper {
            transform: unset;
            left: 100px;
            height: 100%;
        }
    }
    .block-05 {
        margin-top: 160px;
        @media (max-width: 768px) {
          margin-top: 80px;
        }
        .hero {
            width: 349px;
            margin-bottom: 60px;
            @media (max-width: 768px) {
              width: fit-content;
              margin-bottom: 30px;
            }
        }

        .tabs-round {
          .tabs {
              margin-bottom: 60px;
              @media screen and (max-width: 768px) {
                margin: 0 15px 12px 15px;
                justify-content: flex-start !important;
                ul {
                  background: transparent;
                  border: none;
                  li {
                    height: 35px
                  }
                }
              }
          }
          .tab-content {
            .walking-gallery {
              @media (max-width: 768px) {
                margin-top: 30px;
              }
              .slick-slider {
                .slick-list {
                  @media (max-width: 768px) {
                    padding-left: 102px;
                  }
                  @media (max-width: 450px) {
                    padding-left: 0
                  }
                  .slick-track {
                    width: max-content !important;
                    .slick-slide {
                      .slide {
                        .slide-wrapper {
                          @media (max-width: 768px) {
                            max-width: calc(100vw - 80px);
                            .image-wrapper {
                              max-height: 435px;
                            }
                          }
                          @media (max-width: 375px) {
                            max-width: calc(100vw - 50px)
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    }
    .block-06 {

    }
    .block-07 {
        margin-top: 160px;
        @media (max-width: 768px) {
          margin-top: -120px;
          margin-top: 10px;
        }
        > h3.hero {
          @media (max-width: 768px) {
            width: fit-content !important;
            margin-bottom: 30px !important;
          }
        }
    }
    footer {
        margin-top: 120px;
    }
}
