.materials-page {
    background: $background;
    .block-01 {
        .img-wrapper {
            background-position-x: right;
            right: 150px;
            left: unset;
            transform: unset;
        }
    }
    .second-heading {
        font-size: 0.75rem;
        font-weight: 400;
        color: $ui-weak;
        margin-bottom: 15px;
        padding-left: 20px;
    }
    .card {
        border-radius: 10px;
        .card-content {
            padding: 22px 30px;
            .first-col {
                .icon {
                    margin-right: 25px;
                }
                .document {
                    width: 16px;
                    height: 20px;
                }
                .attachment, .watch {
                    width: 24px;
                    height: 24px;
                }
                .location {
                    width: auto;
                    height: 19px;
                }
                .picture, .presentation, .visit {
                    width: 18px;
                    height: 18px;
                }
                .material-title {
                    color: $ui-contrast;
                }
                .material-desc {
                    color: $ui-regular;
                    font-size: 0.75rem;
                }
            }
            .second-col {
                .link {
                    white-space: nowrap;
                    color: $ui-regular;
                    font-size: 0.75rem;
                    font-weight: 500;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .extra-button {
                    margin-right: 10px;
                }
            }
        }
    }
    .card:not(:last-child) {
        margin-bottom: 10px;
    }
    //mobile-only styles
    .mobile {
        .container {
            padding: 30px $mobile-px;
        }
        .block-01 {
            .container {
                align-items: flex-end;
            }
            .hero {
                width: 100vw;
                text-align: center;
                margin-bottom: 45px;
            }
        }
        .card {
            .card-content {
                .first-col {
                    margin-bottom: 20px;
                    .icon {
                        align-self: flex-start;
                        margin-top: 8px;
                    }
                    .material-title {
                        font-size: 0.75rem;
                    }
                    .watch, .document, .location, .picture, .presentation, .visit {
                        width: auto;
                        height: 14px;
                    }
                    .attachment {
                        width: auto;
                        height: 15px;
                    }
                    .material-title {
                        color: $ui-contrast;
                    }
                }
                .second-col {
                    .link {
                        width: 100%;
                        height: unset;
                        padding: 1em;
                        color: $ui-contrast;
                    }
                    .half-size-mobile {
                        width: 50% !important;
                    }
                }
            }
        }
    }
    //desktop-only styles
    .desktop {
        .container {
            margin-top: 40px;
            margin-bottom: 120px;
            padding: 0 $mobile-px;
        }
        .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .first-col {
                .material-title {
                    font-size: 1.188rem;
                }
                .link {
                    color: $ui-regular;
                }
            }
        }
        // from 1408px
        @include fullhd {
            .second-heading, .material-desc, .link {
                font-size: 0.875rem !important;
            }
            .material-title {
                font-size: 1.313rem !important;
            }
        }
    }
}