.news-single {
  &-page {
    background-color: #F5F5F6;

    footer {
      margin-top: 160px;
    }
  }
  &__image {

    .b-image-wrapper {
      border-radius: 40px;
      overflow: hidden;
    }

    .b-skeleton {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    @media screen and (max-width: 950px) {
      padding: 0 15px;
    }

    // img {
    //   border-radius: 40px;
    //   object-fit: cover;
    // }
  }
  &-organizers {
    @media screen and (max-width: 950px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 950px) {
      margin-bottom: 30px;
    }
    &__label {
      @media screen and (max-width: 950px) {
        color: $ui-contrast;
        margin-bottom: 10px;
      }
      @media screen and (min-width: 950px) {
        color: $ui-weak;
        font-weight: 500;
        margin-bottom: 6px;
      }
      font-size: 0.75rem;
      line-height: 100%;
    }
    &__organizers {
      line-height: 100%;

      @media screen and (max-width: 950px) {
        font-size: 0.75rem;
        font-weight: 500;
        color: $ui-contrast !important;
      }
      @media screen and (min-width: 950px) {
        font-size: 0.938rem;
        color: $ui-regular;
      }
    }
  }

  &-content__tags ~ &-organizers {
    margin-top: -33px;
  }

  &__register {
    @media screen and (max-width: 950px) {
      margin-bottom: 45px;
    }
    @media screen and (min-width: 950px) {
      margin-bottom: 50px;
    }
  }
  &-content {
    @media screen and (max-width: 950px) {
      padding: 20px;
    }
    @media screen and (min-width: 950px) {
      padding: 40px 82px;
    }

    &-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      &-data {
        @media screen and (max-width: 950px) {
          font-size: 0.75rem;
        }
        @media screen and (min-width: 950px) {
          font-size: 0.938rem;
        }
        line-height: 100%;
        color: $ui-regular;

        &__categories {
          margin-bottom: 10px;
        }
        &__date {
          margin-bottom: 10px;
          img {
            margin: 0 12px 1px;
          }
        }

        &__location-time {
          display: flex;
          @media screen and (max-width: 950px) {
            flex-direction: column;
            margin-top: 12px;
          }
          @media screen and (min-width: 950px) {
            margin: 12px 0 10px 0;
          }
          .time,.location {
            @media screen and (max-width: 950px) {
              &:not(:last-child) {
                margin-bottom: 12px;
              }
            }
            margin-right: 20px;
            display: flex;
            align-items: center;
            img {
              margin-right: 7px;
            }
          }
        }

        &__default {
          width: 100%;
          margin-bottom: 10px;
          line-height: 1.4;
        }
      }
      &__buttons {
        margin-left: auto;
        display: flex;
        flex-direction: row;

        button {
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 100%;
          color: $ui-accent;
          min-width: 50px;
          box-sizing: border-box;

          img {
            min-width: 15px;
          }
        }
      }
    }
    &__title {
      @media screen and (max-width: 950px) {
        margin-bottom: 20px;
        font-size: 1.563rem;
      }
      @media screen and (min-width: 950px) {
        margin-bottom: 25px;
        font-size: 2.188rem;
      }
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.02em;
      //font-feature-settings: 'ordn' on;
      color: $ui-contrast;
    }
    &__tags {
      @media screen and (max-width: 950px) {
        margin-bottom: 45px;
      }
      @media screen and (min-width: 950px) {
        margin-bottom: 50px;
      }

      display: flex;
      flex-wrap: wrap;
      &-tag {
        margin: 0 4px 8px 0;
        font-size: 0.75rem;
        line-height: 100%;
        background: $ui-details;
        color: $ui-regular;
        height: fit-content;
        border-radius: 200px;
        padding: 3px 10px 5px;
      }
    }
    &-block {
      table {
        width: 100%;
      }
      .caption {
        @media screen and (max-width: 950px) {
          font-size: 0.75rem;
          margin-top: 10px;
        }
        @media screen and (min-width: 950px) {
          font-size: 0.938rem;
          margin-top: 15px;
        }

        text-align: center;
        line-height: 100%;
        color: $ui-weak;
      }

      &.subheadingblock, &.paragraphblock {
        h2 {
          @media screen and (max-width: 950px) {
            font-size: 1.125rem;
            margin-bottom: 20px;
          }
          @media screen and (min-width: 950px) {
            font-size: 1.5rem;
            margin-bottom: 30px;
          }
          line-height: 120%;
          letter-spacing: -0.01em;
          color: #1D1F25;
        }
      }

      &.attachmentblock {
        @media screen and (max-width: 950px) {
          margin-bottom: 45px;
        }
        @media screen and (min-width: 950px) {
          margin-bottom: 50px;
        }
      }
      &.quoteblock {
        @media screen and (max-width: 950px) {
          font-size: 1.125rem;
          margin-bottom: 25px;
        }
        @media screen and (min-width: 950px) {
          font-size: 1.5rem;
          margin-bottom: 50px;
        }
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.01em;
        //font-feature-settings: 'ordn' on;
        color: $ui-accent;
      }
      &.paragraphblock {
        font-style: normal;
        font-weight: normal;
        @media screen and (max-width: 950px) {
          font-size: 0.938rem;
          margin-bottom: 25px;
        }
        @media screen and (min-width: 950px) {
          font-size: 1.188rem;
          margin-bottom: 40px;
        }
        line-height: 160%;
        letter-spacing: -0.01em;
        //font-feature-settings: 'ordn' on;
        color: #1D1F25;

        p {
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
        h4 {
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;

          &:first-child {
            margin-top: 0;
          }
        }
      }
      &.galleryblock {
        .single {
          @media screen and (max-width: 950px) {
            margin-bottom: 25px;
            img {
              aspect-ratio: 330/250;
              object-fit: cover;
            }
          }
          @media screen and (min-width: 950px) {
            margin-bottom: 50px;
          }
          img {
            border-radius: 20px;
          }
        }

        .multiple {
          @media screen and (max-width: 950px) {
            margin: 0 -5px 45px;
          }
          @media screen and (min-width: 950px) {
            margin: 0 -5px 50px;
          }
          .big-carousel {
            @media screen and (max-width: 950px) {
              .slick-list {
                overflow: visible !important;
              }
              .slick-slide {
                width: calc(100vw - 45px);
              }
            }

            img {
              border-radius: 20px;
              @media screen and (max-width: 950px) {
                //aspect-ratio: 330/250;
                max-height: calc(100vh - 48px);
                object-fit: cover;
              }
              @media screen and (min-width: 950px) {
                max-height: 543px;
              }
              margin: auto;
              padding: 0 5px
            }
          }
          .small-carousel {
            margin-top: 4px;
            .slick {
              &-current {
                opacity: 0.2;
              }
              &-slide {
                transition: opacity 0.3s ease;
                padding: 0 5px;
                width: fit-content !important;
              }
              &-dots {
                bottom: -32px;
                li {
                  margin: 0;
                  button {
                    height: 7px;
                    width: 7px;
                    &:before {
                      background: none !important;
                      content: '';
                      height: 7px;
                      width: 7px;
                      border-radius: 50%;
                      opacity: 1;
                      border: 2px solid $ui-weaker;
                    }
                  }
                  &.slick-active button:before {
                    border: 2px solid $ui-accent !important;
                    background: $ui-accent !important;
                  }
                }
              }
            }
            img {
              border-radius: 10px;
              max-height: 90px;
            }
          }
        }
      }
      table {
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
        border-radius: 20px;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px $ui-details; /* this draws the table border  */
        font-size: 0.75rem;
        @media screen and (min-width: 950px) {
          font-size: 0.938rem;
        }
        thead {
          background: $horizontal-line;
          th {
            vertical-align: middle;
            line-height: 100%;
            color: $ui-contrast;
            border: none;
            padding: 18px 15px;
            @media screen and (min-width: 950px) {
              padding: 22px 20px;
            }
          }
        }
        tbody {
          tr:nth-child(2n + 1) {
            background: #EDEEF1;
          }
          tr:nth-child(2n) {
            background: #FBFBFC;
          }
          td {
            line-height: 150%;
            color: $ui-regular;
            border: none;
            padding: 15px;
            @media screen and (min-width: 950px) {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
