
.news-page {
  .tab > div, .tab > div > div.container {
    // remove accessibility outline

    // fix for year divider
    z-index: 0;
    position: unset;
  }
  &__content {

    @include mobile {

      .b-tabs {
        overflow: hidden;
      }
    }


    @media screen and (max-width: 950px) {
      padding-top: 112px
    }
    @media screen and (min-width: 950px) {
      padding-top: 165px
    }
  }
  background-color: #F5F5F6;
  .news {
    //@media screen and (max-width: 950px) {
    //  margin-bottom: 10px;
    //}
    @media screen and (min-width: 950px) {
      padding-right: 40px;
    }
  }
  .tabs-label {
    font-size: 0.75rem;
    line-height: 100%;
    color: $ui-weak;
    margin-left: 35px;
    margin-bottom: 15px;
  }
  .b-tabs .tabs {
    @media screen and (max-width: 950px) {
      margin: 0 15px;
      justify-content: flex-start;
    }
    @media screen and (min-width: 950px) {
      margin-bottom: 44px;
    }
  }
  .featured,.latest,.events {
    h1 {
      color: $ui-contrast;
      @media screen and (max-width: 950px) {
        margin-bottom: 10px;
      }
      @media screen and (min-width: 950px) {
        margin-bottom: 20px;
      }
    }
  }
  .featured,.latest,.stories {
    h1 {
      @media screen and (max-width: 950px) {
        margin-left: 20px;
      }
      @media screen and (min-width: 950px) {
        margin-left: 30px;
      }
    }
  }

  .events {
    @media screen and (max-width: 950px) {
      margin-top: 68px;
    }
    h1 {
      @media screen and (max-width: 950px) {
        margin-left: 15px;
      }
      @media screen and (min-width: 950px) {
        margin-left: 0;
      }
    }
    &-featured {
      @media screen and (max-width: 950px) {
        margin-top: 5px;
      }
      .event {
        max-width: 100%;
        width: 100%;
      }
    }
    &-list {
      margin-top: 40px;
    }
  }

  .latest {
    @media screen and (max-width: 950px) {
      margin-top: 80px;
    }
    @media screen and (min-width: 950px) {
      margin-top: 40px;
    }
  }

  .stories {
    overflow: hidden;

    h1 {
      color: $ui-contrast;
      margin-bottom: 10px;
    }

    .all-link {
     margin-left: 30px;
    }
    margin-top: 26px;
    .slick-list {
      margin-top: 17px;
      //width: 100vw;
      overflow: visible !important;
      .stories-slide {
        margin-right: 26px;
      }
    }
  }

  .filters {
    @media screen and (min-width: 950px) {
      padding: 0 16px;
    }
  }

  .available-label {
    width: 100%;
    margin: 30px 0 3px 35px;
    font-size: 0.75rem;
    line-height: 100%;
    color: $ui-weak;
  }

  .subscribe {
    .img-wrapper {
      left: 0px;
      height: 100%;
      transform: unset;
    }
    .subscribe-box {
      height: 60px;
      background-color: $white;
      border-radius: 30px;
      position: relative;
      margin-bottom: 15px;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
      }
      .subscribe-email {
        padding-left: 46px;
        font-size: 0.938rem;
        color: $ui-contrast;
        height: 100%;
        &::placeholder {
          color: $ui-weak;
        }
      }
      .submit-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
      }
    }
    @media (max-width: 768px) {
      margin-top: 80px;
    }
    @media (max-width: 550px) {
      .text {
        input#subscribeEmail, label.checkbox-container {
          font-size: 0.75rem;
        }
      }
    }
    margin-top: 120px;
  }

  footer {
    margin-top: 160px;
  }
}
