.partners-page {
    background: $background;
    .mobile, .desktop {
        .block-01 {
            .img-wrapper {
                right: 0px;
                left: unset;
                height: 100%;
                transform: unset;
                background-position-x: right;
                //background-size: cover;
            }
        }
        .block-02 {
            .mega-text {
                margin-left: 0px;
                font-size: 2.813rem;
                line-height: 140%;
                letter-spacing: -2%;
                color: $ui-contrast;
            }
        }
        .block-03 {
            .mid-text {
                font-weight: 400;
                color: $ui-contrast;
                line-height: 140%;
            }
            .small-text {
                line-height: 150%;
            }
            .practice-text {
                .small-text {
                    li {
                        list-style-type: disc;
                        list-style-position: inside;
                    }
                    li:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .underline {
            text-decoration: underline;
            color: $ui-accent;
        }
        .underline-no-color {
            color: $ui-regular;
            text-decoration: underline;
        }
    }
    .mobile {
        .container {
            padding: 0 $mobile-px;
        }
        .block-01 {
            .text {
                .hero {
                    width: 100vw;
                    text-align: center;
                }
            }
        }
        .block-02 {
            margin-top: 30px;
            margin-bottom: 80px;
            @include tablet-only {
                margin-top: 100px;
                margin-bottom: 120px;
            }
            .mega-text {
                font-size: 1.75rem;
            }
        }
        .block-03 {
            margin-bottom: 45px;
            @include tablet-only {
                margin-bottom: 70px;
            }
            .small-text {
                font-size: 0.75rem;
            }
            .mid-text {
                font-size: 1.125rem;
                margin-bottom: 33px;
            }
            .practice-text:not(:last-child) {
                @include tablet-only {
                    margin-bottom: 108px;
                }
            }
            .practice-text:not(:first-child):not(:last-child) {
                @include mobile {
                    margin-bottom: 40px;
                }
            }
            .practice-text {
                .btn {
                    color: $ui-contrast;
                    width: 100%;
                    margin-bottom: 40px;
                    @include tablet-only {
                        display: none;
                    }
                }
                .practice-agreement-link {
                    display: none;
                    @include tablet {
                        display: block;
                    }
                }
                .small-margin-bottom {
                    margin-bottom: 10px;
                    @include tablet-only {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .desktop {
        .block-02 {
            margin-top: 100px;
            margin-bottom: 120px;
            .mega-text {
                font-size: 2.813rem;
                line-height: 140%;
                letter-spacing: -2%;
                color: $ui-contrast;
                width: 958px;
                margin-left: auto;
                margin-left: 0px;
            }
        }
        .block-03 {
            margin-bottom: 120px;
            .right-side-col {
                margin-top: 8px;
            }
            .practice-text:not(:last-child) {
                margin-bottom: 108px;
            }
            .practice-text {
                .small-margin-bottom {
                    margin-bottom: 15px;
                }
            }
        }
    }
}