.resources-page {
    background: $background;
    //STYLES FOR BOTH MOBILE & DESKTOP
    .mobile, .desktop {
        .second-heading {
            font-size: 0.75rem;
            font-weight: 400;
            color: $ui-weak;
            margin-bottom: 15px;
            padding-left: 20px;
        }
        .card {
            border-radius: 25px;
            &-content:first-child {
                border-bottom: 1px solid $ui-details;
            }
            &-footer, &-content {
                padding: 20px;
            }
            &-content {
                &__title {
                    font-weight: 400;
                    line-height: 120%;
                    color: $ui-contrast;
                }
                &__link {
                    color: $ui-weak;
                    font-size: 0.75rem;
                }
                .link {
                    white-space: nowrap;
                    color: $ui-regular;
                    font-size: 0.75rem;
                    font-weight: 500;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
            &-footer {
                &__desc {
                    color: $ui-regular;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }
    //ONLY MOBILE STYLES
    .mobile {
        .container {
            margin-top: 30px;
            padding: 0 15px;
        }
        .wrapper-md {
            align-items: flex-end !important;
            .text {
                margin-bottom: 15vh;
                .hero {
                    width: 100vw;
                    text-align: center;
                    padding-bottom: 30px;
                }
            }
        }
        .card {
            &-content {
                .link {
                    margin-top: 15px;
                    width: 100%;
                    color: $ui-contrast;
                }
                .btn.btn-xs {
                    height: unset;
                    padding-top: 1.2em;
                    padding-bottom: 1.2em;
                }
            }
            &-footer {
                &__desc {
                    font-size: 0.75rem;
                }
            }
        }
        .card:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    //ONLY DESKTOP STYLES
    .desktop {
        .container {
            margin-top: 40px;
            margin-bottom: 120px;
            @include tablet-only {
                padding: 0 15px;
            }
        }
        .upper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .card {
            &-content {
                &__title {
                    font-size: 1.5rem;
                }
            }
            &-footer {
                &__desc {
                    font-size: 0.938rem;
                }
            }
        }
        // from 1408px
        @include fullhd {
            .second-heading, .card-content__link, .link {
                font-size: 0.875rem !important;
            }
            .card-content__title {
                font-size: 1.625rem !important;
            }
            .card-footer__desc {
                font-size: 1.063rem !important;
            }
        }
    }
}