.scholarships-page {
    background-color: #F5F5F6;
    .block-05, .block-07, .block-09, .block-11, .block-13 {
        padding-bottom: 0 !important;
            .container {
                align-items: flex-end !important;
            }
    }
    .block-01 {
        .img-wrapper {
            background-position-x: right;
            left: unset;
            right: 0px;
            transform: unset;
        }
        .scroll-down-prompt {
            position: absolute;
            bottom: 120px;
            @media (max-width: 768px) {
                bottom: 115px;
            }
        }
        @media(max-width: 550px) {
            .wrapper-md.container {
                align-items: flex-end;
                padding-bottom: 190px;
            }
        }
    }
    .block-02 {
        margin-top: 100px;
        @media (max-width: 768px) {
            margin-top: 30px;
        }
        .right {
            .text {
                .mega-text {
                    font-size: 45px;
                    line-height: 140%;
                    letter-spacing: -2%;
                    color: $ui-contrast;
                    .underline {
                        text-decoration: underline;
                        color: $ui-accent;
                    }
                }
            }
        }
    }
    .block-03 {
        margin-top: 120px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 913px) {
          .map-scroll {
            overflow-x: scroll;
          }
        }

        .map-wrapper {
          width: 900px;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          @include tablet {
              width: 100%;
          }
          svg.modal-active {
            opacity: 0.3;
            z-index: 0;
          }
          .scroll-to-sides {
            z-index: 1;
            padding: 20px 15px;
            background: $white;
            box-shadow: 0px 20px 20px rgba(84, 97, 125, 0.2);
            border-radius: 15px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &__title {
              font-size: 0.75rem;
              line-height: 100%;
              font-weight: 600;
              text-align: center;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: $ui-contrast;
              margin-bottom: 10px;
              display: flex;
              gap: 12px;
              justify-content: center;
              align-items: center;
              .left {
                transform: scaleX(-1);
              }
            }
            &__subtitle {
              min-width: 290px;
              font-size: 0.75rem;
              line-height: 150%;
              text-align: center;
              color: $ui-regular;
              margin-bottom: 15px;
            }
            &__button {
              width: fit-content !important;
              margin: auto;
              font-size: 0.75rem;
              line-height: 100%;
            }
          }
        }
    }
    .block-04 {
        margin-top: 120px;
        @media (max-width: 1023px) {
            .highlight-header.header {
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (max-width: 900px) {
          margin-top: 0px;
        }
    }
    .block-05 {
        margin-top: 110px;
        padding-top: 88px;
        padding-bottom: 88px;
        .img-wrapper {
            left: 30%;
            height: 100%;
            background-size: cover;
        }
        .languages {
            padding-left: 220px;
            p {
                font-size: 2.813rem;
                line-height: 100%;
                font-weight: 500;
                position: relative;
                width: fit-content;
                padding-right: 23px;
                span {
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    color: $white;
                }
            }
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 600px) {
            .text {
                .languages {
                    padding-left: 0px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    p {
                        font-size: 1.75rem;
                        line-height: 2.3125rem;
                        margin-bottom: 10px;
                        span {
                            font-size: 0.75rem;
                            line-height: 0.75rem;
                        }
                    }
                }
            }
        }
    }
    .block-06 {
        margin-top: 120px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    .block-07 {
        margin-top: 120px;
        .img-wrapper {
            left: 56%;
            height: 100%;
            background-size: contain;
        }
        .hero {
            width: 384px;
        }
        p {
            width: 302px;
            margin-bottom: 30px;
        }
        .link {
            color: $white;
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 500px) {
            .hero,p {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .block-08 {
        margin-top: 60px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }
    .block-09 {
        margin-top: 120px;
        .img-wrapper {
            left: unset;
            right: 260px;
            transform: unset;
            background-position-x: right;
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
        @media (max-width: 500px) {
            .text {
                padding-left: 0px;
            }
        }
    }
    .block-10 {
        margin-top: 60px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }
    .block-11 {
        margin-top: 120px;
        .img-wrapper {
            height: 100%;
            left: unset;
            right: 130px;
            transform: unset;
            background-position-x: right;
            background-position-y: top !important;

            @media (max-width: 1400px) {
            }
            @media (max-width: 1000px) {
                right: 0px;
                background-size: auto;
            }
            @media (max-width: 700px) {
                background-position-x: 74% !important;
            }
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    .block-12 {
        margin-top: 120px;
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    .block-13 {
        margin-top: 120px;
        .img-wrapper {
            height: 100%;
            left: 0px;
            right: unset;
            transform: unset;
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    .block-14 {
        margin-top: 60px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }
    .block-15 {
        margin-top: 120px;
        padding-left: 15px;
        padding-right: 0px;
        overflow: hidden;
        .hero.center.is-hidden-desktop {
            display: none;
        }
        .highlight-gallery {
            padding-left: 122px;
            .slick-slider {
                &.clicked-prev {
                    .slick-list {
                        @media(min-width: 451px) {
                            padding-left: 256px;
                            transition: padding-left 0.3s ease;
                        }
                    }
                }
            }
        }
        .highlight-header {
            margin-bottom: 60px;
        }
        @media (max-width: 1380px) {
            .experience-header  {
                margin-left: 133px;
            }
        }
        @media (max-width: 1023px) {
            .highlight-gallery {
                padding-left: 0px;
            }
            .experience-header {
                margin-left: 0px;
                .highlight-header {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                }
            }
        }
        @media (max-width: 768px) {
            margin-top: 80px;
        }
    }
    footer {
        margin-top: 60px;
    }
}
