.search-page {
    background: $background;
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .main-nav .logo .logo-switch {
        fill: #292d3d !important;
    }
    .top-container {
      padding-top: 150px;
    }
    .max-width-container {
        padding-bottom: 40px;
        width: 100%;
        &.other-results {
            padding: 0;
        }
        .page-heading, .page-subheading {
            color: $ui-weaker;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0 12px;
            white-space: nowrap;
        }
        &.search-phrase {
          padding-bottom: 15px;
          >div {
            text-align: center;
          }
        }
    }
    .search-phrase p {
        color: #0E0F14;
    }
    .heading-line, .horizontal-line {
        border: 1px solid $horizontal-line;
        width: 100%;
        margin: 0;
    }
    .tab-items {
        .link:not(:last-child) {
            margin-right: 10px;
        }
        .link {
            font-size: 0.938rem;
            height: unset;
            padding: 10px 20px;
            color: $ui-contrast;
            &.active {
                color: $white;
                background: $ui-accent;
            }
        }
    }
    .cards {
        img {
            border-radius: 20px;
            padding: 5px 5px 0 5px;
        }
        .card {
            background: $background;
            padding: 0;
            &-image {
                padding-bottom: 15px;
            }
            &__inner {
                background: #fff;
                border-radius: 15px;
                cursor: pointer;
            }
            &-content {
                padding-top: 0;
                padding-bottom: 20px;
            }
            &__cat, &__updated {
                font-size: 0.75rem;
            }
            &__cat {
                color: $ui-regular;
                margin-bottom: 5px;
            }
            &__updated {
                color: $ui-weak;
                margin-bottom: 10px;
            }
            &__title {
                color: $ui-contrast;
                font-weight: 400;
                margin-bottom: 15px;
            }
            &__label {
                display: inline-block;
                font-size: 0.75rem;
                font-weight: 400;
                padding: 0.3em 0.625em;
                border-radius: 200px;
                cursor: pointer;
                &.general {
                    color: $general-text;
                    background: $general-background;
                }
                &.updated {
                    color: $updated-text;
                    background: $updated-background;
                }
                &.cancelled {
                    color: $cancelled-text;
                    background: $cancelled-background;
                }
                &.live {
                    color: $live-text;
                    background: $live-background;
                    text-transform: uppercase;
                }
                &.postponed {
                    color: $postponed-text;
                    background: $postponed-background;
                }
                &.sponsored {
                    color: $sponsored-text;
                    background: $sponsored-background;
                }
            }
            &__label:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
    .page-link, .page-title, .page-body {
        font-weight: 400;
    }
    .page-link {
        color: $ui-weak;
        font-size: 0.75rem;
    }
    .page-title {
        color: $ui-contrast;
        margin-bottom: 5px;
    }
    .page-body {
        color: $ui-regular;
    }
    .other-search-wrap {
        cursor: pointer;

        em {
          background:rgba(black, 0.1);
          // background:rgba($ui-accent, 0.1);
        }
    }
    .other-search-wrap:hover .page-title {
        color: $ui-accent;
    }

    //SPECIFIC TO MOBILE STYLES
    .mobile {
        $search-horizontal-padding: 20px;
        .search__text {
            font-size: 12px;
            font-weight: 400;
            color: $ui-weak;;
            padding-left: $search-horizontal-padding;
            margin-bottom: 15px;
        }
        .main-search {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background: $white;
            input {
                width: 100%;
                padding-left: $search-horizontal-padding;
            }
            img {
                padding-right: $search-horizontal-padding;
            }
        }
        .max-width-container {
            margin-bottom: 30px;
            &.top-page {
                padding: 0;
            }
            &.other-results {
                margin-bottom: 30px;
            }

        }
        .container {
            padding: 0 15px;
            margin: 0 10px;
            &.top {
                padding: 105px 15px 0 15px;
                margin-bottom: 45px;
            }
        }
        .page-heading {
            font-size: 0.938rem;
        }
        .tab-items {
            padding-bottom: 30px;
            overflow-x: scroll;
            a {
                white-space: nowrap;
            }
        }
        .cards {
            margin-bottom: 50px;
            .card {
                &__inner {
                    margin: 0 0 10px 0;
                }
                &__cat, &__updated {
                    font-weight: 400;
                }
                &__title {
                    font-size: 0.938rem;
                }
            }
        }
        .news-results-btn {
            margin-bottom: 80px;
        }
        .page-link {
            margin-bottom: 10px;
        }
        .page-title {
            font-size: 0.75rem;
        }
        .page-body {
            font-size: 0.75rem;
        }
        .horizontal-line {
            margin: 20px 0;
        }
        .other-search-wrap img {
            margin-left: 5px;
        }
        .other-searches {
            margin-bottom: 30px;
        }
    }
    //SPECIFIC TO DESKTOP STYLES
    .desktop {
        .container.smaller {
            @include tablet {
                max-width: $tablet - 100px;
            }
            @include desktop {
                max-width: $desktop - 170px;
            }
            @include widescreen {
                max-width: $widescreen - 270px;
            }
            @include fullhd {
                max-width: $fullhd - 200px;
            }
        }
        .container.normal {
            padding: 0 20px;
            @include desktop {
                padding: 0;
            }
        }
        .max-width-container.other-results {
            margin-bottom: 60px;
        }
        .tab-items {
            padding-bottom: 45px;
        }
        .cards {
            margin-bottom: 15px;
            .card {
                &__inner {
                    margin: 0 13px 45px 13px;
                }
                &__cat, &__updated {
                    font-weight: 500;
                    // from 1408px
                    @include fullhd {
                        font-size: 0.813rem;
                    }
                }
                &__title {
                    font-size: 1.188rem;
                    // from 1408px
                    @include fullhd {
                        font-size: 1.25rem;
                    }
                }
                &__label {
                    // from 1408px
                    @include fullhd {
                        font-size: 0.813rem;
                    }
                }
            }
        }
        .news-results-btn {
            margin-bottom: 120px;
        }
        .page-link {
            margin-bottom: 15px;
        }
        .page-title {
            font-size: 1.188rem;
        }
        .page-body {
            font-size: 0.938rem;
        }
        .horizontal-line {
            margin: 30px 0;
        }
        .other-searches {
            margin-bottom: 60px;
            margin-top: 60px;
        }
    }
}
