.students-page {
    background-color: #F5F5F6;
    .block-01 {
        .scroll-down-prompt {
            position: absolute;
            bottom: 120px;
            @media (max-width: 768px) {
                bottom: 115px;
            }
        }
        .text {
            .hero {
                width: 226px;
            }
        }
        .img-wrapper {
            left: unset;
            right: 0px;
            transform: unset;
            height: 100%;
            background-position-x: right;
        }
    }
    .block-02 {
        margin-top: 120px;
        .highlight-header {
            margin-left: 122px;
            @include mobile {
                margin-left: auto;
                margin-right: auto;
            }
            .header-split {
                @include mobile {
                    width: unset;
                    text-align: center;
                }
                h2 {
                    @include mobile {
                        width: unset;
                        text-align: center;
                    }
                }
            };
        }
        .walking-gallery, .experience-story-gallery-block {
            margin-top: 60px;
            .hero {
                display: none;
            }
        }
        .highlight-gallery.experience-story-gallery-block {
            .slick-slider.clicked-prev {
                .slick-list {
                    transition: padding-left 0.3s ease;
                }
                
            }
            @media(min-width: 451px) {
                .slick-slider.clicked-prev {
                    .slick-list {
                        padding-left: 256px;
                        transition: padding-left 0.3s ease;
                    }
                    
                }
            }
        }
    }
    .block-03 {
        margin-top: 120px;
        .highlight-header {
            margin-left: 122px;
        }
        @media(max-width: 1023px) {
            .highlight-gallery {
                .hero.center {
                    display: none;
                }
            }
        }
        .highlight-gallery {
            margin-top: 60px;
            .slick-slider {
                .slick-list {
                    padding-left: 122px;
                    @media(max-width:550px) {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
    footer {
        margin-top: 120px;
    }
}