.studies-page {
  .badges-commented-out {
    display: none !important;
  }
  background-color: #F5F5F6;
  .mobile {
    .block-01 {
      .text {
        .hero {
          width: 100vw;
          font-size: 2.188rem;
          text-align: center;
        }

        .note {
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 100%;
          color: $white;

          margin: 20px 20px;

          a {
            text-decoration: underline;
            color: $white;
          }
        }
      }
      .img-wrapper {
        left: unset;
        transform: unset;
        height: 100%;
        background-size: cover;
        right: 0;
        background-position-x: center;
      }
    }
    .container {
      margin-top: 25px;
      padding: 0 15px;
      .label {
        margin: 15px 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 100%;
        color: $ui-weak;
      }
    }
  }
  .desktop {
    .block-01 {
      padding: 0 45px;
      min-height: 385px;
      .text {
        .hero {
          width: 350px;
        }

        .note {
          position: absolute;
          bottom: 55px;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 100%;
          color: $white;

          a {
            text-decoration: underline;
            color: $white;
          }
        }
      }
      .img-wrapper {
        left: 0;
        transform: unset;
        height: 100%;
        right: 0;
        min-width: 100vw;
        background-position-x: center;
        background-size: cover;
      }
    }
    .container {
      margin-top: 25px;
      padding: 0 15px;
      .label {
        margin: 15px 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 100%;
        color: $ui-weak;
      }
    }
    footer {
      margin-top: 120px;
    }
  }
  a.modal-card-subtitle {
    text-decoration: underline !important;
  }
}
