.privacy-page {
    background: $background;
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .block-01 {
        .img-wrapper {
            left: unset;
            transform: unset;
            height: 100%;
            right: 0;
            background-position-x: center;
            background-size: cover;
            background-position-y: bottom;
        }
    }
    .container {
        padding-right: $container-px;
        padding-left: $container-px;
    }
    .tab-items {
        .link:not(:last-child) {
            margin-right: 10px;
        }
        .link {
            font-size: 0.938rem;
            height: unset;
            padding: 10px 20px;
            color: $ui-contrast;
            &.active {
                color: $white;
                background: $ui-accent;
            }
        }
    }
    .all-categories, .prev, .next {
        cursor: pointer;
    }
    .selected-category {
       .card-header {
            border-bottom: 1px solid $ui-details;
       }
       &__title, &__subtitle {
           color: $ui-contrast;
       }
       &__par, &__points li {
            color: $ui-regular;
       }
       .card-footer {
           border-top: 1px solid $ui-details;
           @include mobile {
            border-top: unset !important;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding: 15px;
            z-index: 1001;
           } 
           &__content {
               width: 100%;
               @include mobile {
                padding: 22px 27px 23px;
                background-color: #fff;
                border-radius: 25px;
               }
               p {
                font-size: 0.938rem;
                color: $ui-contrast;
                }
                img {
                    width: 15px;
                    height: auto;
                }
               .prev {
                   p {
                       margin-left: 12px;
                   }
               }
               .next {
                   p {
                       margin-right: 12px;
                   }
               }
           }
       }
    }
    .title-above-cat {
        margin-left: 25px;
        font-size: 0.75rem;
        color: $ui-weak;
        padding-bottom: 15px;
    }
    .card {
        border-radius: 15px;
        position: relative;
        overflow: hidden;

        &-content {
            .cat-title {
                font-size: 0.938rem;
                color: $ui-contrast;
            }
            img {
                height: 13px;
                width: auto;
            }

            &:before {
              content: "";
              width: 6px;
              height: 60%;
              top: 20%;
              left: -6px;
              position: absolute;
              border-radius: 3px;
              background-color: $ui-accent;

              transition: left 200ms;
            }
        }
    }
    .card:not(:last-child) {
        margin-bottom: 10px;
    }
    //ONLY MOBILE STYLES
    .mobile {
      min-height: 100vh;
        .block-01 {
            height: 300px !important;
            .container {
                align-items: flex-end !important;
                .hero {
                    width: 100vw;
                    text-align: center;
                    margin-bottom: 45px;
                }
            }
            .img-wrapper {
                bottom: 0;
                height: 100%;
                background-position-y: bottom !important;
            }
        }
        .tab-items {
            padding-top: 30px;
            padding-bottom: 10px;
            overflow-x: scroll;
            a {
                white-space: nowrap;
            }
        }
        .selected-category {
            .card {
                &-head {
                    position: fixed;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 45px;
                    width: 100%;
                    padding: 20px;
                    button {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
            .card-header, .card-content {
                padding: 20px;
                @include mobile {
                    padding: 20px 20px 112px 20px;
                }
            }
            .card-header {
                margin-top: 90px;
            }
            .card-head {
                background: $background;
                &__title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                }
            }
            &__title, &__subtitle {
                font-size: 0.938rem;
            }
            &__par, &__points {
                font-size: 0.75rem;
            }
            &__title {
                color: $ui-regular;
            }
            .card-footer {
                padding: 22px 27px;
                @include mobile {
                    padding: 15px;
                }
            }
        }
        .modal-content .selected-category {
            margin-right: 15px;
            margin-left: 15px;
        }
        .modal-close {
            display: none;
        }
    }
    //ONLY DESKTOP STYLES
    .desktop {
        .container {
            padding-top: 60px;
            padding-bottom: 120px;
        }
        .tab-items {
            padding-bottom: 40px;
        }
        .all-categories .card-content.active {
          .cat-title {
            color: $ui-accent;
          }

          &:before {
            left: -3px;
          }
        }
        .selected-category {
            .card {
                &-content {
                    padding: 20px 50px 50px 50px;
                }
                .card-header {
                    padding: 20px 50px;
                }
                .card-footer {
                    padding: 32px 52px;
                }
            }
            &__title {
                font-size: 1.188rem;
            }
            &__subtitle {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            &__par, &__points li {
                font-size: 0.938rem;
            }
            &__points li {
                list-style-type: disc;
                list-style-position: inside;
            }
        }
    }
}
