<template>
  <div :class="cssClass">
    <Nuxt />
    <!-- <CookieControl locale="en" class="appCookieControll">
      <template v-slot:bar>
        <p v-text="$cookies.text.barDescription"></p>
        <b-button type="is-text" tag="nuxt-link" class="mt-4" to="/terms/cookie-policy">Cookie Policy</b-button>
      </template>
    </CookieControl> -->
  </div>
</template>

<script>
import $axios from 'axios';
export default {
  data() {
    return {
      loading: true,
      loaded: false,
    };
  },
  computed: {
    cssClass() {
      return [this.page]
    },
    page() {
      try {
        return this.$route.name.split("___")[0]
      } catch (error) {}

      return '';
    }
  },
  methods: {
    removeHtmlClass(cssClass) {
      document.getElementsByTagName( 'html' )[0].classList.remove(cssClass)
    },
    setHash(url) {
      if (window.location.hash !== url) {
        if(history.pushState) {
          history.pushState(null, null, '#'+url);
        }
        else {
          //window.location.hash = url;
        }
      }
    },
    scrollHandler() {
      let hashable = document.getElementsByClassName('hashable')
      let elementInView = ''
      hashable.forEach(element => {
        let scrollPosY = element.getBoundingClientRect().top
        if (scrollPosY < 0) {
          elementInView = element.id
        }
      });
      this.setHash(elementInView)
    },
    hashChangeHandler(e) {
      // e.preventDefault();
      // console.log(e);
    },
    // Safari bugfix - force the browser to scroll to the hash location
    scrollToHash() {
      const scrollTo = document.getElementById(this.$route.hash.substr(1))
      if (scrollTo) {
        scrollTo.scrollIntoView()
      }
    },
  },
  mounted() {
    this.$store.commit("loading");
    window.addEventListener('scroll', this.scrollHandler);
    window.addEventListener('hashchange', this.hashChangeHandler);
    window.addEventListener('load', this.scrollToHash)
  },
  watch: {
    $route (to,from) {
      document.getElementsByTagName( 'html' )[0].classList.remove("lock")

      let found = false;
      const pages = [
        'admission-',
        'news-',
        'article-',
        'search-',
      ];

      pages.forEach((item) => {
        if (to.name.indexOf(item) > -1){
          found = true;
        }
      })

      if (!found) {
        this.removeHtmlClass("always-bg-header")
      }
    },
  }
};

</script>
<style lang="scss" scoped>

</style>
