<template>
    <div class="error-page main-page">
        <div class="desktop is-hidden-mobile">
            <Header></Header>
            <ColorBgImg v-bind="block01" class="block-01">
                <p class="error-message small-text search-label">Actually this is an error page “404” and we did not have yet decided what is going to be here later on.</p>
                <a href="/" class="to-home-btn btn btn-round btn-m btn-black small-text medium">
                    Back to Home
                </a>
            </ColorBgImg>
        </div>
        <div class="mobile is-hidden-tablet">
            <Header></Header>
            <ColorBgImg v-bind="block01" class="block-01">
                <p class="error-message small-text search-label">Actually this is an error page “404” and we did not have yet decided what is going to be here later on.</p>
                <a href="/" class="to-home-btn btn btn-round btn-m btn-black small-text medium">
                    Back to Home
                </a>
            </ColorBgImg>
        </div>
    </div>
</template>

<script>

export default {

    layout: 'error',

    data() {
    return {
      block01: {
        color: "#35C7FE",
        img: "/images/demo/error/01.jpg?v=2.0",
        title: "Congrats! You've found our secret page here!",
        fullpage: true,
      },
    };
  }
}
</script>
