<template>
    <div class="highlight-header" ref="highlightHeader">
        <div v-for="(item,index) in textSplit" :key="index" class="header-split">
          <template v-if="isDesktop">
            <div class="line" :data-aos-duration="index * 300" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="200"></div>
            <h2 class="hero header-text-split">{{item}}</h2>
          </template>
          <template v-else>
            <h2 class="hero header-text-split mobile">{{item}}</h2>
          </template>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        text: null
    },
    data() {
        return {

        }
    },
    methods: {
        // handleScroll(e) {
        //     let boxPos = this.$refs.highlightHeader.getBoundingClientRect()
        //     if (boxPos.top - window.innerHeight + 200 < 0 && boxPos.bottom > 0) {
        //     } else {
        //     }
        // }
    },
    beforeMount () {
		// window.addEventListener('scroll', this.handleScroll, {
		// passive: true,
		// });
	},

	beforeDestroy() {
		//window.removeEventListener('scroll', this.handleScroll);
	},
    computed: {
        textSplit() {
            return this.text.split("~~");
        },
        isDesktop() {
          return this.$mq !== 'sm' && this.$mq !== 'md'
        }
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .highlight-header {
        width: fit-content;
        white-space: nowrap;
        .header-split {
            position: relative;
            width: fit-content;
            .header-text-split {
                position: relative;
                color: $white;
                z-index: 2;
                width: fit-content;

                &.mobile {
                  color: $black;
                }
            }
            @media (min-width: 1050px) {
              &:first-child {
                .line {
                  left: -15px;
                }
              }
              &:nth-child(2) {
                margin-left: 20px;

                .line {
                  left: 10px;
                }
              }
              &:nth-child(3) {
                margin-left: 10px;

                .line {
                  left: -5px;
                }
              }
              .line {
                position: absolute;
                z-index: 0;
                top: 0px;
                height: 100%;
                width: 102%;
                background-color: $crimson;
              }
            }
        }
    }
</style>
