<template>
    <div class="scroll-down-prompt flex fcv">
        <div class="icon-wrapper flex fc fcv">
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 13V1M10.6667 8.33333L6 13L10.6667 8.33333ZM6 13L1.33333 8.33333L6 13Z" stroke="#D6003D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <p class="tiny-text">
            Scroll down to learn more
        </p>
    </div>
</template>
<script>
export default {
    props: {
        texts:null
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.scroll-down-prompt {
    .icon-wrapper {
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 15px;
        background-color: $white;
    }
    p {
        color: $white;
    }
}
</style>