<template>
    <div class="conditions flex wrapper-md">
        <HighlightHeader class="header" text="Application~~Conditions"></HighlightHeader>
            <div class="is-hidden-touch flex boxes-wrapper">
                <div class="flex col is-hidden-touch">
                <!-- <SmallGradientStatic v-bind="conditions.fellowships"></SmallGradientStatic> -->
                <SmallGradientStatic v-bind="conditions.scholarships"></SmallGradientStatic>
            </div>
            <div class="flex col is-hidden-touch">
                <!-- <SmallGradientStatic v-bind="conditions.scholarships"></SmallGradientStatic> -->
                <SmallGradientStatic v-bind="conditions.application"></SmallGradientStatic>
            </div>
            <div class="flex col is-hidden-touch">
                <SmallGradientStatic v-bind="conditions.degrees"></SmallGradientStatic>
                <SmallGradientStatic v-bind="conditions.countries"></SmallGradientStatic>
            </div>
        </div>
        <VueSlickCarousel
        class="is-hidden-desktop"
        ref="conditionsGallery"
        v-bind="slickOptions">
            <!-- <div class="slide">
                <SmallGradientStatic v-bind="conditions.fellowships"></SmallGradientStatic>
            </div> -->
            <div class="slide">
                <SmallGradientStatic v-bind="conditions.scholarships"></SmallGradientStatic>
            </div>
            <div class="slide">
                <SmallGradientStatic v-bind="conditions.application"></SmallGradientStatic>
            </div>
            <div class="slide">
                <SmallGradientStatic v-bind="conditions.degrees"></SmallGradientStatic>
            </div>
            <div class="slide">
                <SmallGradientStatic v-bind="conditions.countries"></SmallGradientStatic>
            </div>
        </VueSlickCarousel>
    </div>
</template>
<script>
export default {
    props: {
    },
    data() {
        return {
            slickOptions: {
                slidesToShow: 1,
                slidesToScroll: 1,
                variableWidth: true,
                arrows: false,
                infinite: true,
                pauseOnHover: true,
                dots: false,
                autoplay: false,
            },
            conditions: {
                fellowships: {
                    color: '#61479D',
                    img: '/images/demo/scholarships/02.png?v=2.0',
                    title: 'Fellowships',
                    desc: 'A fellowship can be received by scientific and academic staff for conducting research.',
                },
                scholarships: {
                    color: '#F7931D',
                    img: '/images/demo/scholarships/03-02.png?v=2.0',
                    title: 'Scholarships',
                    desc: 'Latvian state scholarships are available for studies.',
                },
                application: {
                    color: '#F7931D',
                    img: '/images/demo/scholarships/04.png?v=2.0',
                    title: 'One Application',
                    desc: 'Each applicant can submit only one application on an open call.',
                },
                degrees: {
                    color: '#F7931D',
                    img: '/images/demo/scholarships/03.png?v=2.0',
                    title: "Bachelor’s, Master’s, and PhD’s",
                    desc: 'A scholarship can be received by Bachelor’s, Master’s and PhD students for studies.',
                },
                countries: {
                    color: '#61479D',
                    img: '/images/demo/scholarships/02-02.png?v=2.0',
                    title: "30+ countries",
                    desc: 'Citizens from over 30 countries can apply.',
                }
            }
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .conditions {
        position: relative;
        flex-wrap: wrap;
        .boxes-wrapper {
            flex-wrap: wrap;
        }
        .header {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .col {
            &:not(:last-child) {
                margin-right: 26px;
                padding-top: 160px;
            }
            &:nth-child(2) {
                margin-left: auto;
            }
            .small-gradient {
                margin-bottom: 26px;
            }
        }
        @media (max-width: 1023px) {
            .header {
                position: relative;
                margin-bottom: 30px;
            }
            .slide {
                margin-right: 15px;
            }
        }
    }
</style>