<template>
    <div class="experience">
        <div class="experience-header wrapper-md">
            <HighlightHeader text="Experience~~Stories"></HighlightHeader>
        </div>

        <ExperienceStoryGalleryBlock
          :stories="stories"
          :testimonials="testimonials"
          :infinite="infinite"
        />
    </div>
</template>
<script>
import ExperienceStoryGalleryBlock from '~/components/partials/ExperienceStoryGalleryBlock'
export default {
  components: {ExperienceStoryGalleryBlock},

  props: {
    stories: {
      type: Array,
      default: () => {[]},
    },
    testimonials: {
      type: Array,
      default: () => {[]},
    },
    infinite: {
      type: Boolean,
      default: false,
    },
  }
};
</script>
