<template>
    <div class="how-to wrapper-md">
        <div class="how-to-header">
            <h3 class="hero">{{content.title}}</h3>
            <div class="side-text is-hidden-touch">
                <p class="h3">{{content.body}}</p>
                <a href="https://scholarships.viaa.gov.lv" target="_blank" class="btn btn-round btn-m btn-black">Apply here</a>
            </div>
        </div>
        <div class="how-to-body">
            <div class="image-wrapper">
                <div class="padder"></div>
            </div>
            <p class="subtext is-hidden-desktop">{{content.body}}</p>
            <a href="https://scholarships.viaa.gov.lv" target="_blank" class="is-hidden-desktop btn btn-ms btn-round btn-black">Apply here</a>
            <div class="right">
                <p class="h2 list-title">{{content.list_title}}</p>
                <div v-for="(item,index) in content.list" :key="index" class="list-item">
                    <div class="number">
                        <p class="h2">{{item.number}}</p>
                    </div>
                    <div class="small-text ml" v-html="item.text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        content: Object
    },
    data() {
        return {

        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.how-to {
    .how-to-header {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        .hero {
            margin-right: 25px;
            width: 303px;
            text-align: left;
        }
        .side-text {
            margin-top: 30px;
            .h3 {
                width: 466px;
                margin-bottom: 20px;
                color: $ui-regular;
            }
            a {
                color: $ui-contrast;
                &.purple {
                    color: $ui-accent;
                }
            }
        }
    }
    .how-to-body {
        display: flex;
        .image-wrapper {
            margin-right: 108px;
            max-width: 530px;
            flex: 0 0 530px;
            height: 530px;
            border-radius: 30px;
            overflow: hidden;
            background-image: url('/images/demo/scholarships/10.png?v=2.0');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        a.purple {
                    color: $ui-accent;
                }
        .right {
            .list-title {
                color: $ui-regular;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .list-item {
                display: flex;
                align-items: center;
                align-content: center;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                .number {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    background-color: #F0F1F5;
                    border-radius: 25px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    .h2 {
                        color: #5E33C1;
                        font-weight: 500;
                    }
                }
                .small-text {

                }
            }
        }
    }
    @media (max-width: 1023px) {
        .how-to-header {
            margin-bottom: 30px;
            .hero {
                width: 100%;
                text-align: center;
            }
        }
        .how-to-body {
            flex-wrap: wrap;
            .image-wrapper {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
            }
            .right,.btn,.subtext {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .subtext {
                margin-bottom: 15px;
                margin-left: 15px;
                margin-right: 15px;
            }
            .btn {
                margin-bottom: 45px;
            }
            .btn,.subtext {
                text-align: center;
            }
            .right {
                padding-left: 5px;
            }
        }
    }
    @media (max-width: 500px) {
        .how-to-body {
            .image-wrapper {
                max-width: 100%;
                flex: 0 0 100%;
                display: flex;
                height: unset;
                .padder {
                    padding-top: 100%;
                }
            }
        }
    }
}
</style>