<template>
  <div
    class="map"
    :class="{
      mobile: isMobile,
    }"
  >
    <div class="top wrapper-md">
      <HighlightHeader :text="content.title"></HighlightHeader>
      <p class="h3">
        {{content.url_text}}
      </p>
    </div>
    <div class="bot map-scroll" ref="map-scroll">
      <div class="map-wrapper">
        <transition name="fade">
          <div v-show="isMobile && showScrollMessage" class="scroll-to-sides">
            <div class="scroll-to-sides__title">
              <svg
                class="left"
                width="12"
                height="10"
                viewBox="0 0 12 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.5 5H1.5M7 1.5L10.5 5L7 1.5ZM10.5 5L7 8.5L10.5 5Z"
                  stroke="#24262F"
                  stroke-width="1.1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Scroll to sides
              <svg
                width="12"
                height="10"
                viewBox="0 0 12 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.5 5H1.5M7 1.5L10.5 5L7 1.5ZM10.5 5L7 8.5L10.5 5Z"
                  stroke="#24262F"
                  stroke-width="1.1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="scroll-to-sides__subtitle">
              You can scroll map by swiping it left and right.
            </div>
            <a
              class="
                btn btn-round btn-ms btn-black
                small-text
                scroll-to-sides__button
              "
              style="width: 100%"
              @click="showScrollMessage = false"
            >
              OK, Got it!
            </a>
          </div>
        </transition>
        <SvgMap
          :is-mobile="isMobile"
          :show-scroll-message="showScrollMessage"
        />
      </div>

      <transition name="fade">
        <div v-show="country" class="hover-text" ref="hoverText">
          <Flag class="flag-border" :code="countryCode(country)" />
          <p class="small-text ml">
            {{ country }}
          </p>
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isMobile: {
      type: Boolean,
      default: false,
    },
    content: Object
  },
  data() {
    return {
      showScrollMessage: true,
      country: null,
      countryCodes: {
        Greenland: "gl",
        USA: "us",
        // Canada: "ca",
        Mexico: "mx",
        Peru: "pe",
        Spain: "es",
        Canarias: "ic",
        Israel: "il",
        Taiwan: "tw",
        Georgia: "ge",
        Uzbekistan: "uz",
        Kyrgyztan: "kg",
        Mongolia: "mn",
        Tajikistan: "tj",
        Vietnam: "vn",
        Japan: "jp",
        Indonesia: "id",
        Turkmenistan: "tm",
        Kazahstan: "kz",
        China: "cn",
        Turkey: "tr",
        Azerbaijan: "az",
        SouthKorea: "kr",
        Cyprus: "cy",
        Lithuania: "lt",
        Estonia: "ee",
        Iceland: "is",
        Italy: "it",
        Ukraine: "ua",
        Switzerland: "ch",
        France: "fr",
        Moldova: "md",
        Austria: "at",
        Czechia: "cz",
        Croatia: "hr",
        Bulgaria: "bg",
        Greece: "gr",
        Germany: "de",
        Poland: "pl",
        Bulgaria2: "bg",
        Hungary: "hu",
        Slovakia: "sk",
        Norway: "no",
        Sweden: "se",
        Finland: "fi",
        Denmark: "dk",
        Netherlands: "nl",
        Belgium: "be",
        "Belgium (Wallonia - Brussels)": "be",
        Latvia: "lv",
        Egypt: "eg",
        Nambia: "na",
        Senegal: "sn",
        Ethiopia: "et",
        "Guinea-Bissau": "gw",
        Fidji: "fj"
      },
    };
  },
  methods: {
    countryCode(country) {
      return this.countryCodes[country];
    },
    enterCountry(e) {
      if (!this.isMobile || (this.isMobile && !this.showScrollMessage)) {
        this.country = e.target.id;
        if (this.country == "Bulgaria2") {
          this.country = "Bulgaria";
        }

        if (this.country == "Belgium") {
          this.country = "Belgium (Wallonia - Brussels)";
        }
      }
    },
    leaveCountry(e) {
      if (this.isMobile) {
        let targetCountry = e.target.id;
        if (targetCountry == "Bulgaria2") {
          targetCountry = "Bulgaria";
        }
        if (targetCountry == "Belgium (Wallonia - Brussels)") {
          targetCountry = "Belgium";
        }
        if (this.country !== targetCountry) {
          this.country = null;
        }
      } else {
        this.country = null;
      }
    },
    cursor(e) {
      this.$refs.hoverText.style.top = e.clientY - 50 + "px";
      this.$refs.hoverText.style.left = e.clientX - 75 + "px";
    },
  },
  computed: {},
  beforeMount() {
    let self = this;

    setTimeout(() => {
      if (process.client) {
        let valstis = document.getElementById("Valstis");

        if (valstis) {
          document
            .getElementById("Valstis")
            .addEventListener("mousemove", self.cursor);

          const countries =
            document.getElementsByClassName("hoverable-country");
          countries
            ? countries.forEach((element) => {
                if (self.isMobile) {
                  element.addEventListener("touchstart", self.enterCountry);
                  window.addEventListener("touchstart", self.leaveCountry);
                } else {
                  element.addEventListener("mouseenter", self.enterCountry);
                  element.addEventListener("mouseleave", self.leaveCountry);
                }
              })
            : "";
        }
      }
    }, 400);
  },
  beforeDestroy() {
    let self = this;
    if (process.client) {
      let valstis = document.getElementById("Valstis");
      if (valstis) {
        document
          .getElementById("Valstis")
          .removeEventListener("mousemove", this.cursor);
        let self = this;
        const countries = document.getElementsByClassName("hoverable-country");
        countries
          ? countries.forEach((element) => {
              if (self.isMobile) {
                element.removeEventListener("touchstart", self.enterCountry);
                window.removeEventListener("touchstart", self.leaveCountry);
              } else {
                element.removeEventListener("mouseenter", self.enterCountry);
                element.removeEventListener("mouseleave", self.leaveCountry);
              }
            })
          : "";
      }
    }
  },
  mounted() {
    setTimeout(() => {
      const mapScroll = this.$refs["map-scroll"];
      const { clientWidth, scrollWidth } = mapScroll;
      mapScroll.scrollLeft = (scrollWidth - clientWidth) / 2;
    }, 300);
  },
};
</script>
<style lang="scss" scoped>
.map {
  @include tablet {
    .map-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .top {
    display: flex;
    .h3 {
      max-width: 630px;
      flex: 0 0 630px;
      margin-left: 93px;
      margin-top: 30px;
    }
  }
  .bot {
    .hover-text {
      position: fixed;
      background-color: #fff;
      height: 25px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      align-content: center;
      border-radius: 15px;
      img {
        margin-right: 5px;
      }
    }
  }
  &.mobile {

  }
  @media (max-width: 1166px) {
    .top {
      .h3 {
        max-width: 490px;
        flex: 0 0 490px;
        margin-left: 40px;
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 1000px) {
    .top {
      flex-wrap: wrap;
      .highlight-header {
        margin-left: auto;
        margin-right: auto;
      }
      .h3 {
        max-width: 100%;
        flex: 0 0 100%;
        margin-left: 0px;
        margin-top: 30px;
      }
    }
  }

  .flag-border {
    border: 1px solid $ui-weaker;
  }
}
</style>
