<template>
    <div class="side-text wrapper-md">
        <div class="left">
            <p class="tiny-text upper"></p>
        </div>
        <div class="right">
            <div class="text" v-html="content.text">
            </div>
            <NuxtLink v-if="content.url_text && content.url_link" :to="content.url_link" class="link small-text medium btn btn-round btn-m btn-purple">
                {{content.url_text}}
            </NuxtLink>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        content: Object
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .side-text {
        display: flex;
        .left {
            .tiny-text {
                margin-top: 20px;
                color: $ui-weak;
                width: 80px;
            }
            margin-right: 166px;
        }
        .right {
            .mega-text {
                font-size: 2.813rem;
                line-height: 140%;
                letter-spacing: -2%;
                color: $ui-contrast;
                .underline {
                    text-decoration: underline;
                    color: $ui-accent;
                }
            }
            .link {
                margin-top: 65px;
            }
        }
        @media (max-width: 920px) {
            .left {
                display: none;
            }
            .right {
                .link {
                    margin-left: auto;
                }
            }
        }
        @media (max-width: 620px) {
            .right {
                .mega-text {
                    font-size: 1.75rem;
                    line-height: 2.3125rem;
                }
            }
        }
    }
</style>
