<template>
<div class="studies-wrapper">
    <SideTabs class="studies is-hidden-touch" ref="studiesSideTab" :tabs="tabs"></SideTabs>
    <CollapseCms v-for="(tab,index) in tabs" :key="index" :tab="tab" class="is-hidden-desktop"></CollapseCms>
</div>
</template>
<script>
export default {
    props: {
        tabs: Array
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.studies {
    
}
</style>