<template>
<div class="summer-wrapper">
    <SideTabs class="summer-schools is-hidden-touch" ref="summerSideTab" :tabs="tabs"></SideTabs>
    <CollapseCms v-for="(tab,index) in tabs" :key="index" :tab="tab" class="is-hidden-desktop"></CollapseCms>
</div>
</template>
<script>
export default {
    props: {
        tabs: Array
    },
    data() {
        return {}
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.summer-schools {

}
</style>
