<template>
	<div class="things-to-remember wrapper-md">
		<h2 class="hero center">{{content.title}}</h2>
		<div class="container">
			<div class="left image" :style="{ backgroundImage: `url(${$statically(path(content.img), 600)})` }">

			</div>
			<div class="right text">
				<div v-for="(item,index) in content.text_icon_list" :key="index" class="list-item">
					<img :src="'/images/icons/'+item.icon+'.svg'" alt="">
					<div class="text-box" v-html="item.text"></div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
	props: {
		content: Object
	},
	data() {
		return {
		}
	},
	methods: {
		path(img) {
			return mediaLibraryUrl(img)
		}
	},
	computed: {
	},
	mounted() {
	}
};
</script>
<style lang="scss" scoped>
	.things-to-remember {
		.hero {
			margin-bottom: 60px;
			width: 310px;
			color: $ui-contrast;
		}
		.container {
			display: flex;
			align-items: center;
			.left {
				height: 466px;
				width: 466px;
				min-width: 466px;
				border-radius: 40px;
				background-size: contain;
				background-position: center center;
			}
			.right {
				margin-left: 110px;
				display: flex;
				flex-direction: column;
				.list-item {
					display: flex;
					.text-box {
						display: inline;
					}
					img,p:not(.tiny-text) {
						display: inline;
					}
					img {
						height: 16px;
						width: auto;
						margin-bottom: -2px;
						margin-right: 7px;
						margin-top: 3.5px;
					}
					margin-top: 30px;
					&:first-child {
						@media (min-width: 741px) {
							margin-top: 0;
						}
					}
				}
			}
		}
		@media (max-width: 1225px) {
			.container {
				.right {
					margin-left: 0px;
					padding-left: 30px;
				}
			}
		}
		@media (max-width: 1000px) {
			.container {
				.left {
					height: unset;
					min-width: unset;
					width: 44%;
					min-width: 44%;
					flex: none;
					display: table;
					padding-top: 44%;
					margin-top: auto;
					margin-bottom: auto;
				}
			}
		}
		@media (max-width: 740px) {
			.hero.center {
				margin-bottom: 30px;
			}
			.container {
				flex-wrap: wrap;
				.right {
					padding-left: 8px;
					max-width: 100%;
					flex: 0 0 100%;
				}
				.left {
					max-width: 330px;
					height: 330px;
					min-width: 330px;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
</style>
