<template>
    <div class="about-page main-page" role="main">
        <div v-if="innerWidth > 1024" class="desktop">
			<Header></Header>
			<ColorBgImg v-bind="block01" class="block-01">
                <ScrollDownPrompt></ScrollDownPrompt>
			</ColorBgImg>
            <div class="container">
                <div class="block-02" v-html="page[0].data.text">
                    <p class="mega-text">Study in Latvia is a public national body in charge of promoting Latvia’s higher education to international students, managed by the <a class="underline" href="https://www.viaa.gov.lv/en" target="_blank">State Education Development Agency</a> in partnership with the <a href="https://www.izm.gov.lv/en" target="_blank" class="underline">Ministry of Education and Science</a>.</p>
                </div>
                <div class="block-03">
                    <PagesAboutContacts :content="page" />
                </div>
                <div class="block-04">
                    <p class="tiny-text contrast is-uppercase mb-4">Follow us</p>
                        <div class="social-icons mb-4">
                            <a target="_blank" href="https://www.instagram.com/studyinlatvia/" class="link small-text">
                                <img src="/images/icons/ig.png?v=2.0" alt="Instagram"> Instagram
                            </a>
                            <a target="_blank" href="https://www.facebook.com/studyinlatviaLV" class="link small-text">
                                <img src="/images/icons/fb.png?v=2.0" alt="Facebook"> Facebook
                            </a>
                            <a target="_blank" href="https://twitter.com/StudyLatvia" class="link small-text">
                                <img src="/images/icons/social/X.png?v=2.0" alt="Twitter"> X
                            </a>
                        </div>
                        <div class="social-icons">
                            <a target="_blank" href="https://www.youtube.com/c/StudyLatvia/featured" class="link small-text">
                                <img src="/images/icons/yt.png?v=2.0" alt="Youtube"> YouTube
                            </a>
                        </div>
                </div>
            </div>
            <Footer></Footer>
		</div>
		<div v-else class="mobile">
			<Header></Header>
            <ColorBgImg v-bind="block01" class="block-01">
                <ScrollDownPrompt></ScrollDownPrompt>
			</ColorBgImg>
            <div class="container">
                <div class="block-02" v-html="page[0].data.text">
                    <p class="mega-text">Study in Latvia is a public national body in charge of promoting Latvia’s higher education to international students, managed by the <a class="underline" href="https://www.viaa.gov.lv/en" target="_blank">State Education Development Agency</a> in partnership with the <a href="https://www.izm.gov.lv/en" target="_blank" class="underline">Ministry of Education and Science</a>.</p>
                </div>
                <div class="block-03">
                    <div class="">
                        <div class="" v-html="page[3].data.text">
                            
                        </div>
                        <div class="">
                            <div class="contacts" v-html="page[1].data.text">
                               
                            </div>
                            <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
                                <img class="image1" :src="path(page[2].data.images[0].image)" alt="">
                                <img class="image2" :src="path(page[2].data.images[1].image)" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-04">
                    <p class="tiny-text contrast is-uppercase follow-us">Follow us</p>
                    <div class="social-icons mb-4">

                        <a target="_blank" href="https://www.instagram.com/studyinlatvia/" class="social-icons__individual link small-text">
                            <div class="is-flex">
                                <img src="/images/icons/ig.png?v=2.0" alt=""> Instagram
                            </div>
                            <img  class="arrow-right-gray" src="images/icons/arrow-right-gray.png?v=2.0" alt="">
                        </a>

                        <a target="_blank" href="https://www.facebook.com/studyinlatviaLV" class="social-icons__individual link small-text">
                            <div class="is-flex">
                                <img src="/images/icons/fb.png?v=2.0" alt=""> Facebook
                            </div>
                            <img  class="arrow-right-gray" src="images/icons/arrow-right-gray.png?v=2.0" alt="">
                        </a>

                        <a target="_blank" href="https://twitter.com/StudyLatvia" class="social-icons__individual link small-text">
                            <div class="is-flex">
                                <img src="/images/icons/social/X.png?v=2.0" alt=""> X
                            </div>
                            <img  class="arrow-right-gray" src="images/icons/arrow-right-gray.png?v=2.0" alt="">
                        </a>

                        <a target="_blank" href="https://www.youtube.com/c/StudyLatvia/featured" class="social-icons__individual link small-text">
                            <div class="is-flex">
                                <img src="/images/icons/yt.png?v=2.0" alt=""> YouTube
                            </div>
                            <img  class="arrow-right-gray" src="images/icons/arrow-right-gray.png?v=2.0" alt="">
                        </a>

                         <!-- <a href="/" class="social-icons__individual link small-text">
                            <div class="is-flex">
                                <img src="/images/icons/fl.png?v=2.0" alt=""> Flickr Gallery
                            </div>
                            <img  class="arrow-right-gray" src="images/icons/arrow-right-gray.png?v=2.0" alt="">
                        </a> -->

                    </div>
                </div>
            </div>
            <Footer></Footer>
		</div>
    </div>
</template>

<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
    async asyncData({
        isDev,
        route,
        store,
        env,
        params,
        query,
        req,
        res,
        redirect,
        error,
        $axios,
    }) {
        const [page] = await Promise.all([
            $axios.$get("/api/v1/content/pages/" + route.name),
        ]);
        return {
            page: page.data.blocks_nested,
        };
    },
  head: {
    title: 'About Us | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
    data() {
        return {
            innerWidth: 0,
            block01: {
                color: "#AA0032",
                img: "/images/demo/about/04.png?v=2.0",
                title: "About Us",
                fullpage: true,
                halfscreen: true
            },
        }
    },
    methods: {
        path(img) {
            return mediaLibraryUrl(img)
        }
    },
    mounted() {
        console.log(this.page)
        if (process.client) {
            this.innerWidth = window.innerWidth;
        }
    },
}
</script>

<style lang="scss" scoped>
.social-icons {
    .link {
        img {
            width: 1rem;
            height: 1rem;
        }
    }
}
</style>
