<template>
  <div class="admission-page main-page" v-if="loaded" role="main">
    <div class="desktop">
      <Header></Header>

      <NuxtChild/>

      <PagesAdmissionFooter></PagesAdmissionFooter>
    </div>
  </div>
</template>
<script>

import { mapState } from 'vuex'

export default {
  head: {
    title: 'Admission | Study In Latvia',
    htmlAttrs: {
        lang: 'en'
      },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },

  async asyncData({store, redirect, error, params}) {
    await store.dispatch('admissions/getData');

    if (params.tab) {

    } else {
      redirect({
        name: 'admission-tab',
        params: {
          tab: store.state.admissions.admissions[0].slug
        }
      })
    }

  },

  data() {
    return {
      activeModal: null,
      activeTab: null,
      tabIndex: null,
      _tabs: {
        enterenceReq: {
          attestedCertificateQualification: {
            index: 0,
            text: "Attested certificate or qualification",
            slug: "attestedCertificateQualification",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          recognitionDiploma: {
            index: 1,
            text: "Recognition of diploma",
            slug: "recognitionDiploma",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          studyLanguage: {
            index: 2,
            text: "Sufficient study language",
            slug: "studyLanguage",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          requirements: {
            index: 3,
            text: "Specific requirements",
            slug: "requirements",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
        },
        applGuide: {
          chooseUniversity: {
            index: 0,
            subtext: "Step 1",
            text: "Find your study programma and choose a university.",
            slug: "chooseUniversity",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [
                {
                  type: "checkbox-title",
                  classes: "checked checkbox-title-box mb-10 padding-22",
                  text: "Programme & University",
                },
                {
                  type: "plain-text",
                  classes: "mb-20 padding-22",
                  text: "Visit www.studyinlatvia.lv and find a study programme and choose a university or vice versa.",
                },
                {
                  type: "checkbox-title",
                  classes: "checked checkbox-title-box mb-10 padding-22",
                  text: "Qualification Check",
                },
                {
                  type: "plain-text",
                  classes: "mb-20 padding-22",
                  text: "Check if you qualify. Read general entrance requirements and check specific entrance requirements set by the chosen university.",
                },
                {
                  type: "checkbox-title",
                  classes: "checked checkbox-title-box mb-10 padding-22",
                  text: "Intake Decission",
                },
                {
                  type: "plain-text",
                  classes: "mb-20 padding-22",
                  text: "Choose the intake. Spring intake usually starts in November and runs until December with studies starting in February. Autumn intake usually starts in March and is open until July or August with studies starting in September.",
                },
                {
                  type: "checkbox-title",
                  classes: "checkbox-title-box mb-10 padding-22",
                  text: "Intake Deadlines",
                },
                {
                  type: "plain-text",
                  classes: "mb-20 padding-22",
                  text: "Be aware that intake deadlines may be set earlier depending on your citizenship.",
                },
                {
                  type: "checkbox-title",
                  classes: "checkbox-title-box mb-10 padding-22",
                  text: "Additional Help",
                },
                {
                  type: "plain-text",
                  classes: "mb-10 padding-22",
                  text: "Ask if you have questions. Contact international office of the chosen university or Study in Latvia if you have additional questions.",
                },
                {
                  type: "button",
                  classes: "padding-22",
                  href: "#",
                  text: "More contacts and help here",
                },
              ],
            },
          },
          submit: {
            index: 1,
            subtext: "Step 2",
            text: "Submit your application.",
            slug: "submit",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          recognitionDocuments: {
            index: 2,
            subtext: "Step 3",
            text: "Wait for a recognition of your documents you sent.",
            slug: "recognitionDocuments",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          prepare: {
            index: 3,
            subtext: "Step 4",
            text: "Prepare for the university’s exams and also interview",
            slug: "prepare",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          agreementTuition: {
            index: 4,
            subtext: "Step 5",
            text: "Recieve your agreement and pay tuition fee",
            slug: "agreementTuition",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          manageVisa: {
            index: 5,
            subtext: "Step 6",
            text: "Manage your Visa or residence permisions",
            slug: "manageVisa",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
        },
        visasPermits: {
          euEaaSwitz: {
            index: 0,
            text: "EU, EEA/Switzerland citizens",
            slug: "euEaaSwitz",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          nonEu: {
            index: 1,
            text: "NON-EU nationals",
            slug: "nonEu",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          priorConsultation: {
            index: 2,
            text: "Countries subject to prior consultation",
            slug: "priorConsultation",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
        },
        feesCosts: {
          tuitionFees: {
            index: 0,
            text: "Tuition fees",
            slug: "tuitionFees",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
          applicationCosts: {
            index: 1,
            text: "Application costs",
            slug: "applicationCosts",
            content: {
              image: "/images/demo/admission/01.png?v=2.0",
              blocks: [],
            },
          },
        },
      },
    };
  },

  computed: {
    ...mapState('admissions', {
      admissions: state => state.admissions,
      loaded: state => state.loaded,
    }),
  },

  methods: {
    openModal(slugs) {
      this.activeModal = slugs.boxSlug;
      this.activeTab = slugs.tabSlug;
      this.tabIndex = this.tabs[this.activeTab][this.activeModal]["index"];
    },
    changeModal(slug) {
      this.activeModal = slug;
      this.tabIndex = this.tabs[this.activeTab][this.activeModal]["index"];
    },
    changeTab(tab) {
      if (this.activeModal !== null) {
        this.tabIndex = 0;
        this.activeModal = this.tabs[tab][Object.keys(this.tabs[tab])[0]].slug;
        this.activeTab = tab;
      }
    },

    prevModal() {
      this.tabIndex -= 1;
      if (this.tabIndex < 0) {
        this.tabIndex = Object.keys(this.tabs[this.activeTab]).length - 1;
      }
      this.activeModal =
        this.tabs[this.activeTab][
          Object.keys(this.tabs[this.activeTab])[this.tabIndex]
        ]["slug"];
    },

    nextModal() {
      this.tabIndex += 1;
      if (this.tabIndex >= Object.keys(this.tabs[this.activeTab]).length) {
        this.tabIndex = 0;
      }
      this.activeModal =
        this.tabs[this.activeTab][
          Object.keys(this.tabs[this.activeTab])[this.tabIndex]
        ]["slug"];
    },

    closeModal() {
      this.activeModal = null;
      this.activeTab = null;
      this.tabIndex = null;
    },
  },

  beforeMount () {
		document.getElementsByTagName( 'html' )[0].classList.add("always-bg-header")
	},

	beforeDestroy() {
		document.getElementsByTagName( 'html' )[0].classList.remove("always-bg-header")
	},
};
</script>
