<template>
  <div class="faq-page main-page" role="main">
    <div class="desktop">
      <Header />

      <transition name="fade">
        <ColorBgImg
          v-bind="block01"
          class="block-01 vertically-content-bottom"
        >
        </ColorBgImg>
      </transition>

      <div class="flex wrapper-md faq-container">

        <transition name="fade">
          <div class="left">
            <p class="tiny-text block-header">Available FAQ topics</p>
            <PagesFaqNav
              :items="faqs"
              :activeIndex="activeIndex"
            ></PagesFaqNav>
          </div>
        </transition>

        <transition name="fade" v-if="$mq !== 'sm'">
          <div class="right">
            <PagesFaqTabsContent
              @close="closeTab"
              :faqs="faqs"
              v-model="activeIndex"


            />

          </div>
        </transition>

        <b-modal v-else v-model="isOpen" :full-screen="true">
          <div class="top" v-if="isOpen">
            <div class="left">
              <button  @click="closeTab" class="btn btn-white btn-round" style="height: 50px; width: 50px; box-sizing: border-box;">
                <img src="/images/icons/chevron-left.svg" alt="">
              </button>
            </div>

            <div class="right">
              <p class="subtext tiny-text">{{ faqs[activeIndex].title }}</p>
            </div>

          </div>

          <PagesFaqTabsContent
            @close="closeTab"
            :faqs="faqs"
            v-model="activeIndex"
          />

          <div class="modal-controls" v-if="false">
            <div
              class="prev control-button"
              @click="prevModal"
              :class="{ disabled: currentIndex == 0 }"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 8.00004H14M6.66667 12.6667L2 8.00004L6.66667 12.6667ZM2 8.00004L6.66667 3.33337L2 8.00004Z"
                  stroke="#ABADB8"
                  stroke-width="1.1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <p class="small-text">Previous</p>
            </div>
            <div
              class="next control-button"
              @click="nextModal"
              :class="{ disabled: currentIndex == maxIndex }"
            >
              <p class="small-text">Next</p>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 8.00004H2M9.33333 3.33337L14 8.00004L9.33333 3.33337ZM14 8.00004L9.33333 12.6667L14 8.00004Z"
                  stroke="#ABADB8"
                  stroke-width="1.1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </b-modal>

      </div>

      <Footer />
    </div>
  </div>
</template>
<script>

export default {
  head: {
    title: 'Faqs | Study In Latvia',
    htmlAttrs: {
        lang: 'en'
      },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  async asyncData({params, $axios}) {

    const [
      faqs,
    ] = await Promise.all([
      $axios.$get('/api/v1/content/faqs'),
    ]);

      let newFaqs = faqs.data.filter((item)=>{
      if(item.page =='default'){
          return item
        }
      });

    return {
      // faqs: faqs.data,
      faqs: newFaqs
    }
  },

  scrollToTop: true,

  data() {
    return {
      // activeTab: "faq01",
      // activeTabIndex: null,

      windowWidth: null,

      block01: {
        color: "#34C7FE",
        title: "Frequently Asked Questions (FAQ)",
        img: "/images/demo/faq/01.png?v=2.0",
        fullpage: true,
        halfscreen: true,
      },
    };
  },
  computed: {
    activeIndex: {
      get() {
        const items = this.faqs;
        const slug = this.$route.params.slug || null;

        if (slug && items){
          return items.findIndex( i => i.slug == slug);
        }

        return null;
      },

      set(newVal) {
        if (newVal === null) {

          this.$router.push({
            name: 'faq',
          });

        } else {
          try {
            this.$router.push({
              name: 'faq-slug',
              params: {
                slug: this.items[newVal].slug,
              },
            });
            window.scrollTo(0, 0);
          } catch (e) {}
        }

      }
    },

    isOpen: {
      get() {
        return this.activeIndex !== null;
      }
    },

    activeSlug() {
      return this.$route.params.slug || null;
    },
  },

  methods: {
    changeTab(slug) {
      this.activeTab = slug;
      this.activeTabIndex = this.tabs[slug].index;
      this.modalOpen = true;
    },

    closeTab() {
      this.activeIndex = null;
    },
  },

  mounted() {
    if (process.client) {
      this.windowWidth = window.innerWidth;
    }
  },

};
</script>

<style lang="scss" scoped>
  .faq-container {
    margin-bottom: 4rem;
  }

  .top {
    display: flex;
    height: 105px;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
    left: 0px;
    padding-left: 50px;
    padding-right: 54px;
    z-index: 5;
    background-color: $white;

    @include tablet {
      border-bottom: 1px solid #f0f1f5;
    }

    @include mobile {
      height: 90px;
      margin-bottom: 0;
      padding: 0 20px;
      background-color: $background;
    }

    .left {
      margin-right: auto;

      @include mobile {
        margin-right: 20px;
      }

      .subtext {
        margin-bottom: 10px;
        color: $ui-weak;

        @include mobile {
          margin-bottom: 0;
        }
      }
      .h4 {
        color: $ui-contrast;
      }
    }
    .right {

      @include tablet {
        max-width: 16px;
        flex: 0 0 16px;
        margin-left: 20px;
      }

      display: flex;
      align-items: center;
      align-content: center;

      svg {
        path {
          transition: stroke 0.3s ease;
        }
        &:hover {
          cursor: pointer;
          path {
            stroke: $ui-accent;
          }
        }
      }
    }
  }

</style>
