<template>
  <div class="higher-edu-page main-page" >
    <div class="desktop">
      <Header></Header>
        <ColorBgImg v-bind="block01" id="higher-edu-intro" class="hashable block-01 vertically-content-bottom">
          <ScrollDownPrompt></ScrollDownPrompt>
        </ColorBgImg>
        <div class="main-content" role="main">
          <Doughnuts id="higher-edu-doughnuts" class="hashable block-02"></Doughnuts>

          <Counter id="higher-edu-counter" class="hashable block-03"></Counter>

          <Bubbles id="higher-edu-bubbles" class="hashable block-04"></Bubbles>

          <Countries
            :id="`${blockId(page[0])}`"
            class="hashable block-05"
            :countries="countries"
          ></Countries>

          <System
            :id="`${blockId(page[1])}`"
            class="hashable block-06"
            :levels="system"
          ></System>

          <Cycles id="higher-edu-cycles" class="hashable block-07"></Cycles>

          <ColorBgImg id="higher-edu-info" class="hashable block-08 md-block-size vertically-content-bottom" v-bind="block08">
            <p class="h2">
              Useful insights in Latvian higher education and opportunities
            </p>
          </ColorBgImg>

          <Info
            :id="`${blockId(page[5])}`"
            class="hashable block-09"
            :tabs="page[5].children"
          ></Info>

          <ColorBgImg id="higher-edu-rankings" class="hashable block-10 md-block-size vertically-content-bottom" v-bind="block10">
            <p class="h2">
              Explore Latvian university excellence on the global stage
            </p>
          </ColorBgImg>

          <Rankings
            :id="`${blockId(page[6])}`"
            class="hashable block-11"
            :tabs="page[6].children"
          ></Rankings>

          <Sources :id="`${blockId(page[7])}`" class="hashable block-12" :content="sources"></Sources>
      </div>
      <Footer></Footer>
    </div>
  </div>
</template>
<script>
import slugify from "slugify";
import Doughnuts from "../components/pages/higheredu/Doughnuts";
import Counter from "../components/pages/higheredu/Counter";
import Bubbles from "../components/pages/higheredu/Bubbles";
import Countries from "../components/pages/higheredu/Countries";
import System from "../components/pages/higheredu/System";
import Cycles from "../components/pages/higheredu/Cycles";
import ColorBgImg from "../components/partials/ColorBgImg";
import Info from "../components/pages/higheredu/Info";
import Rankings from "../components/pages/higheredu/Rankings";
import Sources from "../components/pages/higheredu/Sources";
export default {
  components: {
    Sources,
    Rankings,
    Info,
    ColorBgImg,
    Cycles,
    System,
    Countries,
    Bubbles,
    Counter,
    Doughnuts,
  },
  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    $axios,
  }) {
    const [page] = await Promise.all([
      $axios.$get("/api/v1/content/pages/" + route.name),
    ]);
    return {
      page: page.data.blocks_nested,
    };
  },
  head: {
    title: 'Higher Education | Study In Latvia',
    htmlAttrs: {
        lang: 'en'
      },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  data() {
    return {
      block01: {
        color: "#B09AC9",
        img: "/images/demo/higherEdu/01.png?v=2.0",
        title: "Higher Education in Latvia",
        fullpage: true,
      },
      block08: {
        color: "#b09ac9",
        img: "/images/demo/higherEdu/02.png?v=2.0",
        title: "Things to Know",
        right: true,
      },
      block10: {
        color: "#35c7fe",
        img: "/images/demo/higherEdu/03.png?v=2.0",
        title: "Rankings",
        right: true,
      },
    };
  },
  methods: {},
  computed: {
    countries() {
      return this.page[0].data.texts;
    },
    system() {
      return [
        this.page[1].data,
        this.page[2].data,
        this.page[3].data,
        this.page[4].data,
      ];
    },
    sources() {
      return {
        info: this.page[7].data,
        buttons: this.page[8].data.cards,
      };
    },
  },
  mounted() {},
  methods: {
    blockId(block) {
      if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
        return slugify(block.data.identificator.toLowerCase())
      } else {
        return block.id
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
