<template>
    <div class="home-page main-page" >
        <div class="desktop">
            <Header></Header>
            <ColorBgImg v-bind="block01" id="home-intro" class="hashable block-01 vertically-content-bottom">
                <InfoButton />
                <p class="tiny-text search-label">Find your study programme</p>
                <PagesHomeSearchStudies/>
                
            </ColorBgImg>
            <div class="main-content" role="main">

              <PagesHomeSlimTextSlider v-if="announcement" :text="announcement.text"></PagesHomeSlimTextSlider>

              <PagesHomeVideoFrame :id="`${blockId(page[0])}`" class="hashable block-02" :content="page[0]"></PagesHomeVideoFrame>

              <ColorBgImg v-bind="block03" class="hashable block-03 md-block-size vertically-content-bottom" :id="`${blockId(page[1])}`">
                  <p class="h2">{{page[1].data.body}}</p>
                  <NuxtLink :to="page[1].data.link" class="link small-text btn btn-round btn-m btn-black">
                      {{page[1].data.link_text}}
                  </NuxtLink>
              </ColorBgImg>

              <div class="hashable block-04 wrapper" id="home-events-stories">
                  <div class="left">
                      <Event :event="events[0]"></Event>
                  </div>
                  <div class="right">
                      <StudentStory :story="stories[0]"></StudentStory>
                  </div>
              </div>

              <div class="hashable block-05 wrapper-md" id="home-news-events">
                  <div class="left">
                      <HighlightedNews :news="news"></HighlightedNews>
                  </div>
                  <div class="right">
                      <HighlightedEvents :events="events" skip-first></HighlightedEvents>
                  </div>
              </div>

              <ColorBgImg v-bind="block06" class="hashable block-06 md-block-size vertically-content-bottom" :id="`${blockId(page[2])}`">
                  <p class="h2">{{page[2].data.body}}</p>
              </ColorBgImg>

              <div class="hashable block-07" id="home-experience-story">
                  <ExperienceStoryGalleryBlock :testimonials="testimonials" :stories="stories" infinite />
              </div>

              <SubscribeToNewsletterBlock class='vertically-content-bottom' />

              <div class="hashable block-09" id="live-in-latvia-chats">
                  <div class="wrapper flex col fc">
                      <h2 class="hero center">Live in Beautiful Latvia</h2>
                      <TextingApp :texts="texts"></TextingApp>
                      <p class="notif-text center">You left chat & went to study in Latvia ✈</p>

                      <NuxtLink :to="($mq === 'sm') ? '/faq' : '/faq/about-study-in-latvia' " class="link small-text medium btn btn-round btn-m btn-black">
                        All the Answers
                      </NuxtLink>
                  </div>
              </div>

            </div>
            <Footer></Footer>
        </div>
    </div>
</template>
<script>
import slugify from "slugify";
import {convertBlock} from "~/plugins/helpers"
export default {
    head: {
      title: 'Study In Latvia',
      htmlAttrs: {
        lang: 'en'
      },
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        // {
        //   hid: 'description',
        //   name: 'description',
        //   content: 'my website description'
        // }
      ],
      link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
    },
    async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
      const [
        news,
        events,
        experienceStories,
        studentTestimonials,
        announcement,

        studyFilters,
        page,
      ] = await Promise.all([
        $axios.$get('/api/v1/news/news'),
        $axios.$get('/api/v1/news/events'),
        $axios.$get('/api/v1/news/experience-stories'),
        $axios.$get('/api/v1/news/student-testimonials'),
        $axios.$get('/api/v1/content/announcement'),

        $axios.$get('/api/v1/universities/filters/study-programmes'),
        $axios.$get('/api/v1/content/pages/'+ route.name),
      ]);


      return {
        news: news.data,
        events: events.data,
        stories: experienceStories.data,
        testimonials: studentTestimonials.data,
        announcement: announcement.data,

        studyFilters: studyFilters.data,
        page: page.data.blocks_nested
      }
    },
    data() {
      return {
        block01: {
            color: "#FDB815",
            img: "/images/demo/home/01.png?v=2.0",
            title: "National Guide to Higher Education in Latvia!",
            fullpage: true
        },
      }
    },
    computed: {
        block03() {
          return convertBlock(this.page[1].data)
        },
        block06() {
          return convertBlock(this.page[2].data)
        },
        texts() {
          return this.page[3].data.texts
        }
    },
    mounted() {
    },
    methods: {
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
    }
};
</script>
<style lang="scss" scoped>

</style>
