<template>
  <div class="materials-page main-page">
    <div v-if="innerWidth > this.tabletbreakpoint" class="desktop">
      <Header></Header>
      <ColorBgImg v-bind="block01" class="block-01" />
      <div class="main-content" role="main">
      <div class="container">
        <h2 class="second-heading">Available materials</h2>
        <div
          v-for="(material, index) in materials"
          :key="index"
          class="card is-shadowless"
        >
          <PagesMaterialsCard v-bind="material" />
        </div>
      </div>
      </div>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Header></Header>
        <ColorBgImg v-bind="block01" class="block-01" />
      <div class="main-content" role="main">

        <div class="container">
          <h2 class="second-heading">Available materials</h2>
          <div
            v-for="(material, index) in materials"
            :key="index"
            class="card is-shadowless"
          >
            <PagesMaterialsCard v-bind="material" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Materials | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    $axios,
  }) {
    const [materials] = await Promise.all([
      $axios.$get("/api/v1/content/materials"),
    ]);

    return {
      materials: materials.data,
    };
  },

  data() {
    return {
      innerWidth: 0,
      tabletbreakpoint: 768,
      block01: {
        color: "#36C4FB",
        img: "/images/demo/materials/01.png?v=2.0",
        title: "Materials",
        fullpage: true,
        halfscreen: true,
      },
    };
  },
  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth;
    }
  },
};
</script>
