<template>
  <div class="news-page" >
    <Header logo-color="#292D3D"></Header>
      <div class="main-content" role="main">
      <div class="news-page__content">
        <div class="is-hidden-tablet tabs-label">
          News categories
        </div>

        <NuxtChild
          v-model="selectedTab"
          :tabs="tabs"
        />
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>
<script>
import Header from "~/components/base/Header";
import Tabs from "~/components/partials/Tabs";
import Single from "~/components/pages/news/Single";
import HighlightedNews from "~/components/partials/HighlightedNews";
import Everything from "~/components/pages/news/Everything";
import News from "~/components/pages/news/News";
import Events from "~/components/pages/news/Events";
import Testimonials from "~/components/pages/news/Testimonials";
import Experiences from "~/components/pages/news/Experiences";

export default {
  head: {
    title: 'News | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  components: {Experiences, Testimonials, Events, News, Everything, HighlightedNews, Single, Tabs, Header},

  asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {

    return {
      params,
    }
  },

  data() {
    return {
      tabs: [
        { label: 'Everything',            key: 'everything' },
        { label: 'News',                  key: 'news' },
        { label: 'Events',                key: 'events' },
        { label: 'Student Testimonials',  key: 'student-testimonials' },
        { label: 'Experience Stories',    key: 'experience-stories' },
      ],
    }
  },
  computed: {
    selectedTab: {
      get () {
        const tab = this.$store.state.news.tab;

        if (this.params.tab && tab === null) {
          return this.params.tab
        }

        return tab;
      },
      set (newVal) {
        const tab_param = newVal;
        // const tab_param = (newVal === 'everything')
        //   ? null
        //   : newVal;

        this.$router.push({
          name: 'news-tab',
          params: { tab: tab_param },
        });

        this.$store.commit('news/SET_TAB', newVal)
      }
    }
  },

  beforeMount () {
		document.getElementsByTagName( 'html' )[0].classList.add("always-bg-header")
	},
};
</script>
<style lang="scss">

</style>
