<template>
    <div class="partners-page main-page">
        <div v-if="innerWidth > 1024" class="desktop">
            <Header></Header>
            <ColorBgImg v-bind="block01" class="block-01"/>
            <div class="main-content" role="main">
                <div class="container" :id="`${blockId(page[0])}`">
                    <div class="block-02" v-html="page[0].data.text">
                    </div>
                    <div class="block-03">
                        <div class="columns">
                            <div class="column" :id="`${blockId(page[1])}`" v-html="page[1].data.text">
                            </div>
                            <div class="column right-side-col">
                                <div class="practice-text" :id="`${blockId(page[2])}`" v-html="page[2].data.text">
                                </div>
                                <div class="practice-text" :id="`${blockId(page[3])}`" v-html="page[3].data.text">
                                </div>
                                <div class="practice-text" :id="`${blockId(page[4])}`" v-html="page[4].data.text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer></Footer>
        </div>
        <div v-else class="mobile">
            <Header></Header>
            <ColorBgImg v-bind="block01" class="block-01 vertically-content-bottom"/>
            <div class="main-content" role="main">
                <div class="container">
                    <div class="block-02">
                        <p class="mega-text">Higher education institutions featured and promoted on website are selected based on a set of quality criteria defined by the <a href="https://www.izm.gov.lv/en" target="_blank" class="underline">Ministry of Education and Science</a>.</p>
                    </div>
                    <div class="block-03">
                        <div class="columns">
                            <div class="column">
                                <h2 class="mid-text">Every selected higher education institution has signed a <a class="underline" href="https://www.izm.gov.lv/en/agreement-good-practice-attracting-foreign-students">Good Practice Agreement</a> with the Ministry.</h2>
                            </div>
                            <div class="column">
                                <div class="practice-text">
                                    <p class="small-margin-bottom tiny-text contrast is-uppercase">Good Practice Agreement</p>
                                    <p class="small-text small-margin-bottom">Higher education institutions have undertaken to observe good practice in attracting international students and ensuring the delivery of a high-quality study process. Each higher education institution promises to observe good faith and ethical principles, providing only true information in marketing activities and advertising campaigns for international students.</p>
                                    <a href="https://www.izm.gov.lv/en/agreement-good-practice-attracting-foreign-students" class="link small-text medium btn btn-round btn-m btn-transparent">
                                        More about Good Practice Agreement
                                    </a>
                                    <p class="practice-agreement-link small-text">Full text of the Good Practice Agreement <a href="" class="underline-no-color">can be found here</a>.</p>
                                </div>
                                <div class="practice-text">
                                    <p class="small-margin-bottom tiny-text contrast is-uppercase">Study Programmes</p>
                                    <p class="small-text small-margin-bottom">Study programmes featured and promoted by Study in Latvia are selected based on a set of criteria defined by the <a href="https://www.izm.gov.lv/en" target="_blank" class="underline">Ministry of Education and Science</a>. The criteria include:</p>
                                    <ul class="small-text">
                                        <li>the study programme is delivered in its entirety in an EU language,</li>
                                        <li>the study programme has been accredited for the maximum allowed period of 6 (six) years,</li>
                                        <li>full time international students must already be studying in the programme</li>
                                    </ul>
                                </div>
                                <div class="practice-text" v-html="page[4].data.text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer></Footer>
        </div>
    </div>
</template>

<script>
import slugify from "slugify";
export default {
  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
	  const [
			page,
		] = await Promise.all([
			$axios.$get('/api/v1/content/pages/'+ route.name),
		]);
		return {
			page: page.data.blocks_nested
		}
  },
	head: {
    title: 'Partners | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
    data() {
      return {
        innerWidth: 0,
        block01: {
			color: "#35c7fe",
			img: "/images/demo/partners/01.png?v=2.0",
			title: "Best Practice Universities",
            halfscreen: true,
			fullpage: true
		},
      }
    },
    mounted() {
        if (process.client) {
		    this.innerWidth = window.innerWidth;
        }
    },
    methods: {
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
    }
}
</script>

<style lang="scss" scoped>

</style>
