<template>
  <div class="resources-page main-page">
    <div v-if="innerWidth > this.tabletbreakpoint" class="desktop">
      <Header></Header>
      <ColorBgImg v-bind="{ ...block01, img: desktopImg }" class="block-01" />
      <div class="main-content" role="main">
        <div class="container">
          <h2 class="second-heading">Available resources and links</h2>
          <client-only>
            <div
              v-masonry
              transition-duration="0s"
              item-selector=".item"
              horizontal-order="true"
              class="masonry-container columns is-multiline"
            >
              <div
                v-masonry-tile
                class="item column is-6"
                v-for="(resource, index) in resources"
                :key="index"
              >
                <div class="card is-shadowless">
                  <PagesResourcesCard v-bind="resource" />
                </div>
              </div>
            </div>
          </client-only>
        </div>
      </div>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Header></Header>
      <ColorBgImg v-bind="block01" class="block-01" />
      <div class="container">
        <h2 class="second-heading">Available resources and links</h2>
        <div
          class="card is-shadowless"
          v-for="(resource, index) in resources"
          :key="index"
        >
          <PagesResourcesCard v-bind="resource" />
        </div>
      </div>
      <Footer></Footer>
    </div>
  </div>
</template>

<script>
export default {

  head: {
    title: 'Usefull Resources | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },

  async asyncData({
    $axios,
  }) {
    const [resources] = await Promise.all([
      $axios.$get("/api/v1/content/resources"),
    ]);

    return {
      resources: resources.data,
    };
  },

  data() {
    return {
      innerWidth: 0,
      tabletbreakpoint: 768,
      block01: {
        color: "#35C7FE",
        img: "/images/demo/resources/head-m-v1.png",
        title: "Useful Resources",
        fullpage: true,
        halfscreen: true,
      },
      desktopImg: "/images/demo/resources/head-v1.png",
    };
  },
  mounted() {
    const self = this;

    setTimeout(() => {
      if (process.client) {
        self.innerWidth = window.innerWidth;
        if (
          typeof self.$redrawVueMasonry === "function" &&
          self.tabletbreakpoint > 769
        ) {
          self.$redrawVueMasonry();
        }
      }
    }, 200);
  },
};
</script>

<style lang="scss" scoped>
</style>
