<template>
	<div class="scholarships-page main-page">

		<div v-if="$mq !== 'sm'" class="desktop">
			<Header></Header>
			<ColorBgImg v-bind="block01" id="scholarships-intro" class="hashable block-01">
				<ScrollDownPrompt></ScrollDownPrompt>
			</ColorBgImg>
			<div class="main-content" role="main">
				<PagesScholarshipsSideText :id="`${blockId(page[0])}`" class="hashable block-02" :content="page[0].data"></PagesScholarshipsSideText>
				<PagesScholarshipsMap :is-mobile="false" :id="`${blockId(page[1])}`" class="hashable block-03" :content="page[1].data"></PagesScholarshipsMap>
				<PagesScholarshipsConditions id="scholarships-apply-conditions" class="hashable block-04"></PagesScholarshipsConditions>
				<ColorBgImg v-bind="block05" id="scholarships-languages" class="hashable block-05 md-block-size">
					<div class="languages">
						<p>English<span class="small-text">GB</span></p>
						<!-- <p>German<span class="small-text">DE</span></p>
						<p>French<span class="small-text">FR</span></p> -->
						<p>Latvian<span class="small-text">LV</span></p>
					</div>
				</ColorBgImg>
				<PagesScholarshipsThingsToRemember class="hashable block-06" :id="`${blockId(page[2])}`" :content="page[2].data"></PagesScholarshipsThingsToRemember>

        <!-- Scholarships for studies -->
        <ColorBgImg :id="`${blockId(page[3])}`" v-bind="convert(block07)" class="hashable block-07 md-block-size">
					<p class="h2">{{page[3].data.body}}</p>
					<!-- <NuxtLink @click.native="openStudiesDocsTab" to="/scholarships#studies" class="link tiny-text underline-link">
						Detailed information on different requirements
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsStudies :id="`${blockId(page[4])}`" ref="studies" _id="studies" class="hashable block-08" :tabs="page[4].children"></PagesScholarshipsStudies>

        <!-- Fellowships -->
        <div v-if="page[5].data.is_published">
			<ColorBgImg :id="`${blockId(page[5])}`" v-bind="convert(block09)" class="hashable block-09 md-block-size">
			  <p class="h2" v-html="page[5].data.body"></p>
								<!-- <NuxtLink @click.native="openResearchDocsTab" to="/scholarships#research" href="https://scholarships.viaa.gov.lv" class="link tiny-text underline-link">
									Detailed information on different requirements
								</NuxtLink> -->
							</ColorBgImg>
							<PagesScholarshipsResearch :id="`${blockId(page[6])}`" ref="research" _id="research" :tabs="page[6].children" class="hashable block-10"></PagesScholarshipsResearch>
		</div>

        <!-- Annual Call -->
        <ColorBgImg :id="`${blockId(page[7])}`" v-bind="convert(block11)" class="hashable block-11 lg-block-size">
					<p class="h2">{{page[7].data.body}}</p>
					<!-- <NuxtLink to="/" class="link small-text btn btn-round btn-m btn-black">
						Apply Now
						<img src="/images/icons/external-link.svg" alt="">
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsHowTo :id="`${blockId(page[8])}`" class="hashable block-12 md-block-size" _id="howTo" :content="page[8].data"></PagesScholarshipsHowTo>

        <!-- Summer Schools -->
        <ColorBgImg :id="`${blockId(page[9])}`" v-bind="convert(block13)" class="hashable block-13 md-block-size">
					<p class="h2">{{page[9].data.body}}</p>
					<!-- <NuxtLink @click.native="openSummerListTab" to="/scholarships#summer" href="https://scholarships.viaa.gov.lv" class="link tiny-text underline-link">
						Detailed information on different summer schools
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsSummerSchools :id="`${blockId(page[10])}`" ref="summer" _id="summer" :tabs="page[10].children" class="hashable block-14"></PagesScholarshipsSummerSchools>
				<PagesScholarshipsExperience id="scholarships-experience" class="hashable block-15"
				:stories="stories"
				:testimonials="testimonials" infinite></PagesScholarshipsExperience>
			</div>
			<Footer></Footer>
		</div>

		<div v-else>
			<Header></Header>
			<ColorBgImg v-bind="block01" id="scholarships-intro" class="hashable block-01">
				<ScrollDownPrompt></ScrollDownPrompt>
			</ColorBgImg>
			<div class="main-content" role="main">
				<PagesScholarshipsSideText class="hashable block-02" :id="`${blockId(page[0])}`" :content="page[0].data"></PagesScholarshipsSideText>
				<PagesScholarshipsMap is-mobile class="hashable block-03" :id="`${blockId(page[1])}`" :content="page[1].data"></PagesScholarshipsMap>
				<PagesScholarshipsConditions id="scholarships-apply-conditions" class="hashable block-04"></PagesScholarshipsConditions>
				<ColorBgImg v-bind="block05" id="scholarships-languages" class="hashable block-05 md-block-size">
					<div class="languages">
						<p>English<span class="small-text">GB</span></p>
						<p>German<span class="small-text">DE</span></p>
						<p>French<span class="small-text">FR</span></p>
						<p>Latvian<span class="small-text">LV</span></p>
					</div>
				</ColorBgImg>
				<PagesScholarshipsThingsToRemember class="hashable block-06" :id="`${blockId(page[2])}`" :content="page[2].data"></PagesScholarshipsThingsToRemember>
				<ColorBgImg v-bind="convert(block07)" :id="`${blockId(page[3])}`" class="hashable block-07 md-block-size">
					<p class="h2">{{page[3].data.body}}</p>
					<!-- <NuxtLink @click.native="openStudiesDocsTab" to="/scholarships#studies" class="link tiny-text underline-link">
						Detailed information on different requirements
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsStudies ref="studies" _id="studies" :id="`${blockId(page[4])}`" :tabs="page[4].children" class="hashable block-08"></PagesScholarshipsStudies>

        <!-- Fellowships -->
        <ColorBgImg v-if="page[5].data.is_published" :id="`${blockId(page[5])}`" v-bind="convert(block09)" class="hashable block-09 md-block-size">
          <p class="h2">{{page[5].data.body}}</p>
					<!-- <NuxtLink @click.native="openResearchDocsTab" to="/scholarships#research" href="https://scholarships.viaa.gov.lv" class="link tiny-text underline-link">
						Detailed information on different requirements
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsResearch ref="research" _id="research" :id="`${blockId(page[6])}`" :tabs="page[6].children" class="hashable block-10"></PagesScholarshipsResearch>

        <!-- Annual Call -->
        <ColorBgImg :id="`${blockId(page[7])}`" v-bind="convert(block11)" class="hashable block-11 lg-block-size">
					<p class="h2">{{page[7].data.body}}</p>
					<!-- <NuxtLink to="/" class="link small-text btn btn-round btn-m btn-black">
						Apply Now
						<img src="/images/icons/external-link.svg" alt="">
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsHowTo class="hashable block-12" _id="howTo" :id="`${blockId(page[8])}`" :content="page[8].data"></PagesScholarshipsHowTo>

        <!-- Summer Schools -->
        <ColorBgImg :id="`${blockId(page[9])}`" v-bind="convert(block13)" class="hashable block-13 md-block-size">
					<p class="h2">{{page[9].data.body}}</p>
					<!-- <NuxtLink @click.native="openSummerListTab" to="/scholarships#summer" href="https://scholarships.viaa.gov.lv" class="link tiny-text underline-link">
						Detailed information on different summer schools
					</NuxtLink> -->
				</ColorBgImg>
				<PagesScholarshipsSummerSchools ref="summer" _id="summer" :id="`${blockId(page[10])}`" :tabs="page[10].children" class="hashable block-14"></PagesScholarshipsSummerSchools>
				<PagesScholarshipsExperience id="scholarships-experience" class="hashable block-15"
				:stories="stories"
				:testimonials="testimonials"></PagesScholarshipsExperience>
			</div>
			<Footer></Footer>
		</div>

	</div>
</template>
<script>
import slugify from "slugify";
import {convertBlock} from "~/plugins/helpers"
export default {
  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
		const [
			experienceStories,
			studentTestimonials,
			page
		] = await Promise.all([
			$axios.$post('/api/v1/news/experience-stories', {query: {scolarships: 1}}),
			$axios.$post('/api/v1/news/student-testimonials', {query: {scolarships: 1}}),
			$axios.$get('/api/v1/content/pages/'+ route.name)
		]);

		return {
			stories: experienceStories.data.result,
			testimonials: studentTestimonials.data.result,
			page: page.data.blocks_nested
		}
  },

  head: {
    title: 'Scholarships | Study In Latvia',
	htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },

	data() {
      return {
        block01: {
          color: "#B09AC9",
          img: "/images/demo/scholarships/01.png?v=2.0",
          title: "Latvian state scholarships for you!",
          fullpage: true
        },
        block05: {
          color: "#35c7fe",
          img: "/images/demo/scholarships/05.png?v=2.0",
          title: "Languages of Instruction",
          right: true
        },
        // block07: {
        // 	color: "#fcb814",
        // 	img: "/images/demo/scholarships/07.png?v=2.0",
        // 	title: "Scholarships for studies",
        // 	right: true
        // },
        // block09: {
        // 	color: "#35C7FF",
        // 	img: "/images/demo/scholarships/08.png?v=2.0",
        // 	title: "Fellowships for Research",
        // },
        // block11: {
        // 	color: "#B09AC9",
        // 	img: "/images/demo/scholarships/09.png?v=2.0",
        // 	title: "Annual Call for Applications",
        // },
        // block13: {
        // 	color: "#a90032",
        // 	img: "/images/demo/scholarships/11.png?v=2.0",
        // 	title: "Summer Schools",
        // 	right: true
        // },
      }
    },
	computed: {
		block07() {
			return convertBlock(this.page[3].data)
		},
    block09() {
      return convertBlock(this.page[5].data)
    },
    block11() {
      return convertBlock(this.page[7].data)
    },
    block13() {
      return convertBlock(this.page[9].data)
    }
	},
	methods: {
		convert(block) {
			return convertBlock(block)
		},
		openStudiesDocsTab() {
			this.$refs.studies.$refs.studiesSideTab.activeTabIndex = 1
		},
		openResearchDocsTab() {
			this.$refs.research.$refs.researchSideTab.activeTabIndex = 1
		},
		openSummerListTab() {
			this.$refs.summer.$refs.summerSideTab.activeTabIndex = 1
		},
    blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      }
	},
	mounted() {
    },
};
</script>
<style lang="scss" scoped>

</style>
