<template>
  <div class="search-page main-page">
    <div class="desktop is-hidden-mobile">
      <Header></Header>
      <div class="main-content" role="main">

        <div class="top-container max-width-container search-phrase">
          <div>
            <p class="small-text">Your search phrase: {{query}}</p>
          </div>
        </div>

        <div class="max-width-container page-top is-flex is-justify-content-center is-align-items-center">
          <hr class="heading-line" />
          <h1 class="page-heading">Results</h1>
          <hr class="heading-line" />
        </div>

        <div class="container normal">
        
          <template v-if="search_isLoading">
            <div
              v-for="index in 6"
              :key="index"
              class="other-search-wrap mb-5"
            >
              <b-skeleton width="30px" :animated="true"></b-skeleton>
              <b-skeleton :animated="true"></b-skeleton>
              <b-skeleton width="50%" :animated="true"></b-skeleton>
            </div>
            <div style="margin-bottom: 5rem;"></div>
          </template>

          <template v-else>
            <div class="other-searches mb-0">
              <div
              v-for="(s, index) in searchResult"
              :key="index"
              class="other-search-wrap mb-0"
              >
                <PagesSearchResultsCard :post="s" :searchQuery="query" />
              </div>
            </div>
          </template>

        </div>

        <button
          v-if="searchResult.length > showLessCount"
          v-show="showLess"
          @click="showMore()"
          class="news-results-btn btn btn-round btn-m btn-black small-text medium mx-auto"
        >
          All News Results
        </button>

        <div class="container normal">
          <template v-if="otherSearch_isLoading">
            <div
                v-for="index in 4"
                :key="index"
                class="other-search-wrap mb-5"
            >
              <b-skeleton width="30px" :animated="true"></b-skeleton>
              <b-skeleton :animated="true"></b-skeleton>
              <b-skeleton width="50%" :animated="true"></b-skeleton>
            </div>

            <div style="margin-bottom: 5rem;"></div>

          </template>

          <template v-else-if="otherSearchResult.length > 0">
            <div class="other-searches mt-0">
              <div
                v-for="(os, index) in otherSearchResult"
                :key="index"
                class="other-search-wrap"
              >
                <PagesSearchOtherResultsCard :searchQuery="query" v-bind="os" />
              </div>
            </div>

            <button
              v-show="showOtherLess && otherSearchResult.length > showOtherLessCount"
              @click="showMoreOther()"
              class=" news-results-btn btn btn-round btn-m btn-black small-text medium mx-auto"
            >
              Show More
            </button>
          </template>

          <template v-if="searchResult.length < 1 && otherSearchResult.length < 1">
            <div class="other-searches is-centered">
              <h4 class="has-text-centered no-result">Nothing found</h4>
            </div>
          </template>
        </div>
      </div>
      <Footer></Footer>
    </div>


    <div class="mobile is-hidden-tablet">
      <Header></Header>
      <div class="main-content" role="main">
        <PagesSearchMobileSearchBar :searchPhrase="query" class="container top search" />

        <div class=" max-width-container top-page is-flex is-justify-content-center is-align-items-center" >
          <hr class="heading-line" />
          <h1 class="page-heading">Results</h1>
          <hr class="heading-line" />
        </div>

        <div class="container">

          <template v-if="search_isLoading">
            <div
              v-for="index in 6"
              :key="index"
              class="other-search-wrap mb-5"
            >
              <b-skeleton width="30px" :animated="true"></b-skeleton>
              <b-skeleton :animated="true"></b-skeleton>
              <b-skeleton width="50%" :animated="true"></b-skeleton>
            </div>
            <div style="margin-bottom: 5rem;"></div>
          </template>

          <template v-else>
            <div class="other-searches mb-0">
              <div
              v-for="(s, index) in searchResult"
              :key="index"
              class="other-search-wrap mb-0"
              >
                <PagesSearchResultsCard :post="s" />
              </div>
            </div>
          </template>

        </div>

        <button
          v-if="searchResult.length > showLessCount"
          v-show="showLess"
          @click="showMore()"
          class="news-results-btn btn btn-round btn-m btn-black small-text medium mx-auto"
        >
          All News Results
        </button>

        <div class="container">
          <template v-if="otherSearch_isLoading">
            <div
                v-for="index in 4"
                :key="index"
                class="other-search-wrap mb-5"
            >
              <b-skeleton width="30px" :animated="true"></b-skeleton>
              <b-skeleton :animated="true"></b-skeleton>
              <b-skeleton width="50%" :animated="true"></b-skeleton>
            </div>

            <div style="margin-bottom: 5rem;"></div>

          </template>

          <template v-else-if="otherSearchResult.length > 0">
            <div class="other-searches">
              <div
                v-for="(os, index) in otherSearchResult"
                :key="index"
                class="other-search-wrap"
              >
                <PagesSearchOtherResultsCard :searchQuery="query" v-bind="os" />
              </div>
            </div>

            <button
              v-show="showOtherLess && otherSearchResult.length > showOtherLessCount"
              @click="showMoreOther()"
              class=" news-results-btn btn btn-round btn-m btn-black small-text medium mx-auto"
            >
              Show More
            </button>
          </template>

          <template v-if="searchResult.length < 1 && otherSearchResult.length < 1">
            <div class="other-searches is-centered">
              <h4 class="has-text-centered no-result">Nothing found</h4>
            </div>
          </template>

        </div>
      </div>
      <Footer></Footer>
    </div>
  </div>
</template>

<script>
import slugify from "slugify";
import flatMap from 'lodash/flatMap';
import isString from 'lodash/isString';
import _eachDeep from 'deepdash/eachDeep';

import {safeGet} from '~/plugins/helpers'

export default {
  head: {
    title: 'Search | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  fetch() {
    const data = this;
    const query = this.query

    if (!query) {
    //   // error(404);
    }

    this.$axios.$post('/api/v1/content/search', {query: query})
      .then(function(response) {
        data.otherSearchData = response.data;
        data.otherSearch_isLoading = false;
      })
      .catch((err) => {
        console.log('error', err);
        data.otherSearch_isLoading = false;
      });

    this.$axios.$post('/api/v1/universities/search', {query: query})
      .then(function(response) {
        data.universitiesSearchData = response.data;
      })
      .catch((err) => {
        console.log('error', err);
      });

    this.$axios.$post('/api/v1/news/search', {query: query})
      .then(function(response) {
        console.log("news response", response.data);
        data.searchData = response.data;
        data.search_isLoading = false;
      })
      .catch((err) => {
        console.log('error', err);

        data.search_isLoading = false;
      });

  },
  fetchOnServer:false,
  fetchDelay:500,

  data() {
    return {
      tabletbreakpoint: 768,
      activeCat: "everything",

      categories: [
        { title: "Everything", id: 1, slug: "everything" },
        { title: "News", id: 2, slug: "news" },
        { title: "Events", id: 3, slug: "events" },
        { title: "Student Testimonials", id: 4, slug: "student-testimonials" },
        { title: "Experience Stories", id: 5, slug: "experience-stories" },
      ],

      showLess: true,
      showLessCount: 6,
      search_isLoading: true,
      searchData: [],

      showOtherLess: true,
      showOtherLessCount: 6,
      otherSearch_isLoading: true,
      otherSearchData: [],

      universitiesSearchData: [],
    };
  },

  computed: {
    searchResult() {
      const query              = this.query;
      const showLessCount      = this.showLessCount;
      const cat                = this.activeCat;
      let   data               = this.searchData;

      if (cat === "everything") {
        data = flatMap(data);
      } else {
        data = data[cat];
      }

      if (data.length > showLessCount && this.showLess) {
         data = data.slice(0, showLessCount);
      }

      return data;
    },

    otherSearchResult() {
      const showOtherLessCount = this.showOtherLessCount;

      if (this.otherSearchData.length == 0) {
        return [];
      }

      const data = [
        ...this.searchAndMapUniversities(this.universitiesSearchData),
        ...this.searchAndMapStudies(this.universitiesSearchData),

        ...this.searchAndMapAdmissions(this.otherSearchData),
        ...this.searchAndMapFaqs(this.otherSearchData),
        ...this.searchAndMapBlocks(this.otherSearchData),
      ];

      if (data.length > showOtherLessCount && this.showOtherLess) {
        return data.slice(0, showOtherLessCount);
      }

      return data;
    },

    query() {
      const query = this.$route.query.q;

      if (!this.$fetchState.pending && this.$fetchState.timestamp + 1000 < Date.now()) {
        this.refresh();
      }

      if (!query) return null;

      return query;
    },
  },

  methods: {
    showMore() {
      this.showLess = false;
    },
    showMoreOther() {
      this.showOtherLess = false;
    },

    refresh() {
      if (!this.$fetchState.pending) {
        console.log("Calling refresh", this.$fetchState);
        this.search_isLoading = true;
        this.otherSearch_isLoading = true;

        this.$fetch()
      }
    },


    searchAndMapBlocks(passedData) {
      console.log('passedData', passedData)
      const query              = this.query;
      let   data               = safeGet(passedData, 'blocks', []);

      if (data.length == 0) {
        return [];
      }

      const regex = new RegExp(query,'gmi');

      return data.map((block) => {
        let title = '';
        /**
         * Find Title
         */
        _eachDeep(block.data, (value, key, parent, ctx) => {
          if (ctx.isCircular) {
            console.log(
              "Circular reference to "+ctx.circularParent.path+" skipped at " + ctx.path
            );
            return false; // explicit `false` will skip children of current value
          }

          if (isString(value) && regex.test(value)) {
            console.log('Found', value);
            title = value;
          };

        },{ checkCircular: true });

        return {
          title,
          // body: 'nop',
          link: {name: block.attached_to.slug, hash:`#${block.data.identificator ? slugify(block.data.identificator.toLowerCase()) : block.id}`},
        }
      });
    },

    searchAndMapAdmissions(passedData) {
      const query              = this.query;
      let   data               = safeGet(passedData, 'admisions' ,[]);

      return data.map((admision) => {
        return {
          title: admision.title,
          body: admision.body,
          link: {
            name: 'admission-tab-slug',
            params: {
              tab: admision.category.slug,
              slug: admision.slug,
            }
          },
        }
      })
    },

    searchAndMapFaqs(passedData) {
      const query              = this.query;
      let   data               = safeGet(passedData, 'faqs', []);

      return data.map((faq) => {
        return {
          title: faq.title,
          body: faq.body,
          link: {
            name: 'faq-slug',
            params: {
              slug: faq.faq_topic.slug,
            }
          },
        }
      })
    },

    searchAndMapUniversities(passedData) {
      const query              = this.query;
      let   data               = safeGet(passedData, 'universities', []);

      return data.map((university) => {
        return {
          title: university.title,
          body: university.key_profile,
          link: {
            name: 'universities-slug',
            params: {
              slug: university.slug,
            }
          },
        }
      })
    },

    searchAndMapStudies(passedData) {
      const query              = this.query;
      let   data               = safeGet(passedData, 'studies', []);

      return data.map((study) => {
        return {
          title: study.title,
          body: study.degree,
          link: {
            name: 'studies-slug',
            params: {
              slug: study.slug,
            }
          },
        }
      })
    },

  },

  beforeMount () {
		document.getElementsByTagName( 'html' )[0].classList.add("always-bg-header")
	},
};
</script>

<style lang="scss" scoped>
  .no-result {
    margin-top: -20px;
    margin-bottom: 40px;
  }
</style>
