<template>
  <div v-show="innerWidth" class="studies-page main-page">
    <b-loading is-full-page v-model="loading" />
    <div v-if="isDesktop" class="desktop">
      <Header></Header>
      <ColorBgImg v-bind="{...block01, img: desktopImg}" class="block-01">
        <div class="note">
          Study programmes and universities featured and promoted on this page are selected based on a set of quality criteria. <nuxt-link to="/partners">Learn more</nuxt-link>.
        </div>
      </ColorBgImg>
      <div class="main-content" role="main">
        <div class="container">
          <div class="columns is-multiline" style="justify-content: space-between;">
            <div class="column is-full">
              <study-search v-model="search" style="margin: 14px auto auto;" @doSearch="filterUpdated" />
            </div>
            <div class="column" style="max-width: 326px">
              <div class="label">Filtering options</div>
              <Filters
                v-for="(filter, filtername) in filters"
                v-model="filter.value"

                :key="filter.title"
                :title="filter.title"
                :slug="filtername"
                :filterList="filter.filterList"
                :isSwitch="filter.isSwitch"
                @input="filterUpdated"
              />
              <div class="label">
                <a href="#" @click.prevent="clearFilters" class="">Clear Filters</a>
              </div>
            </div>
            <div class="column studies-list">
              <div class="label">Number of programmes ({{studies.length}})</div>
              <div class="columns is-multiline">
                <div class="column is-full">
                  <template v-if="studies.length === 0">
                    <div class="pt-2"> No studies found </div>
                  </template>
                  <template v-else>
                    <StudyCard v-for="study in studies.slice(0, studiesToShow)" :key="study.id" :study="study" @openStudyModal="openStudy($event)"  />
                  </template>
                </div>
                <div v-if="studies.length && studiesToShow < studies.length && !loading" class="column is-full">
                  <button class="btn btn-round btn-m btn-transparent tiny-text" style="color: black; width: 100%;" @click="studiesToShow += 6">
                    Load more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Header></Header>

      <ColorBgImg align-bottom v-bind="{...block01, img: mobileImg}" class="block-01">
        <div class="note">
          Study programmes and universities featured and promoted on this page are selected based on a set of quality criteria. <nuxt-link to="/partners">Learn more</nuxt-link>.
        </div>
      </ColorBgImg>

      <div class="main-content" role="main">
        <div class="container">
          <study-search v-model="search" style="margin-bottom: 15px" @doSearch="filterUpdated" />
          <button class="btn btn-round btn-m btn-transparent tiny-text" style="box-sizing: border-box; color: black; width: 100%; margin-bottom: 30px;" @click="isFilterModalActive = true">
            <img style="margin-right: 8px" src="/images/icons/filter.svg" alt=""> Filter options
          </button>
          <div class="label" style="text-align: center">Number of programmes ({{studies.length}})</div>
          <div class="columns is-mobile is-multiline" style="justify-content: space-between;">
            <div class="column is-full">
              <template v-if="studies.length === 0">
                <div class="pt-2"> No studies found </div>
              </template>
              <template v-else>
                <StudyCard v-for="study in studies.slice(0, studiesToShow)" :key="study.id" :study="study" @openStudyModal="openStudy($event)" />
              </template>
            </div>
            <div v-if="studiesToShow < studies.length" class="column is-full">
              <button class="btn btn-round btn-m btn-transparent tiny-text" style="box-sizing: border-box; color: black; width: 100%;" @click="studiesToShow += 6">
                Load more
              </button>
            </div>
          </div>
        </div>
      </div>
      <Footer></Footer>
    </div>

    <b-modal v-model="isFilterModalActive" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
      <modal
        hide-header
        hide-sidebar
        :content-options="{
            background: '#F5F5F6'
          }"
        :mobile-header-options="{
            title: 'Filter options'
          }"
        full-screen
        @close="isFilterModalActive = false"
      >
        <Filters
          v-for="(filter, filtername) in filters"
          v-model="filter.value"

          :key="filter.title"
          :title="filter.title"
          :slug="filtername"
          :filterList="filter.filterList"
          :isSwitch="filter.isSwitch"
          @input="filterUpdated"

          load-more-right
        />
        <template #mobileFooter>
          <div class="columns is-mobile mx-0 mb-0">
            <div class="column is-5" style="padding-right: 5px">
              <a class="btn btn-round btn-m btn-transparent small-text" style="color: black; width: 100%; white-space: nowrap;" @click.prevent="clearFilters">
                Reset Filters
              </a>
            </div>
            <div class="column is-7" style="padding-left: 5px">
              <a class="btn btn-round btn-m btn-black small-text" style="width: 100%" @click="isFilterModalActive = false">
                <img src="/images/icons/check.svg" alt="" style="margin-right: 8px"> Submit Filters
              </a>
            </div>
          </div>
        </template>
      </modal>
    </b-modal>

    <!-- @todo Animations are not working if oimplemetned like this :( -->
    <NuxtChild
      :isStudyModalActive="isStudyModalActive"
      :selectedStudy="selectedStudy"

      :isFilterModalActive="isFilterModalActive"
      :isDesktop="isDesktop"
      @openModal="openStudy($event)"
      @close="closeStudy"
    />
  </div>
</template>

<script>
import {sanitizeUrl, removeQueryAndHashtags} from '~/plugins/helpers.js';

import Filters from "../components/partials/Filters";
import Modal from "../components/base/Modal";
import StudyCard from "../components/pages/studies/StudyCard";
import StudyModal from "../components/pages/studies/StudyModal";
import Search from "../components/pages/home/Search";
import StudySearch from "../components/pages/studies/StudySearch";

// import _filter     from "lodash/filter";
import _forIn      from "lodash/forIn";
import _get        from "lodash/get";
import _filterDeep from 'deepdash/filterDeep';

export default {
  head: {
    title: 'Studies | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },

  fetch() {
    const data = this;
    const filterArray = this.$route.query;
    for (const property in filterArray) {
      if (filterArray[property].length == 0) {
        delete filterArray[property]
      }
    }

    this.$axios.$post('/api/v1/universities/study-programmes', {query: filterArray})
      .then(function(response) {
        data.loading = false;
        data.filters = response.data.filters;
        data.studies = response.data.result;
      })
      .catch((err) => {
        this.$buefy.snackbar.open({
            message: err,
            type: 'is-danger',
            position: 'is-top',
        })
        console.log('error', err);
      });

  },
  fetchOnServer:false,
  fetchDelay:500,


  components: {StudySearch, Search, StudyModal, StudyCard, Modal, Filters},

  data() {
    return {
      loading: true,
      innerWidth: 0,
      block01: {
        color: "#B09AC9",
        title: "Take a look at studies!",
        fullpage: true,
        halfscreen: true,
      },
      desktopImg: '/images/demo/studies/01.png?v=2.0',
      mobileImg: '/images/demo/studies/02.png?v=2.0',
      isStudyModalActive: false,
      selectedStudy: {
        university: {}
      },
      studiesToShow: 6,
      isFilterModalActive: false,
      search: '',
      filters: [],
      studies: [],
      params: {
        slug: null
      },
      lastFilterUpdate: null,
    }
  },
  computed: {
    isDesktop () {
      return this.innerWidth > 950
    },
  },
  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth;
      window.onresize = () => {
        this.innerWidth = window.innerWidth;
      }
      this.refresh();
    }

    if (this.params.slug) {
      const study = this.studies.find(s => s.slug == this.params.slug);

      if (study) {
        this.openStudy(study);
      }
    }

    if (this.$route.query['q']) {
      this.search = this.$route.query['q'];
    }
  },

  methods: {

    closeStudy() {
      this.isStudyModalActive = false;

      /**
       * Check if modal was opened trough link if not then go back in history..
       * Going back in history preserves previously created URL query (for filters)
       *
       * @todo Unelegant 🙁
       */
      if (this.params.slug) {
        this.$router.push({ name: 'studies' })
        this.params.slug = null;
      } else {
        this.$router.go(-1);
      }
    },

    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch()
        }, 100);
      }
    },

    openStudy(study) {
      this.selectedStudy = study
      this.isStudyModalActive = true
      this.params.slug = study.slug
      this.$router.push({ name: 'studies-slug', params: this.params })
    },

    filterUpdated() {
      this.loading = false
      this.lastFilterUpdate = new Date()

      if (!this.$fetchState.pending && this.$fetchState.timestamp + 1000 < Date.now()) {
        this.refresh()
      }
    },

    clearFilters() {
      this.$router.replace({'query': null})
      this.search = ""
      setTimeout(() => {
        window.location.reload(true)
      }, 100);
    }
  },
}
</script>

<style>
.studies-list {
  padding-left: 96px
}
</style>
