<template>
  <div class="students-page main-page">
    <div class="desktop">
      <Header></Header>
      <ColorBgImg v-bind="block01" id="students-intro" class="hashable block-01">
        <ScrollDownPrompt></ScrollDownPrompt>
      </ColorBgImg>
      <div class="main-content" role="main">
        <div id="students-testimonials" class="hashable block-02">
          <HighlightHeader text="Student~~Testimonials"></HighlightHeader>

          <!-- <WalkingGalleryStatic
            :customInfinite="true"
            :slides="studentTestimonials"
            :infinite="false"
            @@changeSlide="changeSlide($event)"
          ></WalkingGalleryStatic> -->

         
          <ExperienceStoryGalleryBlock isStudentsPage class="experience-story-gallery-block" :testimonials="testimonials" :stories="stories" infinite />
        

          <!-- <NuxtLink
            :to="{
              name: 'news-tab',
              params: {
                tab: 'student-testimonials'
              }
            }"
            class="link small-text btn btn-round btn-m btn-transparent center"
          >
            Detailed Student’s Stories
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.66602 11.3333L11.3327 4.66663"
                stroke="#5E33C1"
                stroke-width="1.1"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4.66602 4.66663H11.3327V11.3333"
                stroke="#5E33C1"
                stroke-width="1.1"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </NuxtLink> -->
        </div>
        <!-- <div id="students-experience-stories" class="hashable block-03">
          <HighlightHeader text="Experience~~Stories"></HighlightHeader>
          <ExperienceStoryGalleryBlock :stories="stories" />
        </div> -->
      </div>
      <Footer></Footer>
    </div>
  </div>
</template>
<script>
import ExperienceStoryGalleryBlock from "~/components/partials/ExperienceStoryGalleryBlock";
import { mapTestimonialsAndStories } from "~/plugins/helpers.js";
export default {
  head: {
    title: 'Students | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },
  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios}) {
    const [
      experienceStories,
      studentTestimonials,
    ] = await Promise.all([
      $axios.$get('/api/v1/news/experience-stories'),
      $axios.$get('/api/v1/news/student-testimonials'),
    ]);

    return {
      stories: experienceStories.data,
      testimonials: studentTestimonials.data,
    }
  },

  data() {
    return {
      activeIndex: 0,
      block01: {
        color: "#FCB913",
        img: "/images/demo/students/01.png?v=2.0",
        title: "Student Stories",
        fullpage: true,
      },
    };
  },

  computed: {
    studentTestimonials() {
      return this.testimonials.map( item => {
        return mapTestimonialsAndStories(item, 'student-testimonials')
      });
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
