<template>
  <div v-show="innerWidth" class="universities-page main-page">

    <b-loading is-full-page v-model="loading" />
    <div v-if="isDesktop" class="desktop">

      <Header></Header>

      <ColorBgImg isHalf v-bind="{...block01, img: desktopImg}" class="block-01">
        <div class="note">
          Study programmes and universities featured and promoted on this page are selected based on a set of quality criteria. <nuxt-link to="/partners">Learn more</nuxt-link>.
        </div>
      </ColorBgImg>
      <div class="main-content" role="main">
        <div class="container">
          <div class="columns" style="justify-content: space-between;">

            <div class="column" style="max-width: 326px">
              <div class="label">Filtering options</div>
              <Filters
                v-for="(filter, filtername) in filters"
                v-model="filter.value"

                :key="filter.title"
                :title="filter.title"
                :slug="filtername"
                :filterList="filter.filterList"
                :isSwitch="filter.isSwitch"
                @input="filterUpdated"
              />
              <div class="label">
                <a href="#" @click.prevent="clearFilters" class="">Clear Filters</a>
              </div>
            </div>

            <div class="column universities-list">
              <div class="label">
                Number of institutions ({{universities.length}})
              </div>
              <div class="columns is-multiline">
                <div v-for="university in universities" class="column is-one-third mb-5" style="min-width: 244px">
                  <UniversityCard
                    :title="university.title"
                    :university="university"
                    :image="$statically(university.logo, 400)"
                    @open="openUniversity(university)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer></Footer>
    </div>

    <div v-else class="mobile">
      <Header></Header>

      <ColorBgImg align-bottom v-bind="{...block01, img: mobileImg}" class="block-01">
        <div class="note">
          Study programmes and universities featured and promoted on this page are selected based on a set of quality criteria. <nuxt-link to="/partners">Learn more</nuxt-link>.
        </div>
      </ColorBgImg>

      <div class="main-content" role="main">

        <div class="container">
          <button class="btn btn-round btn-m btn-transparent tiny-text" style="box-sizing: border-box; color: black; width: 100%; margin-bottom: 30px;" @click="isFilterModalActive = true">
            <img style="margin-right: 8px" src="/images/icons/filter.svg" alt=""> Filter options
          </button>

          <div class="label" style="text-align: center"> Number of institutions ({{universities.length}}) </div>
          <div class="columns is-mobile is-multiline" style="justify-content: space-between;">
            <template v-if="!universities.length">
              No universities found
            </template>
            <template v-else>
              <div v-for="university in universities" class="column is-half">
                <UniversityCard
                  :title="university.title"
                  :university="university"
                  :image="$statically(university.logo, 400)"
                  @open="openUniversity(university)"
                />
              </div>
            </template>
          </div>
        </div>

        <b-modal v-model="isFilterModalActive" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
          <modal
            hide-header
            hide-sidebar
            :content-options="{
              background: '#F5F5F6'
            }"
            :mobile-header-options="{
              title: 'Filter options'
            }"
            full-screen
            @close="isFilterModalActive = false"
          >
            <Filters
              v-for="(filter, filtername) in filters"
              v-model="filter.value"

              :key="filter.title"
              :title="filter.title"
              :slug="filtername"
              :filterList="filter.filterList"
              :isSwitch="filter.isSwitch"
              @input="filterUpdated"

              load-more-right
            />

            <template #mobileFooter>
              <div class="columns is-mobile mx-0 mb-0">
                <div class="column is-5" style="padding-right: 5px">
                  <a class="btn btn-round btn-m btn-transparent small-text" style="color: black; width: 100%; white-space: nowrap;" @click.prevent="clearFilters">
                    Reset Filters
                  </a>
                </div>

                <div class="column is-7" style="padding-left: 5px">
                  <a class="btn btn-round btn-m btn-black small-text" style="width: 100%" @click="isFilterModalActive = false">
                    <img src="/images/icons/check.svg" alt="" style="margin-right: 8px"> Submit Filters
                  </a>
                </div>
              </div>
            </template>
          </modal>
        </b-modal>
      </div>
      <Footer></Footer>
    </div>

    <!-- @todo Animations are not working if oimplemetned like this :( -->
    <NuxtChild
      :isUniversityModalActive="isUniversityModalActive"
      :openedUniversity="openedUniversity"
      :isFilterModalActive="isFilterModalActive"
      :isDesktop="isDesktop"
      @openModal="openUniversity($event)"
      @close="closeUniversity"
    />
  </div>
</template>

<script>
import Filters from "~/components/partials/Filters";
import UniversityCard from "~/components/pages/universities/UniversityCard";
import Modal from "~/components/base/Modal";
import UniversityModal from "~/components/pages/universities/UniversityModal";

// import _filter     from "lodash/filter";
import _forIn      from "lodash/forIn";
import _get        from "lodash/get";
import _filterDeep from 'deepdash/filterDeep';


export default {
  head: {
    title: 'Universities | Study In Latvia',
    htmlAttrs: {
      lang: 'en'
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      // {
      //   hid: 'description',
      //   name: 'description',
      //   content: 'my website description'
      // }
    ],
    link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
  },

  components: {UniversityModal, Modal, UniversityCard, Filters},
  scrollToTop: false,

  fetch() {
    const data = this;
    const filterArray = this.$route.query;
    for (const property in filterArray) {
      if (filterArray[property].length == 0) {
        delete filterArray[property]
      }
    }

    this.$axios.$post('/api/v1/universities/university-profiles', {query: filterArray})
      .then(function(response) {
        data.loading = false;
        data.filters = response.data.filters;
        data.universities = response.data.result;
      })
      .catch((err) => {
        this.$buefy.snackbar.open({
            message: err,
            type: 'is-danger',
            position: 'is-top',
        })
        console.log('error', err);
      });

  },
  fetchOnServer:false,
  fetchDelay:500,

  data() {
    return {
      loading: true,
      innerWidth: 0,

      block01: {
        color: "#B09AC9",
        title: "Take a look at universities!",
        fullpage: true,
        halfscreen: true
      },

      desktopImg: '/images/demo/universities/01.png?v=2.0',
      mobileImg: '/images/demo/universities/05.png?v=2.0',

      isUniversityModalActive: false,
      openedUniversity: null,

      universities: [],
      filters: [],
      params: {
        slug: null
      },

      isFilterModalActive: false,
      lastFilterUpdate: null,
    }
  },

  computed: {
    isDesktop () {
      return this.innerWidth > 950
    },

  },

  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth;

      window.onresize = () => {
        this.innerWidth = window.innerWidth;
      }
      console.log(this.params)
      if (this.params.slug) {
        console.log('has params')

        const university = this.universities.find(u => u.slug == this.params.slug);
        console.log('university', university)
        if (university) {
          this.openUniversity(university);
        }
      }
      this.refresh();
    }
  },

  methods: {
    closeUniversity() {
      this.isUniversityModalActive = false;

      /**
       * Check if modal was opened trough link if not then go back in history..
       * Going back in history preserves previously created URL query (for filters)
       *
       * @todo Unelegant 🙁
       */
      if (this.params.slug) {
        this.$router.push({ name: 'universities' })
        this.params.slug = null;
      } else {
        this.$router.go(-1);
      }
    },

    openUniversity(university) {
      this.isUniversityModalActive = true;
      this.openedUniversity = university;
      this.params.slug = university.slug
      this.$router.push({ name: 'universities-slug', params: {slug: university.slug} })
    },

    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch()
        }, 100);
      }
    },

    filterUpdated() {
      this.loading = false
      this.lastFilterUpdate = new Date()

      if (!this.$fetchState.pending && this.$fetchState.timestamp + 1000 < Date.now()) {
        this.refresh()
      }
    },

    clearFilters() {
      this.$router.replace({'query': null})
      setTimeout(() => {
        window.location.reload(true)
      }, 100);
    }
  },
}
</script>

<style>
.universities-list {
  padding-left: 96px
}
</style>
