<template>
  <div class="privacy-page main-page" role="main">
    <div v-if="innerWidth > this.tabletbreakpoint" class="desktop">
      <Header></Header>

      <ColorBgImg v-bind="block01" class="block-01" />

      <div class="container">

        <div class="tab-items is-flex is-flex-direction-row is-justify-content-center">
          <NuxtLink
            v-for="(tab, index) in categories" :key="index"
            :to="{ name: 'terms-slug', params: { slug: tab.slug }}"
            class=" link small-text medium btn btn-round btn-xs btn-transparent has-text-centered"
            :class="{ active: tab.slug === activeSlug }"
          >
            {{ tab.title }}
          </NuxtLink>
        </div>

        <div class="columns">
          <div class="all-categories column is-4">
            <p class="title-above-cat">Privacy policy categories</p>
            <div v-for="(term, index) in terms" :key="index" tabindex="0" @keyup.enter="showTerm(index)" @click="showTerm(index)" class="card is-shadowless">
              <div class=" card-content is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
                :class="{ active : (index === openTermIndex) }"
              >
                <p class="cat-title" >
                  {{ term.title }}
                </p>
                <img src="/images/icons/arrow-right-v2.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="column is-8 selected-category">
            <p class="title-above-cat">Selected category context</p>
            <div class="card is-shadowless" v-if="openTermIndex > -1">
              <PagesPrivacyContextContent v-bind="terms[openTermIndex]" />

              <div class="card-footer">
                <div class="card-footer__content is-flex is-flex-direction-row is-align-items-center"
                  :class="
                    openTermIndex == 0
                      ? 'is-justify-content-flex-end'
                      : 'is-justify-content-space-between'
                  "
                >
                  <div
                    v-if="openTermIndex > 0"
                    @click="prevCat"
                    tabindex="0"
                    @keyup.enter="prevCat"
                    class="prev is-flex is-align-items-center"
                  >
                    <img src="/images/icons/arrow-left-v2.svg" alt="" />
                    <p>Previous</p>
                  </div>
                  <div
                    v-if="openTermIndex < terms.length - 1"
                    @click="nextCat"
                    tabindex="0"
                    @keyup.enter="nextCat"
                    class="next is-flex is-align-items-center"
                  >
                    <p>Next</p>
                    <img src="/images/icons/arrow-right.svg" alt="" />
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <Footer></Footer>
    </div>

    <div v-else class="mobile">

      <Header></Header>

      <ColorBgImg v-bind="{ ...block01, img: mobileImg }" class="block-01" />

      <div class="container">
        <div class="tab-items is-flex is-flex-direction-row">
          <NuxtLink
            v-for="(tab, index) in categories" :key="index"
            :to="{ name: 'terms-slug', params: { slug: tab.slug }}"
            class="link small-text medium btn btn-round btn-xs btn-transparent has-text-centered "
            :class="{ active: tab.slug === activeSlug }"
          >
            {{ tab.title }}
          </NuxtLink>
        </div>

        <div>
          <div class="all-categories">
            <p class="title-above-cat">Privacy policy categories</p>
            <div v-for="(term, index) in terms" :key="index" @click="showTerm(index)" class="card is-shadowless">
              <div class=" card-content is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
                :class="{ active : (index === openTermIndex) }"
              >
                <p class="cat-title">
                  {{ term.title }}
                </p>
                <img src="/images/icons/arrow-right-v2.svg" alt="" />
              </div>
            </div>
          </div>

          <b-modal v-model="isCategoryModalActive" :full-screen="true">

            <div class="selected-category">
              <div class="card is-shadowless" v-if="openTermIndex > -1">
                <div class="card-head">
                  <button
                    @click="isCategoryModalActive = false"
                    class="btn btn-white btn-round"
                    style="height: 50px; width: 50px"
                  >
                    <img src="/images/icons/chevron-left.svg" alt="" />
                  </button>
                  <div class="card-head__title" v-html="catTitle"></div>
                </div>

                <PagesPrivacyContextContent v-bind="terms[openTermIndex]" />

                <div class="card-footer">
                  <div class="card-footer__content is-flex is-flex-direction-row is-align-items-center"
                    :class="
                      openTermIndex == 0
                        ? 'is-justify-content-flex-end'
                        : 'is-justify-content-space-between'
                    "
                  >
                    <div
                      v-if="openTermIndex > 0"
                      @click="prevCat"
                      class="prev is-flex is-align-items-center"
                    >
                      <img src="/images/icons/arrow-left-v2.svg" alt="" />
                      <p>Previous</p>
                    </div>
                    <div
                      v-if="openTermIndex < terms.length - 1"
                      @click="nextCat"
                      class="next is-flex is-align-items-center"
                    >
                      <p>Next</p>
                      <img src="/images/icons/arrow-right.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    $axios,
  }) {
    const [
      termsCategories
    ] = await Promise.all([
      $axios.$get("/api/v1/content/terms"),
    ]);

    return {
      categories: termsCategories.data,
    };
  },
  data() {
    return {
      activeCat: 1,
      innerWidth: 0,
      tabletbreakpoint: 768,
      isCategoryModalActive: false,

      openTermIndex: 0,

      __categories: [
        { title: "Personal data processing controller", id: 1 },
        { title: "General provisions", id: 2 },
        { title: "Categories of personal data", id: 3 },
        {
          title: "Purposes and legal basis of processing of personal data",
          show: true,
          id: 4,
        },
        { title: "Recipients of personal data", id: 5 },
        { title: "Geographic territory of processing of personal data", id: 6 },
        { title: "Storage period", id: 7 },
        { title: "Rights of the data subject", id: 8 },
        {
          title: "Communication on matters of processing of personal data",
          id: 9,
        },
      ],

      block01: {
        color: "#36C4FB",
        img: "/images/demo/terms/1.jpg?v=2.0",
        title: "Terms & Policies",
        fullpage: true,
        halfscreen: true
      },
      mobileImg: "/images/demo/terms/1-mob.jpg?v=2.0",
    };
  },
  methods: {
    showTerm: function (termIndex) {
      this.openTermIndex = termIndex;

      if (this.innerWidth <= this.tabletbreakpoint) {
        this.isCategoryModalActive = true;
      }
    },
    nextCat: function (event) {
      let cardHeader = document.querySelector('.card-header');
      if (this.openTermIndex < this.terms.length - 1) {
        this.openTermIndex++;
        if (this.innerWidth <= this.tabletbreakpoint && cardHeader) {
          cardHeader.scrollIntoView(false);
        } else {
          window.scrollTo(0, 562-91);
        }
      }
    },
    prevCat: function (event) {
      let cardHeader = document.querySelector('.card-header');
      if (this.openTermIndex > 0) {
        this.openTermIndex--;
        if (this.innerWidth <= this.tabletbreakpoint && cardHeader) {
          cardHeader.scrollIntoView(false);
        } else {
          window.scrollTo(0, 562-91);
        }
      }
    },
  },
  computed: {
    activeSlug() {
      return this.$route.params.slug;
    },
    activeCategoryIndex() {
      return this.categories.findIndex( category => category.slug === this.activeSlug );
    },

    terms() {
      if ( this.activeCategoryIndex > -1 ) {
        return this.categories[this.activeCategoryIndex].terms;
      }

      return []
    },


    catTitle: function (event) {
      let activeCat = this.activeCat;
      let obj = this.categories.find((o) => o.id == activeCat);
      if (!obj.title) return "";
      let title = obj.title.toString();
      let charLimit = 27;
      if (title.length <= charLimit) {
        return title;
      } else {
        return title.substr(0, charLimit) + "...";
      }
    },

  },
  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth;
    }
  },
};
</script>
