<template>
  <div class="card-content">
    <div class="first-col is-flex is-flex-direction-row is-align-items-center">
      <img class="icon" :class="icon.class" :src="icon.icon" alt="" />
      <div>
        <p class="material-title">{{ title }}</p>
        <p v-if="body" class="material-desc">{{ body }}</p>
      </div>
    </div>
    <div class="second-col is-flex is-flex-direction-row">
      <a
        v-if="link"
        :href="sanitizedLink"
        target="_blank"
        class="
          link
          small-text
          medium
          btn btn-round btn-xs btn-transparent
          has-text-centered
          extra-button
          half-size-mobile
        "
      >
        {{ linkBtnTitle }}
      </a>
      <a
        v-if="file"
        :href="file.path"
        :download="file.file_name"
        target="_blank"
        class="
          link
          small-text
          medium
          btn btn-round btn-xs btn-transparent
          has-text-centered
          extra-button
          half-size-mobile
        "
      >
        Download
      </a>
      <!-- <a :href="actionlink" class="link small-text medium btn btn-round btn-xs btn-transparent has-text-centered" :class="preview || download ? 'half-size-mobile' : ''">
                {{ action }}
            </a> -->
    </div>
  </div>
</template>

<script>
import { sanitizeUrl } from "~/plugins/helpers";

export default {
  props: {
    title: String,
    type: String,
    slug: String,
    body: String,
    link: String,
    file: Object,
  },

  computed: {
    icon() {
      const list = {
        document: {
          icon: "/images/icons/doc.svg",
          class: "document",
        },
        file: {
          icon: "/images/icons/attachment.svg",
          class: "attachment",
        },
        image: {
          icon: "/images/icons/picture.svg",
          class: "picture",
        },
        location: {
          icon: "/images/icons/location.svg",
          class: "location",
        },
        video: {
          icon: "/images/icons/watch.svg",
          class: "watch",
        },
        link: {
          icon: "/images/icons/visit.svg",
          class: "visit",
        },
        presentation: {
          icon: "/images/icons/presentation.svg",
          class: "presentation",
        },
      };

      if (Object.keys(list).indexOf(this.type) != -1) {
        return list[this.type];
      }

      // Default
      return {
        icon: "/images/icons/doc.svg",
        class: "document",
      };
    },

    sanitizedLink() {
      return sanitizeUrl(this.link);
    },

    linkBtnTitle() {
      if (this.type == "location") return "Show Location on Map";
      if (this.type == "video") return "Watch Now";
      if (this.type == "link") return "Visit";

      return "Open";
    },
  },
};
</script>
