<template>
    <div class="calendar" :class="{
      mobile: isMobile
    }">
        <h3 class="hero center">International Student Calendar</h3>
        <div class="calendar-blocks wrapper-md">
            <template v-if="isMobile">
              <div class="mid" ref="mid">
                <p class="tiny-text upper center">Starting From</p>
                <h3 class="date center">1st September</h3>
                <div class="line">
                  <div class="line__event" v-for="(block,index) in events">
                    <div class="line__event-wrapper">
                      <a class="line__event-text" @click="openEvent(index)">
                        {{ block.name }}
                        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.5 5H1.5M7 1.5L10.5 5L7 1.5ZM10.5 5L7 8.5L10.5 5Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <p class="tiny-text upper center">Ending On</p>
                <h3 class="date center">30th June</h3>
              </div>
            </template>
            <template v-else>
              <div class="sticky-info" :class="{'show': showScroll}">
                <p class="small-text">{{calendarEventName}}</p>
              </div>
              <div class="mid" ref="mid">
                <p class="tiny-text upper center">Starting From</p>
                <h3 class="date center">1st September</h3>
                <div class="line">
                </div>
                <p class="tiny-text upper center">Ending On</p>
                <h3 class="date center">30th June</h3>
              </div>

              <div v-for="(block,index) in events" :key="index" class="calendar-block" :class="'calendar-block-'+index" :data-name="block.name" :data-slug="block.slug">
                <transition name="zoom-left">
                  <div v-if="calendarEventSlug == block.slug" class="left">
                    <div v-if="block.left.image" class="image-wrapper" :class="block.left.imageHoriz ? 'horiz' : 'vert'">
                      <img :src="$statically(block.left.image, 600)" :alt="block.name">
                      <p v-if="block.left.imageInfo" class="tiny-text image-info">{{block.left.imageInfo}}</p>
                      <div v-if="block.left.imageInfo" class="image-overlay"></div>
                    </div>
                    <div v-if="block.left.text" class="text">
                      <p v-if="block.left.text.dates" class="text-dates tiny-text">{{block.left.text.dates}}</p>
                      <p v-if="block.left.text.title" class="text-title h4">{{block.left.text.title}}</p>
                      <p v-if="block.left.text.main" class="text-main small-text">{{block.left.text.main}}</p>
                    </div>
                  </div>
                </transition>
                <transition name="zoom-right">
                  <div v-if="calendarEventSlug == block.slug" class="right">
                    <div v-if="block.right.text" class="text">
                      <p v-if="block.right.text.dates" class="text-dates tiny-text">{{block.right.text.dates}}</p>
                      <p v-if="block.right.text.title" class="text-title h4">{{block.right.text.title}}</p>
                      <p v-if="block.right.text.main" class="text-main small-text">{{block.right.text.main}}</p>
                    </div>
                    <div v-if="block.right.image" class="image-wrapper" :class="block.right.imageHoriz ? 'horiz' : 'vert'">
                      <img :src="$statically(block.right.image,600)" :alt="block.name">
                      <p v-if="block.right.imageInfo" class="tiny-text image-info">{{block.right.imageInfo}}</p>
                      <div v-if="block.right.imageInfo" class="image-overlay"></div>
                    </div>
                  </div>
                </transition>
              </div>
            </template>
        </div>
      <b-modal v-model="showEventModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
        <modal
          hide-header
          hide-sidebar
          :content-options="{
            background: '#F5F5F6'
          }"
          :mobile-header-options="{
            title: 'International Student Calendar'
          }"
          full-screen
          @close="showEventModal = false"
        >
          <div class="event-wrapper">
            <div class="event-gallery">
              <VueSlickCarousel class="event-gallery__carousel" v-bind="carouselSettings">
                <div v-for="img in selectedEvent.gallery" class="event-gallery-image">
                  <div class="image-wrapper">
                    <img :src="img.img" :alt="img.imageInfo" />
                    <p v-if="img.imageInfo" class="tiny-text image-info">{{img.imageInfo}}</p>
                  <div v-if="img.imageInfo" class="image-overlay"></div>
                  </div>
                  
                </div>
              </VueSlickCarousel>
            </div>
            <hr class="solid my-0" />
            <div v-for="text in selectedEvent.texts">
              <div class="event-title">
                {{ text.title }}
              </div>
              <div class="event-text">
                {{ text.dates }}
              </div>
              <div class="event-text">
                {{ text.main }}
              </div>
            </div>
          </div>

          <template #mobileFooter>
            <footer-mobile>
              <div class="tabs-controller">
                <a @click="selectedEventIndex <= 0 ? undefined : selectedEventIndex--" class="tabs-controller__prev" :class="{
                  disabled: selectedEventIndex <= 0
                }">
                  <svg style="transform: scaleX(-1)" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Previous
                </a>
                <a @click="events.length <= selectedEventIndex + 1 ? undefined : selectedEventIndex++" class="tabs-controller__next" :class="{
                  disabled: events.length <= selectedEventIndex + 1
                }">
                  Next
                  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </footer-mobile>
          </template>
        </modal>
      </b-modal>
    </div>
</template>
<script>
import Modal from "../../../base/Modal";
import FooterMobile from "../../../base/FooterMobile";
export default {
  components: {FooterMobile, Modal},
  props: {
      isMobile: {
        type: Boolean,
        default: false
      }
    },
    data() {
        return {
            selectedEventIndex: 0,
            showEventModal: false,
            carouselSettings: {
              focusOnSelect: true,
              slidesToShow: 1,
              infinite: false,
              arrows: false,
              variableWidth: true,
              edgeFriction: 0.35
            },
            scroll: 0,
            calendarEventName: null,
            calendarEventSlug: null,
            showScroll: false,
            events: [
                {
                    name: 'Knowledge Day',
                    slug: 'knowledgeday',
                    left: {
                        text: {
                            dates: '1 September',
                            title : 'Knowledge Day',
                            main : 'The new academic year and autumn semester usually start on this date, when classes begin in all educational institutions in Latvia. If 1 September falls on a weekend, the semester starts on the following Monday.'
                        },
                        image: '/images/demo/latvia/live/calendar/september1_01-min.jpg?v=2.0',
                        imageHoriz: true,
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/september1_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'The Aristotle Festival',
                    slug: 'aristotle',
                    left: {
                        image: '/images/demo/latvia/live/calendar/aristotle_02-min.jpg?v=2.0',
                        imageInfo: 'Photo by Toms Grinbergs, University of Latvia'
                    },
                    right: {
                        text: {
                            dates: 'First week of september',
                            title : 'The Aristotle Festival',
                            main : 'An annual tradition at the University of Latvia. This student festival brings together new students to mark the beginning of the new academic year with parades, songs and activities. Students from other universities are also welcomed to join.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/aristotle_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Start of autumn',
                    slug: 'autumn',
                    left: {
                        text: {
                            dates: '22 September',
                            title : 'Start of autumn',
                            main : 'In Latvia, fall is a popular season due to the colourful leaves and plentiful wild mushrooms in the forests. Be sure to bring an umbrella, raincoat, and waterproof boots with you because it can be rainy.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/22_sep_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/22_sep_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Lāčplēsis Day',
                    slug: 'bearripper',
                    left: {

                        image: '/images/demo/latvia/live/calendar/lacplesis_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: '11 November',
                            title : 'Lāčplēsis Day',
                            main : "Latvian Freedom Fighters' Remembrance Day, when Latvians commemorate the liberation of our capital city Riga in 1919. This anniversary is marked by lighting candles outside Riga Castle and other public places around the country. This is not a public holiday."
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/lacplesis_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Independence Day',
                    slug: 'independence',
                    left: {
                        text: {
                            dates: '18 November',
                            title : 'Independence Day',
                            main : 'On this date in 1918, the Republic of Latvia was proclaimed as an independent state. It is a public holiday with parades and processions. If this day falls during weekend, the following Monday is a public holiday.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/independ_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/independ_02-min.jpg?v=2.0',
                    }
                },
                {

                    name: "All Souls' Day",
                    slug: 'allSouls',
                    left: {

                        image: '/images/demo/latvia/live/calendar/all_souls_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: 'The last sunday of november (usually)',
                            title : "All Souls' Day",
                            main : 'An unofficial day of remembrance. People visit cemeteries to remember their deceased loved-ones, lighting candles at their graves.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/all_souls_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Start of winter',
                    slug: 'winter',
                    left: {
                        text: {
                            dates: '21 December',
                            title : 'Start of winter',
                            main : "Latvian winters are long and dark. Temperatures average around -10°C, and can fall to -20°C for a few days each year, so - don't forget to pack warm clothes."
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/21_dec_01-min.jpg?v=2.0',
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/winter_start_02-min.jpg?v=2.0'
                    }
                },
                {
                    name: 'Christmas and New Year',
                    slug: 'christmasNewYear',
                    left: {
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/christmas_new_01-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: '24 December – 1 January',
                            title : 'Christmas and New Year',
                            main : 'Time to take a break and spend time with your friends and family.'
                        },
                        image: '/images/demo/latvia/live/calendar/christmas_new_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Christmas',
                    slug: 'christmas',
                    left: {
                        text: {
                            dates: '24 - 26 December',
                            title : 'Christmas',
                            main : "One of Latvia's most important and beloved festivals. This is a family celebration, and traditions include decorating the Christmas tree and gift-giving on Christmas Eve. Christmas Eve, Christmas Day and Day of Christmas are public holidays."
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/christmas_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/christmas_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: "New Year's Eve and New Year Day",
                    slug: 'newYear',
                    left: {
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/31_dec_01-min.jpg?v=2.0',
                    },
                    right: {
                        text: {
                            dates: '31 December – 1 January',
                            title : "New Year's Eve and New Year Day",
                            main : 'People love to watch fireworks in the city or on TV and stay up until past midnight. At midnight they toast each other with champagne, wishing everyone a happy New Year.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/new_yearEve_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Exam season',
                    slug: 'exams',
                    left: {
                        text: {
                            dates: 'January',
                            title : 'Exam season',
                            main : 'Exams are held in most of the universities, except where the module principle is followed and exams are taken shortly after the end of the course.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/exam_season_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/exam_season_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Start of the spring semester',
                    slug: 'springSemester',
                    left: {
                        image: '/images/demo/latvia/live/calendar/spring_semester_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: '1 February',
                            title : 'Start of the spring semester',
                            main : 'Commencement of studies after winter intake and start of the second semester. If 1 February falls on a weekend, the semester starts on the following Monday.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/spring_semester_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Annual call for latvian state scholarships',
                    slug: 'annualCall',
                    left: {
                        text: {
                            dates: '1 February – 1 April',
                            title : 'Annual call for latvian state scholarships',
                            main : 'International students from more than 40 countries are welcome to apply for Latvian state scholarships and fellowships.'
                        },
                        image: '/images/demo/latvia/live/calendar/schoolarships_02-min.jpg?v=2.0',
                        imageHoriz: true,
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/schoolarships_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'International women’s day',
                    slug: 'womens',
                    left: {
                        image: '/images/demo/latvia/live/calendar/womans_day_02-min.jpg?v=2.0',
                    },
                    right: {
                        text: {
                            dates: '8 March',
                            title : 'International women’s day',
                            main : 'Although some people in Latvia see this day as a throwback to the Soviet era, this day is widely celebrated privately and in workplaces with flowers, sweets and other gifts. There are public debates about the role of women in society.'
                        },
                        image: '/images/demo/latvia/live/calendar/womans_day_01-min.jpg?v=2.0',
                        imageHoriz: true,
                    }
                },
                {
                    name: 'Start of Spring',
                    slug: 'spring',
                    left: {
                        text: {
                            dates: '10 March',
                            title : 'Start of Spring',
                            main : 'Spring is relatively mild and humid. The average temperature is around 10°C and it can be rainy. Your autumn clothes will be handy.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/10_marts_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/spring_start_02-min.jpg?v=2.0'
                    }
                },
                {
                    name: 'Easter holidays',
                    slug: 'easter',
                    left: {
                        image: '/images/demo/latvia/live/calendar/easter_holid_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: 'March or April',
                            title : 'Easter holidays',
                            main : 'Held every year on different dates in accordance with the church calendar. The days of Easter are public holidays, while the whole week is also academic holidays. Latvians love colouring and eating eggs, swinging on homemade swings, and spending time with their families and close friends.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/easter_holid_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Labour day',
                    slug: 'labourDay',
                    left: {
                        text: {
                            dates: 'May 1',
                            title : 'Convocation of the constituent assembly of Latvia, and Labour day',
                            main : 'In contrast to most European countries where this date is Labour Day, in Latvia it marks the anniversary of the first session of the body which drafted our constitution. It is a public holiday.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/1_maijs_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/1_maijs_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Independence restoration day',
                    slug: 'independenceRestoration',
                    left: {
                        image: '/images/demo/latvia/live/calendar/4_maijs_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: 'May 4',
                            title : 'Independence restoration day',
                            main : 'On this day in 1990, Latvia restored its independence from the USSR. This is a symbolic second birthday for our country and a public holiday.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/4_maijs_01-min.jpg?v=2.0'
                        
                    }
                },
                {
                    name: 'Europe day',
                    slug: 'europeDay',
                    left: {
                        text: {
                            dates: 'May 9',
                            title : 'Europe day',
                            main : 'Along with other EU Member countries, Latvia pays tribute on this day to Robert Schuman, who made an immense contribution to unifying the countries of Europe after World War II. Public events relating to EU issues are held on this date.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/europe_01-min.jpg?v=2.0',
                        //image: '/images/demo/latvia/live/calendar/05.png?v=2.0'
                    },
                    right: {
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/9_maijs_01-min.jpg?v=2.0',
                    }
                },
                {
                    name: "Mothers' day",
                    slug: 'mothersDay',
                    left: {
                        image: '/images/demo/latvia/live/calendar/mates_diena_02-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: 'The 2nd Sunday in May',
                            title : "Mothers' day",
                            main : 'A day celebrating our mothers as the pillars of our families.'
                        },
                        image: '/images/demo/latvia/live/calendar/mates_diena_01-min.jpg?v=2.0',
                        imageHoriz: true
                    }
                },
                {
                    name: 'Exam and graduation season',
                    slug: 'examAndGraduation',
                    left: {
                        text: {
                            dates: 'June',
                            title : 'Exam and graduation season',
                            main : 'The last event at the end of the academic year is the exam session, while for final year students there are graduations. Nature in Latvia is blooming.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/graduation_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/graduation_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Start of Summer',
                    slug: 'summer',
                    left: {
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/22_jun_01-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: '22 June',
                            title : 'Start of Summer',
                            main : 'Summer is our favourite season with long "white" nights and warm temperatures, averaging a pleasant 17-20°C and occasionally rising to 30°C. However, it is unusual to have long periods of hot temperatures.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/22_jun_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Midsummer festival',
                    slug: 'midsummer',
                    left: {
                        text: {
                            dates: '23-24 June',
                            title : 'Midsummer festival (Līgo day and Jāņi (John’s day)',
                            main : 'The most beloved Latvian celebration which coincides with the summer solstice. It includes many ancient traditions, such as women gathering wildflowers to make flower crowns, while men make crowns from oak leaves. We sing songs dance, and jump over bonfires, celebrating until the sunrise.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/midsummer_01-min.jpg?v=2.0'
                    },
                    right: {
                        image: '/images/demo/latvia/live/calendar/midsummer_02-min.jpg?v=2.0',
                    }
                },
                {
                    name: 'Summer schools',
                    slug: 'summerSchools',
                    left: {
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/summer_school_01-min.jpg?v=2.0'
                    },
                    right: {
                        text: {
                            dates: 'July and August',
                            title : 'Summer schools',
                            main : 'During summer, several Latvian universities organize summer schools covering Latvian language and culture, robotics, architecture, biology and many other subjects. International students are welcome to participate by receiving Latvian state scholarships.'
                        },
                        imageHoriz: true,
                        image: '/images/demo/latvia/live/calendar/summer_school_01-1-min.jpg?v=2.0',
                    }
                },
            ]
        }
    },
    methods: {
        openEvent(index) {
          this.selectedEventIndex = index
          this.showEventModal = true
        },
        setScroll() {
            if (process.client && !this.isMobile) {
                this.scroll = window.scrollY
                this.calendarEventName = this.calendarEventFunc().name
                this.calendarEventSlug = this.calendarEventFunc().slug
                let mid = this.$refs.mid.getBoundingClientRect().top + 100 - window.innerHeight/2
                if (mid < 0 && mid + this.$refs.mid.getBoundingClientRect().height > 0 ) {
                    this.showScroll = true
                } else {
                    this.showScroll = false
                }
            }
        },
        calendarEventFunc() {
            if (process.client && !this.isMobile) {
                const blocks = document.getElementsByClassName("calendar-block");
                let obj = null
                for(let i = 0 ; i < blocks.length; i++) {
                    const top = blocks[i].getBoundingClientRect().top - window.innerHeight/2
                    if (top < 0) {
                        obj = {
                            name: blocks[i].dataset.name,
                            slug: blocks[i].dataset.slug
                        }
                    }
                }
                if (obj !== null) {
                    return obj
                } else {
                    return {
                        name: null,
                        slug: null,
                    }
                }
            }
        }
    },
    computed: {
      selectedEvent() {
        if (this.events.length) {
          const {left, right} = this.events[this.selectedEventIndex]

          const gallery = [
            {
              img: left.image,
              imageInfo: left.imageInfo
            },
            {
              img: right.image,
              imageInfo: right.imageInfo
            }
          ].filter(image => !!image)

          const texts = [
            left.text,
            right.text
          ].filter(text => !!text)

          return {
            gallery,
            texts
          }
        } else {
          return {
            gallery: [],
            texts: []
          }
        }
      }
    },
    mounted() {
        document.addEventListener("scroll", this.setScroll);
    },
    unmounted() {
      document.removeEventListener("scroll", this.setScroll);
    },
};
</script>
<style lang="scss" scoped>
.calendar {
    .hero {
        width: 489px;
        color: $ui-contrast;
    }
    .calendar-blocks {
        position: relative;
        margin-top: 60px;
        .sticky-info {
            position: sticky;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 35px;
            width: fit-content;
            z-index: 3;
            margin-top: 0px;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            align-content: center;
            background-color: $white;
            border-radius: 30px;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            &.show {
                opacity: 1;
            }
            p {
                text-transform: capitalize;
            }
        }
        .mid {
            position: absolute;
            top: 0px;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            padding-bottom: 25px;
            .tiny-text {
                color: $ui-weak;
                margin-bottom: 5px;
            }
            .date {
                font-size: 2.813rem;
                line-height: 3.9375rem;
                letter-spacing: -0.02em;
                color: $ui-contrast;
                font-weight: 400;
            }
        }
        .calendar-block {
            //min-height: 300px;
            //transition: height 0.3s ease;
            height: 550px;
            display: flex;
            .left,.right {
                max-width: 50%;
                flex: 0 0 50%;
                display: flex;
                flex-wrap: wrap;
                .image-wrapper {
                    border-radius: 20px;
                    overflow: hidden;
                    height: fit-content;
                    position: relative;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        display: block;
                        height: auto;
                    }
                    .image-info {
                        color: $white;
                        position: absolute;
                        bottom: 25px;
                        left: 30px;
                        z-index: 2;
                    }
                    .image-overlay {
                        position: absolute;
                        height: 130px;
                        width: 100%;
                        left: 0px;
                        bottom: 0px;
                        background: linear-gradient(180deg, rgba(14, 15, 20, 0) 0%, rgba(14, 15, 20, 0.00735012) 6.67%, rgba(14, 15, 20, 0.0301835) 13.33%, rgba(14, 15, 20, 0.0694109) 20%, rgba(14, 15, 20, 0.1253) 26.67%, rgba(14, 15, 20, 0.197009) 33.33%, rgba(14, 15, 20, 0.282101) 40%, rgba(14, 15, 20, 0.376288) 46.67%, rgba(14, 15, 20, 0.473712) 53.33%, rgba(14, 15, 20, 0.567899) 60%, rgba(14, 15, 20, 0.652991) 66.67%, rgba(14, 15, 20, 0.7247) 73.33%, rgba(14, 15, 20, 0.780589) 80%, rgba(14, 15, 20, 0.819817) 86.67%, rgba(14, 15, 20, 0.84265) 93.33%, rgba(14, 15, 20, 0.85) 100%);
                        z-index: 1;
                    }
                    &.horiz {
                        width: 384px;
                        height: 280px;
                    }
                    &.vert {
                        width: 302px;
                        height: 442px;
                    }
                }
                .text {
                    max-width: 100%;
                    flex: 0 0 100%;
                    > * {
                        text-align: center;
                    }
                    .text-dates {
                        color: $ui-weak;
                    }
                    .text-title {
                        margin-top: 10px;
                        color: $ui-accent;
                    }
                    .text-main {
                        margin-top: 20px;
                        color: $ui-regular;
                    }
                }
            }
            .right {
                .image-wrapper {
                    margin-left: auto;
                    margin-right: 0px;
                }
                .text {
                    padding-left: 130px;
                    margin-bottom: 170px;
                }
            }
            .left {
                .text {
                    padding-right: 130px;
                    margin-top: 170px;
                }
            }
        }
        .line {
            height: 99.2%;
            background-color: #292D3D;
            width: 2px;
            padding-top: 33px;
            padding-bottom: 33px;
            margin: 33px auto;
            position: relative;
            &:after,&:before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                background-color: #292D3D;
                border-radius: 3px;
                overflow: hidden;
            }
            &:before {
                top: 0px;
            }
            &:after {
                bottom: 0px;
            }
        }
    }
    &.mobile {
      margin-bottom: 0px;
      .hero {
        width: 286px;
      }
      .calendar-blocks {
        margin-top: 45px;
        .mid {
          position: unset;
          left: 0;
          transform: unset;
        }
        .date {
          font-size: 1.75rem;
          line-height: 132%;
        }
        .line {
          margin-top: 22px;
          height: unset;
          &__event {
            height: 87px;
            &-wrapper {
              background: $background;
              position: relative;
              padding: 27px 0;
              &:first-child {
                margin-top: 33px;
              }
            }
            &-text {
              //&:before {
              //  content: '';
              //  position: absolute;
              //  background: $background;
              //  height: calc(100% + 20px);
              //  width: 100%;
              //  top: -10px;
              //  left: 0;
              //  z-index: -1;
              //}
              top: 10px;
              z-index: 2;
              position: absolute;
              background: white;
              white-space: nowrap;
              width: fit-content;
              transform: translateX(-50%);
              padding: 10px 20px;
              border-radius: 20px;
              font-weight: 600;
              font-size: 0.75rem;
              line-height: 100%;
              display: flex;
              align-items: center;
              color: $ui-contrast;
              svg {
                margin-left: 7px
              }
            }
          }
        }
      }
    }
  .event {
    &-wrapper {
      background: $white;
      border-radius: 20px;
      > div {
        padding: 10px;
      }
      padding-bottom: 15px;
    }
    &-title {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 140%;
      color: $ui-regular;
      margin: 10px 10px 5px;
    }
    &-text {
      font-size: 0.75rem;
      line-height: 150%;
      color: $ui-regular;
      margin: 0 10px;
    }
    &-gallery {
      &__carousel {
        .slick-list {
          overflow: visible !important;
        }
        .event-gallery-image {
          position: relative;
          padding-right: 10px;
          .image-wrapper {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
        img {
            width: 100%;
            height: auto;
            max-height: 192px;
            object-fit: cover;
            margin: auto;
          }
          }
          .image-info {
            color: $white;
            position: absolute;
            bottom: 10px;
            left: 6px;
            z-index: 2;
          }
          .image-overlay {
              position: absolute;
              height: 130px;
              width: 100%;
              left: 0px;
              bottom: 0px;
              background: linear-gradient(180deg, rgba(14, 15, 20, 0) 0%, rgba(14, 15, 20, 0.00735012) 6.67%, rgba(14, 15, 20, 0.0301835) 13.33%, rgba(14, 15, 20, 0.0694109) 20%, rgba(14, 15, 20, 0.1253) 26.67%, rgba(14, 15, 20, 0.197009) 33.33%, rgba(14, 15, 20, 0.282101) 40%, rgba(14, 15, 20, 0.376288) 46.67%, rgba(14, 15, 20, 0.473712) 53.33%, rgba(14, 15, 20, 0.567899) 60%, rgba(14, 15, 20, 0.652991) 66.67%, rgba(14, 15, 20, 0.7247) 73.33%, rgba(14, 15, 20, 0.780589) 80%, rgba(14, 15, 20, 0.819817) 86.67%, rgba(14, 15, 20, 0.84265) 93.33%, rgba(14, 15, 20, 0.85) 100%);
              z-index: 1;
          }
        }
        .slick-slide {
          max-width: calc(100vw - 45px);
        }

        
      }
    }
  }
}
</style>
