<template>
    <div class="dictionary" :class="{
      mobile: isMobile
    }">
        <div class="wrapper flex col fc">
            <h2 class="hero center">Mini Dictionary</h2>
            <p class="subtext" v-html="`Translation guide from ${$flagEmoji('gb')} English language to ${$flagEmoji('lv')} Latvian language`"></p>
            <div class="tabs-container wrapper is-hidden-touch">
                <button class="move-prev control-btn" @click="prevTab" :class="{'disabled' : activeTabIndex == 0}">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 15L1 8L8 1" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="move-next control-btn" @click="nextTab" :class="{'disabled' : activeTabIndex == texts.length - 1}">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8 8L1 15" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <b-tabs horizontal class="tabs-wrapper hide-header is-hidden-touch" v-model="activeTabIndex">
                    <b-tab-item
                    v-for="(text, index) in texts"
                    :key="index"
                    class="tab"
                    >
                        <TextingApp :texts="text.children[0].data.texts"></TextingApp>
                    </b-tab-item>
                </b-tabs>
            </div>
            <div class="wrapper is-hidden-desktop">
                <TextingApp :texts="texts[0].children[0].data.texts"></TextingApp>
            </div>
            <div v-if="isMobile" class="dictionary-buttons">
              <a class="link small-text medium btn btn-round btn-m btn-transparent" @click="showModal = true">
                More Examples
              </a>
              <a href="https://elaipa.lv/Home/A1" target="_blank" class="link small-text medium btn btn-round btn-m btn-black">
                Learn Latvian Online
              </a>
            </div>
            <a v-else href="https://elaipa.lv/Home/A1" target="_blank" class="link small-text medium btn btn-round btn-m btn-black">
                Learn Latvian Language Online
            </a>
        </div>
      <b-modal v-model="showModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
        <modal
          hide-header
          hide-sidebar
          :content-options="{
              background: '#F5F5F6'
            }"
          :mobile-header-options="{
              title: 'Mini Dictionary'
            }"
          full-screen
          @close="showModal = false"
        >
          <b-tabs style="max-height: 700px" horizontal class="tabs-wrapper hide-header" v-model="activeTabIndex">
            <b-tab-item
              v-for="(text, index) in texts"
              :key="index"
              class="tab"
            >
              <TextingApp :texts="text.children[0].data.texts"></TextingApp>
            </b-tab-item>
          </b-tabs>
          <template #mobileFooter>
            <footer-mobile>
              <div class="tabs-controller">
                <a @click="activeTabIndex <= 0 ? undefined : activeTabIndex--" class="tabs-controller__prev" :class="{
                    disabled: activeTabIndex <= 0
                  }">
                  <svg style="transform: scaleX(-1)" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Previous
                </a>
                <a @click="texts.length <= activeTabIndex + 1 ? undefined : activeTabIndex++" class="tabs-controller__next" :class="{
                    disabled: texts.length <= activeTabIndex + 1
                  }">
                  Next
                  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </footer-mobile>
          </template>
        </modal>
      </b-modal>
    </div>
</template>
<script>
import TextingApp from "../../../partials/TextingApp";
import Modal from "../../../base/Modal";
import FooterMobile from "../../../base/FooterMobile";
export default {
  components: {FooterMobile, Modal, TextingApp},
  props: {
      isMobile: {
        type: Boolean,
        default: false
      },
      texts: Array
    },
    data() {
        return {
            showModal: false,
            activeTabIndex: 0,
            // texts: [
            //     [
            //         {
            //             receiving: false,
            //             text: "Hi! How do you say “Hello”, “My name is…” and “What’s your name?” on Latvian? 🇱🇻 🤔"
            //         },
            //         {
            //             receiving: true,
            //             text: "“Hello” 👋🏼 - “Labdien”. You pronounce it like this - [lab-dy-een]."
            //         },
            //         {
            //             receiving: true,
            //             text: "“My name is…” - “Mani sauc…” [man-ee s-auts]"
            //         },
            //         {
            //             receiving: true,
            //             text: " “What’s your name?” - “Kā Tevi sauc?”"
            //         },
            //         {
            //             receiving: true,
            //             text: "🔊 [khaa te-vy s-auts]"
            //         },
            //         {
            //             receiving: false,
            //             text: "Ok! I see!"
            //         },
            //         {
            //             receiving: false,
            //             text: "But I’ve got a few more questions… 😅"
            //         },
            //     ],
            //     [
            //         {
            //             receiving: false,
            //             text: "How do you say Yes or No?"
            //         },
            //         {
            //             receiving: true,
            //             text: "“Jā” and “Nē”. 🔊 [ya-ah] & [kne-ee]"
            //         },
            //         {
            //             receiving: false,
            //             text: "Oh! And how “Where is…”?"
            //         },
            //         {
            //             receiving: false,
            //             text: "And also “What time is it”?"
            //         },
            //         {
            //             receiving: true,
            //             text: "Where is — “Kur atrodas…” [cour at-roh-daas] ✅"
            //         },
            //         {
            //             receiving: true,
            //             text: "“what time is it?” - “Cik ir pulkstenis?” [ceek eer poolk-sten-ees]."
            //         },
            //     ],
            //     [
            //         {
            //             receiving: false,
            //             text: "How do you ask people how they feel?"
            //         },
            //         {
            //             receiving: true,
            //             text: "“How are you?”"
            //         },
            //         {
            //             receiving: true,
            //             text: "Just ask “Kā Tev iet?” [car-tev-eet]."
            //         },
            //         {
            //             receiving: false,
            //             text: "And how to ask about any costs?"
            //         },
            //         {
            //             receiving: false,
            //             text: "For exmaple “How much does it cost”?"
            //         },
            //         {
            //             receiving: true,
            //             text: "Pretty simple — “Cik tas maksā?” [ceek tas much-sah]."
            //         },
            //     ],
            //     [
            //         {
            //             receiving: false,
            //             text: "And finnaly how do you say “Thank you”"
            //         },
            //         {
            //             receiving: true,
            //             text: "Thank you is “Paldies” [Pal-dyiues]."
            //         },
            //         {
            //             receiving: false,
            //             text: "Ok, but “Please”? 🤔"
            //         },
            //         {
            //             receiving: true,
            //             text: "That’s even easier — “Lūdzu” [loo-dzoo]."
            //         },
            //         {
            //             receiving: false,
            //             text: "The last one! I promise! 😂😅 How do you say “Sorry”???"
            //         },
            //         {
            //             receiving: true,
            //             text: "This one’s little bit harder. It is “Atvainojiet”"
            //         },
            //         {
            //             receiving: true,
            //             text: "[at-vay-noh-yeet]."
            //         },
            //         {
            //             receiving: false,
            //             text: "Thank you! I mean — Paldies! 🙏🏼"
            //         },
            //     ]
            // ]
        }
    },
    methods: {
        prevTab() {
            if (this.activeTabIndex > 0) {
                this.activeTabIndex--
            }
        },
        nextTab() {
            if (this.activeTabIndex < this.texts.length - 1) {
                this.activeTabIndex++
            }
        }
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .dictionary {
        .wrapper {
            .tabs-container {
                position: relative;
                .control-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 6;
                    transition: background-color 0.3s ease;
                    background-color: #fff;
                    border-radius: 50px;
                    width: 56px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                    svg path {
                        transition: stroke 0.3s ease;
                    }
                    &.move-prev {
                        left: -150px;
                    }
                    &.move-next {
                        right: -150px;
                    }
                    &.disabled {
                        background-color: #F0F1F5;
                        svg {
                            path {
                                stroke: #ABADB8;
                            }
                        }
                    }
                }
            }
            .hero {
                margin-bottom: 20px;
            }
            .subtext {
                font-size: 1.5rem;
                line-height: 2.25rem;
                letter-spacing: -0.01em;
                color: $ui-regular;
                margin-bottom: 60px;
            }
            .link {
                margin-top: 60px;
            }
          &.is-hidden-desktop {
            padding: 0;
          }
        }
      &-buttons {
        display: flex;
        gap: 5px;
        width: 100%;
        a {
          width: 100%
        }
        a:nth-child(1) {
          flex: 0 0 40%
        }
      }
    }
</style>
