<template>
  <div
    class="good-to-know wrapper-md"
    :class="{
      mobile: isMobile
    }"
  >
    <h3 class="hero">Good-to Know!</h3>
    <div v-if="isMobile" class="scroll-blocks-wrapper mobile">
      <div
        v-for="(block, index) in blocks"
        :key="index"
        class="scroll-block"
        :class="['scroll-block-' + index, index % 2 ? 'right' : 'left']"
      >
        <div
          class="image-wrapper"
          :data-aos-duration="index * 300"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          <img :src="path(block.image)" :alt="block.name" />
        </div>
        <h4
          class="h1"
          :data-aos-duration="index * 400"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          {{ block.name }}
        </h4>
        <p
          class="small-text ml"
          :data-aos-duration="index * 430"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          {{ block.quote }}
        </p>
       

      </div>
    </div>

    <div v-else class="scroll-blocks-wrapper">
      <div
        v-for="(block, index) in blocks"
        :key="index"
        class="scroll-block"
        :class="['scroll-block-' + index, index % 2 ? 'right' : 'left']"
      >
        <div
          class="image-wrapper"
          :data-aos-duration="index * 300"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          <img :src="path(block.image)" :alt="block.name" />
        </div>
        <h4
          class="h1"
          :data-aos-duration="index * 400"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          {{ block.name }}
        </h4>
        <p
          class="small-text ml"
          :data-aos-duration="index * 430"
          :data-aos="index % 2 ? 'fade-left' : 'fade-right'"
          data-aos-easing="ease-in-out"
          data-aos-offset="200"
        >
          {{ block.quote }}
        </p>
      </div>

    </div>
  </div>
</template>
<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
  props: {
    isMobile: {
      type: Boolean,
      default: false,
    },
    blocks: Array
  },
  data() {
    return {
     
    };
  },
  methods: {
    path(img) {
      return mediaLibraryUrl(img)
    }
  },
  computed: {},
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
.good-to-know {
  &.mobile {
    @include tablet {
      display: none;
    }

    .hero {
      font-size: 2.188rem;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.02em;
      margin: 0 auto 30px;
    }
    .scroll-block {
      max-width: 100%;
      flex: 0 0 100%;
      overflow-x: hidden;
      margin-bottom: 45px;
      h4.h1 {
        font-size: 1.125rem;
        line-height: 130%;
      }
      p.small-text {
        font-size: 0.75rem;
        line-height: 150%;
      }
      &.left {
        align-items: center;
        align-content: center;
      }
      &.right {
        align-items: center;
        align-content: center;
      }
      .image-wrapper,
      .h1,
      .small-text {
        max-width: calc(100vw - 30px);
      }
    }
  }
  .hero {
    @media (min-width: 1050px) {
      position: sticky;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    width: 231px;
    color: $ui-contrast;
    margin-bottom: 50vh;
    // @media(max-width: 768px) {
    //   display: none;
    // }
  }
  .scroll-blocks-wrapper {
    margin-top: -50vh;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    width: 100%;
    &.mobile {
      flex-direction: column;
    }
    @media(max-width: 768px) {
      margin-top: 0px;
    }
  }
  .scroll-block {
    max-width: 50%;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
    .image-wrapper {
      overflow: hidden;
      border-radius: 30px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .h1 {
      margin-top: 20px;
      color: $ui-contrast;
      text-align: center;
    }
    .small-text {
      margin-top: 10px;
      color: $ui-regular;
      text-align: center;
    }
    &.scroll-block-0 {
      @media (min-width: 1050px) {
        padding-top: 120px;
      }
      .image-wrapper,
      .h1,
      .small-text {
        width: 302px;
      }
    }
    &.scroll-block-1 {
      .image-wrapper,
      .h1,
      .small-text {
        width: 384px;
      }
    }
    &.scroll-block-2 {
      .image-wrapper,
      .h1,
      .small-text {
        width: 384px;
      }
    }
    &.scroll-block-3 {
      .image-wrapper,
      .h1,
      .small-text {
        width: 302px;
      }
    }
    &.scroll-block-4 {
      .image-wrapper,
      .h1,
      .small-text {
        width: 384px;
      }
    }
    &.left {
      align-items: flex-start;
      align-content: flex-start;
    }
    &.right {
      align-items: flex-end;
      align-content: flex-end;
    }
  }
}
</style>
