<template>
    <div v-if="isMobile" class="leisure mobile">
      <div>
        <HighlightHeader text="Leisure"></HighlightHeader>
        <p class="side-text">Latvia offers plenty of entertainment activities including cafes and restaurants, music festivals, creative quarters and other venues and events.</p>

        <p class="h1">{{ leisureSlides[activeIndex]['name'] }}</p>
      </div>
      <div class="walking-gallery-two-wrapper">
        <WalkingGalleryTwo :customInfinite="true" :infinite="false" :slides="leisureSlides" @changeSlide="changeSlide($event)"></WalkingGalleryTwo>
      </div>
      <a :href="leisureSlides[activeIndex]['link_href']" target="_blank" class="center btn btn-black btn-round btn-m">More about {{leisureSlides[activeIndex]['name']}}</a>
    </div>
    <div v-else class="leisure">
        <div class="block-header wrapper-md">
            <HighlightHeader text="Leisure"></HighlightHeader>
            <p class="side-text">Latvia offers plenty of entertainment activities including cafes and restaurants, music festivals, creative quarters and other venues and events.</p>
        </div>
        <div class="slider-block">
            <WalkingGalleryTwo :slides="leisureSlides" :customInfinite="true" :infinite="false" @changeSlide="changeSlide($event)"></WalkingGalleryTwo>
        </div>
        <a :href="leisureSlides[activeIndex]['link_href']" target="_blank" class="center btn btn-black btn-round btn-m">More about {{leisureSlides[activeIndex]['name']}}</a>
    </div>
</template>
<script>
export default {
    props: {
      isMobile: {
        type: Boolean,
        default: false
      },
      leisureSlides: Array
    },
    data() {
        return {
            activeIndex: 0,
            // leisureSlides: [
            //     {
            //         name: "Cafes and restaurants",
            //         quote: "Latvia offers a wide variety of places to eat out, from American fast food to chic and expensive restaurants.",
            //         image: "/images/demo/latvia/live/leisure/02_01-min.jpg?v=2.0",
            //         // images: [
            //         //     "/images/demo/latvia/live/leisure/02_01.jpg?v=2.0",
            //         //     "/images/demo/latvia/live/leisure/02_02.jpg?v=2.0"
            //         // ],
            //         link: {
            //             href: "https://www.latvia.travel/en/page/eat-drink-latvia",
            //             text: "Find out more here"
            //         }
            //     },
            //     {
            //         name: "Culture",
            //         quote: "Latvia is a small country in terms of territory but rich in terms of culture heritage, folklore, and customs.  Opera, museums, theatres, song, and dance events are easily accessible.",
            //         images: [
            //             "/images/demo/latvia/live/leisure/03_01.jpg?v=2.0",
            //             "/images/demo/latvia/live/leisure/03_02.jpg?v=2.0"
            //         ],
            //         link: {
            //             href: "https://www.latvia.travel/en/article/culture",
            //             text: "Find out more here"
            //         }
            //     },
            //     {
            //         name: "Nature",
            //         quote: "Latvia is perfect for green tourism, including relaxing at the seaside, walks in the woods, swimming in blue lakes, hiking in nature parks or adventures in bogs.",
            //         images: [
            //             "/images/demo/latvia/live/leisure/05_01.jpg?v=2.0",
            //             "/images/demo/latvia/live/leisure/05_02.jpg?v=2.0"
            //         ],
            //         link: {
            //             href: "https://www.latvia.travel/en/article/nature",
            //             text: "Find out more here"
            //         }
            //     },

            //     {
            //         name: "Outdoor activities",
            //         quote: "Travelling by bike, long-distance hiking, water tourism, wind and winter sports can all be enjoyed in Latvia.",
            //         image: "/images/demo/latvia/live/leisure/06.jpg?v=2.0",
            //         imageInfo: "Photo by Liepaja municipality",
            //         link: {
            //             href: "https://www.latvia.travel/en/article/outdoor-activities",
            //             text: "Find out more here"
            //         }
            //     },
            //     {
            //         name: "Architecture",
            //         quote: "Latvia has a unique heritage to offer for architecture fans, from elegant Art Nouveau to old wooden architecture, classical palaces and manors, and medieval churches.",
            //         images: [
            //             "/images/demo/latvia/live/leisure/01_01.jpg?v=2.0",
            //             "/images/demo/latvia/live/leisure/01_02.jpg?v=2.0"
            //         ],
            //         link: {
            //             href: "https://www.latvia.travel/en/article/architecture",
            //             text: "Find out more here"
            //         }
            //     },

            //     {
            //         name: "Music festivals",
            //         quote: "Many musical festivals are held in Latvia during summer outside the capital, including on the beach in Liepaja, in hilly Sigulda and other beautiful towns and outdoor venues.",
            //         image: "/images/demo/latvia/live/leisure/04.jpg?v=2.0",
            //         link: {
            //             href: "https://www.latvia.travel/en/article/music-festivals",
            //             text: "Find out more here"
            //         }
            //     },
            //     {
            //         name: "Riga Creative Quarters",
            //         quote: "Check out neighbourhoods in Riga where creative energy flows and small shops, cafes and creative initiatives work side by side.",
            //         image: "/images/demo/latvia/live/leisure/02_02-min.jpg?v=2.0",
            //         // images: [
            //         //     "/images/demo/latvia/live/leisure/02_01.jpg?v=2.0",
            //         //     "/images/demo/latvia/live/leisure/02_02.jpg?v=2.0"
            //         // ],
            //         link: {
            //             href: "https://www.liveriga.com/en/111-creative-neighbourhoods",
            //             text: "Find out more here"
            //         }
            //     },
            // ],
        }
    },
    methods: {
        changeSlide(e) {
            this.activeIndex = e
        }
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .leisure {
        .block-header {
            display: flex;
            .highlight-header {
                margin-right: 80px;
            }
            .side-text {
                margin-top: 50px;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $ui-regular;
            }
        }
        .slider-block {
            display: flex;
            margin-bottom: 65px;
            .h1 {
                margin-left: 122px;
                width: 220px;
                max-width: 220px;
                flex: 0 0 220px;
                margin-right: 60px;
                color: $ui-contrast;
            }
            .walking-gallery-two {
                width: 100%;
            }
            &.slider-block-1 {
                margin-top: 90px;
            }
            &.slider-block-2 {
                margin-top: 170px;
            }
        }
    }
</style>
