<template>
    <div class="living-costs-tab wrapper-md" :class="{
      mobile: isMobile
    }">
        <p class="small-text center tab-text">{{tab.text}}</p>
        <div class="boxes">
            <div v-for="(box,index) in tab.boxes" :key="index" class="tab-box">
                <div class="icon-wrapper">
                    <img :src="box.img" alt="">
                </div>
                <div class="text-wrapper">
                  <p class="small-text center box-price">{{box.price}}</p>
                  <p class="tiny-text center box-text">{{box.text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        isMobile: {
          type: Boolean,
          default: false
        },
        tab: {
            type: Object,
            default: () => {
                return [];
            },
        }
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
    .living-costs-tab {
        background-color: $white;
        border-radius: 60px;
        overflow: hidden;
        padding: 55px 0px 50px 0px;
        .tab-text {
            width: 466px;
            color: $ui-regular;
            margin-bottom: 35px;
        }
        .boxes {
            display: flex;
            justify-content: center;
            .tab-box {
                max-width: 100px;
                flex: 0 0 100px;
                .icon-wrapper {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                    background-color: #F5F5F6;
                    margin-bottom: 20px;
                    border-radius: 50px;
                    overflow: hidden;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                }
                .box-price {
                    margin-bottom: 5px;
                    color: $ui-contrast;
                }
                .box-text {
                    color: $ui-regular;
                }
                &:not(:last-child) {
                    margin-right: 100px;
                }
            }
        }
      &.mobile {
        padding-top: 20px;
        background-color: transparent;
        .tab-text {
          width: fit-content;
          font-size: 0.75rem;
          line-height: 150%;
          margin-bottom: 45px;
          padding-top: 15px;
        }
        .boxes {
          flex-direction: column;
          .tab-box {
            display: flex;
            max-width: 100%;
            margin-right: 0;
            flex: 0 0 0;
            margin-bottom: 15px;
            .icon-wrapper {
              background: $white;
              min-width: 60px;
              width: 60px;
              height: 60px;
              margin-bottom: 0;
              img {
                transform: scale(0.6);
              }
            }
            .text-wrapper {
              width: 100%;
              display: flex;
              flex-direction: column-reverse;
              justify-content: space-around;
              padding: 6px 10px;
              .box-price, .box-text {
                text-align: left;
                width: 100%;
                white-space: nowrap;
              }
              .box-text {
                font-size: 0.75rem;
                line-height: 150%;
                color: $ui-regular;
              }
              .box-price {
                font-weight: 600;
                font-size: 0.938rem;
                line-height: 100%;
                color: $ui-contrast;
              }
            }
          }
        }
      }
    }
</style>
