<template>
    <div class="living-costs" :class="{
      mobile: isMobile
    }">
        <div class="block-header">
            <h3 class="hero center">Living Costs</h3>
            <template v-if="isMobile">
              <p class="h1 center">€450 – €700</p>
              <p class="h3 center">Average monthly living expenses</p>
            </template>
            <template v-else>
              <p class="h3 center">Average monthly living expenses</p>
              <p class="h1 center">€450 – €700</p>
            </template>
        </div>
        <b-tabs horizontal class="tabs-wrapper tabs-round tabs-overlap tabs-black" v-model="activeTabIndex">
            <b-tab-item
            v-for="(tab, index) in tabs"
            :key="index"
            class="tab"
            :label="tab.text"
            @click="changeTab(tab.slug + 'Gallery')"
            >
              <LivingCostsTab :is-mobile="isMobile" :tab="tab.tab" :ref="tab.slug + 'Gallery'"></LivingCostsTab>
            </b-tab-item>
        </b-tabs>
    </div>
</template>
<script>
import LivingCostsTab from "./LivingCostsTab";
export default {
  components: {LivingCostsTab},
  props: {
      isMobile: {
        type: Boolean,
        default: false
      }
    },
    data() {
        return {
            activeTabIndex: 0,
            tabs: [
                {
                    slug: 'acommodation',
                    text: 'Acommodation',
                    tab: {
                        text: 'Most universities in Latvia have their own dormitories or hostels, others provide assistance with housing search.',
                        boxes: [
                            {
                                img: '/images/icons/living-costs/building.svg',
                                price: '€70 - €120',
                                text: 'dormitories or student hostel'
                            },
                            {
                                img: '/images/icons/living-costs/user.svg',
                                price: '€250 - €350',
                                text: 'solo flat rent'
                            },
                            {
                                img: '/images/icons/living-costs/user-group.svg',
                                price: '€100 - €200',
                                text: 'shared flat rent'
                            },
                            {
                                img: '/images/icons/living-costs/bolt.svg',
                                price: '€100 - €170',
                                text: 'daily and common utilities'
                            },
                            {
                                img: '/images/icons/living-costs/globe.svg',
                                price: '€12 - €15',
                                text: 'internet connections'
                                
                            },
                        ]
                    }
                },
                {
                    slug: 'food',
                    text: 'Food',
                    tab: {
                        text: 'Latvia offers a wide variety of places to eat out, from American fast food, to chic and expensive restaurants.',
                        boxes: [
                            {
                                img: '/images/icons/living-costs/basic-meal.svg',
                                price: '€5 – €9',
                                text: 'per meal at the city center'
                            },
                            {
                                img: '/images/icons/living-costs/pub.svg',
                                price: '€3 – €5',
                                text: 'daily specials in pubs and cafes'
                            },
                            {
                                img: '/images/icons/living-costs/coffee.svg',
                                price: '€1 – €3',
                                text: 'cup of coffee'
                            },
                            {
                                img: '/images/icons/living-costs/restaraunt.svg',
                                price: '€15 – €40',
                                text: 'average restaurant meal'
                            },
                        ]
                    }
                },
                {
                    slug: 'entertainment',
                    text: 'Entertainment',
                    tab: {
                        text: 'In Latvia there are a plenty of ways to spend leisure time for a reasonable price',
                        boxes: [
                            {
                                img: '/images/icons/living-costs/movie.svg',
                                price: '€5 – €15',
                                text: 'cinema ticket'
                            },
                            {
                                img: '/images/icons/living-costs/opera.svg',
                                price: '€7 – €45',
                                text: 'opera ticket'
                            },
                            {
                                img: '/images/icons/living-costs/rock-music.svg',
                                price: '€8 – €35',
                                text: 'rock concert ticket'
                            },
                            {
                                img: '/images/icons/living-costs/swim.svg',
                                price: '€7',
                                text: 'swimming pool single visit'
                            },
                            {
                                img: '/images/icons/living-costs/gym.svg',
                                price: '€30 – €50',
                                text: 'gym monthly membership'
                            },
                        ]
                    }
                },
                {
                    slug: 'transportation',
                    text: 'Transportation',
                    tab: {
                        text: 'Students have discounts on public transport in Latvia.',
                        boxes: [
                            {
                                img: '/images/icons/living-costs/tram.svg',
                                price: '€5 – €15',
                                text: 'public transport monthly ticket for students only'
                            },
                            {
                                img: '/images/icons/living-costs/one-way-transport.svg',
                                price: '€2',
                                text: 'public transport one-way ticket'
                            },
                            {
                                img: '/images/icons/living-costs/taxi.svg',
                                price: '€3 – €15',
                                text: 'taxi in Riga city'
                            },
                        ]
                    }
                },
            ],
        }
    },
    methods: {
        changeTab(tab, index) {
            if (typeof index !== 'undefined') {
                this.activeTabIndex = index;
            }
            this.$refs[tab][0].$refs.slick.goTo(0);
        },
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
.living-costs {
    .block-header {
        margin-bottom: 60px;
        .hero {
            color: $ui-contrast;
            margin-bottom: 25px;
        }
        .h3 {
            color: $ui-contrast;
            margin-bottom: 5px;
        }
        .h1 {
            color: #F7931D;
        }
    }
    &.mobile {
      .block-header {
        margin-bottom: 45px;
        .hero {
          font-size: 2.188rem;
          line-height: 100%;
          text-align: center;
          letter-spacing: -0.02em;
          margin-bottom: 30px;
        }

        .h1 {
          font-size: 2.813rem;
          line-height: 140%;
          margin-bottom: 5px
        }

        .h3 {
          font-size: 0.75rem;
          line-height: 100%;
          text-align: center;
          color: $ui-regular;
          margin-bottom: 0
        }
      }
    }
}
</style>
