<template>
    <SideTabs v-if="!isMobile" class="registration" :tabs="tabs"></SideTabs>
    <div v-else class="wrapper-md">
      <div class="choose-topic">
        Choose a medical care & Insurance topic
      </div>
      <a v-for="(tab, i) in tabs" :key="tab.data.slug" class="topic-button" @click="onSelectTab(i)">
        {{ tab.data.label }}
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1.3335L5.66667 6.00016L1 10.6668" stroke="#24262F" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <b-modal v-model="tabModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
        <modal
          hide-header
          hide-sidebar
          :content-options="{
              background: '#F5F5F6'
            }"
          :mobile-header-options="{
              title: 'Medical care & insurance'
            }"
          full-screen
          @close="tabModal = false"
        >
          <SideTabs style="padding-bottom: 112px" v-model="activeTabIndex" is-mobile class="info mobile" :tabs="tabs"></SideTabs>
          <template #mobileFooter>
            <footer-mobile>
              <div class="tabs-controller">
                <a @click="activeTabIndex <= 0 ? undefined : activeTabIndex--" class="tabs-controller__prev" :class="{
                    disabled: activeTabIndex <= 0
                  }">
                  <svg style="transform: scaleX(-1)" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Previous
                </a>
                <a @click="tabs.length <= activeTabIndex + 1 ? undefined : activeTabIndex++" class="tabs-controller__next" :class="{
                    disabled: tabs.length <= activeTabIndex + 1
                  }">
                  Next
                  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </footer-mobile>
          </template>
        </modal>
      </b-modal>
    </div>
</template>
<script>
import Modal from "../../../base/Modal";
import SideTabs from "../../../partials/SideTabs";
import FooterMobile from "../../../base/FooterMobile";
export default {
  components: {FooterMobile, SideTabs, Modal},
  props: {
      isMobile: {
        type: Boolean,
        default: false
      },
      tabs: Array
    },
    data() {
        return {
            tabModal: false,
            activeTabIndex: 0,
            // tabs: [
            //     {
            //         label: 'EU, EEA, Switzerland Countries',
            //         slug: 'euEeaSwitzCountries',
            //         content: [
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'For registration purposes, citizens of the European Union Member States, Norway, Liechtenstein, Iceland or Switzerland may use the European Health Insurance Card (EHIC). This document certifies that the holder is a resident of one of the aforementioned countries and is covered by the social insurance system of this country.'
            //                     },
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'During the period that the holder of the EHIC card resides in another of the participating countries, the card ensures the right to receive acute or emergency health care to the same extent that it is available under the national social insurance system to the permanent residents of the country in question.'
            //                     },
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'Information on the services available through the Latvian public healthcare system are described on the Ministry of Health website.'
            //                     },
            //                 ]
            //             },
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'It is recommended to supplement the EHIC card with a health insurance policy covering patient contributions for public healthcare, treatment of non-acute situations, private healthcare, and repatriation expenses to the country of origin.'
            //                     },
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-10',
            //                         body: 'Insurance companies in Latvia providing foreign travel insurance policies include the following:'
            //                     },
            //                     {
            //                         type: 'ul',
            //                         classes: 'mb-20',
            //                         list: [
            //                             'Balta',
            //                             'BAN',
            //                             'BTA',
            //                             'Seesam'
            //                         ]
            //                     },
            //                 ]
            //             },
            //         ]
            //     },
            //     {
            //         label: 'VISA & Non-Visa Countries',
            //         slug: 'visaNonVisaCountries',
            //         content: [
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'Students should be aware that it is mandatory to be covered by health insurance for the entire planned period of stay in the Republic of Latvia.'
            //                     },
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'The health insurance policy should guarantee coverage of expenses associated with health care provision in the Republic of Latvia, including expenses associated with emergency medical assistance, inpatient treatment of critical condition dangerous to life or health, transportation to the nearest medical treatment institution for emergency of inpatient treatment, and transportation back to the country of residence in case of serious illness or death.'
            //                     }
            //                 ]
            //             },
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'The minimum coverage limit indicated in the policy must not be less than 42,600 EUR over the insurance period for a long-stay visa.'
            //                     },
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-10',
            //                         body: 'Insurance companies in Latvia providing foreign travel insurance policies include the following:'
            //                     },
            //                     {
            //                         type: 'ul',
            //                         classes: 'mb-20',
            //                         list: [
            //                             'Balta',
            //                             'BAN',
            //                             'BTA',
            //                             'Seesam'
            //                         ]
            //                     },
            //                 ]
            //             },
            //         ]
            //     }
            // ]
        }
    },
    methods: {
      onSelectTab(i) {
        this.activeTabIndex = i
        this.tabModal = true
      }
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
    .registration {
    }
</style>
