<template>
    <div v-if="isMobile" class="transport mobile">
      <div>
        <HighlightHeader text="Arrival &~~Transportation"></HighlightHeader>
        <p class="side-text">Upon arrival at the university, the student meets with university representatives to become acquainted with the programme and ask any questions. Most often, the staff of the external relations division or members of the student council look after visiting students.</p>

        <p class="h1">You can get to Latvia by</p>
      </div>
      <div class="walking-gallery-two-wrapper">
        <WalkingGalleryTwo :customInfinite="true" :infinite="false" :slides="visitBy"></WalkingGalleryTwo>
      </div>
      <p class="h1">You can travel around cities by</p>
      <div class="walking-gallery-two-wrapper second">
        <WalkingGalleryTwo :customInfinite="true" :infinite="false" :slides="travelWith"></WalkingGalleryTwo>
      </div>
    </div>
    <div v-else class="transport">
        <div class="block-header">
            <HighlightHeader text="Arrival &~~Transportation"></HighlightHeader>
            <p class="side-text">Upon arrival at the university, the student meets with university representatives to become acquainted with the programme and ask any questions. Most often, the staff of the external relations division or members of the student council look after visiting students.</p>
        </div>
        <div class="slider-block slider-block-1">
            <p class="h1">You can get to Latvia by</p>
            <WalkingGalleryTwo :customInfinite="true" :infinite="false" :slides="visitBy"></WalkingGalleryTwo>
        </div>
        <div class="slider-block slider-block-2">
            <p class="h1">You can travel around cities by</p>
            <WalkingGalleryTwo :customInfinite="true" :infinite="false" :slides="travelWith"></WalkingGalleryTwo>
        </div>
    </div>
</template>
<script>
import WalkingGalleryTwo from "../../../partials/WalkingGalleryTwo";
import HighlightHeader from "../../../assets/HighlightHeader";
export default {
  components: {HighlightHeader, WalkingGalleryTwo},
  props: {
      isMobile: {
        type: Boolean,
        default: false
      },
      visitBy: Array,
      travelWith: Array
    },
    data() {
        return {
            // visitBy: [
            //     {
            //         name: "Airplane",
            //         quote: "Main airline companies serve Riga International Airport (RIX), including budget airlines, so it should not be too difficult to find a reasonably priced ticket.",
            //         image: "/images/demo/latvia/live/transport/plane.jpg?v=2.0"
            //     },
            //     {
            //         name: "Ferry",
            //         quote: "Riga has a ferry a connection to Stockholm in Sweden, Ventspils is connected with Ninneshamn in Sweden and Travemunde in Germany, and Liepāja has a ferry route to Travemunde in Germany.",
            //         image: "/images/demo/latvia/live/transport/02.png?v=2.0"
            //     },
            //     {
            //         name: "International bus",
            //         quote: "Riga has extensive bus connections with Belgium, Holland, France, the UK, Ireland, Norway, Sweden, Germany, the Czech Republic, Russia, Ukraine and Belarus and many other European countries.",
            //         image: "/images/demo/latvia/live/transport/bus.jpg?v=2.0"
            //     },
            //     {
            //         name: "Train",
            //         quote: "International train routes are currently limited to connections with Moscow and St. Petersburg in Russia and to Minsk in Belarus.",
            //         image: "/images/demo/latvia/live/transport/train.jpg?v=2.0"
            //     },
            // ],
            // travelWith: [
            //     {
            //         name: "Public Transport",
            //         quote: "Riga has 9 tram lines, 20 trolleybus routes and 54 bus routes. Public transport operates from 05.00 to 01.00. Night services also run on Fridays and Saturdays.",
            //         image: "/images/demo/latvia/live/transport/public.jpg?v=2.0",
            //         link: {
            //             href: "#",
            //             text: "More about public transports"
            //         }
            //     },
            //     {
            //         name: "Bicycles",
            //         quote: "Cycling in Latvia is becoming more and more popular and Riga has created official bike lanes on some city centre streets. Cycling is also common and bike lanes have been created in other student cities.",
            //         image: "/images/demo/latvia/live/transport/bike.jpg?v=2.0",
            //         link: {
            //             href: "#",
            //             text: "More about bike lanes"
            //         }
            //     },
            //     {
            //         name: "Taxi",
            //         quote: "In Latvia, all licenced taxi cabs have special yellow number plates. In Riga, local taxi apps Bolt and Yandex Go are usually cheaper than regular taxis.",
            //         image: "/images/demo/latvia/live/transport/taxi.jpg?v=2.0",
            //         link: {
            //             href: "#",
            //             text: "More about public transports"
            //         }
            //     },
            //     {
            //         name: "Car sharing",
            //         quote: "If you have EU member state or international driver's licence, you can also use the CarGuru or CityBee car sharing services. Prices depend on duration, kilometres driven and other factors, and petrol is included in the price.",
            //         image: "/images/demo/latvia/live/transport/carshare.jpg?v=2.0",
            //         link: {
            //             href: "#",
            //             text: "More about public transports"
            //         }
            //     },
            //     {
            //         name: "Electric scooters",
            //         quote: "Commuting with electric scooters is quite common among students in Riga. You can find a scooter on the street or locate one using the map in the app of this service providers if you do not have your own. Bolt is among the most popular ones.",
            //         image: "/images/demo/latvia/live/transport/scooter.jpg?v=2.0",
            //         link: {
            //             href: "#",
            //             text: "More about public transports"
            //         }
            //     },
            // ]
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .transport {
        .block-header {
            display: flex;
            padding-left: 122px;
            padding-right: 122px;
            .hero {
                width: 412px;
                color: $ui-contrast;
                margin-right: 80px;
            }
            .side-text {
                margin-top: 50px;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $ui-regular;
            }
        }
        .slider-block {
            display: flex;
            .h1 {
                margin-left: 122px;
                width: 220px;
                max-width: 220px;
                flex: 0 0 220px;
                margin-right: 60px;
                color: $ui-contrast;
            }
            .walking-gallery-two {
                width: 100%;
            }
            &.slider-block-1 {
                margin-top: 90px;
            }
            &.slider-block-2 {
                margin-top: 170px;
            }
        }
        &.mobile {
          .block-header {
            .highlight-header {
              margin: 0 auto 30px !important;
            }
          }
        }
    }
</style>
