<template>
    <SideTabs v-if="!isMobile" class="work" :tabs="tabs"></SideTabs>
  <div v-else class="wrapper-md">
    <div class="choose-topic">
      Choose a medical care & Insurance topic
    </div>
    <a v-for="(tab, i) in tabs" :key="tab.data.slug" class="topic-button" @click="onSelectTab(i)">
      {{ tab.data.label }}
      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1.3335L5.66667 6.00016L1 10.6668" stroke="#24262F" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <b-modal v-model="tabModal" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
      <modal
        hide-header
        hide-sidebar
        :content-options="{
              background: '#F5F5F6'
            }"
        :mobile-header-options="{
              title: 'Medical care & insurance'
            }"
        full-screen
        @close="tabModal = false"
      >
        <SideTabs style="padding-bottom: 112px" v-model="activeTabIndex" is-mobile class="info mobile" :tabs="tabs"></SideTabs>
        <template #mobileFooter>
          <footer-mobile>
            <div class="tabs-controller">
              <a @click="activeTabIndex <= 0 ? undefined : activeTabIndex--" class="tabs-controller__prev" :class="{
                    disabled: activeTabIndex <= 0
                  }">
                <svg style="transform: scaleX(-1)" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Previous
              </a>
              <a @click="tabs.length <= activeTabIndex + 1 ? undefined : activeTabIndex++" class="tabs-controller__next" :class="{
                    disabled: tabs.length <= activeTabIndex + 1
                  }">
                Next
                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 5.99998H1M8.33333 1.33331L13 5.99998L8.33333 1.33331ZM13 5.99998L8.33333 10.6666L13 5.99998Z" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </footer-mobile>
        </template>
      </modal>
    </b-modal>
  </div>
</template>
<script>
export default {
    props: {
      isMobile: {
        type: Boolean,
        default: false
      },
      tabs: Array
    },
    data() {
        return {
          tabModal: false,
          activeTabIndex: 0,
            // tabs: [
            //     {
            //         label: 'Work Durring Studies in Latvia',
            //         slug: 'workDuring',
            //         content: [
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         body: 'International students are allowed to work in Latvia during studies, but be aware that there are some restrictions depending on your study level.'
            //                     },
            //                     {
            //                         type: 'seperator',
            //                         classes: 'mt-20 mb-20'
            //                     },
            //                     {
            //                         type: 'title',
            //                         classes: 'mb-10',
            //                         body: 'Full-time Bachelor’s students have the right to work'
            //                     },
            //                     {
            //                         type: 'ul',
            //                         list: [
            //                             'for <span class="purple">up to 20 hours per week</span> (part-time) during studies.',
            //                         ]
            //                     },
            //                     {
            //                         type: 'title',
            //                         classes: 'mt-20 mb-10',
            //                         body: "Full-time master's or doctoral students have the right to work"
            //                     },
            //                     {
            //                         type: 'ul',
            //                         list: [
            //                             '<span class="purple">40 hours per week</span> (full-time) during the study break.'
            //                         ]
            //                     },
            //                 ]
            //             },
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'There are exceptions if you have different kind of visa or residence permit.'
            //                     },
            //                     {
            //                         type: 'link',
            //                         link: {
            //                             text: 'Find out more about immigration law here',
            //                             href: 'https://likumi.lv/ta/en/en/id/68522-immigration-law'
            //                         }
            //                     },
            //                     {
            //                         type: 'title',
            //                         classes: 'mb-20 mt-20',
            //                         body: 'Sites for job searching: '
            //                     },
            //                     {
            //                         type: 'ul-links',
            //                         list: [
            //                             {
            //                                 text: 'https://www.cv.lv/en/;',
            //                                 href: 'https://www.cv.lv/en/'
            //                             },
            //                             {
            //                                 text: 'https://www.yourmove.lv/;',
            //                                 href: 'https://www.yourmove.lv/'
            //                             },
            //                             {
            //                                 text: 'https://visidarbi.lv/en/',
            //                                 href: 'https://visidarbi.lv/en/'
            //                             }
            //                         ]
            //                     }
            //                 ]
            //             },
            //         ]
            //     },
            //     {
            //         label: 'Work After Studies in Latvia',
            //         slug: 'workAfter',
            //         content: [
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'title',
            //                         classes: 'mb-10',
            //                         body: "Full-time bachelor's students receive a residence permit for:"
            //                     },
            //                     {
            //                         type: 'ul',
            //                         list: [
            //                             'the study period and an <span class="purple">additional 4 months</span> after the end of studies (graduation). These additional 4 months are provided with the aim to apply for master’s studies or to find a job.'
            //                         ]
            //                     },
            //                     {
            //                         type: 'title',
            //                         classes: 'mt-20 mb-10',
            //                         body: "Full-time master's and doctoral students receive a residence permit for:"
            //                     },
            //                     {
            //                         type: 'ul',
            //                         list: [
            //                             'the study period and an <span class="purple">additional 4 months</span>, with the possibility to request an additional extension for 9 months to look for a job. This must be done in advance before the previous permit has expired.'
            //                         ]
            //                     },

            //                 ]
            //             },
            //             {
            //                 boxes: [
            //                     {
            //                         type: 'text',
            //                         classes: 'mb-20',
            //                         body: 'The Office of Citizenship and Migration Affairs of Latvia examines each individual application and the decision is taken based on the information provided. Therefore, this extension is not guaranteed.'
            //                     },
            //                     {
            //                         type: 'link',
            //                         link: {
            //                             text: 'Informative guide here',
            //                             href: 'http://workinlatvia.liaa.gov.lv/in.php'
            //                         }
            //                     },
            //                     {
            //                         type: 'icon-text',
            //                         icon: '/images/icons/warning.svg',
            //                         classes: 'mb-20 mt-20',
            //                         body: 'The work permit must be obtained in close cooperation with an employer who is ready to enter into an employment contract with the student.'
            //                     },
            //                 ]
            //             },
            //         ]
            //     }
            // ]
        }
    },
    methods: {
      onSelectTab(i) {
        this.activeTabIndex = i
        this.tabModal = true
      }
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
    .work {
    }
</style>
