<template>
    <b-collapse class="tab-card" animation="slide" :aria-id="tab.slug" :open='false'>
        <template #trigger="props">
            <div
                class="tab-card-header"
                role="button"
                :aria-controls="tab.slug">
                <p class="card-header-title">
                    {{tab.label}}
                </p>
                <a class="card-header-icon">
                    <b-icon
                        :icon="props.open ? 'menu-down' : 'menu-up'">
                    </b-icon>
                </a>
            </div>
        </template>
        <div class="card-content collapse-body">
            <div v-for="(container,index) in tab.content" :key="index" class="boxContainer">
                <div v-for="(boxItem,index) in container.boxes" :key="index" class="boxItem" :class="boxItem.type == 'seperator' ? 'seperator ' + boxItem.classes : ''">
                    
                    <div v-if="boxItem.type == 'raw-text'" :class="boxItem.classes" v-html="boxItem.body"></div>
                    
                    <div v-else-if="boxItem.type == 'collapse'">
                        <div class="content" v-html="boxItem.body[0].text"></div>
                    </div>
                   
                   <p v-else-if="boxItem.type == 'text'" class="small-text ml" :class="boxItem.classes" >{{boxItem.body}}</p>
                    
                    <p v-else-if="boxItem.type == 'title'" class="box-title small-text ml" :class="boxItem.classes" >{{boxItem.body}}</p>
                    
                    <ul v-else-if="boxItem.type == 'ul'" :class="boxItem.classes">
                        <li v-for="(boxItemList,index) in boxItem.list" :key="index"><p class="small-text ml" v-html="boxItemList"></p></li>
                    </ul>
                    
                    <div v-else-if="boxItem.type == 'icon-text'" :class="boxItem.classes" class="icon-text" >
                        <p class="small-text ml"><img :src="boxItem.icon" alt="">{{boxItem.body}}</p>
                    </div>
                    
                    <div v-else-if="boxItem.type == 'img'" class="img-block" :class="boxItem.classes">
                        <img :src="boxItem.body" alt="">
                    </div>
                    
                    <div v-else-if="boxItem.type == 'icon-text-raw'" :class="boxItem.classes" class="icon-text-raw" >
                        <img :src="boxItem.icon" alt="">
                        <div v-html="boxItem.body"></div>
                    </div>
                    
                    <div v-else-if="boxItem.type == 'table-row-3'" class="table-row-3" :class="boxItem.classes">
                        <p class="small-text">{{boxItem.col01}}</p>
                        <div class="second-col">
                            <p class="small-text">{{boxItem.col02}}</p>
                            <div class="third-col">
                                <p>{{boxItem.col03}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <ul v-else-if="boxItem.type == 'ul-links'" :class="boxItem.classes">
                        <li v-for="(boxItemList,index) in boxItem.list" :key="index"><a class="underline-link small-text ml" :href="boxItemList.href">{{boxItemList.text}}</a></li>
                    </ul>
                    
                    <a v-else-if="boxItem.type == 'link'" :class="boxItem.classes" :href="boxItem.link.href" class="underline-link small-text ml link">{{boxItem.link.text}}</a>
                    
                    <div v-else-if="boxItem.type == 'card-button'" class="card-button" :class="boxItem.classes">
                        <div class="left">
                            <p class="small-text">{{boxItem.title}}</p>
                            <p class="tiny-text">{{boxItem.subtext}}</p>
                        </div>
                        <a :href="boxItem.button.href" class="tiny-text">{{boxItem.button.text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </b-collapse>
</template>
<script>
export default {
    props: {
        tab: {
            type: Object,
            default: () => {
                return [];
            },
        }
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    },
};
</script>
<style lang="scss" scoped>
.tab-card {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    .collapse-body {
        .boxItem {
            .small-text, a {
                color: $ui-regular;
                &.box-title {
                    margin-bottom: 20px;
                    color: $ui-contrast;
                    font-weight: 500;
                }
            }
            ul {
                list-style-type: disc;
                padding-left: 20px;
                ul {
                    list-style-type: disc;
                }
            }
            .link {
                margin-top: 20px;
            }
            .icon-text, .icon-text-raw {
                display: flex;
                align-items: center;
                align-content: center;
                img {
                    margin-right: 7px;
                }
            }
            .img-block {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .table-row-3 {
                display: flex;
                align-content: center;
                align-items: center;
                padding-left: 25px;
                padding-right: 5px;
                border-radius: 25px;
                height: 50px;
                background-color: #fff;
                p {
                    color: $ui-regular;
                }
                &:first-child {
                    margin-right: auto;
                }
                .second-col {
                    height: 40px;
                    width: 170px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    padding-left: 30px;
                    border-radius: 25px;
                    background-color: #EDEEF1;
                    margin-right: 0px;
                    margin-left: auto;
                    .third-col {
                        width: 80px;
                        margin-right: 0px;
                        margin-left: auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        background-color: #292D3D;
                        border-radius: 25px;
                        p {
                            color: #fff;
                        }
                    }
                }
            }
            &.seperator {
                width: 100%;
                height: 1px;
                background-color: #E1E4EA;
            }
            .card-button {
                display: flex;
                align-items: center;
                align-content: center;
                background-color: $white;
                border-radius: 15px;
                padding-top: 19px;
                padding-bottom: 19px;
                padding-right: 25px;
                margin-bottom: 10px;
                .left {
                    margin-right: auto;
                    .small-text {
                        color: $ui-contrast;
                        margin-bottom: 5px;
                        font-weight: 500;
                    }
                    .tiny-text {
                        color: $ui-regular;
                    }
                }
                a {
                    color: $ui-regular;
                    font-weight: 500;
                    padding: 4px 10px 6px 10px;
                    border-radius: 20px;
                    border: 1px solid #EDEEF1;
                }
            }
        }
        .boxContainer {
            &:not(:first-child) {
                @media (max-width: 1023px) {
                    margin-top: 25px;
                }
            }
        }
    }
}
    
</style>