<template>
  <div
    class="color-bg-img"
    :class="{fullpage: fullpage, 'half-screen': halfscreen, alignBottom: alignBottom}"
    :style="{ backgroundColor: color }"
  >
    <div
      class="img-wrapper"
      :style="{ backgroundImage: 'url(' + img + ')' }"
    ></div>
    <div
      class="is-hidden-tablet gradient"
      :style="{ background: 'linear-gradient(0deg ,' + color + ',#00000000)' }"
    ></div>
    <div
      :class="[fullpage ? 'wrapper-md' : 'wrapper', { 'align-right': isRight }]"
      class="container"
    >
      <div class="text">
        <h1 v-if="fullpage" class="hero">{{title}}</h1>
        <h2 v-else class="hero">{{ title }}</h2>
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
import {convertToBoolean} from "~/plugins/helpers"
export default {
  props: {
    color: null,
    img: null,
    title: null,
    fullpage: null,
    halfscreen: {
      type: Boolean,
      default: false,
    },
    right: null,
    alignBottom: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
  methods: {},
  computed: {
    isRight() {
      if (this.right !== null) {
        return convertToBoolean(this.right)
      } else {
        return false
      }
    },
  },
  mounted() {
  },
};
</script>
<style lang="scss" scoped>
.color-bg-img {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  position: relative;
  border-radius: 60px;
  overflow: hidden;

  // &:not(.fullpage) {
  //   @include fullhd() {
  //     max-width: 65vw;
  //     margin-left: auto;
  //     margin-right: auto !important;
  //   }
  // }

  .gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: 2;
  }

  &.fullpage {
    height: 100vh;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    &.half-screen {
      height: 50vh;
    }
  }

  &.alignBottom {

    .wrapper-md {
      @include mobile {
        align-items: flex-end;
      }
    }
  }

  &.vertically-content-bottom {
    @include mobile {
      .wrapper, .wrapper-md {
            align-items: flex-end !important;
          }
    }
  }

  .img-wrapper {
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    z-index: 1;
    background-position-y: bottom;
  }
  .wrapper,
  .wrapper-md {
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;

    .text {
      max-width: 520px;
      flex: 0 0 520px;
      margin-top: auto;
      margin-bottom: auto;
      h1,h2,p {
        color: $white;
      }
    }
    .text {
      margin-left: 115px;
      @media (max-width: 1100px) {
        margin-left: 50px;
      }
      @media (max-width: 700px) {
        margin-left: 15px;
      }
    }

    &.align-right {
      .text {
        margin-left: auto;
        margin-right: 35px;
      }
    }

    @media (max-width: 550px) {
      .text {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-left: 0px;
        margin-right: 0px;

        h2,p {
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .img-wrapper {
      left: unset;
      transform: unset;
      right: unset;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
    }

    .wrapper {
      width: 100%;
    }

    .text {
      width: 100%;
      margin: 0 !important;

      p,
      h2,
      .hero {
        width: 100% !important;
      }
    }
  }

  @media (max-width: 550px) {
    border-radius: 25px;
    padding-bottom: 30px;
    // padding-top: 276px;

    margin-left: 15px;
    margin-right: 15px;
    .wrapper,
    .wrapper-md {
      .text {
        .link {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
</style>
