<template>
  <div class="copyable-link">
    <div class="ellipsize-left copyable-link__text">
      {{ link }}
    </div>
    <a class="copyable-link__button" @click="copyText(link)">
      <template v-if="linkCopied">
        <img class="copy-icon" src="/images/icons/check-success.svg" alt=""><span style="color: #00B712">Copied!</span>
      </template>
      <template v-else>
        <img class="copy-icon" src="/images/icons/copy.svg" alt="">Copy link
      </template>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: ''
    },
  },
  data() {
    return {
      linkCopied: false
    }
  },
  methods: {
    copyText(text) {
      this.$copyText(text).then(() => {
        this.linkCopied = true
        setTimeout(() => this.linkCopied = false, 5000)
      }).catch(() => {
        this.$buefy.toast.open({
          duration: 5000,
          message: `Could not copy <a style="color: white" href="${text}" target="_blank">${text}</a>, try to copy the link yourself.`,
          position: 'is-bottom',
          type: 'is-warning'
        })
      })
    }
  },
}
</script>

<style lang="scss">
.copyable-link {
  &:not(:last-child) {
    margin-bottom: 7px;
  }
  position: relative;
  padding: 12px 10px 13px 10px;
  @media screen and (max-width: 950px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 950px) {
    font-size: 0.938rem;
  }
  min-height: 40px;
  line-height: 100%;
  white-space: nowrap;
  border-radius: 10px;
  color: $ui-weak;
  overflow-x: hidden;
  background: $ui-details;
  &__text {
    width: 100%
  }

  &__button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: $white;
    font-size: 0.75rem;
    height: 30px;
    width: 87px;
    border-radius: 10px;
    line-height: 100%;
    color: $ui-accent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

    .copy-icon {
      margin-right: 6px
    }
  }
}
</style>
