<template>
  <b-datepicker ref="datePicker" @change-month="e => this.focusedDateData.month = e" @change-year="e => this.focusedDateData.year = e" v-model="date" v-bind="$attrs" :first-day-of-week="1" inline range>
    <template #header>
      <div class="presets">
        <b-tag @click.native="usePreset('week')">This Week</b-tag>
        <b-tag style="margin: 0 4px" @click.native="usePreset('month')">This Month</b-tag>
        <b-tag @click.native="usePreset('year')">This Year</b-tag>
      </div>
      <div class="controls">
        <button class="controls__chevron" @click="$refs.datePicker.prev()">
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5 8.5L1 5L4.5 1.5" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="controls__current">
          {{ currentMonth }}
        </div>
        <button class="controls__chevron" @click="$refs.datePicker.next()">
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 1.5L5 5L1.5 8.5" stroke="#0E0F14" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </template>
    <div class="columns is-gapless is-mobile">
      <div class="column is-two-fifths" style="margin-right: 10px;">
        <button class="btn btn-round btn-s btn-white pa-0" style="width: 100%; box-sizing: border-box"  @click="onConfirm(null)">
          Reset
        </button>
      </div>
      <div class="column is-three-fifths">
        <button class="btn btn-round btn-s btn-purple pa-0" style="width: 100%; box-sizing: border-box" @click="onConfirm([...date])">
          Confirm
        </button>
      </div>
    </div>
  </b-datepicker>
</template>

<script>
export default {
  data() {
    return {
      focusedDateData: {
        year: this.$dayjs().year(),
        month: this.$dayjs().month()
      },
      date: []
    }
  },
  // props: {
  //   value: {
  //     type: Array,
  //     default: []
  //   },
  // },
  watch: {
    '$refs.datePicker.focusedDateData': {
      deep: true,
      handler (newVal) {
        this.focusedDateData = newVal
      }
    }
  },
  computed: {
    // date: {
    //   get () {
    //     return this.value
    //   },
    //   set (newVal) {
    //     this.$emit('input', newVal)
    //   }
    // },
    currentMonth () {
      const { year, month } = this.focusedDateData || {}
      return this.$dayjs(new Date(year, month)).format('MMMM YYYY')
    }
  },
  methods: {
    usePreset(unit) {
      this.date = [this.$dayjs().startOf(unit).add(unit === 'week' ? 1 : 0, 'day').toDate(), this.$dayjs().endOf(unit).add(unit === 'week' ? 1 : 0, 'day').toDate()]
    },
    onConfirm(newVal) {
      this.$emit('input', newVal)
      this.reset()
    },
    reset() {
      this.date = []
    }
  },
}
</script>
