<template>
  <NuxtLink :to="to" class="event-box">
    <p class="tiny-text is-capitalized event-type">{{post.category.title}}</p>
    <EventLocation :event="post" />
    <div style="display: flex; align-items: center">

      <p class="date h2" style="margin-right: 10px">
        {{ date }}
      </p>

      <SingleTag
        v-for="(tag, index) in post.tags" :key="tag.id"
        class="tiny-text medium tag"
        v-bind="tag"
      />

    </div>

    <p class="small-text ml event-title">{{ post.title }}</p>

    <button class="link underline-link tiny-text">
      More about event
    </button>

  </NuxtLink>
</template>
<script>
import EventLocation from "~/components/pages/news/EventLocation";
import SingleTag from "~/components/pages/news/SingleTag";

export default {
  components: { SingleTag, EventLocation },

  props: {
    post: Object,
  },

  computed: {
    to() {
      return {
        name: 'article-tab-slug',
        params: {
          tab: 'events',
          slug: this.post.slug
        }
      };
    },

    date() {
      return this.$dayjs(this.post.starts_at).format("DD MMMM");
    },
  },
};
</script>
<style lang="scss" scoped>
.event-box {
  display: block;
  width: 100%;

  .event-type {
    color: $ui-weak;
  }
  .location {
    margin-top: 8px;
    margin-bottom: 3px;
    display: flex;
    img {
      margin-right: 5px;
    }
  }
  .date {
    color: $ui-contrast;
    text-transform: capitalize;
  }
  .event-title {
    color: $ui-regular;
    margin-top: 5px;
    margin-bottom: 11px;
  }
}
</style>
