<template>
    <div class="event" v-if="event">
        <p class="tiny-text upper event-type">{{_safeGet(event, 'category.title')}}</p>
        <p class="h2 event-title">{{event.title}}</p>
        <div class="date-n-btn">
            <div class="date-box">
                <p class="tiny-text upper bold">{{month}}</p>
                <p class="ultra">{{day}}</p>
            </div>
            <NuxtLink :to="{
              name: 'article-tab-slug',
              params: {
                tab: 'events',
                slug: event.slug
              }
            }" class="link small-text medium btn btn-round btn-m btn-black">
                About Event
            </NuxtLink>
        </div>
    </div>
</template>
<script>
import helperMixins from '~/mixins/global.js'
export default {
    props: {
        event:null
    },
    mixins: [helperMixins],
    computed: {
        month() {
          let month = this.$dayjs(this.event.starts_at).format('MMMM');
          return month;
        },
        day() {
            let day = this.$dayjs(this.event.starts_at).format('DD');
            return day
        }
    },

};
</script>
<style lang="scss" scoped>
    .event {
        max-width: 384px;
        width: 384px;
        .event-type {
            margin-bottom: 15px;
            color: $ui-weak;
        }
        .event-title {
            color: $ui-contrast;
        }

        .date-n-btn {
            margin-top: 40px;
            display: flex;
            .date-box {
                background-color: $mint;
                border-radius: 30px;
                overflow: hidden;
                width: 200px;
                height: 170px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                p {
                    color: $white;
                }
            }
            .link {
                margin-left: auto;
                margin-right: 0px;
            }
        }

        .link {
          white-space: nowrap;
        }

        @media (max-width: 500px) {
            .date-n-btn {
                .date-box {
                    width: 173px;
                    height: 127px;
                }
                .link {
                    margin-top: auto;
                    margin-bottom: 0px;
                }
            }
        }
    }
</style>
