<template>
  <HighlightGallery
    v-if="highlightGallerySlides.length > 0"
    :slides="highlightGallerySlides"
    :infinite="infinite"
    isStudentsPage
  />
</template>

<script>
import HighlightGallery from "~/components/partials/HighlightGallery";
import { safeGet, mapTestimonialsAndStories } from "~/plugins/helpers.js";

function mapHelper(item, tabSlug) {
  return {
    country: safeGet(item, "country.title"),
    countryFlag: safeGet(item, "country.short_code"),
    name: `${safeGet(item, 'name')} ${safeGet(item, 'surname')}`,
    quote: item.title,
    image: item.image,
    to: {
      name: "article-tab-slug",
      params: {
        tab: tabSlug,
        slug: item.slug,
      },
    },
  };
}

export default {
  components: { HighlightGallery },
  props: {
    testimonials: {
      type: Array,
      default: () => {
        [];
      },
    },
    stories: {
      type: Array,
      default: () => {
        [];
      },
    },

    infinite: {
      type: Boolean,
      default: false,
    },

    isStudentsPage: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    highlightGallerySlides() {
      let testimonialList = [];
      let storieslList = [];

      if (this.testimonials && this.testimonials.length > 0) {
        testimonialList = this.testimonials.map( item => {
          return mapTestimonialsAndStories(item, 'student-testimonials')
        });
      }
      if (this.stories && this.stories.length > 0) {
        storieslList = this.stories.map( item => {
          return mapTestimonialsAndStories(item, 'experience-stories')
        });
      }

      return [...testimonialList, ...storieslList];
    },
  },
};
</script>
