<template>
  <section :class="title == 'Badges' ? 'badges-commented-out' : ''">
    <div
      v-if="showModal"
      :style="{
        zIndex: showModal ? 400 : 1,
      }"
      class="modal-background"
      @click="isDropdownOpen = false"
    />
    <div v-if="isSwitch" class="card is-shadowless">
      <div class="card-header is-shadowless" role="button">
        <p class="card-header-title">
          {{ title }}
        </p>
        <a class="card-header-icon">
          <!-- <b-switch v-model="filterValue" true-value="1" false-value="0" /> -->

          <!-- @todo: Cant getback to indeterminate state :(  -->
          <b-checkbox
            class="toggle-checkbox"
            v-model="filterValue"
            :indeterminate="filterValue === '0'"
            true-value="1"
            false-value="0"
          />
        </a>
      </div>
    </div>

    <div
      :style="{
        zIndex: showModal ? 500 : 1,
      }"
      v-else
      style="position: relative; min-height: 70px"
    >
      <b-collapse
        :open.sync="isDropdownOpen"
        class="card is-shadowless"
        animation="slide"
        :style="{
          position: absoluteDropdown ? 'absolute' : 'initial',
          width: '100%',
        }"
      >
        <template #trigger="props">
          <button class="card-header is-shadowless" role="button">
            <p
              class="card-header-title"
              :class="{
                'accent--text': isDropdownOpen,
              }"
            >
              {{ filterTitle }}
            </p>
            <a class="card-header-icon">
              <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"> </b-icon>
            </a>
        </button>
        </template>
        <hr class="solid my-0 hide-on-mobile" />
        <div class="card-content">

          <template v-if="isDatePicker">
            <DatePicker
              ref="datePicker"
              style="margin-top: -7px"
              v-model="filterValue"
              @input="isDropdownOpen = false"
            />
          </template>

          <template v-else>
            <div v-for="(filter, index) in filters" :key="index" class="mb-2">
              <b-checkbox
                style="width: 100%"
                v-model="filterValue"
                :native-value="filter.slug"
              >
                {{ filter.title }} <b-tag>{{ filter.count }}</b-tag>
              </b-checkbox>
            </div>
            <div
              v-if="filterList.length > filtersToShow"
              :style="{ textAlign: loadMoreRight ? 'right' : 'left' }"
              style="width: 100%"
            >
              <a @click="filtersToShow += 15" class="load-more"> Load more </a>
            </div>
          </template>
        </div>
      </b-collapse>
    </div>
  </section>
</template>

<script>
import slugify from "slugify";
import DatePicker from "./DatePicker";

import {FD, FShorterDate} from '~/plugins/helpers';

export default {
  components: { DatePicker },
  props: {
    title: {
      type: String,
      default: "PLACEHOLDER",
    },
    filterList: {
      type: Array,
      default: () => [],
    },
    isDatePicker: {
      type: Boolean,
      default: false,
    },
    isSwitch: {
      type: Boolean,
      default: false,
    },
    loadMoreRight: {
      type: Boolean,
      default: false,
    },
    showSelected: {
      type: Boolean,
      default: false,
    },
    absoluteDropdown: {
      type: Boolean,
      default: false,
    },

    slug: {
      type: String,
      default: "PLACEHOLDER",
    },
    value: null,
  },
  data() {
    return {
      isDropdownOpen: false,

      filtersToShow: 15,

      filterTypes: {
        switch: {
          model: false,
        },
        list: {
          model: [],
        },
      },
    };
  },

  watch: {
    isDropdownOpen(newValue) {
      if (newValue && this.isDatePicker) {
        this.$refs.datePicker.reset();
      }
    },
  },

  computed: {
    showModal() {
      return this.isDatePicker && this.isDropdownOpen && this.absoluteDropdown;
    },

    filters() {
      return this.filterList.slice(0, this.filtersToShow);
    },

    /**
     * Currently only 2 types of filters,
     * this will probably grow
     */
    filterValue: {
      set(newValue) {

        // Specially for switch
        if (this.isSwitch) {
          this.filterTypes.switch.model = newValue === null ? false : newValue;
        }

        // Specially for date picker
        else if (this.isDatePicker) {
          if (newValue === null) {
            this.filterTypes.list.model = [];
          } else {
            this.filterTypes.list.model = typeof newValue === "object" ? newValue : [newValue];
          }
        }

        // All other (basically list filter)
        else {
          if (newValue === null) {
            this.filterTypes.list.model = [];
          } else {
            this.filterTypes.list.model =
              typeof newValue === "object" ? newValue : [newValue];
          }
        }

        this.update();
      },

      get() {
        // Specially for switch
        if (this.isSwitch) {
          return this.filterTypes.switch.model;
        }

        // Specially for date picker
        else if (this.isDatePicker) {
          return this.filterTypes.list.model;
        }

        // All other (basically list filter)
        else {
          return this.filterTypes.list.model;
        }
        return null;
      },
    },

    filterTitle() {
      if (this.showSelected && this.filterValue && this.filterValue.length) {
        const [first, second, ...rest] = this.filterValue;
        if (this.isDatePicker) {
          return first === second
            ? this.$dayjs(first).format(FD)
            : this.$dayjs(first).format(FD) +
                " - " +
                this.$dayjs(second).format(FD);
        } else {
          return this.title;
          // TOFIX: this doesn't work if there are 2 filters with multiple options and one has 2 or more values, the other 1
          const firstTitle = this.filterList.find(
            (filter) => filter.slug === first
          ).title;
          if (second) {
            const secondTitle = this.filterList.find(
              (filter) => filter.slug === second
            ).title;
            return rest && rest.length
              ? `${firstTitle}, ${secondTitle} and ${rest.length} more`
              : `${firstTitle} and ${secondTitle}`;
          } else {
            return firstTitle;
          }
        }
      }

      return this.title;
    },

    slugifiedTitle() {
      if (this.slug) {
        return this.slug
      }
      return slugify(this.title.toLowerCase());
    },
  },

  methods: {
    update() {
      const filterValue = this.filterValue;
      const slug = this.slugifiedTitle;

      let query = {};

      if (this.isDatePicker) {
        query[slug] = filterValue.map((day) => {
          return this.$dayjs(day).format(FShorterDate);
        });
      } else {
        query[slug] = filterValue
      }

      setTimeout(() => {
        this.setRouteQuery(query);
      }, 10);

      this.$emit("input", filterValue);
    },


    resetFilter() {
      this.filterTypes.switch.model = false;
      this.filterTypes.list.model = [];
      this.isDropdownOpen = false;
      this.update();
    },



    setRouteQuery(query) {
      // Make new URL
      this.$router.push({
        path: this.$route.fullPath,
        query,
      });
    },

    grabUrlQueries() {
      const slug = this.slugifiedTitle;

      if (this.$route.query[slug]) {

        if (this.isDatePicker) {
          this.filterValue = this.$route.query[slug].map((day) => {
            return this.$dayjs(day, FD);
          });
        } else {
          this.filterValue = this.$route.query[slug];
        }

        this.isDropdownOpen = true;
      }
    },
  },

  mounted() {
    const me = this;
    if (this.value) {
      this.filterValue = this.value;
    }

    this.$root.$on("resetAllFilters", function () {
      me.resetFilter();
    });

    this.grabUrlQueries();
  },
};
</script>

<style lang="scss" scoped>
.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(14, 15, 20, 0.1);
}
.card {
  @media screen and (max-width: 950px) {
    margin-bottom: 5px;
    border-radius: 20px;
  }
  @media screen and (min-width: 950px) {
    margin-bottom: 10px;
    border-radius: 30px;
  }
  &-header {
    &-title {
      @media screen and (max-width: 950px) {
        padding: 21px 20px;
        font-size: 0.75rem;
      }
      @media screen and (min-width: 950px) {
        padding: 21px 30px;
        font-size: 0.938rem;
      }
      font-style: normal;
      font-weight: normal;
      line-height: 100%;
      color: $ui-contrast;
    }
    &-icon {
      @media screen and (max-width: 950px) {
        padding: 18px 15px;
        .switch {
          margin: 3px -6px 3px 0;
        }
      }
      @media screen and (min-width: 950px) {
        padding: 18px 30px;
        .switch {
          margin: 3px -11px 3px 0;
        }
      }
    }
  }
  &-content {
    @media screen and (max-width: 950px) {
      padding: 0 19px 16px 19px;
      .tag {
        float: right;
      }
    }
    @media screen and (min-width: 950px) {
      padding: 16px 30px;
    }
    .tag:not(body) {
      color: $ui-regular;
      font-weight: 500;
      height: 16px;
      background: $ui-details;
      padding: 0 4px;
      margin-left: 2px;
    }
  }
  .load-more {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 100%;
    color: $ui-contrast;
  }
}
</style>
