<template>
  <img class="flag-image" :src="src" :style="{ '--flagHeight': `${size}px` }" :alt="alt">
</template>

<script>



export default {
  props: {
    country: Object,
    code: String,

    size: {
      type: Number,
      default: 17
    },
  },

  computed: {
    alt() {
      let code = null

      if (this.country) {
        code = this.country.short_code;
      }

      if (this.code) {
        code = this.code;
      }

      return code;
    },
    src() {
      let code = null

      if (this.country) {
        code = this.country.short_code;
      }

      if (this.code) {
        code = this.code;
      }

      if (code){
        return `https://flagcdn.com/${code.toLowerCase()}.svg`;
      }

      return null;
    }
  }
}
</script>

<style lang="scss" scoped>

  img.flag-image {
    // --flagHeight: 24px;

    display: inline-block;
    vertical-align: baseline;
    width: var(--flagHeight);
  }
</style>
