<template>
    <div class="highlighted-news">
        <div class="highlighted-news-container">
            <NewsBox
              v-for="(newsPost, index) in currentNews" :key="index"
              :post="newsPost"
            />
        </div>
        <div class="news-controls">
            <button v-if="news && news.length && news.length > toShow" @click="toShow += 3" class="load-more-btn small-text">
                Load More
                <img src="/images/icons/arrow-down.svg" alt="">
            </button>
            <NuxtLink v-if="routeIsHome" to="/news" class="load-all-btn small-text">
                All News
                <img src="/images/icons/arrow-right.svg" alt="">
            </NuxtLink>
            <button v-else class="load-all-btn small-text" @click="showAll">
                All News
                <img src="/images/icons/arrow-right.svg" alt="">
            </button>
        </div>
    </div>
</template>
<script>
import NewsBox from "./NewsBox";
export default {
  components: {NewsBox},
  props: {
      news:null,
      showAll: {
        type: Function,
        default: () => null
      }
    },
    data() {
        return {
            toShow: 3
        }
    },
    computed: {
        currentNews() {
            return this.news.slice(0, this.toShow)
        },
        routeIsHome() {
            if (this.$route.path == '/') {
                return true;
            } else {
                return false;
            }
        }
    },
};
</script>
<style lang="scss" scoped>
    .highlighted-news {
        border-radius: 30px;
        background-color: $white;
        .highlighted-news-container {
            width: 100%;
            padding: 20px 20px 20px 20px;
            .news-box {
                margin-bottom: 20px;
            }
        }
        .news-controls {
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
            border-top: 1px solid #F0F1F5;
            button {
                height: 19px;
                display: flex;
                align-content: center;
                align-items: center;
                img {
                    margin-left: 8px;
                    height: 80%;
                    width: auto;
                }
            }
            .load-more-btn {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            .load-all-btn {
                margin-left: auto;
                margin-right: 84px;
            }
            @media (max-width: 650px) {
                .load-more-btn {
                    left: 28px;
                    transform: unset;
                }
                .load-all-btn {
                    margin-right: 28px;
                }
            }
        }
    }
</style>
