<template>
    <div class="highlight-gallery">
        <h3 class="hero center is-hidden-desktop">Experience Stories</h3>

        <div class="info is-hidden-touch" v-if="activeSlide">
            <p v-if="activeSlide.country" class="small-text medium info-country">
              {{activeSlide.country}}
              <Flag v-if="activeSlide.countryFlag" :code="activeSlide.countryFlag"/>
            </p>
            <p v-if="activeSlide.name" class="h1 info-name">{{activeSlide.name}}</p>
            <div class="quote is-hidden-touch">
                <img class="top" src="/images/icons/quote-top.svg" alt="">
                <p v-if="activeSlide.quote" class="h3 q">{{activeSlide.quote}}</p>
                <img class="bot" src="/images/icons/quote-bot.svg" alt="">
            </div>
            <div class="btn btn-white btn-m slides-btn is-hidden-touch">
                <button class="prev-slide small-text" :class="{'disabled' : currentSlide == 0 && !infinite}" @click.prevent="prevSlide">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.125 9L10.875 12.75V5.25L7.125 9Z" fill="#0A0A0B"/>
                    </svg>
                    Previous
                </button>
                <button class="next-slide small-text" :class="{'disabled' : currentSlide == slides.length - 1 && !infinite}" @click.prevent="nextSlide">
                    Next
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.875 9L7.125 5.25V12.75L10.875 9Z" fill="#0A0A0B"/>
                    </svg>
                </button>
            </div>
        </div>

        <VueSlickCarousel
            ref="highlightGallery"
            v-if="showCarousel"
            @beforeChange="changeSlide"
            v-bind="slickOptions"
            class="overflow-hidden"
            :class="clickedNext ? 'clicked-next': 'clicked-prev'">
            <div class="slide" :class="isStudentsPage ? 'slide-'+index%3 : 'slide-'+index" v-for="(slide, index) in slides" :key="slideId(slide)">
                <div class="slide-wrapper">
                    <div class="video-wrapper">
                        <p v-if="activeSlide.country && index == currentSlide" class="small-text medium center info-country is-hidden-desktop mb-4">
                            {{activeSlide.country}}
                            <Flag v-if="activeSlide.countryFlag" :code="activeSlide.countryFlag"/>
                        </p>
                        <p v-if="activeSlide.name && index == currentSlide" class="h1 center info-name is-hidden-desktop">{{activeSlide.name}}</p>
                        <transition name="hide-header">
                            <p v-if="index !== currentSlide" class="h1 info-name">{{slide.name}}</p>
                        </transition>

                        <div class="media-wrapper">
                             <!-- <video
                                v-if="isVideo(slide.video)"
                                preload="auto"
                                :autoplay="false"
                                :muted="true"
                                :loop="true"
                                class="bg-video-wrapper"
                                :controls="index == currentSlide"
                                :poster="$statically(slide.image, 800)"
                                >
                                    <source :src="slide.video.path" type="video/mp4">
                            </video> -->

                            <NuxtLink v-if="slide.to" :to="slide.to" class="is-block"><img :src="$statically(slide.image, 800)" class="bg-video-wrapper no-pointer-events"></NuxtLink>
                            <img v-else :src="$statically(slide.image, 800)" class="bg-video-wrapper no-pointer-events">
                        </div>


                        <NuxtLink v-if="slide.to" :to="slide.to" class="link small-text btn btn-round btn-m btn-transparent is-hidden-touch">
                            Detailed Story
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.66602 11.3333L11.3327 4.66663" stroke="#5E33C1" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.66602 4.66663H11.3327V11.3333" stroke="#5E33C1" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </VueSlickCarousel>

        <div class="quote center is-hidden-desktop" v-if="activeSlide">
            <p v-if="isStudentsPage && activeSlide.country" class="small-text medium info-country mb-4">
              <Flag v-if="activeSlide.countryFlag" :code="activeSlide.countryFlag"/>
              {{activeSlide.country}}
            </p>
            <p v-if="activeSlide.name" class="h1 info-name mb-4">{{activeSlide.name}}</p>
            <img class="top" :class="isStudentsPage ? 'is-hidden' : ''" src="/images/icons/quote-top.svg" alt="">
            <p v-if="isStudentsPage && activeSlide.quote" class="h3 q">"{{activeSlide.quote}}"</p>
            <p v-else-if="activeSlide.quote" class="h3 q">{{activeSlide.quote}}</p>
            <img class="bot" :class="isStudentsPage ? 'is-hidden' : ''" src="/images/icons/quote-bot.svg" alt="">

            <NuxtLink v-if="activeSlide.to" :to="activeSlide.to" class="center mt-20 link small-text btn btn-round btn-m btn-transparent">
                Detailed Story
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.66602 11.3333L11.3327 4.66663" stroke="#5E33C1" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.66602 4.66663H11.3327V11.3333" stroke="#5E33C1" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </NuxtLink>
        </div>

    </div>
</template>
<script>

export default {
    props: {

        infinite: {
            type: Boolean,
            default: true
        },

        slides: {
            type: Array,
            default: () => {
                return [];
            },
        },

        isStudentsPage: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            showSlick: true,
            currentSlide: 1,
            clickedNext: false,
            slickOptions: {
                initialSlide: 1,
                arrows: false,
                infinite: this.infinite,
                pauseOnHover: true,
                dots: false,
                autoplay: false,
                variableWidth: true,
                draggable: false,
                responsive: [
                    {
                        breakpoint: 450,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            //23sept variableWidth correction , was false
                            variableWidth: true,
                        }
                    },
                ]
            },
        }
    },
    methods: {
        prevSlide() {
            this.$refs.highlightGallery.prev()
            this.clickedNext = false
        },
        nextSlide() {
            this.$refs.highlightGallery.next()
            this.clickedNext = true
        },
        changeSlide(slideIndex, nextSlide) {
            this.currentSlide = nextSlide
            if (slideIndex < this.currentSlide) {
                this.clickedNext = true
            } else {
                this.clickedNext = false
            }
        },
        slideId(slide) {
            let id = Math.floor(Math.random() * 100);
            return id;
        },
        isVideo(file) {
          if (file && file.path) {
            return file.path.indexOf('.mp4') > -1;
          }

          return false;
        }
    },
    computed: {
        showCarousel() {
            if (!this.showSlick) {
                return false;
            }
            let doShow = false;
            let slides = this.slides;

            if (slides.length > 0) {
                doShow = true;
            }
            return doShow;
        },

        activeSlide() {
            return this.slides[this.currentSlide]
        },


    },
    mounted() {
    },
    watch: {
        slides(newVal, oldVal) {
            let me = this;
            me.showSlick = false;
            this.$nextTick(() => {
                me.showSlick = true;
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    .highlight-gallery {
      margin-bottom: 30px;
        display: flex;
        .hero {
            margin-bottom: 30px;
        }
        .info {
            flex: 0 0 384px;
            max-width: 384px;
            top: 30px;
            margin-right: 108px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            .info-country,.quote p {
                color: $ui-regular;
            }
            .info-name {
                color: $ui-contrast;
                width: 226px;
                margin-top: 10px;
            }

            .slides-btn {
                margin-left: auto;
                margin-right: 0px;
                margin-top: auto;
                width: 302px;
                height: 60px;
                border-radius: 30px;
                padding: 0 47px;
                button {
                    max-width: 50%;
                    flex: 0 0 50%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    font-weight: 400;
                    color: $ui-void;
                    transition: color 0.3s ease;
                    svg path {
                        transition: fill 0.3s ease;
                    }
                    &.disabled {
                        color: #ABADB8;
                        svg path {
                            fill: #ABADB8;
                        }
                    }
                    &.next-slide {
                        justify-content: flex-end;
                        svg {
                            margin-left: 8px;
                        }
                    }
                    &.prev-slide {
                        svg {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        .quote {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .top {
                margin-left: 0px;
                margin-right: auto;
            }
            .bot {
                margin-left: auto;
                margin-right: 0px;
            }
        }
        .slide {
            position: relative;
            overflow: hidden;
            padding-left: 13px;
            padding-right: 13px;
            //23 sept carousel correction lines 276-283
            @media (max-width: 450px) {
                max-width: calc(100vw - 50px);
            }

            .slide-wrapper {
                @include mobile {
                    width: 100% !important;
                }
            }
            .video-wrapper {
              .info-name {
                  color: $ui-contrast;
                  margin-bottom: 15px;
                  padding-left: 10px;
              }

				      video.bg-video-wrapper,
              img.bg-video-wrapper {
                border-radius: 15px;
                overflow: hidden;
                height: 302px;
                width: 100%;
                object-fit: cover;
				      }
            }
            .link {
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                display: none;
            }
        }


        @media (max-width: 1023px) {
            flex-wrap: wrap;
            padding-left: 0px;
            margin-left: 0px;
            width: 100%;
            .info, .slick-slider{
                max-width: 100%;
                flex: 0 0 100%;
            }
            .info {
                .quote,.slides-btn {
                    display: none;
                }
                margin-bottom: 15px;
            }
            .quote {
                margin-top: 20px;
                padding: 20px 20px 0;
                width: 328px;
                p {
                    text-align: center;
                }
                .top,.bot {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        @media (max-width: 450px) {
            .slick-slide,.slick-slide.slick-active {
                .slide {
                    .video-wrapper, .video-wrapper .bg-video-wrapper {
                        .info-name {
                            display: none;
                        }
                        height: 445px !important;
                    }
                }
            }
            .info {
                p {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .quote {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
    }

    .no-pointer-events {
      pointer-events: none;
    }
</style>
