<template>
  <div class="highlighted-events">
    <EventBox
      v-for="(event, index) in displayEvents"
      :key="index"
      :post="event"
      class="event-box"
    ></EventBox>
  </div>
</template>

<script>
import EventBox from "~/components/partials/EventBox";

export default {
  components: { EventBox },

  props: {
    events: Array,
    skipFirst: Boolean,
  },

  computed: {
    displayEvents() {
      const showTotal = 5;
      const startFrom = (this.skipFirst) ? 1 : 0

      return this.events.slice(startFrom, showTotal);
    },
  },
};

</script>

<style lang="scss" scoped>
.highlighted-events {
  width: 100%;

}
.event-box {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}
</style>
