<template>
<div class="info-container">
  <p class="info-text">
    <img src="https://flagcdn.com/ua.svg" alt="UA" class="flag-image">
    Support for UA students
  </p>
  <a href="/ua/ua-student-support">More info</a>
</div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.info-container{
  width: 384px;
  height: 60px;
  background-color: $white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  // position: absolute;
  // top: 85%;
  // left: 50%;
  // transform: translateX(-50%)translateY(-50%);

  @include mobile {
    position: relative;
    width: 100%;
    top: unset;
    left: unset;
    transform: unset;
  }

  p.info-text{
    font-weight: 500;
    color: #24262F;
    display: flex;
    align-items: center;

    @include mobile {
      display: flex !important;
      align-items: center;
    }

  }

  a{
    font-weight: 500;
  }

  img.flag-image{
      display: inline-block;
      vertical-align: baseline;
      width: 20px;
      margin-right: 8px;
      border-radius: 3px;
    }


}

</style>