<template>
  <transition name="nav-transition">
    <form v-if="searching" class="search-box" @submit.prevent="doASearch">
      <label for="searchTwo">
        <img src="/images/icons/search.svg" alt="search" />
        <input
          placeholder="Search on this site"
          class="search-field"
          type="text"
          name="q"
          id="searchTwo"
          v-model="searchQuery"
          ref="searchInput"
          @blur="blurSearch"
        />
        <span>Search</span>
      </label>
      <b-button
        class="search-btn btn btn-round btn-m btn-black small-text medium"
        native-type="submit" :loading="is_sending" :disabled="isSearchDisabled"
        @click="btnBehaviour"
      >
        Find Now
      </b-button>

    </form>
  </transition>
</template>

<script>
export default {
  props: {
    value: Boolean,
    isMobile: Boolean
  },

  data() {
    return {
      is_sending:false,
      searchQuery: '',
      btnActive: false
    }
  },

  computed: {
    searching: {
      get() {
        if (this.value) {
          this.$nextTick(function() {
            this.$refs['searchInput'].focus();

            this.$refs['searchInput'].add
          })
        }

        return this.value
      },
      set(value) { this.$emit('input', value) },
    },

    isSearchDisabled() {
      // return false;
      return this.searchQuery.length < 4;
    }
  },

  methods: {
    doASearch() {
      if (this.isSearchDisabled) { return null;}

      if (this.$route.name == 'search') {

        this.$router.push({
          name: 'search',
          query: {
            q: this.searchQuery,
          }
        })

        this.$nextTick(function() {
          this.closeSearch();
        })

      } else {
        this.is_sending = true;

        this.$router.push({
          name: 'search',
          query: {
            q: this.searchQuery,
          }
        })
      }

    },

    blurSearch() {
      if (!this.isMobile && this.btnActive == false) {
        setTimeout(() => this.closeSearch(), 300)
      }
    },

    closeSearch() {
      this.searchQuery = '';
      this.searching = false;
    },
    btnBehaviour() {
      if (!this.isMobile) {
        this.btnActive = true;
        setTimeout(() => this.btnActive = false, 200);
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.search-box {
  height: 100%;
  width: 466px;
  //transition: width 0.3s ease 0.7s;
  // &.open {
  //     width: 300px;
  // }
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  @include mobile {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  label {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 0.3s ease;

    span {
      position: absolute;
      top:0;
      left: 0;
      transform: translateY(-100%);
      display: none;

      @include mobile {
        display: block;
      }
    }

    @include mobile {
      height: auto;
      margin-top: 20vh;
    }

    img {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 22px;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      height: 100%;
      font-size: 15px;
      color: $ui-contrast;
      font-family: $main-font;
      padding-left: 50px;
      width: 100%;

      @include mobile {
        height: 60px;
        border-bottom: 1px solid rgba($black, 0.2);
      }

      &::placeholder {
        font-size: 15px;
        color: $ui-weak;
        font-family: $main-font;
      }
    }
  }
  .search-btn,
  .search-btn[disabled] {
    transition: opacity 0.3s ease;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    white-space: nowrap;

    padding-top: 0;
    padding-bottom: 0;

    @include mobile {
      position: initial;
      box-sizing: border-box;
      transform: none;
      width: 100%;
    }
  }

  .search-btn[disabled] {
    background: rgba($black, 0.6);
    // opacity: 0;
  }
}
</style>
