<template>
  <NuxtLink :to="to" class="news-box">
    <div class="news-image" :style="cssStyles"></div>

    <div class="info">
      <div class="top">
        <div class="date-type">
          <p class="small-text">
            {{ $dayjs(post.published_at).format("DD.MM.YYYY") }}
          </p>
          <p class="tiny-text is-capitalized">news</p>
        </div>

        <SingleTag
          v-for="(tag, index) in post.tags" :key="tag.id"
          class="tag"
          v-bind="tag"
        />
      </div>
      <div class="bot">
        <p class="h2 news-title">{{ post.title }}</p>
        <button class="link small-text btn btn-round btn-m btn-white">
          Read Post
        </button>
      </div>
    </div>
  </NuxtLink>
</template>
<script>

import SingleTag from "~/components/pages/news/SingleTag"

export default {

  components: {SingleTag},

  props: {
      post: Object,
  },

  data() {
      return {
      }
  },
  methods: {
  },
  computed: {
    to() {
      return {
        name: 'article-tab-slug',
        params: {
          tab: 'news',
          slug: this.post.slug
        }
      };
    },
    cssStyles() {
      return {
        backgroundImage: `url(${ this.$statically(this.post.image) })`,
      }
    }
  },
  mounted() {
  }
};
</script>
<style lang="scss" scoped>
.news-box {
  display: flex;
  .news-image {
    min-width: 260px;
    width: 260px;
    height: 260px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-right: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .top {
      display: flex;
      padding-top: 1rem;

      .date-type {
        margin-left: 0px;
        margin-right: auto;

        p {
          color: $ui-weak;
          margin-top: 5px;
        }
      }
      .tag {
        margin-left: 8px;
      }
    }
    .bot {
      height: 100%;
      display: flex;
      flex-direction: column;
      .news-title {
        color: $ui-contrast;
        margin-top: 10px;
      }
      .link {
        margin-top: auto;
        margin-bottom: 20px;
      }
    }
  }
}
</style>
