<template>
  <div v-if="asButtons">
    <template v-for="(network, index) in networks" >
      <client-only>
        <ShareNetwork
          :key="index"
          :network="network"
          :url="url"
          :title="title"
          :description="description"
          :quote="quote"
          :hashtags="hashtags"
          class="btn btn-white btn-round " style="width: 100%; padding: 12px; margin-bottom: 5px"
        >
            <!-- <img src="/images/icons/tw.png?v=2.0" alt="Twitter" style="margin-right: 5px" /> Tweet on Twitter -->
          <img v-if="network == twitter" :src="`/images/icons/social/X.png`" style="margin-right: 5px; height: 20px; width: 20px"/>
          <img v-else :src="`/images/icons/social/${network}.svg`" style="margin-right: 5px; height: 20px; width: 20px"/> Share on {{network == 'twitter' ? 'X' : network}}
        </ShareNetwork>
      </client-only>
    </template>
  </div>
  <div v-else>
    <div class="sharing" >
      <button class="btn btn-round btn-m btn-white no-border pa-0 accent--text" @click.stop="toggle">
        <template v-if="!isOpen">
          Share
          <img style="margin-left: 7px" src="/images/icons/share-accent.svg" alt="Share" key="share-img">
        </template>

        <template v-else>
          <img src="/images/icons/close.svg" alt="Close" key="close-img"/>
        </template>
      </button>

      <div class="icons" :class="{isOpen}" >
        <transition name="fade">
          <div class="icons-wrap" v-if="isOpen">
            <template v-for="(network, index) in networks" >
              <client-only>
              <ShareNetwork
                class="icons-item"
                :key="index"
                :network="network"
                :url="url"
                :title="title"
                :description="description"
                :quote="quote"
                :hashtags="hashtags"
              >
                <img :src="`/images/icons/social/${network}.svg`" alt="Share">
              </ShareNetwork>
              </client-only>
            </template>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>

import {removeQueryAndHashtags} from '~/plugins/helpers.js';

export default {
  props: {
    expanded: {
      type: Boolean,
      default: false,
    },

    networks: {
      type: Array,
      default: () => [
        'facebook',
        'linkedin',
        'twitter',
      ],
    },

    url: {
      type: String,
      default: () => {
        return removeQueryAndHashtags(window.location.href)
      },
    },
    title: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: null,
    },
    quote: {
      type: String,
      default: '',
    },
    hashtags: {
      type: String,
      default: '',
    },
    asButtons: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isOpen: false,
    }
  },

  methods: {
    toggle() {
      if (this.isOpen) {
        this.close();
      } else {
        this.open();
      }
    },

    open() {
      this.isOpen = true;
      this.$nextTick(() => {
        document.addEventListener('click', this.close);
      })
    },

    close() {
      this.isOpen = false;
      this.$nextTick(() => {
        document.removeEventListener('click', this.close);
      })

    },
  },
}
</script>

<style lang="scss" scoped>
.sharing {
  position: relative;

}

.icons {
  display: none;
  align-items: center;

  background-color: $background;

  position: absolute;
  top: 0;
  right: 100%;

  width: 30px * 3;
  height: 100%;

  &-wrap {
    display: flex;
    align-items: center;
  }

  // opacity: 0;
  // transform: translateX(10px);

  // transition: opacity 200ms, transform 200ms;

  &.isOpen {
    display: flex;
  }

  img {
    display: block;
    width: 100%;
  }

  &-item {
    display: block;
    width: 30px;
    padding-right: 5px;
  }
}
//for modal-sidebar
.icons-opposite-direction .icons  {
    left: 56px;
  }
</style>
