<template>
    <b-tabs :vertical="!isMobile" class="side-tabs wrapper-md" ref="sideTab" v-model="activeTabIndex">
        <b-tab-item
          v-for="(tab, index) in tabs"
          :key="index"
          class="tab"
          :ref="tab.data.slug + 'Button'"
          :focusable="false">

            <template #header>
                <div class="tab-arrow">
                    <svg width="46" height="38" viewBox="0 0 46 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.7273 1.60633L27.6667 0.545672L25.5453 2.66699L26.606 3.72765L28.7273 1.60633ZM44 19.0003L45.0607 20.061C45.6464 19.4752 45.6464 18.5255 45.0607 17.9397L44 19.0003ZM26.606 34.273L25.5453 35.3337L27.6667 37.455L28.7273 36.3943L26.606 34.273ZM2 17.5003H0.5V20.5003H2V17.5003ZM26.606 3.72765L42.9393 20.061L45.0607 17.9397L28.7273 1.60633L26.606 3.72765ZM42.9393 17.9397L26.606 34.273L28.7273 36.3943L45.0607 20.061L42.9393 17.9397ZM44 17.5003H2V20.5003H44V17.5003Z" fill="#0E0F14"/>
                    </svg>
                </div>
                <button>{{tab.data.label}}</button>
            </template>

            <div class="tab-body" :ref="tab.data.slug + 'Tab'" :id="`${blockId(tab)}`">
              <div v-if="isMobile" class="tab-body__subtitle">
                {{ tab.data.label }}
              </div>

                <div v-for="(box,index) in tab.children" :key="index" class="tab-box" :class="{'full': convertToBool(box.data)}">
                  <div v-for="(boxItem,index2) in box.children" :key="index2" class="boxItem" :class="boxItem.data.type == 'seperator' ? 'seperator ' + boxItem.data.classes : ''">
                        <b-collapse v-if="boxItem.data.type == 'collapse'" :class="boxItem.data.classes" class="tab-card" animation="slide" :aria-id="boxItem.data.slug" :open='index === 0'>
                          <template #trigger="props">
                              <button
                                  class="tab-card-header"
                                  role="button"
                                  :aria-controls="boxItem.data.slug">
                                  <p class="card-header-title">
                                      {{boxItem.data.title}}
                                  </p>
                                  <a class="card-header-icon" :class="{'open' : props.open}">
                                      <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M10.6667 1L6.00001 5.66667L1.33334 1" stroke="#71737D" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </a>
                              </button>
                          </template>

                          <div class="card-content">
                              <div class="content" v-html="boxItem.data.body_html"></div>
                          </div>
                        </b-collapse>

                        <div v-else-if="boxItem.data.type == 'icon-text'" :class="boxItem.data.classes" class="icon-text" >
                            <p class="small-text ml">
                              <img :src="path(boxItem.data.img)" alt="">
                              {{boxItem.data.body}}
                            </p>
                        </div>

                        <div v-else-if="boxItem.data.type == 'img'" class="img-block" :class="boxItem.data.classes">
                            <img :src="path(boxItem.data.img)" alt="">
                        </div>

                        <div v-else-if="boxItem.data.type == 'icon-text-raw'" :class="boxItem.data.classes" class="icon-text-raw" >
                            <img :src="path(boxItem.data.img)" alt="">
                            <div v-html="boxItem.data.body_html"></div>
                        </div>

                        <div v-else-if="boxItem.data.type == 'table-row-3'" class="table-row-3" :class="boxItem.data.classes">
                            <p class="small-text">{{boxItem.data.col01}}</p>
                            <div class="second-col">
                                <p class="small-text">{{boxItem.data.col02}}</p>
                                <div class="third-col">
                                    <p>{{boxItem.data.col03}}</p>
                                </div>
                            </div>
                        </div>

                        <div v-else-if="boxItem.data.type == 'raw-text'" :class="boxItem.data.classes" v-html="boxItem.data.body_html"></div>

                        <p v-else-if="boxItem.data.type == 'text'" class="small-text ml" :class="boxItem.data.classes" >{{boxItem.data.body}}</p>
                        <p v-else-if="boxItem.data.type == 'title'" class="box-title small-text ml" :class="boxItem.data.classes" >{{boxItem.data.title}}</p>

                        <ul v-else-if="boxItem.data.type == 'ul'" :class="boxItem.data.classes">
                            <li v-for="(boxItemList,index) in boxItem.data.list_texts" :key="index" class="small-text ml" v-html="boxItemList.text"></li>
                        </ul>

                        <ul v-else-if="boxItem.data.type == 'ul-links'" :class="boxItem.data.classes">
                            <li v-for="(boxItemList,index) in boxItem.data.list_links" :key="index"><a class="underline-link small-text ml" :href="boxItemList.href">{{boxItemList.text}}</a></li>
                        </ul>

                        <a v-else-if="boxItem.data.type == 'link'" :class="boxItem.data.classes" :href="boxItem.data.link_href" target="_blank" class="underline-link small-text ml link">{{boxItem.data.link_text}}</a>

                        <div v-else-if="boxItem.data.type == 'card-button'" class="card-button" :class="boxItem.data.classes">
                            <div class="left">
                                <p class="small-text">{{boxItem.data.title}}</p>
                                <p class="tiny-text">{{boxItem.data.body}}</p>
                            </div>
                            <NuxtLink :to="boxItem.data.link_href" class="tiny-text">{{boxItem.data.link_text}}</NuxtLink>
                        </div>

                    </div>
                </div>
            </div>
        </b-tab-item>
    </b-tabs>
</template>
<script>
import slugify from "slugify";
import {convertToBoolean, mediaLibraryUrl} from "~/plugins/helpers"
export default {
    props: {
        isMobile: {
          type: Boolean,
          default: false
        },
        tabs: {
            type: Array,
            default: () => {
                return [];
            },
        },
      value: {
        type: Number,
      }
    },
    data() {
        return {
            valueIfUndefined: 0,
        }
    },
    methods: {
      blockId(block) {
        if (block.data !== null && block.data.hasOwnProperty('identificator') && block.data.identificator.length > 1) {
          return slugify(block.data.identificator.toLowerCase())
        } else {
          return block.id
        }
      },
      changeTab(tab, index) {
          if (typeof index !== 'undefined') {
              this.activeTabIndex = index;
          }
          this.$refs[tab][0].$refs.slick.goTo(0);
      },
      path(img) {
        return mediaLibraryUrl(img)
      },
      convertToBool(val) {
        if (val !== null) {
          return convertToBoolean(val.fullwidth)
        } else {
          return false
        }
      }
    },
    computed: {
      activeTabIndex: {
        get () {
          return this.value || this.valueIfUndefined
        },
        set (newVal) {
          this.valueIfUndefined = newVal;
          this.$emit('input', newVal)
        }
      }
    },
    mounted() {
      if (this.$route.hash) {
        const blockId = this.$route.hash.replace('#block-', '').replace('#', '');

        if (blockId && this.tabs) {
          this.tabs.forEach((tab, index) => {

            if (tab.id == blockId || this.blockId(tab) == blockId) {
              console.log("Found block in Hash");

              // this.value = index;
              this.activeTabIndex = index;

              setTimeout(() => {
                this.activeTabIndex = index;
              }, 300);

              // http://localhost:3000/scholarships#list-of-summer-schools

              console.log(this.$refs[tab.data.slug + 'Tab']);
            }
          });
        }
      }
    },
};
</script>
<style lang="scss">
.side-tabs {
  &.mobile {
    padding: 0;

    .tabs {
      display: none;
    }

    .tab-content {
      padding: 0;

      .tab-body__subtitle {
        flex: 0 0 100%;
        font-size: 0.75rem;
        line-height: 100%;
        color: $ui-weak;
        padding: 15px 20px;
      }

      .tab-box {
        padding: 0;

        .tab-card-header {
          justify-content: space-between;
          padding: 20px;

          .card-header-title,.card-header-icon {
            padding: 0
          }

          .card-header-title {
            font-weight: normal;
            font-size: 0.938rem;
            line-height: 130%;
            color: $ui-regular;
            max-width: 80%;
          }

        }
        .card-content {
          padding: 15px 20px 20px;
          p, li, a {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .tab-body {
    display: flex;
    flex-wrap: wrap;
    .tab-box {
      width: 50%;
      @media (max-width: 1050px) {
        width: 100%;
      }
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-left: 13px;
      padding-right: 13px;
      &.full {
          width: 100%;
      }
      .boxItem {
        > div.mobile-card {
          @media (max-width: 1050px) {
            margin: 0;
            padding: 20px 20px 25px;
            border-bottom: 1px solid $ui-details;
            background: $white;
            p, li {
              font-size: 0.75rem;
            }
          }
        }
        &:first-of-type {
          > div.mobile-card {
            border-radius: 20px 20px 0 0;
          }
        }
        &:last-of-type {
          > div.mobile-card {
            border-radius: 0 0 20px 20px;
          }
        }
        .small-text, a {
          // color: $ui-regular;

          &.box-title {
              color: $ui-contrast;
              font-weight: 500;
              &:not(.mb-10) {
                  margin-bottom: 20px;
              }
              &.mobile {
                padding: 0 20px;
              }
          }
      }

      .icon-text, .icon-text-raw {
          display: flex;
          align-items: center;
          align-content: center;
          img {
              margin-right: 7px;
          }
      }
      ul {
          list-style-type: disc;
          padding-left: 20px;
          ul {
              list-style-type: disc;
          }
      }
      .img-block {
          img {
              width: 100%;
              height: auto;
          }
      }
      .link {
          margin-top: 20px;
      }
      .table-row-3 {
          display: flex;
          align-content: center;
          align-items: center;
          padding-left: 25px;
          padding-right: 5px;
          border-radius: 25px;
          height: 50px;
          background-color: #fff;
          p {
              color: $ui-regular;
          }
          &:first-child {
              margin-right: auto;
          }
          .second-col {
              height: 40px;
              width: 170px;
              display: flex;
              align-items: center;
              align-content: center;
              padding-left: 30px;
              border-radius: 25px;
              background-color: #EDEEF1;
              margin-right: 0px;
              margin-left: auto;
              .third-col {
                  width: 80px;
                  margin-right: 0px;
                  margin-left: auto;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  align-content: center;
                  justify-content: center;
                  background-color: #292D3D;
                  border-radius: 25px;
                  p {
                      color: #fff;
                  }
              }
          }
      }
      &.seperator {
          width: 100%;
          height: 1px;
          background-color: #E1E4EA;
      }
      .card-button {
          display: flex;
          align-items: center;
          align-content: center;
          background-color: $white;
          border-radius: 15px;
          padding-top: 19px;
          padding-bottom: 19px;
          padding-right: 25px;
          margin-bottom: 10px;
          .left {
              margin-right: auto;
              .small-text {
                  color: $ui-contrast;
                  margin-bottom: 5px;
                  font-weight: 500;
              }
              .tiny-text {
                  color: $ui-regular;
              }
          }
          a {
              color: $ui-regular;
              font-weight: 500;
              padding: 4px 10px 6px 10px;
              border-radius: 20px;
              border: 1px solid #EDEEF1;
          }
          @media (max-width: 1050px) {
            padding: 20px 15px 25px;
            flex-direction: column;
            p.tiny-text {
              margin-bottom: 15px;
            }
            a {
              width: 100%;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }


}
</style>
