<template>
    <div class="small-gradient" :style="{ backgroundImage: 'url(' + img + ')' }">
        <div v-if="index" class="index" data-aos-duration="400" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-offset="50" :data-aos-delay="100*index"><p class="tiny-text">{{index}}</p></div>
        <div class="gradient" :style="{ background: 'linear-gradient(0deg ,' +color +',#00000000)'}">
            <p class="h1">{{title}}</p>
            <p class="small-text ml">{{body}}</p>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        index: null,
        color: null,
        img: null,
        title: null,
        body: null
    },
    data() {
        return {
        }
    },
    methods: {
        
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .small-gradient {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        width: 302px;
        height: 302px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        @media (max-width: 1050px) {
            border-radius: 10px;
        }
        .index {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 15px;
            background-color: $white;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            mix-blend-mode: screen;
            .tiny-text {
                font-weight: 600;
            }
        }
        .gradient {
            padding: 25px;
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
                text-align: center;
                color: $white;
                &.h1 {
                    margin-top: auto;
                    margin-bottom: 20px;
                }
                &.small-text {
                    margin-bottom: 0px;
                }
            }
        }
    }
</style>