<template>
    <div class="student-story">
        <div class="top">
            <div class="date-type">
                <!-- <p class="small-text">{{story.date}}</p> -->
                <p class="tiny-text upper">Student Experiences</p>
            </div>
            <img :src="$statically(story.image, 300)" class="circle-img" alt="">
        </div>
        <p class="h1 story-title">{{story.title}}</p>

        <NuxtLink :to="{
          name: 'article-tab-slug',
          params: {
            tab: 'experience-stories',
            slug: story.slug
          }
        }" class="link small-text medium btn btn-round btn-m btn-black">
            Read Student’s Story
        </NuxtLink>
    </div>
</template>
<script>
export default {
    props: {
        story: Object
    },
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .student-story {
        max-width: 466px;
        width: 466px;
        .top {
            display: flex;
            align-items: flex-end;
            align-content: flex-end;
            margin-bottom: 15px;
            .date-type {
                p {
                    color: $ui-weak;
                }
            }
            .circle-img {
                border-radius: 110px;
                overflow: hidden;
                width: 220px;
                height: 220px;
                min-width: 220px;
                margin-left: auto;
                margin-right: 0px;

                @media (max-width: 550px) {
                    min-width: 140px;
                    width: 140px;
                    height: 140px;
                }

                object-fit: cover;
            }
        }
        .story-title {
            color: $ui-contrast;
        }
        .link {
            margin-top: 40px;
        }
    }
</style>
