<template>
  <nuxt-link v-if="slug" :to="_to" class="study-row">
    <h4 class="study-row-title" v-if="_title">
      {{ _title }}
    </h4>
    <div class="study-row-subtitle">
      {{ _degree }} <span class="study-row-subtitle__link">Learn more</span>
    </div>
  </nuxt-link>

  <a v-else :href="_link" target="_blank" class="study-row">
    <h4 class="study-row-title" v-if="_title">
      {{ _title }}
    </h4>
    <div class="study-row-subtitle">
      {{ _degree }} <span class="study-row-subtitle__link">Apply now</span>
    </div>
  </a>
</template>

<script>

import {sanitizeUrl} from '~/plugins/helpers.js';

export default {
  props: {
    title: {
      type: String,
      default: null
    },
    degree: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    },
    link: {
      type: String,
      default: ''
    },
    slug: {
      type: String,
      default: null
    }
  },

  computed: {
    _link() {
      return sanitizeUrl(this.link);
    },

    _title() {
      return this.title;
    },

    _degree() {
      return this.degree || this.description || this._link;
    },

    _to() {
      return {
        name: 'studies-slug',
        params: {
          slug: this.slug
        }
      }
    }

  }
}
</script>

<style lang="scss">
.study-row {
  padding-top: 14px;
  margin-top: 15px;
  border-top: 1px solid $ui-details;
  display: block;

  color: $ui-contrast;

  &:hover {
    .study-row-subtitle__link {
      color: $ui-accent;
    }
  }

  &:first-child {
    border-top: none;
  }

  &-title {
    margin-bottom: 5px;
  }

  &-subtitle {
    line-height: 100%;
    clear: both;
    &__link {
      float: right;
      color: $ui-contrast;
      text-decoration: underline;
      font-size: 0.75rem;
      line-height: 100%;
    }
  }
}
</style>
