<template>
  <div class="study-student-story">
    <div class="study-student-story__avatar">
      <img height="80" width="80" :src="$statically(story.image, 400)" :alt="`${story.name} ${story.surname}`">
    </div>
    <div class="study-student-story__details">
      <div class="study-student-story__author">
        {{ story.name}} {{story.surname}}
      </div>
      <div class="study-student-story__text">
        “{{ story.title }}”
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    story: Object,


  },
}
</script>

<style lang="scss">
.study-student-story {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid $ui-details;
  margin-bottom: 20px;
  &__avatar {
    height: 80px;
    width: 80px;

    img {
      border-radius: 60px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__details {
    padding-left: 20px
  }
  &__author {
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 100%;
    color: $ui-contrast;
    margin-bottom: 10px
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.188rem;
    line-height: 124%;
    letter-spacing: -0.01em;
    // font-feature-settings: 'ordn' on;
    color: $ui-regular;
  }
}
</style>
