<template>
  <ColorBgImg v-bind="block08" id="subscribe-to-newsletter" class="hashable block-08 md-block-size vertically-content-bottom">

    <p class="h2">Never miss any news. Receive it all in your e-mail.</p>

    <form ref="subscribe" @submit.prevent="submit">
      <div class="subscribe-box">
        <img src="/images/icons/mail.svg" alt="" />
        <b-field class="email-field">
          <b-input
            v-model="models.email"
            class="subscribe-email"
            placeholder="Enter your email here"
            type="text"
            name="subscribeEmail"
            id="subscribeEmail"
          />
          <!-- <input
            v-model="models.email"
            class="subscribe-email"
            placeholder="Enter your email here"
            type="text"
            name="subscribeEmail"
            id="subscribeEmail"
          /> -->
        </b-field>
        <label class="checkbox-container">
          <b-field>
              <b-checkbox
                type="is-black"
                v-model="models.agreedToTerms"
              >
                I agree to privacy policy <nuxt-link to="/terms">terms & conditions.</nuxt-link>
              </b-checkbox>
          </b-field>
        </label>

        <b-button class="submit-btn btn btn-round btn-m btn-black small-text medium" native-type="submit" :loading="is_sending">
          Subscribe
        </b-button>

        <!-- <button
          class="submit-btn btn btn-round btn-m btn-black small-text medium"
          type="submit"
        >
          Subscribe
        </button> -->
      </div>

    </form>

  </ColorBgImg>
</template>

<script>
export default {

  data() {
    return {
      is_sending: false,
      models: {
        email: null,
        agreedToTerms: null,
      },

      block08 : {
          color: "#5cc3b6",
          img: "/images/demo/home/08.png?v=2.0",
          title: "Subscribe to our Newsletter!",
          right: true
      },
    }
  },

  methods: {
    async submit(e) {
      this.is_sending = true;

      if (this.models.agreedToTerms) {
        const result = await this.$axios.$post('/api/bboxdigiplugins/mailigen/v1/new', this.models);

        if (result.error) {
          this.showError(result);
        } else {
          this.showSuccess();
        }

      } else {
        this.$buefy.snackbar.open({
            message: 'To subscribe, Please agree to privacy policy',
            type: 'is-danger',
            position: 'is-top',
        })
      }

      this.is_sending = false;
    },

    showError(result) {
      let message  = 'There was some error. Please try again later';
      let messages = Object.values(result.message)[0];

      if (Array.isArray(messages)) {
        message = messages.join('; ');
      } else if (typeof messages === 'string') {
        message = messages;
      }

      this.$buefy.snackbar.open({
        message: message,
        type: 'is-danger',
        position: 'is-top',
      });
    },

    showSuccess() {
       this.$buefy.snackbar.open({
        message: 'Thank you!',
        type: 'is-success',
        position: 'is-top',
      });

      this.models.email = null;
      this.models.agreedToTerms = null;
    },
  }
}
</script>

<style lang="scss" scoped>
.img-wrapper {
    left: 0px;
    height: 100%;
    transform: unset;
}
.subscribe-box {
    height: 60px;
    background-color: $white;
    border-radius: 30px;
    position: relative;
    margin-bottom: 15px;
    overflow: visible;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
    }
    .email-field {
      height: 100%;
    }
    .checkbox-container {
      position: absolute;
      bottom: -35px;
      &:focus {
          outline:1px solid $ui-accent;
        }
      input[type=checkbox] {
        &:focus {
          outline:1px solid $ui-accent;
        }
      }
    }
    .subscribe-email {
      height: 100%;
      padding-left: 46px;
      padding-right: 125px;

      ::v-deep input {
        font-size: 0.938rem;
        color: $ui-contrast;
        height: 100%;
        box-shadow: none;
        border: none;
        padding: 0;

        &::placeholder {
            color: $ui-weak;
        }
      }
    }

    .submit-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    margin-top: 80px;
}

@media (max-width: 550px) {
    .text {
        input#subscribeEmail, label.checkbox-container {
            font-size: 0.75rem;
        }
    }
}


.checkbox-container {
  ::v-deep {
    .control-label {
      color: white;
    }
  }
}

</style>
