<template>
  <b-tabs horizontal class="tabs-wrapper tabs-pills tabs-purple" v-model="activeTabIndex">
    <b-tab-item
      v-for="tab in tabs"
      :key="tab.key"
      class="tab"
    >
    <template #header>
        <button>{{tab.label}}</button>
    </template>
      <slot :name="`tab.${tab.key}`" />
    </b-tab-item>
  </b-tabs>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array,
      default: () => ([])
    },
    value: {
      type: String,
      default: null,
    }
  },
  computed: {
    activeTabIndex: {
      get () {
        const index = this.tabs.findIndex(i => i.key == this.value);

        if (index === -1) return 0;

        return index;
      },
      set (newVal) {
        const tab = this.tabs[newVal];
        this.$emit('input', tab.key)
      }
    }
  }
}
</script>
