<template>
    <div class="texting-app flex col">
        <div v-for="(text,index) in texts" :key="index" class="text flex fcv" :class="{'receiving' : isReceiving(text.receiving)}">
            <p>{{text.text}}</p>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        texts:null
    },
    data() {
        return {
        }
    },
    methods: {
        isReceiving(bool) {
            if (bool == '0') {
                return false
            } else {
                return true
            }
        }
    },
    computed: {
    },
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .texting-app {
        width: 100%;
        .text {
            border-radius: 40px;
            min-height: 50px;
            width: fit-content;
            max-width: 460px;
            background-color: $white;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            p {
                font-size: 1.25rem;
                line-height: 1.875rem;
                font-weight: 400;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $ui-regular;
            }
            &.receiving {
                background-color: $ui-accent;
                p {
                    color: $white;
                }
            }
            &:not(.receiving) {
                margin-right: 0px;
                margin-left: auto;
            }
        }
        @media (max-width: 550px) {
            .text {
                p {
                    padding: 10px 20px;
                    max-width: 230px;
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                }
            }
        }
    }
</style>
