<template>
    <div class="walking-gallery">
        <template v-show="isDesktop">
          <div class="cursor" ref="cursor">
              <p class="next-cursor tiny-text">
                  Next
              </p>
              <div class="arrow-container">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14 7.99992H2M9.33333 3.33325L14 7.99992L9.33333 3.33325ZM14 7.99992L9.33333 12.6666L14 7.99992Z" stroke="#5E33C1" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </div>
              <p class="prev-cursor tiny-text">
                  Prev
              </p>
          </div>
          <div class="cursor-zone cursor-zone-left" @click.prevent="prevSlide" />
          <div class="cursor-zone cursor-zone-right" @click.prevent="nextSlide" />
        </template>

        <VueSlickCarousel
        v-model="currentSlide"
        class="walking-gallery-carousel"
        :class="{
          mobile: !isDesktop
        }"
        ref="walkingGallery"
        @afterChange="handleAfterChange"
        v-if="showCarousel"
        v-bind="slickOptions">
            <div class="slide" :class="'slide-'+index%3" v-for="(slide, index) in slides"
            :key="slideId(slide)">
                <div class="slide-wrapper">
                    <div class="media-wrapper">
                         <div v-if="isVideo(slide.image)" class="image-wrapper video-height">
                          <video ref="video" autoplay="true" muted="true" loop="true">
                            <source :src="path(slide.image)" type="video/mp4">
                          </video>
                        </div>
                        <div v-else class="image-wrapper" :style="{ backgroundImage: 'url(' + $statically(path(slide.image), 800) + ')' }">
                            <p v-if="slide.imageInfo" class="tiny-text image-info">{{slide.imageInfo}}</p>
                            <div v-if="slide.imageInfo" class="image-overlay"></div>
                        </div>
                    </div>
                    <div class="info">
                        <p v-if="slide.country" class="small-text info-country">
                          {{slide.country}}
                          <Flag v-if="slide.countryFlag" :code="slide.countryFlag"/>
                        </p>
                        <p class="h5 info-name">{{slide.name}}</p>
                        <p class="small-text ml info-quote">{{slide.quote}}</p>
                    </div>
                </div>
            </div>
        </VueSlickCarousel>
    </div>
</template>
<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
export default {
    props: {
        infinite: {
            type: Boolean,
            default: true
        },
        customInfinite: {
            type: Boolean,
            deafault: false
        },
        slides: {
            type: Array,
            default: () => {
                return [];
            },
        }
    },
    data() {
        return {
            showSlick: true,
            mouseCursor: "",
            currentSlide: 0,
        }
    },
    methods: {
        path(path) {
            return mediaLibraryUrl(path)
        },
        handleAfterChange(slideIndex) {
            this.currentSlide = slideIndex
            this.$emit("changeSlide", slideIndex)
        },
        cursor(e) {
            if (this.isDesktop) {
              this.mouseCursor.style.top = e.clientY + "px";
              this.mouseCursor.style.left = e.clientX + "px";
            }
        },
        prevSlide() {
            this.$refs.walkingGallery.prev()
        },
        nextSlide() {
            if (this.currentSlide == this.slides.length - 1 && this.customInfinite) {
                this.$refs.walkingGallery.goTo(0)
            }
            this.$refs.walkingGallery.next()
        },
        enteredZone() {
            if (this.$refs["cursor"]) {
                this.$refs["cursor"].classList.add("show");
            }
        },
        leftZone() {
            this.$refs["cursor"].classList.remove("show");
        },
        enteredRight() {
            this.$refs["cursor"].classList.add("right");
        },
        leftRight() {
            this.$refs["cursor"].classList.remove("right");
        },
        enteredLeft() {
            this.$refs["cursor"].classList.add("left");
        },
        leftLeft() {
            if (this.$refs["cursor"]) {
                this.$refs["cursor"].classList.remove("left");
            }
        },
        cursorEffects() {
            let self = this
            const zone = document.getElementsByClassName("cursor-zone");
            zone
                ? zone.forEach((element) => {
                    element.addEventListener("mouseenter", self.enteredZone);
                    element.addEventListener("mouseleave", self.leftZone);
                })
                : "";
            const right = document.getElementsByClassName("cursor-zone-right");
            right
                ? right.forEach((element) => {
                    element.addEventListener("mouseenter", self.enteredRight);
                    element.addEventListener("mouseleave", self.leftRight);
                })
                : "";
            const left = document.getElementsByClassName("cursor-zone-left");
            left
                ? left.forEach((element) => {
                    element.addEventListener("mouseenter", self.enteredLeft);
                    element.addEventListener("mouseleave", self.leftLeft);
                })
                : "";
        },
        slideId(slide) {
            let id = Math.floor(Math.random() * 100);
            return id;
        },
        
        isVideo(filePath) {
          return this.path(filePath).indexOf('.mp4') > -1
        }
    },
    computed: {
        showCarousel() {
            if (!this.showSlick) {
                return false;
            }
            let doShow = false;
            let slides = this.slides;

            if (slides.length > 0) {
                doShow = true;
            }
            return doShow;
        },
        activeSlide() {
            return this.slides[this.currentSlide]
        },
        isDesktop() {
          return this.$mq !== 'sm' && this.$mq !== 'md'
        },
        slickOptions() {
            return {
              waitForAnimate: true,
              initialSlide: 0,
              arrows: false,
              infinite: this.infinite,
              pauseOnHover: true,
              dots: false,
              autoplay: false,
              variableWidth: true,
              centerMode: !this.isDesktop,

              responsive: [
                {
                  breakpoint: 800,
                  settings: {
                    waitForAnimate: true,
                    initialSlide: 0,
                    arrows: false,
                    infinite: this.infinite,
                    pauseOnHover: true,
                    dots: false,
                    autoplay: false,
                    variableWidth: false,
                    slidesToShow: 1,
                  }
                }
              ]
              // adaptiveHeight: !this.isDesktop
            }
        }
    },
    mounted() {
      if (process.client) {
        this.mouseCursor = this.$refs["cursor"];
        window.addEventListener("mousemove", this.cursor);
        let self = this
        window.setTimeout(function() {
          self.cursorEffects()
        },1500)
      }
    },
    watch: {
        slides(newVal, oldVal) {
            let me = this;
            me.showSlick = false;
            this.$nextTick(() => {
                me.showSlick = true;
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    .walking-gallery {
        position: relative;
        .cursor {
            pointer-events: none;
            position: fixed;
            display: flex;
            align-items: center;
            align-content: center;
            z-index: 5;
            opacity: 0;
            transition: opacity 0.3s ease;
            margin-top: -35px;
            margin-left: -65px;
            .next-cursor,.prev-cursor {
                color: $ui-accent;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            .arrow-container {
                height: 60px;
                width: 60px;
                background-color: #F0F1F5;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                margin: 10px;
                transition: transform 0.3s ease;
            }
            &.show {
                opacity: 1;
            }
            &.left {
                .arrow-container {
                    transform: rotateZ(180deg);
                }
                .prev-cursor {
                    opacity: 1;
                }
            }
            &.right {
                .next-cursor {
                    opacity: 1;
                }
            }

        }
        .cursor-zone {
            @media (min-width: 768px) {
              position: absolute;
              width: 50%;
              height: 100%;
              top: 0px;
              z-index: 3;
              cursor: none !important;
              &.cursor-zone-left {
                left: 0px;
              }
              &.cursor-zone-right {
                right: 0px;
              }
            }
        }
        display: flex;
        .slide {
            position: relative;
            overflow: hidden;
            padding: 0 13px;
            @media (max-width: 768px) {
              max-width: calc(100vw - 50px);
              padding: 0 0px;
            }
            .info {
                width: 100%;
                @media (max-width: 768px) {
                  max-width: calc(100vw - 50px);
                }
                padding-left: 15px;
                padding-right: 15px;
                .info-country {
                    margin-top: 30px;
                }
                .info-country {
                    color: $ui-regular;
                }
                .info-name {
                  @media (max-width: 768px) {
                    width: fit-content;
                  }
                }
                .info-quote {
                    margin-top: 10px;
                    color: $ui-regular;
                }
            }
            .image-wrapper {
                border-radius: 15px;
                overflow: hidden;
                background-size: cover;
                background-position: center center;
                position: relative;

                @include mobile {
                  width: 100%;
                }

                .image-info {
                    color: $white;
                    position: absolute;
                    bottom: 25px;
                    left: 30px;
                    z-index: 2;
                }
                .image-overlay {
                    position: absolute;
                    height: 130px;
                    width: 100%;
                    left: 0px;
                    bottom: 0px;
                    background: linear-gradient(180deg, rgba(14, 15, 20, 0) 0%, rgba(14, 15, 20, 0.00735012) 6.67%, rgba(14, 15, 20, 0.0301835) 13.33%, rgba(14, 15, 20, 0.0694109) 20%, rgba(14, 15, 20, 0.1253) 26.67%, rgba(14, 15, 20, 0.197009) 33.33%, rgba(14, 15, 20, 0.282101) 40%, rgba(14, 15, 20, 0.376288) 46.67%, rgba(14, 15, 20, 0.473712) 53.33%, rgba(14, 15, 20, 0.567899) 60%, rgba(14, 15, 20, 0.652991) 66.67%, rgba(14, 15, 20, 0.7247) 73.33%, rgba(14, 15, 20, 0.780589) 80%, rgba(14, 15, 20, 0.819817) 86.67%, rgba(14, 15, 20, 0.84265) 93.33%, rgba(14, 15, 20, 0.85) 100%);
                    z-index: 1;
                }
            }
        }
      &.mobile {
      }
    }

    .slide-wrapper {
      @include mobile {
        width: 100% !important;
      }
    }

    .video-height{
      height: auto !important;
      video{
        display: block;
      }
    }
</style>
