<template>
  <div class="time" v-if="event.starts_at">
    <img src="/images/icons/time.svg" alt="" /> {{ duration }} {{ timezone }}
  </div>
</template>

<script>

import {FD, FT, FF} from '~/plugins/helpers';

export default {
  props: {
    event: Object,
  },

  computed: {
    duration() {
      const start = this.$dayjs(this.event.starts_at);
      const end   = this.$dayjs(this.event.ends_at);

      const format = (this.event.duration_type === 'date')
        ? FD
        : FF;

      if (end.isAfter(start, 'day')) {
        return `${start.format(format)} - ${end.format(format)}`
      }

      if (end.isAfter(start)) {
        return `${start.format(FD)} ${start.format(FT)} - ${end.format(FT)}`
      }

      return start.format(format);
    },
    timezone() {
      if (this.event.timezone !== null && this.event.timezone !== '' ) {
        return `(${this.event.timezone})`;
      } else {
        return '';
      }
    }
  }
}
</script>
