<template>
  <div class="location" v-if="address">
    <img src="/images/icons/location.svg" alt="" /> {{ address }}
  </div>
</template>

<script>

export default {
  props: {
    event: Object,
  },

  computed: {
    address() {
      const arr = [];

      if (this.event.address) {
        arr.push(this.event.address);
      }

      if (this.event.city) {
        arr.push(this.event.city);
      }

      return arr.join(', ');
    }
  }
}
</script>
