<template>
  <div>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-two-third news">
          <div class="featured">
            <h1>
              Featured
            </h1>
            <Single featured fromCMS v-bind="news[0]" />
          </div>

          <div class="latest">
            <div class="columns is-mobile is-gapless is-multiline mb-0 mr-4">
              <div class="column is-half-mobile is-full-tablet">
                <h1>
                  Latest
                </h1>
              </div>
              <div class="column is-half-mobile is-hidden-tablet has-text-right">
                <button @click="selectedTab = 'news'" class="small-text all-link">
                  All News<img style="margin-left: 12px" src="/images/icons/arrow-right.svg" alt="">
                </button>
              </div>
            </div>
            <HighlightedNews :news="news" :show-all="() => selectedTab = 'news'" />
          </div>

        </div>
        <div class="column is-one-third events">

          <div class="columns is-mobile is-gapless is-multiline mb-0 mr-4">
            <div class="column is-half-mobile is-full-tablet">
              <h1>
                Events
              </h1>
            </div>
            <div class="column is-half-mobile is-hidden-tablet has-text-right">
              <button @click="selectedTab = 'events'" class="small-text all-link">
                All Events<img style="margin-left: 12px" src="/images/icons/arrow-right.svg" alt="">
              </button>
            </div>
          </div>

          <div class="events-featured">
            <Event :event="firstEvent" />
          </div>

          <div class="events-list">
            <HighlightedEvents :events="restEvents" />
            <div style="margin-top: 32px" class="has-text-right-mobile has-text-left-tablet">
              <button @click="selectedTab = 'events'" class="small-text all-link">
                All Events<img style="margin-left: 12px" src="/images/icons/arrow-right.svg" alt="">
              </button>
            </div>
          </div>
        </div>

        <div class="column is-full stories">
          <div class="columns is-mobile is-gapless is-multiline mb-0">
            <div class="column is-half-mobile is-full-tablet">
              <h1>
                Student Testimonials
              </h1>
            </div>
            <div class="column is-half-mobile is-full-tablet has-text-right-touch">
              <button @click="selectedTab = 'student-testimonials'" class="small-text all-link">
                All <span class="hide-on-mobile small-text">Student</span> Testimonials<img style="margin-left: 12px" src="/images/icons/arrow-right.svg" alt="">
              </button>
            </div>
          </div>
          <VueSlickCarousel ref="experiences" v-bind="carouselSettings" v-if="studenttestimonials && studenttestimonials.length > 0">
            <div class="stories-slide" v-for="testimonial in studenttestimonials" :key="testimonial.id">
              <Single
                :id="testimonial.id"
                :slug="testimonial.slug"
                tab-slug="student-testimonials"
                :img="testimonial.image"
                :title="storyAndTestimonialTitle(testimonial)"
                :titleCountry="testimonial.country"
                :subtitle="_safeGet(testimonial, 'university.title')"
                :text="testimonial.title"
                style="padding-right: 20px"
              />
            </div>
          </VueSlickCarousel>
        </div>

        <div class="column is-full stories">
          <div class="columns is-mobile is-gapless is-multiline mb-0">
            <div class="column is-half-mobile is-full-tablet">
              <h1>
                Experience Stories
              </h1>
            </div>
            <div class="column is-half-mobile is-full-tablet has-text-right-touch">
              <button @click="selectedTab = 'experience-stories'" class="small-text all-link">
                All <span class="hide-on-mobile small-text">Experience</span> Stories<img style="margin-left: 12px" src="/images/icons/arrow-right.svg" alt="">
              </button>
            </div>
          </div>
          <VueSlickCarousel style="max-width: 100vw" ref="experiences" v-bind="carouselSettings" v-if="experiencestories && experiencestories.length > 0">
            <div class="stories-slide" v-for="story in experiencestories" :key="story.id">
              <Single
                :id="story.id"
                :slug="story.slug"
                tab-slug="experience-stories"
                :img="story.image"
                :title="storyAndTestimonialTitle(story)"
                :titleCountry="story.country"
                :subtitle="_safeGet(story, 'university.title')"
                :text="story.title"
                style="padding-right: 20px"
              />
            </div>
          </VueSlickCarousel>
        </div>

      </div>
    </div>

    <SubscribeToNewsletterBlock class="subscribe"/>

  </div>
</template>
<script>
import globalMixin from '~/mixins/global.js'

import Single from "./Single";
import ColorBgImg from "../../partials/ColorBgImg";
import Event from "../../partials/Event";
import HighlightedEvents from "../../partials/HighlightedEvents";
import HighlightedNews from "../../partials/HighlightedNews";
import SubscribeToNewsletterBlock from "~/components/partials/SubscribeToNewsletterBlock"
export default {
  components: {HighlightedNews, HighlightedEvents, Event, ColorBgImg, Single, SubscribeToNewsletterBlock},

  mixins: [ globalMixin ],

  props: {
    news: {
      type: Array,
      default: () => {[]},
    },
    events: {
      type: Array,
      default: () => {[]},
    },
    studenttestimonials: {
      type: Array,
      default: () => {[]},
    },
    experiencestories: {
      type: Array,
      default: () => {[]},
    },
  },

  data() {
    return {
      carouselSettings: {
        infinite: false,
        arrows: false,
        slidesToShow: 1,
        swipeToSlide: true,
        variableWidth: true,
        focusOnSelect: true,
      },
      event01: {
        type: "Mega Event",
        title: "At semper ipsum turpis urna vel nisl dui. Purus euismod habitant mi ante id sit mattis viverra.",
        date: "09-22-2021"
      },
      newsToShow: 3,
      _events: [
        {
          location: 'Riga, Latvia',
          date: '12-03-2020',
          tags: [
            {
              class: 'red',
              name: 'Cancelled'
            }
          ],
          title: 'Purus vestibulum eget et nunc interdum diam tristique. Feugiat neque metus, lorem velit at.',
        },
        {
          location: 'Riga, Latvia',
          date: '12-03-2020',
          tags: [
            {
              class: 'red',
              name: 'Cancelled'
            }
          ],
          title: 'Purus vestibulum eget et nunc interdum diam tristique. Feugiat neque metus, lorem velit at.',
        },
        {
          location: 'Riga, Latvia',
          date: '12-03-2020',
          title: 'Purus vestibulum eget et nunc interdum diam tristique. Feugiat neque metus, lorem velit at.',
        },
        {
          location: 'Riga, Latvia',
          date: '12-03-2020',
          title: 'Purus vestibulum eget et nunc interdum diam tristique. Feugiat neque metus, lorem velit at.',
        },
        {
          location: 'Riga, Latvia',
          date: '12-03-2020',
          title: 'Purus vestibulum eget et nunc interdum diam tristique. Feugiat neque metus, lorem velit at.',
        }
      ],
    }
  },

  computed: {
    selectedTab: {
      get () {
        const tab = this.$store.state.news.tab;

        if (this.params.tab && tab === null) {
          return this.params.tab
        }

        return tab;
      },
      set (newVal) {
        const tab_param = newVal;
        // const tab_param = (newVal === 'everything')
        //   ? null
        //   : newVal;

        this.$router.push({
          name: 'news-tab',
          params: { tab: tab_param },
        });

        this.$store.commit('news/SET_TAB', newVal)
      }
    },

    firstEvent() {
      const events = this.events;

      return events[0];
    },

    restEvents() {
      const events = this.events.slice(1,  this.events.length);

      return events;
    }
  },

  methods: {
    storyAndTestimonialTitle(post) {
      const name    = post.name;
      const surname = post.surname;
      const country = post.country.title;

      return `${name} ${surname} from ${country}`;
    }
  },
}
</script>
