<template>
  <div>
    <div class="container">
      <div class="columns is-multiline filters">
        <div class="column is-one-third is-hidden-touch" v-for="filter in filters" :key="filter.title">
          <Filters
            v-model="filter.value"
            :title="filter.title"
            :filterList="filter.filterList"
            :isSwitch="filter.isSwitch"
            show-selected
            absolute-dropdown
          />
        </div>
        <div class="column is-full is-hidden-desktop">
          <button class="btn btn-round btn-m btn-transparent tiny-text" style="box-sizing: border-box; color: black; width: 100%" @click="isFilterModalActive = true">
            <img style="margin-right: 8px" src="/images/icons/filter.svg" alt=""> Filter options
          </button>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="is-hidden-desktop available-label">
          Available News
        </div>
        <div class="column" style="min-width: 302px" v-for="i in posts" :key="i">
          <Single style="margin: auto; width: 100%" />
        </div>
        <div class="column is-full">
          <button style="margin: 36px auto 0 auto; font-weight: 500 !important; font-size: 15px" class="btn btn-round btn-m btn-black" @click="newsToShow += 12">
            Load More
          </button>
        </div>
      </div>
    </div>
    <b-modal v-model="isFilterModalActive" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
      <modal
        hide-header
        hide-sidebar
        :content-options="{
            background: '#F5F5F6'
          }"
        :mobile-header-options="{
            title: 'Filter options'
          }"
        full-screen
        @close="isFilterModalActive = false"
      >
        <Filters
          v-for="filter in filters"
          v-model="filter.value"

          :key="filter.title"
          :title="filter.title"
          :filterList="filter.filterList"
          :isSwitch="filter.isSwitch"

          show-selected
          load-more-right
        />
        <template #mobileFooter>
          <div class="columns is-mobile mx-0 mb-0">
            <div class="column is-5" style="padding-right: 5px">
              <a class="btn btn-round btn-m btn-transparent small-text" style="color: black; width: 100%; white-space: nowrap;">
                Reset Filters
              </a>
            </div>
            <div class="column is-7" style="padding-left: 5px">
              <a class="btn btn-round btn-m btn-black small-text" style="width: 100%" @click="isFilterModalActive = false">
                <img src="/images/icons/check.svg" alt="" style="margin-right: 8px"> Submit Filters
              </a>
            </div>
          </div>
        </template>
      </modal>
    </b-modal>
  </div>
</template>

<script>
import Filters from "../../partials/Filters";
import Single from "./Single";
import Modal from "../../base/Modal";
export default {
  components: {Modal, Single, Filters},
  fetch() {
    const data = this;
    const filterArray = this.$route.query;
    for (const property in filterArray) {
      if (filterArray[property].length == 0) {
        delete filterArray[property]
      }
    }

    this.$axios.$post('/api/v1/news/experience-stories', {query: filterArray})
      .then(function(response) {
        data.loading = false;
        data.filters = response.data.filters;
        data.posts = response.data.result;
      })
      .catch((err) => {
        this.$buefy.snackbar.open({
            message: err,
            type: 'is-danger',
            position: 'is-top',
        })
        console.log('error', err);
      });

  },
  data() {
    return {
      newsToShow: 12,
      isFilterModalActive: false,
      lastFilterUpdate: null,
      filters: [],
      posts: []
    }
  },
  methods: {
    filterUpdated() {
      this.loading = false
      this.lastFilterUpdate = new Date()

      if (!this.$fetchState.pending && this.$fetchState.timestamp + 1000 < Date.now()) {
        this.refresh()
      }
    },
    clearFilters() {
      this.$router.replace({'query': null})
      setTimeout(() => {
        window.location.reload(true)
      }, 100);
    },
    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch()
        }, 100);
      }
    },
  },
  mounted() {
    this.refresh()
  }
}
</script>
