<template>
  <div class="file-card">
    <div class="file-card__icon">
      <img src="/images/icons/paperclip.svg" alt="Paperclip">
    </div>
    <div class="file-card-content">
      <div class="file-card-content__title">
        {{ title }}
      </div>
      <div class="file-card-content__filename">
        {{ filename }}
      </div>
    </div>
    <div class="file-card__buttons">
      <a class="btn btn-round btn-xs btn-white small-text" :href="path" download target="_blank" style="padding: 0 10px">
        Download
      </a>
    </div>
  </div>
</template>

<script>
import {mediaLibraryUrl} from "~/plugins/helpers"

export default {
  props: {
    title: {
      type: String,
      default: 'Short document title that works as description also'
    },
    file: {
      type: String,
      default: 'Short document title that works as description also'
    },
    // filename: {
    //   type: String,
    //   default: 'cursed_filename_666.exe'
    // }
  },

  computed: {
    filename() {
      return this.file.replace(/.*\//, '');
    },
    path() {
      const url = mediaLibraryUrl(this.file);
      return url;
    }
  }
}
</script>

<style lang="scss">
.file-card {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  @media screen and (min-width: 950px) {
    flex-direction: row;
  }
  align-items: center;
  padding: 15px 25px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__icon {
    @media screen and (max-width: 950px) {
      float: left;
    }
    padding-right: 18px;
  }
  &-content {
    &__title {
      margin-bottom: 7px;
      @media screen and (max-width: 950px) {
        font-size: 0.75rem;
        font-weight: 500;
      }
      @media screen and (min-width: 950px) {
        font-size: 0.938rem;
      }
      line-height: 100%;
      color: $ui-contrast
    }
    &__filename {
      font-size: 0.75rem;
      line-height: 100%;
      color: $ui-regular;
    }
  }
  flex-wrap: wrap;
  &__buttons {
    @media screen and (max-width: 950px) {
      width: 100%;
    }
    margin-left: auto;
    a {
      @media screen and (max-width: 950px) {
        margin-top: 20px;
        width: 100%;
        font-weight: normal;
        min-height: 40px;
      }
      @media screen and (min-width: 950px) {
        font-weight: 500;
      }
      font-size: 0.75rem;
      line-height: 100%;
      color: $ui-regular;
      &:hover {
        color: $ui-accent
      }
    }
  }
}
</style>
