<template>
  <div>
    <div class="container">
      <div class="columns is-multiline is-centered filters">
        <div class="column is-one-third is-hidden-touch" v-for="(filter, filtername) in filters" :key="filtername">
          <Filters
            :v-if="filter.title"
            v-model="filter.value"
            :title="filter.title"
            :filterList="filter.filterList"
            :isSwitch="filter.isSwitch"
            :slug="filtername"
            @input="filterUpdated"
            show-selected
            absolute-dropdown
          />

        </div>
        <div class="column is-5" style="padding-right: 5px">
          <a class="btn btn-round btn-m btn-transparent small-text" style="color: black; width: 100%; white-space: nowrap;" @click="clearFilters">
            Reset Filters
          </a>
        </div>
        <div class="column is-full is-hidden-desktop">
          <button class="btn btn-round btn-m btn-transparent tiny-text" style="box-sizing: border-box; color: black; width: 100%" @click="isFilterModalActive = true">
            <img style="margin-right: 8px" src="/images/icons/filter.svg" alt=""> Filter options
          </button>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="is-hidden-desktop available-label">
          Available News
        </div>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-fullhd" style="min-width: 302px" v-for="(post, i) in posts" :key="post.id">
          <Single
            :id="post.id"
            :slug="post.slug"
            :tab-slug="tabSlug"
            :img="post.image"
            :title="_safeGet(post, 'category.title', '')"
            :subtitle="`Updated on ${$dayjs(post.updated_at).format('DD.MM.YYYY')}`"
            :text="post.title"
            :tags="post.tags"
            style="margin: auto; width: 100%"
          />
        </div>
        <div class="column is-full">
          <button v-if="postsToShow <= (posts || []).length" style="margin: 36px auto 0 auto; font-weight: 500 !important; font-size: 15px" class="btn btn-round btn-m btn-black" @click="postsToShow += 12">
            Load More
          </button>
        </div>
      </div>
    </div>
    <b-modal v-model="isFilterModalActive" has-modal-card trap-focus full-screen :can-cancel="['escape', 'outside']">
      <modal
        hide-header
        hide-sidebar
        :content-options="{
            background: '#F5F5F6'
          }"
        :mobile-header-options="{
            title: 'Filter options'
          }"
        full-screen
        @close="isFilterModalActive = false"
      >
        <Filters
          v-for="(filter, filtername) in filters" :key="filtername"
          :v-if="filter.title"
          v-model="filter.value"

          :title="filter.title"
          :filterList="filter.filterList"
          :isSwitch="filter.isSwitch"

          :slug="filtername"
          @input="filterUpdated"

          show-selected
          load-more-right
        />

        <template #mobileFooter>
          <div class="columns is-mobile mx-0 mb-0">
            <div class="column is-5" style="padding-right: 5px">
              <a class="btn btn-round btn-m btn-transparent small-text" style="color: black; width: 100%; white-space: nowrap;" @click="clearFilters">
                Reset Filters
              </a>
            </div>
            <div class="column is-7" style="padding-left: 5px">
              <a class="btn btn-round btn-m btn-black small-text" style="width: 100%" @click="isFilterModalActive = false">
                <img src="/images/icons/check.svg" alt="" style="margin-right: 8px"> Submit Filters
              </a>
            </div>
          </div>
        </template>
      </modal>
    </b-modal>
  </div>
</template>

<script>
import helperMixin from '~/mixins/global.js'

import Filters from "../../partials/Filters";
import Single from "./Single";
import Modal from "../../base/Modal";

import _forIn      from "lodash/forIn";
import _get        from "lodash/get";
import _filterDeep from 'deepdash/filterDeep';
import _omit        from "lodash/omit";

export default {
  components: {Modal, Single, Filters},

  mixins: [ helperMixin ],

  fetch() {
    const data = this;
    let filterArray = this.$route.query;
    for (const property in filterArray) {
      if (filterArray[property].length == 0) {
        delete filterArray[property]
      }
    }

    this.$axios.$post('/api/v1/news/news', {query: filterArray})
      .then(function(response) {
        data.loading = false;
        data.filters = response.data.filters;
        data.posts = response.data.result;
      })
      .catch((err) => {
        this.$buefy.snackbar.open({
            message: err,
            type: 'is-danger',
            position: 'is-top',
        })
        console.log('error', err);
      });

  },
  fetchOnServer:false,
  fetchDelay:500,

  props: {
    // posts: {
    //   type:Array,
    //   default: () => []
    // },
    // filters: {
    //   type:Object,
    //   default: () => {}
    // },

    tabSlug: String,
  },

  data() {
    return {
      postsToShow: 12,
      isFilterModalActive: false,
      lastFilterUpdate: null,
      filters: [],
      posts: [],
      // __filters: [
      //   {
      //     title: 'All Categories',
      //     filterList: [
      //       { title: 'Rankings', slug: "rankings", count: 13 },
      //       { title: 'Admission', slug: "admission", count: 21 },
      //       { title: 'Scholarships', slug: "scholarships", count: 13 },
      //       { title: 'Events', slug: "events", count: 13 },
      //       { title: 'Universities', slug: "universities", count: 13 },
      //     ],
      //     value: this.$route.query['categories'],
      //   },
      //   {
      //     title: 'All Tags',
      //     filterList: [
      //       { title: 'Updated', slug: "updated", count: 13 },
      //       { title: 'Birka', slug: "birka", count: 21 },
      //       { title: 'Publiski', slug: "publiski", count: 13 },
      //     ],
      //     value: this.$route.query['tags'],
      //   },
      //   {
      //     title: 'Updated Only',
      //     isSwitch: true,
      //     value: this.$route.query['updated-only'],
      //   },
      // ]
    }
  },

  methods: {
    clearFilters() {
      this.$router.replace({'query': null})
      setTimeout(() => {
        window.location.reload(true)
      }, 100);
    },
    filterUpdated() {
      this.loading = false
      this.lastFilterUpdate = new Date()

      if (!this.$fetchState.pending && this.$fetchState.timestamp + 1000 < Date.now()) {
        this.refresh()
      }
    },
    refresh() {
      if (!this.$fetchState.pending) {
        this.loading = true;
        var data = this;
        setTimeout(() => {
          data.$fetch()
        }, 100);
      }
    },
  },
  mounted() {
    this.refresh();
  },
}
</script>
