<template>
  <div v-if="fixed" class="fixed-register-card">
    <div class="container">
      <div class="register-card__title">
        {{ title }}
      </div>
      <div class="register-card__buttons">
        <a :href="safeLink" target="_blank" class="btn btn-round btn-m btn-success small-text" style="color: white">
          Register Now <img style="margin-left: 8px" src="/images/icons/external-link.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div v-else class="register-card">
    <div class="register-card__title">
      {{ title }}
    </div>
    <div class="register-card__buttons">
      <a :href="safeLink" target="_blank" class="btn btn-round btn-m btn-success small-text" style="color: white">
        Register Now <img style="margin-left: 8px" src="/images/icons/external-link.svg" alt="" />
      </a>
    </div>
  </div>
</template>

<script>
import {sanitizeUrl} from '~/plugins/helpers.js'

export default {
  props: {
    title: {
      type: String,
      default: 'Something simple and short about event.'
    },
    link: {
      type: String,
      default: 'https://lu.lv'
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    safeLink() {
      return sanitizeUrl(this.link);
    }
  },
}
</script>

<style lang="scss">
.fixed-register-card {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
  &.hide {
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  & .container {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #F0F1F5;
  border: 1px solid #EDEEF1;
}
.register-card {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  @media screen and (max-width: 950px) {
    flex-direction: column;
    padding: 15px;
  }
  @media screen and (min-width: 950px) {
    flex-direction: row;
    padding: 15px 15px 15px 30px;
    align-items: center;
  }

  &__title {
    @media screen and (max-width: 950px) {
      margin-bottom: 20px;
      font-size: 0.75rem;
    }
    @media screen and (min-width: 950px) {
      font-size: 0.938rem;
    }
    line-height: 100%;
    color: $ui-contrast
  }
  &__buttons {
    margin-left: auto;
    @media screen and (max-width: 950px) {
      width: 100%
    }
    a {
      @media screen and (max-width: 950px) {
        width: 100%
      }
      padding: 0 20px;
      font-weight: 500;
      font-size: 0.938rem;
      line-height: 100%;
      color: $ui-regular;
      &:hover {
        color: $ui-accent
      }
    }
  }
}
</style>
