<template>
    <nuxt-link
      v-if="featured"
      :to="`/article/${tabSlug}/${slug}`"
      class="is-block featured-article"
      :style="{
        backgroundImage: `url(${$statically(path(), 600)})`
      }"
    >
      <div class="featured-article__overlay">
        <div class="col-1">
          <div class="featured-article__title">
            {{ title }}
            <Flag v-if="titleCountry" :code="titleCountry.short_code" />
          </div>
          <div class="featured-article__subtitle">
            {{ subtitle }}
          </div>
        </div>

        <div class="featured-article__text">
          <!-- <h2>“{{ text }}”</h2> -->
          <h2>{{ text }}</h2>
          <SingleTag v-for="tag in tags" :key="tag.id" v-bind="tag" class="featured-article__text-tag"/>

          <SingleTag v-if="singleTagTitle" :key="singleTagTitle" :title="singleTagTitle" class="featured-article__text-tag"/>
        </div>
      </div>
    </nuxt-link>

    <nuxt-link
      v-else
      :to="`/article/${tabSlug}/${slug}`"
      class="is-block article"
      draggable="false"
    >
      <b-image
        class="article-image"
        :src="$statically(path(), 600)"
        :alt="title"
        ratio="6by4"
      >
        <template #placeholder>
            <b-skeleton height="100%" />
        </template>
      </b-image>

      <!-- <img draggable="false" class="article-image"  alt="" /> -->
      <div class="article-content">
        <div class="article-content__title">
          {{ title }}
          <Flag v-if="titleCountry" :code="titleCountry.short_code" />
        </div>
        <div class="article-content__subtitle">
          {{ subtitle }}
        </div>
        <!-- <div class="article-content__text">“{{ text }}”</div> -->
        <div class="article-content__text">{{ text }}</div>
        <div class="article-content__tags">
          <SingleTag v-for="tag in tags" :key="tag.id" v-bind="tag" />

          <SingleTag v-if="singleTagTitle" :key="singleTagTitle" :title="singleTagTitle" class="featured-article__text-tag"/>
        </div>
      </div>
    </nuxt-link>
</template>

<script>
import {mediaLibraryUrl} from "~/plugins/helpers"
import SingleTag from '~/components/pages/news/SingleTag'
import Flag      from '~/components/partials/Flag';

export default {
  components: {SingleTag, Flag},
  props: {
    demo: {
      type: String,
      default: 'post'
    },
    id: {
      type: Number,
      default: 0
    },
    slug: {
      type: String,
    },
    tabSlug: {
      type: String,
    },
    img: {
      type: [String, Object],
    },
    image: {
      type: [String,Object]
    },
    title: {
      type: String,
    },
    titleCountry: {
      type: Object,
    },
    subtitle: {
      type: String,
    },
    text: {
      type: String,
    },
    tags: {
      type: Array,
      default: () => []
    },

    singleTagTitle: String,

    featured: {
      type: Boolean,
      default: false
    },
    fromCMS: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    if (this.fromCMS) {
      console.log('image',this.image)
      console.log('img',this.img)
    }
  },
  methods: {
    path() {
      let image
      if (this.img == null) {
        image = this.image
      } else {
        image = this.img
      }
      if (image.hasOwnProperty('path')) {
        image = image.path
      }
      if (this.fromCMS) {
        return mediaLibraryUrl(image)
      } else {
        return image
      }
    }
  }
};
</script>

<style lang="scss">
.featured-article {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 950px) {
    height: 540px;
  }
  @media screen and (min-width: 950px) {
    height: 440px;
  }
  border-radius: 40px;
  color: white;
  overflow: hidden;

  &:hover {
    // color: $ui-accent;
    color: #fff;
  }

  &__overlay {
    @media screen and (max-width: 950px) {
      padding: 20px;
    }
    @media screen and (min-width: 950px) {
      padding: 40px 50px;
    }
    .col-1 {
      max-width: 70%;
      flex: 0 0 70%;
    }
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(
      180deg,
      rgba(14, 15, 20, 0) 0%,
      rgba(14, 15, 20, 0.00700423) 6.67%,
      rgba(14, 15, 20, 0.0287631) 13.33%,
      rgba(14, 15, 20, 0.0661445) 20%,
      rgba(14, 15, 20, 0.119403) 26.67%,
      rgba(14, 15, 20, 0.187738) 33.33%,
      rgba(14, 15, 20, 0.268826) 40%,
      rgba(14, 15, 20, 0.35858) 46.67%,
      rgba(14, 15, 20, 0.45142) 53.33%,
      rgba(14, 15, 20, 0.541174) 60%,
      rgba(14, 15, 20, 0.622262) 66.67%,
      rgba(14, 15, 20, 0.690597) 73.33%,
      rgba(14, 15, 20, 0.743856) 80%,
      rgba(14, 15, 20, 0.781237) 86.67%,
      rgba(14, 15, 20, 0.802996) 93.33%,
      rgba(14, 15, 20, 0.81) 100%
    );
  }
  &__title,
  &__subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
    @media screen and (max-width: 950px) {
      margin-bottom: 5px;
    }
    @media screen and (min-width: 950px) {
      margin-bottom: 10px;
    }
  }
  &__text {
    margin-top: 10px;
    letter-spacing: -0.01em;
    // font-feature-settings: "ordn" on;
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
    @media screen and (min-width: 950px) {
      flex-direction: row;
    }
    &-tag {
      font-size: 0.75rem;
      line-height: 100%;
      background: $ui-details;
      color: $ui-regular;
      height: fit-content;
      border-radius: 200px;
      padding: 3px 10px 5px;
      min-width: fit-content;

      @media screen and (max-width: 950px) {
        margin-top: 20px;
        align-self: flex-start;
      }

      @media screen and (min-width: 950px) {
        align-self: flex-end;
      }
    }
  }
}
.article {
  cursor: pointer;
  border-radius: 30px;
  background: white;
  padding: 5px;
  width: 300px;

  &-image {
    border-radius: 25px;
    overflow: hidden;

    .b-skeleton {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left:0;
    }
  }
  &-content {
    padding: 15px;
    &__title,
    &__subtitle {
      font-size: 0.75rem;
      line-height: 100%;
      margin-bottom: 5px;
    }
    &__title {
      color: $ui-regular;
    }
    &__subtitle {
      color: $ui-weak;
    }
    &__text {
      margin: 10px 0 15px 0;
      font-size: 1.188rem;
      line-height: 124%;
      letter-spacing: -0.01em;
      // font-feature-settings: "ordn" on;
      color: $ui-contrast;
      transition: color 0.3s ease;
    }
    .article:hover &__text {
      color: $ui-accent
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      &-tag {
        margin: 0 4px 8px 0;
        font-size: 0.75rem;
        line-height: 100%;
        background: $ui-details;
        color: $ui-regular;
        height: fit-content;
        border-radius: 200px;
        padding: 3px 10px 5px;
      }
    }
  }


}
</style>
