<template>
  <div class="has-text-centered date-divider">
    <span class="date-divider__year">
      <slot />
    </span>
  </div>
</template>

<style lang="scss">
.date-divider {
  @media screen and (max-width: 950px) {
    margin: 18px 0 -7px;
  }
  @media screen and (min-width: 950px) {
    margin: 93px 0 33px;
  }
  z-index: 1;
  &__year {
    @media screen and (max-width: 950px) {
      font-size: 0.938rem;
    }
    @media screen and (min-width: 950px) {
      font-size: 1.5rem;
    }
    line-height: 150%;
    letter-spacing: -0.01em;
    // font-feature-settings: 'ordn' on;
    color: $ui-weaker;
    padding: 0 12px;
    background: $background;
  }
  &:before {
    z-index: -1;
    position: absolute;
    @media screen and (max-width: 950px) {
      margin-top: 12px;
    }
    @media screen and (min-width: 950px) {
      margin-top: 19px;
    }

    left: 0;
    height: 1px;
    content: '';
    width: 100vw;
    background: $horizontal-line;
  }
}
</style>
