<template>
  <div class="card__inner" :class="{isEmpty}" v-if="post || isEmpty">
    <template v-if="isEmpty">
      <b-skeleton height="100px"></b-skeleton>
      <b-skeleton height="10px" width="50%" :count="2"></b-skeleton>
      <b-skeleton></b-skeleton>
    </template>

    <!--
            Posts mosty are the same, but hve some differneces.. soo v-if it is..
          -->
    <template v-else-if="post.tab_slug == 'news' || post.tab_slug == 'events'">
      <Single
        :id="post.id"
        :slug="post.slug"
        :tab-slug="post.tab_slug"
        :img="post.image"
        :title="_safeGet(post, 'category.title', '')"
        :subtitle="`Updated on ${$dayjs(post.updated_at).format('DD.MM.YYYY')}`"
        :text="post.title"
        :tags="post.tags"
        style="margin: auto; width: 100%"
      />
    </template>

    <template
      v-else-if="
        post.tab_slug == 'student-testimonials' ||
        post.tab_slug == 'experience-stories'
      "
    >
      <Single
        :id="post.id"
        :slug="post.slug"
        :tab-slug="post.tab_slug"
        :img="post.image"
        :title="studentTitle(post)"
        :titleCountry="post.country"
        :subtitle="_safeGet(post, 'university.title')"
        :text="post.title"
        :single-tag-title="singleTagTitle(post)"
        style="margin: auto; width: 100%"
      />
    </template>
  </div>
</template>

<script>
import helperMixin from "~/mixins/global.js";
import Single from "~/components/pages/news/Single";

export default {
  props: {
    post: Object,
    isEmpty: {
      type: Boolean,
      default: false,
    },
  },

  components: { Single },

  mixins: [helperMixin],

  methods: {
    studentTitle(post) {
      const name = post.name;
      const surname = post.surname;
      const country = post.country.title;

      return `${name} ${surname} from ${country}`;
    },

    singleTagTitle(post) {
      if (post.tab_slug == "student-testimonials") {
        return "Student Testimonial";
      }

      if (post.tab_slug == "experience-stories") {
        return "Experience Story";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .card__inner {
    ::v-deep .b-skeleton{
      display: display;
      // margin: 0;
    }
    // ::v-deep .b-skeleton-item{
    //   margin: 0px;
    // }

    &.isEmpty {
      background-color: transparent;
    }
  }

</style>
