<template>
    <div>
        <p class="search__text">What you are looking for: {{searchPhrase}}</p>
        <!-- <div class="main-search is-flex is-align-items-center is-justify-content-space-between">
            <input type="text" placeholder="Student">
            <img src="/images/icons/Pencil.svg" alt="">
        </div> -->
    </div>
</template>

<script>
export default {
    props: {
        searchPhrase: String,
    }
}
</script>
