<template>
  <div>
    <NuxtLink :to="link" class="test">
      <div
        class="
          is-flex
          is-flex-direction-row
          is-justify-content-space-between
          is-align-items-center
        "
      >
        <div>
          <p class="page-link"  v-html="stringFormat(link)"></p>
          <p class="page-title" v-html="stripHtmlAndHighlight(title)"></p>
          <p class="page-body"  v-html="stripHtmlAndHighlight(body)"></p>
        </div>
        <img src="/images/icons/arrow-right-v2.svg" alt="" />
      </div>
      <hr class="horizontal-line" />
    </NuxtLink>
  </div>
</template>

<script>
export default {
  props: {
    link: Object,
    title: String,
    body: String,

    searchQuery: String,
  },
  methods: {
    stringFormat(link) {
      console.log(link)
      const resolved = this.$router.resolve(link);
      console.log(resolved)
      if (resolved && resolved.href) {
        return resolved.href
          .replace(/#.*/, '')
          .split("/")
          .map(i => i.charAt(0).toUpperCase() + i.slice(1))
          .join(" / ")
      }

      return '';
    },

    stripHtml(text) {
      if (text) {
        let res = text

        if (res.length > 200) {
          return `${res.substring(0,200)}...`
        }

        return res;
      }

      return '';
    },

    stripHtmlAndHighlight(text) {
      const regex = new RegExp(this.searchQuery,'gmi');

      return this.stripHtml(text).replace(regex, "<em>$&</em>");
    }
  },
};
</script>
