<template>
  <div class="card__inner" :class="{isEmpty}" v-if="post || isEmpty">
    <NuxtLink :to="`/article/${post.tab_slug}/${post.slug}`">
      <div class="test">
        <div
        class="
        is-flex
        is-flex-direction-row
        is-justify-content-space-between
        is-align-items-center
        "
        >
          <div>
            <p class="page-link" v-html="stringFormat(`/article/${post.tab_slug}/${post.slug}`)"></p>
            <p class="page-title" v-html="stripHtmlAndHighlight(post.title)"></p>
            <p v-if="post.tab_slug == 'news'" class="page-body" v-html="stripHtmlAndHighlight(post.blocks_nested[0].data.title)"></p>
            <p v-else class="page-body" v-html="stripHtmlAndHighlight(post.blocks_nested[0].data.text)"></p>
          </div>
          <img src="/images/icons/arrow-right-v2.svg" alt="" />
        </div>
        <hr class="horizontal-line" />
      </div>
    </NuxtLink>
  </div>
</template>

<script>
import helperMixin from "~/mixins/global.js";
import Single from "~/components/pages/news/Single";

export default {
  props: {
    post: Object,
    isEmpty: {
      type: Boolean,
      default: false,
    },
    searchQuery: String,
  },

  components: { Single },

  mixins: [helperMixin],

  methods: {
     stringFormat(link) {
      console.log(`THis is the ${link}`)
      const resolved = this.$router.resolve(link);
      console.log(resolved)
      if (resolved && resolved.href) {
        return resolved.href
          .replace(/#.*/, '')
          .split("/")
          .map(i => i.charAt(0).toUpperCase() + i.slice(1))
          .join(" / ")
      }

      return '';
    },
    stripHtml(text) {
      if (text) {
        let res = text;

        if (res.length > 200) {
          return `${res.substring(0,200)}...`
        }

        return res;
      }

      return '';
    },
    stripHtmlAndHighlight(text) {
      const regex = new RegExp(this.searchQuery,'gmi');

      return this.stripHtml(text).replace(regex, "<em>$&</em>");
    }
  },
};
</script>

<style lang="scss" scoped>
  .card__inner {
    ::v-deep .b-skeleton{
      display: display;
      // margin: 0;
    }
    // ::v-deep .b-skeleton-item{
    //   margin: 0px;
    // }

    &.isEmpty {
      background-color: transparent;
    }
  }

</style>
