<template>
    <div>
        <div class="card-content">
            <div class="upper">
                <div class="">
                    <p class="card-content__title">{{ title }}</p>
                    <a class="card-content__link" :href="sanitizedLink">{{ sanitizedLink }}</a>
                </div>
                <a :href="sanitizedLink" class="link small-text medium btn btn-round btn-xs btn-transparent has-text-centered">
                    Visit Now
                </a>
            </div>
        </div>
        <div class="card-footer">
            <p class="card-footer__desc" v-html="body"></p>
        </div>
    </div>
</template>

<script>
import {sanitizeUrl} from '~/plugins/helpers';

export default {
  props: {
    title: String,
    link: String,
    body: String
  },

  computed: {
    sanitizedLink() {
      return sanitizeUrl(this.link);
    },
  }
}
</script>
